{% load jsonify compressed %}
{% compressed_js 'chat' %}
<script>
    var widget_chat,
        widget_chat_log_item_templates = {{ chat.templates|jsonify|safe }};
</script>
<div class="widget chat" id="chat" data-tab-title="Лента">
    <a name="comments"></a>
    <div class="widget-tasklist-header">
        <h1>Лента событий</h1>
        <ul class="widget-tasklist-functions clearfix">
            <li>
                <a href="#" class="widget-tab js-widgets-tab btn" data-widget="tasklist">Список задач</a>
            </li>
            <li>
                <a href="#" class="widget-tab active js-widgets-tab btn" data-widget="chat">Лента событий </a>
            </li>
        </ul>
    </div>

    <div class="TopPanel">
        <a href="#" class="RollUp"></a>
        <a href="#" class="Close"></a>
    </div>
    
    <div class="clearfix chat-nav js-feed-options">
    	<div class="pull-left radio-checkbox-block">
            <label class="checkbox-inline">
              <input type="radio" class="js-comments-filter-input" name="MESSAGE_TYPE" value="ALL" {% if chat.options.MESSAGE_TYPE == 'ALL' or not chat.options.MESSAGE_TYPE %}checked="checked"{% endif %}> Все сообщения
            </label>
        	<label class="checkbox-inline">
              <input type="radio" class="js-comments-filter-input" name="MESSAGE_TYPE" value="SYSTEM_MESSAGES" {% if chat.options.MESSAGE_TYPE == 'SYSTEM_MESSAGES' %}checked="checked"{% endif %}> Системные сообщения
            </label>
            <label class="checkbox-inline">
              <input type="radio" class="js-comments-filter-input" name="MESSAGE_TYPE" value="USER_MESSAGES" {% if chat.options.MESSAGE_TYPE == 'USER_MESSAGES' %}checked="checked"{% endif %}> Сообщения пользователей
            </label>
	        <label class="checkbox-inline">
              <input type="radio" class="js-comments-filter-input" name="MESSAGE_TYPE" value="COMMITS" {% if chat.options.MESSAGE_TYPE == 'COMMITS' %}checked="checked"{% endif %}> Изменения кода
            </label>
            <label class="checkbox-inline">
              <input type="radio" class="js-comments-filter-input" name="MESSAGE_TYPE" value="TODO" {% if chat.options.MESSAGE_TYPE == 'TODO' %}checked="checked"{% endif %}> Todo
            </label>
            <label class="checkbox-inline">
              <input type="radio" class="js-comments-filter-input" name="MESSAGE_TYPE" value="BUGS" {% if chat.options.MESSAGE_TYPE == 'BUGS' %}checked="checked"{% endif %}> Ошибки
            </label>
            <label class="checkbox-inline">
              <input type="radio" class="js-comments-filter-input" name="MESSAGE_TYPE" value="FILES" {% if chat.options.MESSAGE_TYPE == 'FILES' %}checked="checked"{% endif %}> Файлы
            </label>
        </div>
        {% if main.CURRENT_PROJECT %}
        <div class="pull-right radio-checkbox-block">
            {% if main.CURRENT_PROJECT %}
        	<label class="checkbox-inline">
              <input type="checkbox" class="js-other-projects" name="OTHER_PROJECTS" value="Y" {% if chat.options.OTHER_PROJECTS %}checked="checked"{% endif %}> Все проекты
            </label>
            {% endif %}
        </div>
        {% endif %}
    </div>

    
    <div class="Chat">
        <table width="100%">
            <tr>
                <td class="UserListTD" style="display:none;">
                    <div id="ScrollBar" class="UserList">
                        <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
                        <div class="viewport">
                            <div class="overview userList">
                                <ul>

                                </ul>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="ChatWindowWrap">
                        <div id="ScrollBarCat" class="ChatWindow">
                            <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
                            <div class="viewport">
                                <div class="overview" id="chatWindow">
{#                                    <script>#}
{#                                        widget_chat_arLogMessages = [];#}
{#                                        {% for message in chat.messages %}#}
{#                                            widget_chat_arLogMessages.push({{ message|jsonify|safe }});#}
{#                                        {% endfor %}#}
{#                                    </script>#}
                                </div>
                            </div>
                        </div>
                        <div class="InputBlock">
                            <input type="text" id="wc_chat_message" data-blur="Напишите текст или перетащите файл (Enter)" value="Напишите текст или перетащите файл (Enter)" />
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

<script>
    $(function(){
        $('#wc_chat_message').addFilePaste(function(data){
            data = $.parseJSON(data);
            $(this).val('#'+data.fid+'#');
        });
    })
</script>
<style>
    .radio-checkbox-block .radio-inline,
    .radio-checkbox-block .checkbox-inline {
        margin-left: 0px;
        padding-left: 0px;
        margin:5px 20px 5px 0;
    }

    .trans-element-radio {
        width: 20px;
        height: 20px;
        display: block;
        float: left;
        position: relative;
        margin: 0 10px 0 0;
        border: 1px solid #ddd;
        border-radius: 50%;
        background-color: #fff;
    }

    .trans-element-radio:before {
        -webkit-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
        width: 16px;
        height: 16px;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        display: block;
        border-radius: 50%;
        background-color: #5cb85c;
        opacity: 0;
        content: "";
        position: absolute;
        left: 1px;
        top: 1px;
    }

    .trans-element-radio.checked {
        border: 1px solid #5cb85c;
    }

    .trans-element-radio:hover:before,
    .radio-checkbox-block .radio-inline:hover .trans-element-radio:before,
    .radio-checkbox-block .checkbox-inline:hover .trans-element-radio:before {
        -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
        transform: scale(0.5);
        opacity: .5;
    }

    .trans-element-radio:focus:before,
    .radio-checkbox-block .radio-inline:focus .trans-element-radio:before,
    .radio-checkbox-block .checkbox-inline:focus .trans-element-radio:before {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
        background-color: #e67012;
    }


    .trans-element-radio.checked:before,
    .radio-checkbox-block .radio-inline:focus .trans-element-radio.checked:before,
    .radio-checkbox-block .checkbox-inline:focus .trans-element-radio.checked:before {
        -webkit-transform: scale(1) !important;
        -ms-transform: scale(1) !important;
        transform: scale(1) !important;
        opacity: 1 !important;
    }





</style>