{% load jsonify compressed %}
{% compressed_js 'chat' %}
<script>
    var widget_chat,
        widget_chat_log_item_templates = {{ chat.templates|jsonify|safe }};
</script>
<div class="widget chat" id="chat">
    <a name="comments"></a>
    <h1>Лента событий</h1>
    <div class="TopPanel">
        <a href="#" class="RollUp"></a>
        <a href="#" class="Close"></a>
    </div>
    
    <div class="clearfix chat-nav js-feed-options">
    	<div class="pull-left">
        	<label class="checkbox-inline">
              <input type="checkbox" class="js-comments-filter-input" name="SYSTEM_MESSAGES" value="Y" {% if chat.options.SYSTEM_MESSAGES %}checked="checked"{% endif %}> Системные сообщения
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" class="js-comments-filter-input" name="USER_MESSAGES" value="Y" {% if chat.options.USER_MESSAGES %}checked="checked"{% endif %}> Сообщения пользователей
            </label>
	        <label class="checkbox-inline">
              <input type="checkbox" class="js-comments-filter-input" name="COMMITS" value="Y" {% if chat.options.COMMITS %}checked="checked"{% endif %}> Изменения кода
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" class="js-comments-filter-input" name="TODO" value="Y" {% if chat.options.TODO %}checked="checked"{% endif %}> Todo
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" class="js-comments-filter-input" name="BUGS" value="Y" {% if chat.options.BUGS %}checked="checked"{% endif %}> Ошибки
            </label>
        </div>
        {% if main.CURRENT_PROJECT %}
        <div class="pull-right">
            {% if main.CURRENT_PROJECT %}
        	<label class="checkbox-inline">
              <input type="checkbox" name="OTHER_PROJECTS" value="Y" {% if chat.options.OTHER_PROJECTS %}checked="checked"{% endif %}> Все проекты
            </label>
            {% endif %}
        </div>
        {% endif %}
    </div>

    
    <div class="Chat">
        <table width="100%">
            <tr>
                <td class="UserListTD" style="display:none;">
                    <div id="ScrollBar" class="UserList">
                        <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
                        <div class="viewport">
                            <div class="overview userList">
                                <ul>

                                </ul>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="ChatWindowWrap">
                        <div id="ScrollBarCat" class="ChatWindow">
                            <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
                            <div class="viewport">
                                <div class="overview" id="chatWindow">
{#                                    <script>#}
{#                                        widget_chat_arLogMessages = [];#}
{#                                        {% for message in chat.messages %}#}
{#                                            widget_chat_arLogMessages.push({{ message|jsonify|safe }});#}
{#                                        {% endfor %}#}
{#                                    </script>#}
                                </div>
                            </div>
                        </div>
                        <div class="InputBlock">
                            <input type="text" id="wc_chat_message" data-blur="Напишите текст или перетащите файл (Enter)" value="Напишите текст или перетащите файл (Enter)" />
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

<script>
    $(function(){
        $('#wc_chat_message').addFilePaste(function(data){
            data = $.parseJSON(data);
            $(this).val('#'+data.fid+'#');
        });
    })
</script>