#canvasPaint{
    margin: 0 auto;
}

.canvasBottons {
    overflow: auto;
    margin: 10px 0;
}

.canvasBottons button {
    display: block;
    padding: 6px;
}

.canvasBottons button.canvasSave{ float: left; }
.canvasBottons button.canvasClear{ float: right; }

.CanvasContainer {
    width: 100%;
    height: 400px;
    clear: both;
    overflow: auto;
	border:1px solid #fff;
	box-shadow:0 0 5px #aaa;
	-moz-box-shadow:0 0 5px #aaa;
	-webkit-box-shadow:0 0 5px #aaa;
}

.canvasTools{
    margin: -15px -15px 15px;
    padding: 18px 15px 10px;
    background: #47a447 none repeat scroll 0 0;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 24px;
    line-height: 24px;
}

.canvasTools .brushColor{
    float: left;
}

.canvasTools .brushDepth{
    float: left;
    margin-left: 50px;
}

.canvasTools .brushColor > div,
.canvasTools .brushDepth > div,
.canvasText {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: -2px 10px 0 0;
    cursor: pointer;
    text-align: center;
}

.canvasText {margin-left: 50px;}

.canvasText .fa.fa-pencil-square-o {
    color: #000;
    display: inline-block;
    font-size: 20px;
    line-height: 24px;
    margin-top: 3px;
}

.canvasTools .brushColor > div {
    border: 2px solid #fff;
}

.canvasTools .brushColor .color{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.canvasTools .brushColor .color.active{
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4) inset, 0 0 8px rgba(102, 175, 233, 1);
}

.writeTextContainer{
    font-size: 25px;
    position: absolute;
    z-index:100;
}

.CanvasContainer {
    color: #C00F01;
}

.CanvasContainer .writeTextContainer .btn-mini{
    border-radius: 50%;
}

.writeTextContainer .writeText{
    float: left;
}

.writeTextContainer .buttons{
    float: right;
}

.writeTextContainer .remove{
    float: right;
    position: absolute;
    top: -15px;
    padding: 0 5px !important;
}

.writeTextContainer .apply{
    bottom: -15px;
    position: absolute;
    font-size: 11px;
    padding: 2px 5px !important;
}

.canvasTools .brushDepth .size.active,
.canvasText.active{
	background:#ffffff;
	border-radius:25px;
	-moz-border-radius:25px;
	-webkit-border-radius:25px;
	box-shadow:0 2px 1px rgba(1, 1, 1, 0.2) inset;
	-moz-box-shadow:0 2px 1px rgba(1, 1, 1, 0.2) inset;
	-webkit-box-shadow:0 2px 1px rgba(1, 1, 1, 0.2) inset;
}

.canvasTools .brushColor #redPen{ background: rgb(212,21,29); }
.canvasTools .brushColor #greenPen{ background: rgb(131,190,61); }
.canvasTools .brushColor #bluePen{ background: rgb(0,86,166); }

.canvasTools .brushDepth > div:after{
    background: #000;
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 1px;
    margin-left: -10px;
}

.canvasTools .brushDepth #size_1:after{
    height: 1px;
}
.canvasTools .brushDepth #size_4:after{
    height: 4px;
    margin-top: -2px;
}
.canvasTools .brushDepth #size_6:after{
    height: 6px;
    margin-top: -3px;
}

canvas#drawingCanvas{
    cursor: crosshair;
}

canvas#drawingCanvas.writeText{
    cursor: text;
}

#savedCopyContainer {
    display: none;
}

#savedCopyContainer img {
    border: none;
}

#canvasPaint hr {width: 100%;}