div.slider {
    float:left;
    width:200px;
    height:3px;
    margin:0px 10px 0px 0px;
}
.clr {
    clear:both;
}
ul.sliders {
    padding:0;
}
ul.sliders li {
    width:100%;
    list-style: none;
}
.ui-slider {
    height:3px !important;
}
.optionRowPopUp {
    display:none;
}
.empty_result {
    color: #962311;
}
.loader {
    display:none;
}

.optionRow div a.task_close, .optionRow div a.task_open {
    margin-right:0;
}

.newEvent .TaskTitle{
    font-weight:bold;
}