.panel {

}

.bt-panel.bottom {
    position: fixed;
    bottom: 1%;
    left: 4%
    border-radius: 0;
    margin:0;
    width: 20%;
    z-index: 9999;
	background:#47a447;
	box-shadow:0 0 5px rgba(1, 1, 1, 0.3);
	-moz-box-shadow:0 0 5px rgba(1, 1, 1, 0.3);
	-webkit-box-shadow:0 0 5px rgba(1, 1, 1, 0.3);
}
@media (max-width:768px) {
    .bt-panel.bottom {
        width: 100%;
        bottom: 0;
    }
}
.bt-panel.bottom ul {
    list-style: none;
}
.bt-panel.bottom ul li {
    display: inline-block;
	border-right:1px solid #4cae4c;
}

.bt-panel.bottom ul li a {padding:15px 25px; font-weight:bold; color:#fff; }
.bt-panel.bottom ul li a:hover {font-weight: bold}


.bt-panel.bottom ul li:last-child {border: 0;}
.bt-panel.bottom .fa.fa-times {
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 17px;
    top: 27px;
    margin-top: -12px;
    z-index: 1;
}

.navbar-inverse.bt-panel.bottom .navbar-collapse {border: 0px !important;}

.navbar-inverse.bt-panel.bottom .navbar-nav {margin: 0 !important;}

@media (max-width: 768px) {
    .bt-panel.bottom ul li {display: block !important; border: 0 !important;}
    .bt-panel.bottom ul li a {
        border-bottom: 1px solid #4cae4c;
        color: #fff;
        font-weight: bold;
        margin: 0 -15px;
        padding: 10px 35px;
    }
    .bt-panel.bottom .fa.fa-times {
        right: 35px;
    }
}