.add-user-popup.dropdown-menu.responsibles { padding: 0;}
.add-user-popup { border:1px solid #ccc; background:#fff; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; box-shadow:0 1px 2px rgba(1, 1, 1, 0.1); -moz-box-shadow:0 1px 2px rgba(1, 1, 1, 0.1); -webkit-box-shadow:0 1px 2px rgba(1, 1, 1, 0.1); position:absolute; width: 680px; right: 0; margin: 0 auto; z-index:1001; left:0px;}

   @media (max-width: 750px){
      .add-user-popup { width: 290px;}
      .add-user-list-of-categories { display: none !important;}
      .add-user-popup .media .media-body p {display: none;}
      .add-user-popup .media .media-body .occupation {display: block;}
   }

   .add-user-popup-top-arrow { position: absolute; top: 0;}
   .add-user-popup-top-arrow:after, .add-user-popup-top-arrow:before { bottom: 100%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; }
   .add-user-popup-top-arrow:after { border-color: rgba(255, 255, 255, 0); border-bottom-color: #ffffff; border-width: 7px; margin-left: -7px; }
   .add-user-popup-top-arrow:before { border-color: rgba(204, 204, 204, 0); border-bottom-color: #cccccc; border-width: 8px; margin-left: -8px; }

   .add-user-popup .add-user-popup-header {padding:10px 15px; border-bottom:1px solid #ccc; -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px; -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; border-top-left-radius: 5px; border-top-right-radius: 5px;}
    .add-user-popup .add-user-popup-content {}
    .add-user-popup .add-user-popup-footer {padding:10px 15px; background:#eee; border-top:1px solid #ccc; -webkit-border-bottom-right-radius: 5px; -webkit-border-bottom-left-radius: 5px; -moz-border-radius-bottomright: 5px; -moz-border-radius-bottomleft: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;}
	.add-user-popup .add-user-popup-footer .pull-left {line-height:36px; display: none;}
		.add-user-popup .add-user-popup-footer .pull-left {white-space:normal;}
		.add-user-popup .add-user-popup-footer .pull-left a {color:#333; text-decoration:none; margin-right:10px; display:inline-block;}
		.add-user-popup .add-user-popup-footer .pull-left a:hover {color:#47a447;}
	.add-user-popup .add-user-popup-footer .pull-right {text-align:right;}
		.add-user-popup .add-user-popup-footer .pull-right .form-control {display:inline-block;}

		.add-user-list-of-categories {background:#f9f9f9; border-right:1px solid #ccc; vertical-align:top;}
			.add-user-list-of-categories ul {list-style:none; padding:0px; margin:0px;}
			.add-user-list-of-categories ul li a {color:#333; font-weight:bold; text-decoration:none; display:block; padding:10px 15px; border-bottom:1px solid #ddd;}
			.add-user-list-of-categories ul li:last-child a {border:0;}
			.add-user-list-of-categories ul li a:hover {background:#eee;}
			.add-user-list-of-categories ul li a.active {background:#5cb85c; color:#fff; border-bottom:1px solid #4cae4c;}
			.add-user-list-of-categories ul li a.active:hover {background:#4cae4c;}

		.add-user-list-of-users {background:#fff; vertical-align:top;}
			.add-user-list-of-users ul {list-style:none; padding:0px; margin:0px; max-height:182px; height: 182px; overflow-y:auto;}
      .add-user-list-of-users ul li.media {margin-top: 0;}
      .add-user-list-of-users ul li.media .media-item .pull-left {margin-right: 15px;}
			.add-user-list-of-users ul li .media-item {color:#333; display:block; padding:10px 15px; margin:0px; height:61px; white-space:nowrap; overflow:hidden;}
			.add-user-list-of-users ul li {border-bottom:1px solid #ddd;}
      .add-user-list-of-users ul li:last-child {border:0;}
			.add-user-list-of-users ul li .media-item p {margin-bottom:0px; display: none;}
			.add-user-list-of-users ul li .media-item:hover {background:#edf8ed; border-bottom:1px solid #deecd8; text-decoration: none;}
			.add-user-list-of-users ul li .media-item span.user {color:#47a447;}

    .project-buttons a.btn {margin-bottom:5px;}

	.add-interface {position:relative; margin-top:5px; background:#ecf5f9; padding:15px 20px 5px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
   .add-interface:before {width: 0; height: 0; border-style: solid; border-width: 0 10px 10px 10px; border-color: transparent transparent #ecf5f9 transparent; position:absolute; right:68px; top:-10px; content:"";}

   .my-row {width:100%;}

   .my-row-3,
   .my-row-4,
   .my-row-6,
   .my-row-5 {float:left; display:inline-block; white-space:nowrap; margin-bottom:15px; box-sizing: border-box;  -moz-box-sizing: border-box;  -webkit-box-sizing: border-box; padding-right:20px;}

   .my-row-4,
   .my-row-6,
   .my-row-5 {margin-bottom:0;}

   .my-row-4 {width:40%;}
   .my-row-3 {width:33.33%;}
   .my-row-6 {width:60%;}
   .my-row-5 {width:50%;}

    .my-row  > div:last-child,
	.my-row-3 > div:last-child {padding-right:0px;}

	.my-row-3 .btn {margin-top:25px;}

   @media (max-width: 1024px) {
	.my-row-4, .my-row-3, .my-row-6, .my-row-5 {width:100%; display:block; float:none; padding-right:0px;}
   .my-row-4,
   .my-row-6,
   .my-row-3
   .my-row-5 {margin-bottom:15px;}
   .my-row-3 .btn {margin-top:0px;}
   }