body {font-family: 'PT Sans', sans-serif; font-size:14px; line-height:20px; background:none repeat scroll 0 0 #f5f5f5; color:#434343;}

.wrapper {margin:0 auto; max-width:1000px; padding:0 15px;}

p {margin:0px 0px 15px; padding:0px;}
a {color:#498eca;}

header {text-align:center; margin:0 auto; background:#fff; box-shadow:0px 1px 2px #ddd; -moz-box-shadow:0px 1px 2px #ddd; -webkit-box-shadow:0px 1px 2px #ddd; }
div.header {max-width:1000px; margin:0 auto; padding:0 20px;}
div.header a.logo {float:left; width:35%; display:block; margin-top:35px;}
div.header h2 {float:right; color:#555; font-weight:bold; font-size:36px; line-height:40px; margin:20px 0;}
div.header h2 span {color:#c00f00;}

.services {max-width:1070px; margin:0 auto; padding:15px 0;}
.services-icon {float:left; width:46%; background:#fff; box-shadow:0px 1px 2px #ddd; -moz-box-shadow:0px 1px 2px #ddd; -webkit-box-shadow:0px 1px 2px #ddd; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; margin:2%; border:4px solid #fff; padding:25px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; height:230px; position:relative; overflow:hidden; -webkit-transition: box-shadow linear 0.2s; -moz-transition: box-shadow linear 0.2s; -o-transition: box-shadow linear 0.2s; transition: box-shadow linear 0.2s;}
.services-icon:hover {box-shadow:0px 2px 3px #ccc; -moz-box-shadow:0px 2px 3px #ccc; -webkit-box-shadow:0px 2px 3px #ccc;}
.services-icon-left {float:left; width: 53%; margin-right:2%;}
.services-icon-right {float:right; width: 45%;}
.services-icon span.step {background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #DA1C19),
	color-stop(1, #A9010D)
);
background-image: -o-linear-gradient(bottom, #DA1C19 0%, #A9010D 100%);
background-image: -moz-linear-gradient(bottom, #DA1C19 0%, #A9010D 100%);
background-image: -webkit-linear-gradient(bottom, #DA1C19 0%, #A9010D 100%);
background-image: -ms-linear-gradient(bottom, #DA1C19 0%, #A9010D 100%);
background-image: linear-gradient(to bottom, #DA1C19 0%, #A9010D 100%); display:inline-block; padding:3px 10px; text-transform:uppercase; color:#fff; font-weight:bold; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
.services-icon h3 {font-weight:bold; font-size:30px; margin:10px 0px; padding:0px; display:block;}
.services-icon h3 span {color:#c00f00;}
.services-icon p {margin-bottom:0px;}

.hidden-step {display: block;
    height: 250px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 485px;}

.hidden-step img {border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;}

section.content {max-width:1000px; margin:0 auto; padding:25px 15px;}

section.icons {background:#fff; margin:0 auto; padding:25px 0px 0px; display:table; width:100%; box-shadow:0px -1px 2px #ddd; -moz-box-shadow:0px -1px 2px #ddd; -webkit-box-shadow:0px -1px 2px #ddd;}
	.icons-row {max-width:1000px; margin:0 auto;}
	.icons-item {width:20%; float:left; text-align:center; display:table-cell; padding:0 5px 25px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;}
		.icons-item img {display:inline-block;}
		.icons-item-desc {display:block; color:#555; font-size:14px; font-weight:bold; text-transform:uppercase; text-align:center; margin-top:10px;}



.slider-wrapper {position:relative; z-index:0; border-top:1px solid #a7a7a7; padding:2px 0 0; box-shadow:0 2px 0px #CCCCCC inset; -moz-box-shadow:0 2px 0px #CCCCCC inset; -ms-box-shadow:0 2px 0px #CCCCCC inset; -o-box-shadow:0 2px 0px #CCCCCC inset; -webkit-box-shadow:0 2px 0px #CCCCCC inset;}
.slider {padding: 0; *zoom: 1; max-width:1000px; padding:0 15px; list-style:none; margin:0 auto;}
.slider li {padding:0px; margin:0px;}
.slider img {max-width: 100%; display: block;}
.bx-viewport {position:relative; z-index:1;}
.bx-wrapper {position:relative;}

.promo-wrapper {padding:35px 0; background-image: -webkit-gradient(
	linear,
	right bottom,
	left bottom,
	color-stop(0, #BE0D07),
	color-stop(0.5, #e12222),
	color-stop(1, #BE0D07)
);
background-image: -o-linear-gradient(left, #BE0D07 0%, #e12222 50%, #BE0D07 100%);
background-image: -moz-linear-gradient(left, #BE0D07 0%, #e12222 50%, #BE0D07 100%);
background-image: -webkit-linear-gradient(left, #BE0D07 0%, #e12222 50%, #BE0D07 100%);
background-image: -ms-linear-gradient(left, #BE0D07 0%, #e12222 50%, #BE0D07 100%);
background-image: linear-gradient(to left, #BE0D07 0%, #e12222 50%, #BE0D07 100%);}
.promo {margin:0 auto; width:1000px;}
.tariffs-descr {float:left; color:#fff; font-weight:bold; width:160px; margin-left:-95px; text-align:right;}
.tariffs-wrapper {float:left; width:550px;}
	.tarrif {cursor: pointer;float:left; width:250px; text-align:center; border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px; -o-border-radius:5px; -webkit-border-radius:5px; background:#ffffff; box-shadow:0 7px 5px rgba(1, 1, 1, 0.2); -moz-box-shadow:0 7px 5px rgba(1, 1, 1, 0.2); -ms-box-shadow:0 7px 5px rgba(1, 1, 1, 0.2); -o-box-shadow:0 7px 5px rgba(1, 1, 1, 0.2); -webkit-box-shadow:0 7px 5px rgba(1, 1, 1, 0.2); margin:0 0 0 25px; -webkit-transition: box-shadow linear 0.2s; -moz-transition: box-shadow linear 0.2s; -o-transition: box-shadow linear 0.2s; transition: box-shadow linear 0.2s;}
	.tarrif:hover {box-shadow:0 7px 10px rgba(1,1,1,0.5); -moz-box-shadow:0 7px 10px rgba(1,1,1,0.5); -ms-box-shadow:0 7px 10px rgba(1,1,1,0.5); -o-box-shadow:0 7px 10px rgba(1,1,1,0.5); -webkit-box-shadow:0 7px 10px rgba(1,1,1,0.5);}
	
	
	
	.tarrif-row.title {height:50px; line-height:50px;}
	.tarrif-row.price {height:55px; line-height:55px;}	
	.tarrif-row.desc {padding:10px 0px; min-height:100px;}
	.tarrif-row.gannt, .tarrif-row.space, .tarrif-row.period, .tarrif-row.finance {line-height:32px; height:32px;}
	
	.tarrif-row.choose {height:60px; line-height:60px;}
	
	.tarrif .tarrif-row.title {color:#fff; font-size:18px; font-weight:bold; text-transform:uppercase;background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #DA1C19),
	color-stop(1, #A9010D)
);
background-image: -o-linear-gradient(bottom, #DA1C19 0%, #A9010D 100%);
background-image: -moz-linear-gradient(bottom, #DA1C19 0%, #A9010D 100%);
background-image: -webkit-linear-gradient(bottom, #DA1C19 0%, #A9010D 100%);
background-image: -ms-linear-gradient(bottom, #DA1C19 0%, #A9010D 100%);
background-image: linear-gradient(to bottom, #DA1C19 0%, #A9010D 100%);
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
box-shadow:0 1px 0px #e24543 inset;
-moz-box-shadow:0 1px 0px #e24543 inset;
-ms-box-shadow:0 1px 0px #e24543 inset;
-o-box-shadow:0 1px 0px #e24543 inset;
-webkit-box-shadow:0 1px 0px #e24543 inset;}
	.tarrif .tarrif-row.price {font-size:36px; color:#666; font-weight:bold;}
	.tarrif .tarrif-row.desc {background:#f0f0f0; padding:10px 15px; text-align:left;}
	.tarrif .tarrif-row.space, .tarrif .tarrif-row.finance {background:#f0f0f0;}
	
	.check-on {background:url(../images/registering-icons.png) -28px -16px no-repeat; width:18px; height:15px; display:inline-block; position:relative; top:3px;}
	.check-off {background:url(../images/registering-icons.png) -28px 0px no-repeat; width:16px; height:16px; display:inline-block; position:relative; top:3px;}
	.check-out {background:url(../images/registering-icons.png) 0px 0px no-repeat; width:28px; height:28px; display:inline-block; position:relative; top:8px;}
	.check-in {background:url(../images/registering-icons.png) 0px -28px no-repeat; width:28px; height:28px; display:inline-block; position:relative; top:8px;}
	
	

.creating-form {float:left; width:360px; margin-left:25px; color:#fff; padding-left:50px; padding-top:10px;}
.creating-form h3 {font-size:23px; font-weight:bold; color:#fff; margin:0px;}
.creating-form p {margin:0px;}
.editable {font-size:24px;}
.edit-icon {background:url(../images/registering-icons.png) -28px -31px no-repeat; width:19px; height:19px; display:inline-block; position:relative; top:3px;}
input.big-inputbox {border:1px solid #89000b; height:44px; padding:0 10px; width:100%;border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px; -o-border-radius:5px; -webkit-border-radius:5px; box-shadow:0px 1px 2px rgba(1,1,1,0.4) inset; -moz-box-shadow:0px 1px 2px rgba(1,1,1,0.4) inset; -ms-box-shadow:0px 1px 2px rgba(1,1,1,0.4) inset; -o-box-shadow:0px 1px 2px rgba(1,1,1,0.4) inset; -webkit-box-shadow:0px 1px 2px rgba(1,1,1,0.4) inset; font-size:16px;}
input.big-button {
background: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.35, #03A900),
	color-stop(1, #0C8801)
);
background: -o-linear-gradient(bottom, #03A900 35%, #0C8801 100%);
background: -moz-linear-gradient(bottom, #03A900 35%, #0C8801 100%);
background: -webkit-linear-gradient(bottom, #03A900 35%, #0C8801 100%);
background: -ms-linear-gradient(bottom, #03A900 35%, #0C8801 100%);
background: linear-gradient(to bottom, #03A900 35%, #0C8801 100%);
color:#fff; font-size:24px; font-weight:bold; text-align:center; border:1px solid #075200; border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px; -o-border-radius:5px; -webkit-border-radius:5px; width:100%;height:50px; line-height:50px; box-shadow:0 1px 0 rgba(1, 1, 1, 0.2), 0 1px 0 #6ecd6c inset; -moz-box-shadow:0 1px 0 rgba(1, 1, 1, 0.2), 0 1px 0 #6ecd6c inset; -ms-box-shadow:0 1px 0 rgba(1, 1, 1, 0.2), 0 1px 0 #6ecd6c inset; -o-box-shadow:0 1px 0 rgba(1, 1, 1, 0.2), 0 1px 0 #6ecd6c inset; -webkit-box-shadow:0 1px 0 rgba(1, 1, 1, 0.2), 0 1px 0 #6ecd6c inset;

	-webkit-background-size: 100% 200%;
	-moz-background-size: 100% 200%;
	background-size: 100% 200%;
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
	-o-transition: all .1s linear;
	-ms-transition: all .1s linear;
	transition: all .1s linear;
}

input.big-button:hover {
	background-position: 0 -20px;}


.no-styles {padding:0px; margin:0px; display:inline-block; color:#fff; font-weight:bold; background:none; border:none; border-bottom:1px solid #fff; width:100px; margin:0 10px;}
.choose-plan-img {margin-left:-50px; margin-top:25px;}

hr.separator {border-top:1px solid #b01a2a; border-bottom:1px solid #df434e; display:block; margin:25px 0;}

footer {padding:25px 0; background:#fff; box-shadow:0 -1px 2px #ddd; -moz-box-shadow:0 -1px 2px #ddd; -webkit-box-shadow:0 -1px 2px #ddd;}
div.footer {margin:0 auto; max-width:1000px; padding:0 15px;}
div.footer .pull-right a {color:#333; font-size:24px; text-decoration:none; margin-left:10px;}
div.footer .pull-right a:hover {color:#c00f00;}


@media only screen and (max-width: 1024px) {
div.header h2 {font-size:30px; line-height:36px;}	
}


@media only screen and (max-width: 840px) {
	div.header a.logo {float:none; text-align:center; width:100%; margin-top:15px;}
	div.header a.logo img {display:inline-block;}
	div.header h2 {float:none; margin-bottom:10px; font-size:24px; line-height:30px; margin-top:10px;}	

.services-icon-left {float:left; width: 58%; margin-right:2%;}
.services-icon-right {float:right; width: 40%;}
.services-icon h3 {font-size:20px; line-height:24px;}

}

@media only screen and (max-width: 568px) {
div.header h2 {font-size:16px; line-height:24px;}	

.icons-item {text-align:left; width:100%; padding-bottom:5px; padding-left:20px;}
.icons-item img {margin-right:15px;}
.icons-item-desc {display:inline;}

.services-icon {float:lnone; width:96%; margin:2%;}
.services-icon-left {float:left; width: 53%; margin-right:2%;}
.services-icon-right {float:right; width: 45%;}
}