<div class="taskWizard js-taskWizard">
    <div class="taskWizard-overlay overflow js-taskWizardClose"></div>
    <div class="taskWizard-container popup">
        <button type="button" class="close js-taskWizardClose">
            <span aria-hidden="true">&times;</span><span class="sr-only">Закрыть</span>
        </button>
        <h3>Создать задачу</h3>
        <div class="taskWizard-question-wrapper border-wrapper">
            <div class="border">
                <div class="taskWizard-question js-taskWizardContainer taskWizard-required">
                    <div class="row">
                        <div class="span5 taskWizard-question-title">Что нужно сделать?</div>
                    </div>
                    <div class="row">
                        <div class="span5">
                            <input class="form-control taskWizard-answer" value="" type="text" name="_taskWizardAnswers[]" required="required" />
                            <span class="taskWizard-question-help help-block">
                                Пожалуйста опишите что нужно сделать в двух словах
                            </span>
                        </div>
                    </div>
                </div>  
                <div class="taskWizard-question js-taskWizardContainer">
                    <div class="row">
                        <div class="span5 taskWizard-question-title">Где нужно сделать?</div>
                    </div>
                    <div class="row">
                        <div class="span5">
                            <input class="form-control taskWizard-answer" value="" type="text" name="_taskWizardAnswers[]" />
                            <span class="taskWizard-question-help help-block">
                                Пожалуйста опишите данный функционал должен находиться
                            </span>
                        </div>
                    </div>
                </div>  
                <div class="taskWizard-question js-taskWizardContainer">
                    <div class="row">
                        <div class="span5 taskWizard-question-title">Вы видели что-то похожее?</div>
                    </div>
                    <div class="row">
                        <div class="span5">
                            <input class="form-control taskWizard-answer" value="" type="text" name="_taskWizardAnswers[]" />
                            <span class="taskWizard-question-help help-block">
                                Пожалуйста приведите примеры, того что нужно сделать
                            </span>
                        </div>
                    </div>
                </div>  
                <div class="taskWizard-question js-taskWizardContainer">
                    <div class="row">
                        <div class="span5 taskWizard-question-title">Для чего это вам?</div>
                    </div>
                    <div class="row">
                        <div class="span5">
                            <input class="form-control taskWizard-answer" value="" type="text" name="_taskWizardAnswers[]" />
                            <span class="taskWizard-question-help help-block">
                                Пожалуйста напишите какую цель преследует данная доработка
                            </span>
                        </div>
                    </div>
                </div>  
                <div class="row">
                    <div class="span5">
                        <input type="button" value="&lt;-" 
                            class="btn btn-large btn-success taskWizard-button-prev js-taskWizardStepPrev" />
                        <input type="button" value="-&gt;" 
                            class="btn btn-large btn-success taskWizard-button-next js-taskWizardStepNext" />
                        <input type="button" value="Создать задачу" 
                            class="btn btn-large btn-success taskWizard-button-submit js-taskWizardSubmit" />
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>  
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/js/easyFormStepper/jquery.easyFormStepper.js"></script>
<script type="text/javascript">
$('.js-taskWizard').easyFormStepper({
    questionContainer: ".js-taskWizardContainer",
    buttonNextSelector: ".js-taskWizardStepNext",
    buttonPrevSelector: ".js-taskWizardStepPrev",
    buttonSubmitSelector: ".js-taskWizardSubmit",
    buttonCancelSelector: ".js-taskWizardClose",
    onStart: function($element){
        $element.find('.taskWizard-overlay').fadeIn(200);
        $element.find('.taskWizard-container').fadeIn(250);
    },
    onStepStart: function(step, $element) {
        $(step).find('input:eq(0)').trigger("focus");
    },
    onClose: function($element){
        $element.find('.taskWizard-overlay').fadeOut(250, function(){
            $element.remove();
        });
        $element.find('.taskWizard-container').fadeOut(200);  
    },
    transition: function(step, newStep, fn) {
        if(step && newStep) {
            $(step).slideUp(150, function(){
                $(newStep).slideDown(150, fn);
            });
        }
        else if(newStep) {
            $(newStep).show(fn);
        }
    },
    onSubmit: function(answers){
        var parseWizard = function(aWizard){
            var sWizard = "";
            if(aWizard.length > 1) {
                for (var i = aWizard.length - 1; i > 0; i--) {
                    sWizard = aWizard[i] + '<br/>' + sWizard 
                };
            }
            sWizard = aWizard[0] + '///' + sWizard;
            return sWizard;
        }
        var sWizard = parseWizard(answers);
        if($('input.task-create').length) {
            $('input.task-create').val(sWizard);
            $('button.task-create').trigger('click');
        } else {
            var data = {
                "action": "fastCreate",
                "task_name": sWizard,
                "project": {{ main.CURRENT_PROJECT.id }}
            };
            $.post('/task_handler', data);
        }
    }
});
</script>