{% load jsonify %}
<script type="text/javascript" src="/widgets/js/tasklist/script.js"></script>
<style>
    a.selected {
        background-color:#999;
    }
</style>
<script>
    var arTimers = {}, taskRespSummary = {};
    {% for task in tasklist.tasks %}
        taskRespSummary['{{ task.id }}'] = {{ task.responsibleList|jsonify|safe }}
        {% if task.time %}
            arTimers['{{ task.id }}'] = new PM_Timer({{ task.time|jsonify|safe }})
            {% if task.startedTimerExist %}
                arTimers['{{ task.id }}'].start();
            {% endif %}
        {% endif %}
    {% endfor %}
</script>
<div class="WrapperBlock Support">
    <h4>мои задачи</h4>
    <div class="AddTaskBlock Left">
        <input id="task_create" data-blur="Добавить задачу (Ctrl+K) для..." class="addTask" type="text" value="Добавить задачу (Ctrl+K) для..." />
        <div class="hint" style="display:none;">
        	<div class="hint-arr-left"></div>
        	<div class="hint-arr-right"></div>
        	<div class="hint-arr-bottom"></div>
        	<div class="hint-arr-top"></div>
        	<div class="hint-title">Используйте хэщ-теги</div>
            <div class="hint-body">
                <p><img src="https://pp.vk.me/c7005/v7005577/6338/74sBNBFjU9E.jpg" />
                Какой-то текст, бла бла бла, о том, что вы можете сделать. И так далее, и тому подобное</p>
                <a href="#" class="hint-more">Читайте мануал, придурки!</a>
            </div>
        </div>
        <div id="TL_responsible_list" class="TL_responsible_list SelectBlock">
            <a rel="new" href="javascript:void(0)" onclick="return mainController.widgetsData['taskList'].TL_CreateSelectTag($(this).attr('rel'),'Responsible');">Новый пользователь</a>
            {% for user in tasklist.users %}
                <a href="javascript:void(0)" rel="{{ user.username }}"  onclick="return mainController.widgetsData['taskList'].TL_CreateSelectTag($(this).attr('rel'),'Responsible');">[{{ user.username }}] {{ user.last_name }} {{ user.first_name }}</a>
            {% endfor %}
        </div>
        <div id="TL_author_list" class="TL_author_list SelectBlock">
            <a rel="new" href="javascript:void(0)" onclick="return mainController.widgetsData['taskList'].TL_CreateSelectTag($(this).attr('rel'),'Author');">Новый пользователь</a>
            {% for user in tasklist.users %}
                <a href="javascript:void(0)" rel="{{ user.username }}" onclick="return mainController.widgetsData['taskList'].TL_CreateSelectTag($(this).attr('rel'),'Author');">[{{ user.username }}] {{ user.last_name }} {{ user.first_name }}</a>
            {% endfor %}
        </div>
        <div id="TL_date_select_list" class="TL_date_select_list SelectBlock">
            <a href="javascript:void(0)" rel="today" onclick="return mainController.widgetsData['taskList'].TL_CreateSelectTag($(this).attr('rel'),'Date');">Сегодня</a>
            <a href="javascript:void(0)" rel="tomorrow" onclick="return mainController.widgetsData['taskList'].TL_CreateSelectTag($(this).attr('rel'),'Date');">Завтра</a>
            <a href="javascript:void(0)" rel="aftertomorrow" onclick="return mainController.widgetsData['taskList'].TL_CreateSelectTag($(this).attr('rel'),'Date');">Послезавтра</a>
            <a href="javascript:void(0)" rel="week" onclick="return mainController.widgetsData['taskList'].TL_CreateSelectTag($(this).attr('rel'),'Date');">Неделя</a>
        </div>
        <div id="TL_deadline_select_list" class="TL_deadline_select_list SelectBlock">
            <a href="javascript:void(0)" rel="1" onclick="return mainController.widgetsData['taskList'].TL_CreateSelectTag($(this).attr('rel'),'About');">1 час</a>
            <a href="javascript:void(0)" rel="4" onclick="return mainController.widgetsData['taskList'].TL_CreateSelectTag($(this).attr('rel'),'About');">4 ч</a>
            <a href="javascript:void(0)" rel="8" onclick="return mainController.widgetsData['taskList'].TL_CreateSelectTag($(this).attr('rel'),'About');">8 ч.</a>
            <a href="javascript:void(0)" rel="16" onclick="return mainController.widgetsData['taskList'].TL_CreateSelectTag($(this).attr('rel'),'About');">16 ч.</a>
        </div>
    </div>

    <div class="topPanel">
        <a class="rollUp" href="#" onclick="$(this).parents('.widgetWrap').eq(0).find('.togglePanel').toggle();return false;"></a>
        <a class="close" href="#"></a>
    </div>
    <div class="clr"></div>
    <hr />
    <div class="TabsHolder">
        <div class="TabsHolderBlock">
            <div class="SearcheBlock">
                <input class="search" id="tl_search" type="text" data-blur="Поиск" value="Поиск" />

                <a href="#" class="add-user-button" onclick="$(this).parent().find('.widgets-list').toggle();event.stopPropagation();return false;">&nbsp;</a>
                <span class="search_items_holder">

                </span>

                <button id="tl_get_all" class="searchBut active" type="submit">Все</button>
                <div class="widgets-list search_menu" style="display: none;">
                    <div class="widgets-arrow"></div>
                    <ul>
                        <li data-code="responsible" class="first">
                            <a href="#">Ответственный</a>
                            <ul>
                                {% for resp_user in tasklist.users %}
                                    <li><a href="#" rel="{{ resp_user.id }}">{{ resp_user.last_name }} {{ resp_user.first_name }}</a></li>
                                {% endfor %}
                                <li><a href="#">Лругой..</a></li>
                            </ul>
                        </li>
                        <li data-code="author" >
                            <a href="#">Кем назначена</a>
                            <ul>
                                {% for resp_user in tasklist.users %}
                                <li><a href="#" rel="{{ resp_user.id }}">{{ resp_user.last_name }} {{ resp_user.first_name }}</a></li>
                                {% endfor %}
                                <li><a href="#">Лругой..</a></li>
                            </ul>
                        </li>
                    </ul>
            	</div>
            </div>
            <div class="TabListBlock">
                <ul id="addTaskMenu" class="TabsMenu">
                    <li rel="started">Начатые</li>
                    <li rel="critically">Горят</li>
                    <li rel="deadline">Просроченные</li>
                    <li rel="recently_closed">Недавно закрытые</li>
                    <li rel="arc" class="last">Архив</li>
                </ul>
            </div>
        </div>
        <div class="clr"></div>
        <hr />
        <div class="Block visible">
            <div class="TaskHolder" id="tl_tasktable">
            {% for task in tasklist.tasks %}
                <div id="taskLine_{{ task.id }}" data-onplan="{% if task.onPlanning %}Y{% else %}N{% endif %}" data-taskid="{{ task.id }}" class="Item{% if task.closed %} closed{% endif %}{% if task.startedTimerExist %} started{% endif %}{% if task.onPlanning %} onplan{% endif %}">
                    <div class="TaskParent">
                        <div class="TaskTitle {% if task.subtasksCount %} tick{% endif %}{% if task.critically > 0.9 %} Red{% endif %}">
                            {% if task.subtasksCount %}
                                <a href="#" rel="{{ task.id }}" class="add_subtask arrow closed">Свернуть</a>
                            {% endif %}
                            {% if task.critically > 0.9 %}
                                <span class="Icon Hot"></span>
                            {% endif %}
                            {% if task.overdue %}
                                <span class="Icon Timer"></span>
                            {% endif %}
                            <a class="taskName" href="task_detail/?id={{ task.id }}" >{{ task.name }}</a>
                            {% for file in task.files %}
                                <a class="Icon file png {{ file.ext }}{% if file.is_picture %} fnc{% endif %}" href="{{ file.url }}"></a>
                            {% endfor %}
                            <a class="add_subtask" rel="{{ task.id }}" href="#">{{ task.subtasksCount }}+</a>
                        </div>
                        <div class="OptionRow">
                            <div>
                                <a rel="{{ task.id }}" href="javascript:void(0);" class="taskPlayStop done {% if not task.closed %}task_close{% else %}task_open{% endif %}"></a>
                                {% if not task.closed %}
                                <a rel="{{ task.id }}" href="javascript:void(0);" class="taskPlayStop {% if not task.startedTimerExist %}play{% else %}pause{% endif %} green"></a>
                                {% endif %}
                                <a rel="{{ task.id }}" href="javascript:void(0);" class="taskPlayStop plus"></a>
                            </div>
                        </div>
                        <div class="TaskTime">
                            <div class="timerCont">
                                <a class="Time" href="#"></a>
                                <div class="realTimeList pup" style="display:none;">
                                    <div class="arr"></div>
                                    {% for timer in task.timers %}
                                        <div class="user-time"><a href="{{ timer.user_url }}" class="planUser" rel="#">{{ timer.user }}</a>&nbsp;-&nbsp;<a class="planTime" href="#">{% if timer.time.hours < 10 %}0{% endif %}{{ timer.time.hours }}:{% if timer.time.minutes < 10 %}0{% endif %}{{ timer.time.minutes }}:{% if timer.time.seconds < 10 %}0{% endif %}{{ timer.time.seconds }}</a></div>
                                    {% endfor %}
                                </div>
                            </div>
                            <span class="AppTtime">
                            {% if task.planTime or task.onPlanning %}
                                (<span>
                                    ~<a href="#" class="planTimeHolder">
                                    {% if task.planTime %}
                                        {{ task.planTime }} ч.
                                    {% else %}
                                        Время (план)
                                    {% endif %}
                                    </a>
                                    <div class="PlanTimeList pup" style="display:none;">
                                        <div class="arr"></div>
                                        <div class="user-time"><a class="planTime" href="#" rel="0.5">30 мин.</a></div>
                                        <div class="user-time"><a class="planTime" href="#" rel="1">1 ч.</a></div>
                                        <div class="user-time"><a class="planTime" href="#" rel="2">2 ч.</a></div>
                                        <div class="user-time"><a class="planTime" href="#" rel="4">4 ч.</a></div>
                                        <div class="user-time"><a class="planTime" href="#" rel="8">8 ч.</a></div>
                                        <div class="user-time"><a class="planTime" href="#" rel="16">16 ч.</a></div>
                                        <div class="user-time"><a class="planTime" href="#" rel="24">24 ч.</a></div>
                                    </div>
                                </span>
                                {% if task.planTimes|length > 0 %}
                                <span class="PlanUserListWrapper">
                                    <a href="#"><img src="/static/images/arr-down.png" /></a>
                                    <div class="PlanUserList pup" style="display:none;">
                                        <div class="arr"></div>
                                        {% for plan in task.planTimes %}
                                            <div class="user-time"><a href="{{ plan.user_url }}" class="planUser" rel="{{ plan.user_id }}">{{ plan.user_name }}</a>&nbsp;-&nbsp;<a class="planTime" href="#">{{ plan.time }} ч</a></div>
                                        {% endfor %}
                                    </div>
                                </span>
                                {% endif %})
                            {% else %}
                                &nbsp;
                            {% endif %}
                            </span>
                        </div>
                        <div class="TaskAuthorName">
                            {% if task.needRespRecommendation and task.recommendedUser %}
                                <a class="recommended" href="#">{{ task.recommendedUser.name }}</a><a class="resp_approve" rel="{{ task.recommendedUser.id }}" href="#">&nbsp;</a>
                            {% else %}
                                <a href="#">{% if task.responsible %}{{ task.responsible|join:", "}}{% else %}Нет ответственного{% endif %}</a>
                            {% endif %}
                        </div>
                    </div>
                 </div>
                <div class="SubtaskBlock"></div>
            {% empty %}
                <div>Нет ни одной задачи</div>
            {% endfor %}
            </div>
        </div>
    </div>
    <a href="#" class="show-more">Показать еще</a>
    <div class="clr"></div>
</div>
<div class="BackResponsible pup" style="display:none;">
    <div></div>
    {% for resp_user in tasklist.users %}
    <a href="#" rel="{{ resp_user.id }}" style="white-space: nowrap;"><span class="user-name">{{ resp_user.last_name }} {{ resp_user.fist_name }} [{{ resp_user.username }}]</span><span class="user-percent"><span style="width:'{% widthratio resp_user.id 1 10 %}%';"></span></span></a>
    {% endfor %}
</div>
<div class="optionRowPopUp pup" style="display: none;">
    <div></div>
    <a href="#" class="OptionIcon Edit">Изменить</a>
    <a href="#" class="OptionIcon Reassign">Переназначить</a>
    <a href="#" class="OptionIcon BringPlanning">Вывести на планирование</a>
    <a href="#" class="OptionIcon ScheduledTime">Запланировать время</a>
    <a href="#" class="OptionIcon ResetPlanning">Снять с планирования</a>
    <a href="#" class="OptionIcon ClosePlanning">Закрыть</a>
</div>