{% extends 'main/base.html' %}
{% block stylesheets %}
<style type="text/css">
    .new-milestone {
      background: url(/static/images/new-milestone.png) 0px 0px no-repeat;
      height: 32px;
      width: 32px;
      display: inline-block;
      text-indent: -99999em;
      background-size: contain;
      position: absolute;
      right: 0px;
      top: -7px;
    }
</style>
{% endblock %}
{% block content %}
<script>
    $(document).ready(function(){
        $.get('/ajax/milestone_create/', function(response){
            $('body').append(response);
        });
        
    });
</script>
<div class="widget milestones_summary">
    <h1>Незавершенные цели</h1>
    <hr />
        {% for project in m_projects %}
        	{% if project.openMilestones %}
        		<div class="project-milestones">
        				<div class="project-milestones-title">
                            <h3 align="center">{{project.name}}</h3>
                            <a href="#" class="button green-button" data-toggle="modal" data-target="#new-milestone" data-project-id="{{ project.id }}"><i class="fa fa-star"></i>&nbsp;&nbsp;Добавить цель</a>
                        </div>


		        		{% for milestone in project.openMilestones %}
                        <div class="project-milestones-item">
                                <h4 class="clearfix">
                                    <a href="/?project={{project.id}}#%7B%22taskListFilter%22%3A%7B%22action%22%3A%22all%22%2C%22group%22%3A%22milestones%22%7D%7D" class="left">
                                        {{ milestone.name }}
                                    </a>
                                </h4>
                                <div class="time">{{ milestone.date }}</div>
                                <div class="progress-bar-wrapper clearfix">
                                    <div class="progress-bar-wrapper-title">Прогресс</div>
                                    <div class="progress clearfix">
                                        {% for task in milestone.tasksOrderedByClose %}
                                        <div class="progress-bar-item{% if task.closed %} btn-success{% endif %}" style="width: {% widthratio 100 milestone.tasks.count 1 %}%"></div>
                                        {% endfor %}
                                    </div>
                                </div>
                        </div>
                            {% empty %}
                            <p>Цели помогают привязать ваши задачи к реальной дате и времени, чтобы быстрее достигать конкретных результатов.</p>
                            <p><a href="#">Создать цель</a></p>

		        		{% endfor %}
        		</div>
    		{% endif %}
        {% endfor %}
</div>
{% endblock %}