{% load jsonify %}
 <div class="user-block widget inner js-user span4" data-id="{{ user.id }}">
    <div class="widget-title clearfix">
        <div class="pull-left"><i class="statusImg"></i>&nbsp;&nbsp;
            <a href="/user_detail/?id={{ user.id }}"><b>{% if user.last_name %}{{ user.last_name }} {{ user.first_name }}{% else %}{{ user.username }}{% endif %}</b></a>
            {% if user.get_profile.is_outsource %}
            <span class="pro-icon" href="/pro/" style="top:-2px;left: 4px;">
                <i class="fa fa-star"></i>
            </span>
            {% endif %}
            <small class="small">
                {% if user.profile.specialties.count %}
                    {% for spec in user.profile.specialties.all %}{% if not forloop.first %}, {% endif %}{{ spec.name }}{% endfor %}
                {% else %}
                    {% for role in user.roles_in_projects %}{% if forloop.first %}{{ role }}{% endif %}{% endfor %}
                {% endif %}
            </small>

        </div>
            {% if user.user_achievements.count %}
            <span class="achievement-ico">{{ user.user_achievements.count }}</span>
            {% endif %}
    </div>

    <div class="widget-body user-personal row-fluid clearfix">
        <table width="100%" cellpadding="0" cellspacing="0" class="user">
            <tr>
                <td class="avatar">
                    <a href="/user_detail/?id={{ user.id }}">
        <div class="avatar_container js-avatar-container" data-size="90" rel='{{ user.get_profile.avatar_rel|jsonify|safe }}'></div>
                    </a>
                </td>
                <td class="about-user">

                    <div class="clearfix">
                        <span style="float: left;margin-top: 8px;">Задач</span>
                        <div class="progress">
                            <div class="progress-bar progress-bar-info" style="width: {% widthratio user.allTasksQtyForDivision user_list.allTasksQty 1 %}%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="{% widthratio user.allTasksQtyForDivision user_list.allTasksQty 1 %}" role="progressbar">
                                <span class="sr-only">{% widthratio user.allTasksQtyForDivision user_list.allTasksQty 1 %}% Complete</span>
                            </div>
                        </div>
                    </div>
                    <p>Закрыто задач за месяц: <b>{{ user.tasksQty }}</b></p>
                    {% if user.last_login %}<p>Зашел {{ user.last_login|date:"d.m.Y h:i:s" }}</p>{% endif %}
                    {% if user.startedTask %}
                    <p><a class="startedTask" rel="tooltip" href="{{ user.startedTask.url }}"
                              {% if user.bHaveAccessToStartedTask %}
                              data-original-title="{{ user.startedTask.project.name }}: {{ user.startedTask.name }}"
                              {% endif %}>Занят</a></p>
                    {% endif %}
                    {% if is_admin %}
                         <p>Счет: {{ user.profile.account_total }}</p>
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>

</div>
