{% load floattags jsonify humanize compressed %}
{% compressed_js 'project_graph' %}
<style>
    .project_graph .well .role-titles h5:not(.active) {
        display: none;
    }
</style>
<script>
    $(function () {
        $('.js-select-role').click(function () {
            if (!$(this).is('.active')) {
                $(this).addClass('active').siblings('.js-select-role').removeClass('active');
                $('.js-role').filter('[data-role=' + $(this).data('role') + ']').show().siblings('.js-role').hide();
            }
            $('.js-graph-'+$(this).data('role')).show().siblings().hide();
        });
        $('.js-change-role').click(function () {
            var $next = $('.js-select-role.active').next('.js-select-role');
            var $first = $('.js-select-role').not('.active').eq(0);
            if ($next.get(0)) {
                $next.trigger('click');
            } else {
                $first.trigger('click')
            }
            return false;
        });
        $('.js-graph-'+$('.js-select-role.active').data('role')).show().siblings().hide();
        $(window).on('task_closed', function(taskInfo) {
            var $tClosed = $('.js-project-graph-tasks-closed'),
                $tAll = $('.js-project-graph-tasks-all'),
                $progress = $('.js-closed-tasks-progress');

            $tClosed.text(parseInt($tClosed.text()) + 1);
            $progress.css('width', Math.round(parseInt($tClosed.text()) * 100 / parseInt($tAll.text())) + '%');
        });
    })
</script>
<div class="row project_graph">
    {% if project_graph.roles %}
        <div class="col-sm-6">
            <div class="well hide-on-mobile">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="role-titles">
                            {% for role in project_graph.roles %}
                                <h5 class="{% if forloop.first %}active{% endif %} js-select-role"
                                    data-role="{{ role.role.code }}">
                                    <i class="fa fa-user"></i>&nbsp;&nbsp;Роль: {{ role.role.name }}
                                    {% if project_graph.isPro and role.role.code == 'employee' %}<a href="/pro/" class="pro-icon"><i class="fa fa-star"></i></a>{% endif %}
                                </h5>
                            {% endfor %}
                            {% if project_graph.roles|length > 1 %}
                                <a href="#" class="js-change-role project_graph__change_role"><i class="fa fa-chevron-right"></i> </a>
                            {% endif %}
                        </div>
                        {% for role in project_graph.roles %}
                            <div class="role-{{ role.role.code }} js-role" data-role="{{ role.role.code }}"
                                 {% if not forloop.first %}style="display: none;" {% endif %}>

                                <div class="role-content">
                                    <div class="role-content-tab">
                                        {% if role.role.code != 'client' %}
                                        <strong>Цена часа:</strong> &nbsp;<span
                                            class="stavka {% if project_graph.rating < 0 %}danger{% else %}success{% endif %}">{{ role.rate }}
                                        {% if role.rate and project_graph.rating != 0 %}
                                            <span class="bonus">{% if project_graph.rating < 0 %}{% else %}
                                                +{% endif %}{{ project_graph.rating }}
                                                </span>
                                                    {% else %}&nbsp;
                                                    {% endif %}
                                            </span>
                                        <br/>
                                        {% endif %}
                                        <span
                                            style="margin-top: 8px;display: inline-block;"><strong>Счет:</strong> <b style="position: relative; top: 1px;">{{ project_graph.allPrice|intcomma }}</b> ({{ project_graph.allProjectPrice|intcomma }})</span>
                                        <a href="/wiki/bonuses">?</a>{% if not project_graph.isPro and role.role.code == 'employee' %}<a href="/pro/" class="premium-button clearfix ">Получить PRO</a>{% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                <div class="col-xs-6" style="border-left: 1px solid #efefef;">
                {% for role in project_graph.roles %}

                        <div class="js-graph-{{ role.role.code }}">
                        {% if role.role.code == 'employee' %}
                            <h5>Рейтинг специалиста</h5>
                            Закрыто задач всего: <b style="color:#5cb85c;">{{ project_graph.allTaskQty }}</b><br>
                            Компетентность: <b style="color:#999;">{{ project_graph.taskTagCoefficient }}</b> (
                            <b style="color:#5cb85c;">{{ project_graph.taskTagPosition }}</b>-е место )
                        {% elif role.role.code == 'manager' or role.role.code == 'client' %}
                            <h5>Время открытых задач</h5>
                            <table width="100%;">
                                <tr>
                                    <td><strong>Реальное</strong></td>
                                    <td><strong>Плановое</strong></td>
                                </tr>
                                <tr>
                                    <td>
                                        <b style="color:{% if project_graph.allOpenRealTime >= project_graph.allOpenPlanTime %}#47a447{% else %}#5cb85c;{% endif %}">{{ project_graph.allOpenRealTime }}
                                            ч.</b></td>
                                    <td><b style="color:#999;">{{ project_graph.allOpenPlanTime }} ч.</b></td>
                                </tr>
                            </table>
                        {% endif %}
                        </div>
                 {% endfor %}
                </div>
            </div>
        </div>
        </div>
    {% endif %}
    <div class="col-sm-{% if project_graph.roles %}6{% else %}12{% endif %}">
        <div class="well hide-on-mobile" style="border-left-color: #fe781e;">
            <div class="row">
                <div class="col-xs-12" >
                    {% if project_graph.closestMilestone %}
                        <h5>Ближайшая цель</h5>
                        <b style="color:#{% if project_graph.closestMilestone.wouldOverdue %}d9534f{% else %}fe781e{% endif %};">{{ project_graph.closestMilestone.name }}</b>
                        до
                        <b style="color:#{% if project_graph.closestMilestone.wouldOverdue %}d9534f{% else %}fe781e{% endif %};">{{ project_graph.closestMilestone.date|date:"d.m.Y" }}</b>
                        <div class="progress">
                            <div class="progress-bar progress-bar-info" role="progressbar"
                                 aria-valuenow="{{ project_graph.closestMilestone.taskClosedPercent }}" aria-valuemin="0"
                                 aria-valuemax="100" style="width: {{ project_graph.closestMilestone.taskClosedPercent }}%;
                                    background-color: #{% if project_graph.closestMilestone.wouldOverdue %}d9534f{% else %}5cb85c{% endif %};">
                                <span class="sr-only">{{ project_graph.closestMilestone.taskClosedPercent }}% Complete</span>
                            </div>
                        </div>
                    {% else %}
                        <h5>Прогресс</h5>
                        Закрыто задач: <b style="color:#5cb85c;" class="js-project-graph-tasks-closed">{{ project_graph.closedTasksQty }}</b> из
                        <b style="color:#999;" class="js-project-graph-tasks-all">{{ project_graph.tasksQty }}</b>
                        <div class="progress">
                            <div class="progress-bar progress-bar-info js-closed-tasks-progress" role="progressbar"
                                 aria-valuenow="{{ project_graph.taskClosedPercent }}" aria-valuemin="0"
                                 aria-valuemax="100"
                                 style="width: {{ project_graph.taskClosedPercent }}%;background-color: #5cb85c;">
                                <span class="sr-only">{{ project_graph.taskClosedPercent }}% Complete</span>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="clr"></div>
            </div>
        </div>
    </div>
</div>