{% load floattags jsonify humanize compressed %}
{% compressed_js 'project_graph' %}
<style>
    .role-titles h5:not(.active) {
        cursor: pointer;
    }
</style>
<script>
    $(function() {
        $('.js-select-role').click(function(){
            if (!$(this).is('.active')) {
                $(this).addClass('active').siblings('.js-select-role').removeClass('active');
                $('.js-role').filter('[data-role='+$(this).data('role')+']').show().siblings('.js-role').hide();
            }
        })
    })
</script>
<div class="row project_graph">
    {% if project_graph.roles %}
    <div class="col-sm-3">
        <div class="well hide-on-mobile">
            <div class="role-titles">
                {% for role in project_graph.roles %}
                        <h5 class="{% if forloop.first %}active{% endif %} js-select-role" data-role="{{ role.role.code }}">Роль: {{ role.role.name }}</h5>
                {% endfor %}
            </div>
            {% for role in project_graph.roles %}
                <div class="role-{{ role.role.code }} js-role" data-role="{{ role.role.code }}" {% if not forloop.first %}style="display: none;" {% endif %}>

                    <div class="role-content">
                        <div class="role-content-tab">
                            <b>Цена часа:</b> &nbsp;<span class="stavka {% if project_graph.rating < 0 %}danger{% else %}success{% endif %}">{{ role.rate }}
                             <span class="bonus">{% if project_graph.rating < 0 %}{% else %}
                            +{% endif %}{{ project_graph.rating }}</span></span>
                            <br /><span style="text-transform: lowercase">{{ role.bet_type_name }}</span> <a href="/wiki/bonuses">?</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <div class="col-sm-{% if project_graph.roles %}9{% else %}12{% endif %}">
        <div class="well hide-on-mobile" style="border-left-color: #fe781e;">
            <div class="row">
                    <div class="col-xs-2" >
                        <h5>Счет <a href="/wiki/bonuses">?</a></h5>
                        <span style="white-space: nowrap;"><strong>Всего:</strong> <b style="color:#fe781e;">{{ project_graph.allPrice|intcomma }}</b></span><br>
                        <span style="white-space: nowrap;"><strong>По проекту:</strong> <b style="color:#fe781e;">{{ project_graph.allProjectPrice|intcomma }}</b></span>
                    </div>

                    <div class="col-xs-7" style="border-left: 1px solid #efefef;">
                        <h5>Прогресс</h5>
                        Закрыто задач: <b style="color:#fe781e;">{{ project_graph.closedTasksQty }}</b> из <b style="color:#fe781e;">{{ project_graph.tasksQty }}</b>
                        <div class="progress">
                            <div class="progress-bar progress-bar-info" role="progressbar"
                                 aria-valuenow="{{ project_graph.taskClosedPercent }}" aria-valuemin="0"
                                 aria-valuemax="100" style="width: {{ project_graph.taskClosedPercent }}%;background-color: #fe781e;">
                                <span class="sr-only">{{ project_graph.taskClosedPercent }}% Complete</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3" style="border-left: 1px solid #efefef;">
                        <h5>Место: <b style="color:#fe781e;">{{ project_graph.taskTagPosition }}</b></h5>
                        Закрыто задач: <b style="color:#fe781e;">{{ project_graph.allTaskQty }}</b><br>
                        Компетентность: <b style="color:#fe781e;">{{ project_graph.taskTagCoefficient }}</b>

                    </div>
                    <div class="clr"></div>
            </div>
        </div>
    </div>
</div>