{% load floattags jsonify humanize %}
<script type="text/javascript" src="/widgets/js/project_graph/script.js"></script>

<div class="well">
    <div>
        <form action="{% if project_graph.bPay %}{{ project_graph.payForm.target }}{% else %}/{% endif %}"
              method="POST" name="robo">
            <span>Ваш баланс: <strong>{{ project_graph.allProjectPrice|intcomma }} sp.</strong></span>&nbsp;&nbsp;{{ project_graph.payForm.as_p }}
            {% if is_staff %}
                (<a href="#" onclick="if (window.yaCounter26252781) window.yaCounter26252781.reachGoal('paymentClick'); $.fancybox({'content':$('.js-payment').html()}); return false;">пополнить баланс</a>)
{#            <input class="btn btn-success"#}
{#                   onclick=""#}
{#                   type="submit" value="Пополнить">#}
                &nbsp;&nbsp;<a href="/payment_info/">Информация об оплате</a>
            {% endif %}
            &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
            Цена нормочаса: {% if is_staff %}<s>1500</s> {% endif %}<span style="color: #c00f00;">{{ project_graph.rate }} sp</span>
            {% if is_staff %}до 01.11.2014 {% endif %}&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
            <span>Закрыто задач: <strong>{{ project_graph.closedTasksQty }}</strong></span>&nbsp;&nbsp;&nbsp;
            <span>Осталось задач: <strong>{{ project_graph.tasksQty }}</strong></span>&nbsp;

            <div class="js-payment" style="display: none">
                <h2>Введите сумму</h2>
                <label class="pull-left">
                <input type="hidden" name="pay" value="1" />
                <input type="text" class="form-control temp-summ" name="summ" value="5000" />
                </label>
                <input class="btn btn-success js-pay" type="submit" value="Пополнить" />
            </div>
        </form>
        <script type="text/javascript">
        {% if project_graph.bPay %}
            document.robo.submit();
        {% endif %}
        </script>
    </div>
</div>