<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0" />

<link type="text/css" rel="stylesheet" href="/static/css/reset.css" />
<link type="text/css" rel="stylesheet" href="/static/css/external/imgareaselect-animated.css" />
<link type="text/css" rel="stylesheet" href="/static/css/external/fancybox.css" />
<link type="text/css" rel="stylesheet" href="/static/css/external/carousel.css" />
<link type="text/css" rel="stylesheet" href="/static/css/external/bootstrap-responsive.css" />
<link type="text/css" rel="stylesheet" href="/static/css/external/bootstrap3.min.css" />
<link type="text/css" rel="stylesheet" href="/static/css/external/linecons/linecons.css" />
<link type="text/css" rel="stylesheet" href="/static/css/external/font-awesome.min.css" />
<link type="text/css" rel="stylesheet" href="/static/css/styles.css" />
<link type="text/css" rel="stylesheet" href="/static/css/add.css" />
<link type="text/css" rel="stylesheet" href="/static/css/panel.css" />
<link rel="stylesheet" media="all" href="/static/wiki/markitup/skins/simple/style.css" />
<link rel="stylesheet" media="all" href="/static/wiki/markitup/sets/frontend/style.css" />
<link rel="stylesheet" media="all" href="/static/wiki/css/all.css" />
<link type="text/css" rel="stylesheet" href="/static/css/drowCanvas.css" />
<title></title>

<link rel="shortcut icon" href="/static/ico/favicon.ico" />
</head>
<body>
<header>
  <div class="header clearfix">
    <div class="logo"> <a href="/"> <img src="/static/images/logo.png" alt="Heliard" /> </a> </div>
    <nav class="menu">

    </nav>
    <div class="timer-wrapper clearfix">
      <div class="timer js-currentTask"> <span>

        </span> </div>
      <div class="user-menu"> </div>
    </div>
    <!--timer--> 
    
  </div>
  <!--header--> 
</header>
<div class="container sub-menu">
  <div class="row sub-menu_line">
    <div class="sub-menu_line_section-user col-xs-8">
      
      <a href="/new_task_wizard/" class="js-taskWizard-opener btn btn-default"><i class="fa fa-file"></i><span>&nbsp;Создать задачу</span></a>&nbsp;&nbsp; <a href="/user_list/" class="btn btn-default"><i class="fa fa-users"></i><span>&nbsp;Команда</span></a>&nbsp;&nbsp; <a href="/files/" class="btn btn-default"><i class="fa fa-folder-open"></i><span>&nbsp;Файлы</span></a> </div>
    <div class="sub-menu_line_section-tracker col-xs-4">

    </div>
  </div>
</div>
<!-- /container -->

<hr style="margin-top:0px;" />
<div class="container">
<script type="text/javascript" src="/widgets/js/user_list/script.js"></script> 
<script type="text/javascript" src="/static/js/bootstrap/bootstrap-tooltip.js"></script> 

<div class="errorpage">
 <h2>Maintenance</h2>
 <h3>На сайте ведутся работы</h3>
 <p>Сайт будет доступен в ближайшее время.</p>
 <p><a href="mailto:admin@heliard.ru">обратиться в Службу поддержки</a></p>
</div>    
</div><!--container-->

</body>
</html>
