{% extends "main/base.html" %}
{% load floattags %}
{% block header %}
    <script type="text/javascript">
        $(function() {
            $('#datetime').datetimepicker({
                duration: '',
                showTime: true,
                constrainInput: true,
                stepMinutes: 1,
                dateFormat: "dd.mm.yy",
                stepHours: 1,
                altTimeField: '',
                time24h: true
            });
        });
    </script>
{% endblock %}
{% block content %}
    <form method="POST" action="" name="task_form">
        <label>Задача<input type="text" name="name" value="{{ post.name }}" /></label>
        <label>Дедлайн<input type="text" name="deadline" readonly="readonly" id="datetime" value="{{ post.deadline }}"></label>
        <label>Описание<textarea name="description">{{ post.text }}</textarea></label>
        <label>Ответсттвенный
        <select name="responsible" >
            <option value="">Выбрать ответственного</option>
            {% for user in users %}
                <option value="{{ user.id }}">{{ user.username }}</option>
            {% endfor %}
        </select></label>
        <div class="sliders_container">
            <ul class="sliders" style="width:400px;">
                <li><label>Критичность</label><div class="slider" id="critically"></div><input type="text" readonly="readonly" name="critically" value="{{ post.critically|dotted_float }}" /><div class="clr"></div></li>
                <li><label>Сложность</label><div class="slider" id="hardness"></div><input type="text" readonly="readonly" name="hardness" value="{{ post.hardness|dotted_float }}" /><div class="clr"></div></li>
                <li><label>Требует знания проекта</label><div class="slider" id="project_knowledge"></div><input type="text" readonly="readonly" name="project_knowledge" value="{{ post.project_knowledge|dotted_float }}" /><div class="clr"></div></li>
                <li><label>Требует обсуждения</label><div class="slider" id="reconcilement"></div><input type="text" readonly="readonly" name="reconcilement" value="{{ post.reconcilement|dotted_float }}" /><div class="clr"></div></li>
            </ul>
        </div>
        <label>Оценочное время <input name="planTime" type="text" value="" /> </label>

        <input type="submit" value="Сохранить" name="save" />
    </form>
    <script>
    $('.slider').each(function(){
        $(this).slider({
            min: 0,
            max: 100,
            range: "min",
            value: ($('input[name='+this.id+']').val()*100),
            slide: function( event, ui ) {
                $('input[name='+this.id+']').val(ui.value/100);
            }});
    });
    </script>
{% endblock %}