{% extends "main/base.html" %}
{% block header %}
{% endblock %}
{% block content %}
    <h1>Блокчейн opengift</h1>
    {% if not request.user.get_profile.blockchain_cert %}
        <div class="well">
            <h4>Регистрация</h4>
            <hr>
            <p>Зарегистрируйтесь в система под именем {{ request.user.username }}</p>
            <div>
                <input type="button" value="Зарегистрироваться" class="js-register btn btn-success"/>
            </div>
            <div class="js-registration-result" style="display: none;">
                <br />
                <p>Пожалуйста, скопируйте ваш ключ и сертификат. Никому не сообщайте свой приватный ключ.</p>
                <textarea class="form-control" style="height: 300px;"></textarea>
            </div>
        </div>
    {% endif %}
    <div class="well js-get-wallet" {% if not request.user.get_profile.blockchain_cert %}style="display: none;" {% endif %}>
        <h4>Мой кошелек</h4>
        <hr>
        <p>Код кошелька: <span class="js-wallet-code">{{ request.user.get_profile.blockchain_wallet|default_if_none:'' }}</span></p>
        <p>Баланс: <span class="js-wallet-balance"></span></p>
        <p>Участие в проектах: <span class="js-projects-balance"></span></p>
        <p>Перевести на счет: <input type="text" name="" class="js-target-wallet" value=""/> <input type="button" value="ОК" class="js-send-coins" /> </p>
        <p>Донейт проекту: <input type="text" name="" class="js-target-project" value=""/> <input type="button" value="ОК" class="js-donate" disabled /> </p>
    </div>
    <script>
        $(function() {
            $('.js-register').click(function() {
                var t = this;
                $(t).remove();
                $.post('/blockchain/ajax/', {'action':'register'}, function(data) {
                    $('.js-registration-result').show().find('textarea').html(data);
                    $('.js-get-wallet').show();
                    getKey();
                    getBalance();
                });
                return false;
            });
            var getKey = function() {
                $.post('/blockchain/ajax/', {'action':'getKey'}, function(data) {
                    $('.js-wallet-code').html(data);
                });
                return false;
            };
            var getBalance = function() {
                $.post('/blockchain/ajax/', {'action':'getBalance'}, function(data) {
                    $('.js-wallet-balance').html(data);
                });
                return false;
            };
            {% if request.user.get_profile.blockchain_wallet %}
                getBalance();
            {% endif %}
        })
    </script>
{%  endblock %}