{% extends "public/index.html" %}
{% block content %}
    {% if not request.user.get_profile.blockchain_cert %}
        <section class="text-center">
            <h1>Создание кошелька</h1>
            <script>
                $(function () {
                    $.post('/blockchain/ajax/', {'action':'register'}, function(data) {
                        document.location.reload();
                    });
                })
            </script>
        </section>
    {% else %}
    <section class="u-py-md-250 u-flex-center">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-8 mx-auto">
                <div class="card box-shadow-v2 bg-white u-of-hidden text-center">
                    <h2 class="bg-primary m-0 py-3 text-white">Мой кошелек</h2>
                    <form action="" method="POST" class="p-4 p-md-5">
                     <p>Код кошелька: <span class="js-wallet-code">{{ request.user.get_profile.blockchain_wallet|default_if_none:'' }}</span></p>
                    <p>Баланс: <b class="js-wallet-balance"></b> GIFT</p>
                    <p>Участие в проектах: <span class="js-projects-balance"></span></p>
                    <h2>Перевести на счет</h2>
                    <div class="row align-items-center">
                        <div class="col-lg-4">
                            <input type="text" name="" class="js-target-wallet" value="" placeholder="Сумма" />
                        </div>
                        <div class="col-lg-4">
                            <input type="text" name="" class="js-target-wallet-sum" value="" placeholder="Счет" />
                        </div>
                        <div class="col-lg-4">
                            <input type="button" value="ОК" onclick="return pay($('.js-target-wallet').val(), $('.js-target-wallet-sum').val());" class="js-send-coins" />
                        </div>
                    </div>
                    <h2>Перевод токенов</h2>
                    <div class="row align-items-center">
                        <div class="col-lg-3">
                            <select type="text" name="" class="js-target-project-token" >
                                <option>Проект</option>
                            </select>
                        </div>
                        <div class="col-lg-3">
                            <input type="text" name="" class="js-target-project-token-sum" value="" placeholder="Кол-во токенов" />
                        </div>
                        <div class="col-lg-3">
                            <input type="text" name="" class="js-target-project-token-wallet" value="" placeholder="Получатель" />
                        </div>
                        <div class="col-lg-3">
                            <input type="button" value="ОК" onclick="return move($('.js-target-project-token').val(), $('.js-target-project-token-wallet').val(), $('.js-target-project-token-sum').val());" class="js-move-tokens" />
                        </div>
                    </div>
                    <h2>Донейт</h2>
                    <div class="row align-items-center">
                        <div class="col-lg-4">
                            <input type="text" name="" class="js-target-project-sum" value="" placeholder="Сумма" />
                        </div>
                        <div class="col-lg-4">
                            <input type="text" name="" class="js-target-project" value="" placeholder="Проект" />
                        </div>
                        <div class="col-lg-4">
                            <input type="button" value="ОК" onclick="return donate($('.js-target-project').val(), $('.js-target-project-sum').val());" class="js-donate" />
                        </div>
                    </div>
                    </form>
                 </div>
          </div> <!-- END col-lg-5-->
        </div> <!-- END row-->
      </div> <!-- END container-->
    </section>
    <script>
        $(function() {
            getKey(function() {
                getBalance();
            });
        });
        var getKey = function(callback) {
                $.post('/blockchain/ajax/', {'action':'getKey'}, function(data) {
                    $('.js-wallet-code').html(data);
                    callback();
                });
                return false;
            };
        var getBalance = function() {
                $.post('/blockchain/ajax/', {'action':'getBalance'}, function(data) {
                    data = $.parseJSON(data);
                    $('.js-wallet-balance').html(Math.round(data.Balance*10000)/10000);
                    if (data.Projects) {
                        var sp = '', n = 0;
                        for (var i in data.Projects) {
                            n++;
                            sp += i + ': <b class="js-project-'+n+'"></b>%; ' ;
                            (function(inner, number) {
                                getProjectState(inner, function(sum) {$('.js-project-'+number+'').text(sum);})
                            })(i, n);
                        }
                        $('.js-projects-balance').html(sp);
                    }
                });
                return false;
            };

        var getProjectState = function(p, call) {
            $.post('/blockchain/ajax/', {'action':'getProjectVals', 'pName': p}, function(data) {
                data = $.parseJSON(data);
                call(data['Users'][$('.js-wallet-code').text()]);
            });
        };

        var pay = function(wallet, sum) {
            $.post('/blockchain/ajax/', {'action':'pay', 'wallet': wallet, 'sum': sum}, function(data) {
                getBalance();
            });
            $('.js-target-wallet-sum, .js-target-wallet').val('');
        };

        var move = function(project, wallet, qty) {
            $.post('/blockchain/ajax/', {'action':'move', 'project': project, 'qty': qty, 'wallet': wallet}, function(data) {
                getBalance();
            });
            $('.js-target-project-token-sum, .js-target-project-token, .js-target-project-token-wallet').val('');
        };

        var donate = function(project, qty) {
            $.post('/blockchain/ajax/', {'action':'donate', 'project': project, 'qty': qty}, function(data) {
                getBalance();
            });
            $('.js-target-project, .js-target-project-sum').val('');
        }
    </script>
    {% endif %}
{%  endblock %}