{% extends "public/index.html" %}

{% block content %}
    {% if not request.user.get_profile.blockchain_cert %}
        <section class="text-center">
            <h1>Создание кошелька</h1>
            <script>
                $(function () {
                    $.post('/blockchain/ajax/', {'action':'register'}, function(data) {
                        document.location.reload();
                    });
                })
            </script>
        </section>
    {% else %}
<section class="relative u-flex-center quadro-relative" style="
	background: #62bb94;
	background-image: -webkit-linear-gradient(left, #38c1d1 0%, #62bb94 100%);
	background-image: -o-linear-gradient(left, #38c1d1 0%, #62bb94 100%);
	background-image: -webkit-gradient(linear, left top, right top, from(#38c1d1), to(#62bb94));
	background-image: linear-gradient(to right, #38c1d1 0%, #62bb94 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF38c1d1', endColorstr='#FF62bb94', GradientType=1);
 ">

</section>
    <section class="u-py-md-250 u-flex-center with-waves">
        <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave wave-4"
             style="position: absolute;"><title>Wave</title>
            <defs></defs>
            <path id="feel-the-wave-four" d=""/>
        </svg>
      <div class="container" style="margin-top: -100px;">
        <div class="row align-items-center">
          <div class="col-lg-8 mx-auto">
                <div class="card box-shadow-v2 bg-white u-of-hidden text-center">
                    <div class="bg-gradient wallet-title m-0 py-3 p-md-5 u-pb-20 u-pt-25 text-white clearfix">
                        <div class="pull-left"><h2>Мой кошелек</h2></div>
                        <div class="pull-right">Баланс: <h2 class="js-wallet-balance"></h2> Gift</div>
                    </div>
                    <div class="p-4 p-md-5 bg-gray-v1 u-mb-35">
                        <form class="" action="" method="POST">
                            <div class="input-group u-rounded-50 bg-white u-of-hidden">
                                <span class="input-group-input-desc">Код кошелька:</span>
                                <input type="text" class="form-control border-0 p-3 js-wallet-code input-group-input-with-desc"
                                       value="{{ request.user.get_profile.blockchain_wallet|default_if_none:'' }}" required="">
                                <button type="submit" class="input-group-btn btn btn-primary">
                                    <span class="icon fa fa-files-o text-white"></span>&nbsp;&nbsp;Скопировать
                                </button>
                            </div>
                        </form>
                    </div>

                    <div class="p-md-5 u-pb-20 u-pt-5 u-mb-35">
                    <h5 align="left">Your projects</h5>
                        <p align="left" class="u-mb-50 js-empty-list">You don't participate in any projects,
                            <a href="/project/add/">create</a> it by yourself or <a href="/project/list/">find</a> some other one.</p>
                        <div class="js-project-list-block align-items-center u-pl-md-70 u-pr-md-70 ">
                            <div data-init="carousel" data-slick='{
				"slidesToShow":3,
				"slidesToScroll": 1,
				"infinite":false,
				"arrows":true,
				"prevArrow":"<div class=\"slick-prev box-shadow-v1\"><i class=\"fa fa-angle-left\"></i></div>",
				"nextArrow":"<div class=\"slick-next box-shadow-v1\"><i class=\"fa fa-angle-right\"></i></div>",
				"responsive": [
						{
						 "breakpoint":1024,
						 "settings":{
							"slidesToShow": 2,
							"arrows":true,
							"dots":true,
							"dotsClass":"slick-dots dots-white mt-4 text-center"
						 }
						},
						{
						 "breakpoint":600,
						 "settings":{
							"slidesToShow": 1,
							"arrows":false,
							"dots":true,
							"dotsClass":"slick-dots dots-white mt-4 text-center"
						 }
						}
					]
				}'
                                 data-slick-margin="25" class="js-project-list">



                            </div>

                        </div> <!-- END row-->
                        </div>


<div class="p-md-5 u-pb-5 u-pt-5">
    <h5 align="left">Actions</h5>
    <p align="left" class="u-mb-10">Actions that is available for your balance.</p>

    <div class="u-pb-35 u-pt-5" align="left">
        <button type="button" class="btn btn-outline-green px-4 js-open-send" disabled data-toggle="modal" data-target="#target-wallet">
            <i class="fa fa-usd" aria-hidden="true"></i>&nbsp;
            Gifts transfer
        </button>&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-outline-pulple-light px-4 js-open-send-token"  data-toggle="modal" data-target="#target-project-token">
            <i class="fa fa-eercast" aria-hidden="true"></i>&nbsp;
            Tokens transfer
        </button>
        &nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-outline-yellow px-4 js-open-donate" disabled data-toggle="modal" data-target="#target-project">
            <i class="fa fa-credit-card" aria-hidden="true"></i>&nbsp;
            Donate
        </button>
    </div>
</div>



                 </div>
          </div> <!-- END col-lg-5-->
        </div> <!-- END row-->
      </div> <!-- END container-->
    </section>
    <script>
        debug = false;
        $(function() {
            getKey(function() {
                getBalance();
            });
        });
        var getKey = function(callback) {
                $.post('/blockchain/ajax/', {'action':'getKey'}, function(data) {
                    $('.js-wallet-code').html(data);
                    callback();
                });
                return false;
            };
        var getBalance = function() {
                var cb = function(data) {
                    data = $.parseJSON(data);
                    if (data.Balance > 0) {
                        $('.js-open-send, .js-open-donate').removeAttr('disabled');
                    }
                    $('.js-wallet-balance').html(Math.round(data.Balance*10000)/10000);
                    if (data.Projects) {
                        var sp = '', n = 0;
                        for (var i in data.Projects) {
                            $('.js-empty-list').hide();
                            $('.js-project-list-block').show();
                            $('.js-open-send-token').removeAttr('disabled');
                            n++;
                            sp += i + ': <b class="js-project-' + n + '"></b>%; ';
                            var $project = $('.js-project-block').clone().show();


                            (function (inner, number, $projectElem) {
                                getProjectState(inner, function (sum) {
                                    $('.js-project-' + number + '').text(sum);
                                    $projectElem.find('.js-project-balance').text(sum);
                                    $projectElem.find('.js-project-name').html(i).end().appendTo('.js-project-list .slick-track');
                                });
                            })(i, n, $project);
                            $('.js-target-project-token').append('<option>' + i + '</option>');
                        }
                        setTimeout(function() {
                            $('.js-project-list').slick('reinit');
                            $('.js-project-list').slick('reinit');
                        }, 1000);
                    }
                };
                if (debug) {
                    cb(JSON.stringify({'Balance': 30000, 'Projects':{'Heliard':1,'Opengift':1,'Opengift1':1,'Opengift2':1}}));
                    return;
                }
                $.post('/blockchain/ajax/', {'action':'getBalance'}, cb);
                return false;
            };

        var getProjectState = function(p, call) {
            if (debug) {
                call(20);
                return;
            }

            $.post('/blockchain/ajax/', {'action':'getProjectVals', 'pName': p}, function(data) {
                data = $.parseJSON(data);
                call(data['Users'][$('.js-wallet-code').text()]);
            });
        };

        var pay = function(wallet, sum) {
            $.post('/blockchain/ajax/', {'action':'pay', 'wallet': wallet, 'sum': sum}, function(data) {
                getBalance();
            });
            $('.js-target-wallet-sum, .js-target-wallet').val('');
        };

        var move = function(project, wallet, qty) {
            $.post('/blockchain/ajax/', {'action':'move', 'project': project, 'qty': qty, 'wallet': wallet}, function(data) {
                getBalance();
            });
            $('.js-target-project-token-sum, .js-target-project-token, .js-target-project-token-wallet').val('');
        };

        var donate = function(project, qty) {
            $.post('/blockchain/ajax/', {'action':'donate', 'project': project, 'qty': qty}, function(data) {
                getBalance();
            });
            $('.js-target-project, .js-target-project-sum').val('');
        }
    </script>

<!--Перевести на счет-->
<div class="modal fade" id="target-wallet" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-green">
                <h5 class="modal-title text-white">Send GIFTS to an account</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><img src="/static/public/assets/img/cross-out.svg" width="20" height="20"> </span>
                </button>
            </div>
            <div class="modal-body">

                <div class="u-mb-15">
                    <input type="text" name="" class="js-target-wallet" value="" placeholder="Sum" />
                </div>
                <div>
                    <input type="text" name="" class="js-target-wallet-sum" value="" placeholder="Account number" />
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input type="button" value="Send" onclick="return pay($('.js-target-wallet').val(), $('.js-target-wallet-sum').val());" class="js-send-coins btn btn-primary" />
            </div>
        </div>
    </div>
</div>
<!--Перевод токенов-->
<div class="modal fade" id="target-project-token" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-purple-light">
                <h5 class="modal-title text-white">Tokens transfer</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><img src="/static/public/assets/img/cross-out.svg" width="20" height="20"> </span>
                </button>
            </div>
            <div class="modal-body">
                <div class="u-mb-15">
                    <select name="" class="js-target-project-token" value="" >
                        <option>Select the project</option>
                    </select>
                </div>
                <div class="u-mb-15">
                    <input type="text" name="" class="js-target-project-token-sum" value="" placeholder="Tokens qty" />
                </div>
                <div>
                    <input type="text" name="" class="js-target-project-token-wallet" value="" placeholder="Receiver" />
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input type="button" value="Send" onclick="return move($('.js-target-project-token').val(), $('.js-target-project-token-wallet').val(), $('.js-target-project-token-sum').val());" class="js-move-tokens  btn btn-primary" />
            </div>
        </div>
    </div>
</div>
<!--Донейт-->
<div class="modal fade" id="target-project" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-yellow">
                <h5 class="modal-title text-white">Donate</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><img src="/static/public/assets/img/cross-out.svg" width="20" height="20"> </span>
                </button>
            </div>
            <div class="modal-body">

                <div class="u-mb-15">
                    <input type="text" name="" class="js-target-project-sum" value="" placeholder="Sum" />
                </div>
                <div>
                    <input type="text" name="" class="js-target-project" value="" placeholder="Project code" />
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input type="button" value="Donate" onclick="return donate($('.js-target-project').val(), $('.js-target-project-sum').val());" class="js-donate btn btn-primary" />
            </div>
        </div>
    </div>
</div>
    <div class="rounded text-center p-md-3 js-project-block" style="display: none;">
        <div class="project-balance"><span class="js-project-balance"></span>%</div>
        <h6 class="u-mb-1"><span class="js-project-name"></span></h6>
    </div>
    {% endif %}
{%  endblock %}
