{% extends 'base.html' %}
{% block wiking_js %}
    {% include 'partials/create_page.html' %}
{% endblock %}
{% block wiking_title %}
    {% if project %}
        Википедия: {{ project.name }}
    {% else %}
        Википедия
    {% endif %}
{% endblock %}

{% block wiking_breadcrumbs %}{% endblock %}

{% block wiking_childs %}{% endblock %}

{% block wiking_content %}
    <div class="wiking-container">
        <div class="wiking-list" role="group" aria-label="root">
            {% for article in articles %}
                {% if not article.deleted %}
                    <a href="{{ article.slug }}" class="wiking-list-item">
                        <span class="wiking-list-item-title">{{ article.get_title }}</span>
                        <span class="wiking-list-item-text">Французский актёр испанского происхождения Жан Рено родился в Касабланке 30 июля 1948 года и носил в то время имя </span>
                        <span class="wiking-list-item-date-author"><span>Последний автор: Test User</span><span>Изменено: 22 июля 2015 г. 14:44:19</span><span>Версия: 7</span></span>
                    </a>
                {% endif %}
            {% endfor %}
        </div>

        {% if can_create %}
        <p align="center"><a href="" class="btn btn-success" onclick="window.create_new_page();return false;"><i class="fa fa-plus"></i>&nbsp;&nbsp;Добавить страницу</a></p>

        {% endif %}
    </div>
{% endblock %}
