{% extends 'base.html' %}

{% block wiking_title %}
    <div class="pull-left">{{ article.get_title }}</div>
    <div class="pull-right">&nbsp;&nbsp;Владелец:
        <a href="{{ article.owner.get_profile.url }}">
            {{ article.owner.first_name }} {{ article.owner.last_name }}
        </a>
    </div>
    <div class="pull-right">&nbsp;Создано: {{ article.created_at }}</div>
    <div class="clearfix"></div>
{% endblock %}

{% block wiking_breadcrumbs %}
    <ol class="breadcrumb">
        {% if project %}
            <li><a href="/wiki/project/{{ project.id }}">Главная</a></li>
        {% else %}
            <li><a href="/wiki">Главная</a></li>
        {% endif %}
        {% for bread in breadcrumbs %}
            {% if not bread.article.deleted %}
                <li><a href="{{ bread.path }}">{{ bread.article }}</a></li>
            {% endif %}
        {% endfor %}
        <li class="active">{{ article.get_title }}</li>
    </ol>
{% endblock %}

{% block wiking_childs %}
    {% if article.children.all %}
        <div class="childs">
            <div class="btn-group" role="group" aria-label="sub-articles" style="float:right">
                {% for child in article.children.all %}
                    {% if not child.deleted %}
                      <a href="{{ child.slug }}" class="btn btn-default btn-xs">{{ child }}</a>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="pull-right">Вложенные статьи:&nbsp;&nbsp;</div>
            <div class="clearfix"></div>
        </div>
    {% endif %}
{% endblock %}

{% block wiking_content %}
    <div class="wiking-content" style="padding:20px 0px">
        {{ article.get_content }}
    </div>
    {% if can_write %}
        <div class="actions pull-left">
            <a href="edit" class="btn btn-warning" style="float:left;margin-right:10px;">Редактировать статью</a>
            <form action="delete" style="float:left" method="POST">
                <input type="submit" class="btn btn-danger" value="Удалить статью"/>
            </form>
        <div class="clearfix"></div>
        </div>
    {% endif %}
    <div class="footer" style="float:right">

        <div class="author">Последний автор:
            <a href="{{ article.get_author.get_profile.url }}">
                {{ article.get_author.first_name }} {{ article.get_author.last_name }}
            </a>
        </div>
        <div class="replaced">Изменено: {{ article.head.created_at }}</div>
        <div class="version">Версия: {{ article.get_revision }}</div>
    </div>
    <div class="clearfix"></div>
{% endblock %}