{% extends "wiki/article.html" %}
{% load wiki_tags i18n %}
{% load url from future %}

{% block title %}{% trans "Edit" %}: {{ article.current_revision.title }}{% endblock %}

{% block wiki_contents_tab %}
{% if not user.is_authenticated %}
<p class="alert alert-warning">
    {% trans "<strong>Warning:</strong> You are not logged in. Your IP address will be logged." %}
    <a href="{% url 'wiki:login' %}?next={% url 'wiki:edit' article_id=article.id path=urlpath.path %}">{% trans "Click here to log in" %} &raquo;</a>
</p>
{% endif %}

  <div class="col-xs-8">
    <form method="POST" class="form-horizontal" id="article_edit_form">
      <input class="form-control" type="hidden" name="save" value="1" />
      <input class="form-control" type="hidden" name="preview" value="1" />
      {% with edit_form as form %}
        {% include "wiki/includes/editor.html" %}
      {% endwith %}
    </form>
  </div>

  <div class="col-xs-4" id="wiki-edit-sidebar">
    {% include "wiki/includes/editor_sidebar.html" %}
  </div>

<div class="clearfix"></div>

<div class="form-group form-actions">

    <a class="btn btn-default btn-large"
     href="#"
     onclick="$('#previewModal').modal('show');
                document.getElementById('article_edit_form').target='previewWindow';
                document.getElementById('article_edit_form').action='{% url 'wiki:preview' path=urlpath.path article_id=article.id %}';
                $('#article_edit_form').submit()" >
    <span class="icon-eye-open"></span>
    {% trans "Preview" %}
    </a>
    <a class="btn btn-large btn-primary"
     href="#"
     onclick="document.getElementById('article_edit_form').target='';
     document.getElementById('article_edit_form').action='{% url 'wiki:edit' path=urlpath.path article_id=article.id %}'; $('#article_edit_form').submit();" >
    <span class="icon-ok"></span>
    {% trans "Save changes" %}
    </a>

    {% if article|can_delete:user %}
        <a href="{% url 'wiki:delete' path=urlpath.path article_id=article.id %}" class="btn btn-danger btn-large pull-right">
            <span class="icon-trash"></span>
            {% trans "Delete article" %}
        </a>
    {% endif %}
</div>

{% endblock %}
{% block outspace %}

    {% include "wiki/includes/modals.html" %}

    <div class="modal custom-modal hide fade" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4>Предпросмотр</h4>
        </div>
        <div class="modal-body">
            <iframe name="previewWindow" frameborder="0"></iframe>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-default" data-dismiss="modal">
                <span class="icon-circle-arrow-left"></span>
                {% trans "Back to editor" %}
            </a>
            <a class="btn btn-primary" onclick="document.getElementById('article_edit_form').target=''; document.getElementById('article_edit_form').action='{% url 'wiki:edit' path=urlpath.path article_id=article.id %}'; document.getElementById('article_edit_form').submit();" href="#">
                <span class="icon-ok"></span>
                {% trans "Save changes" %}
            </a>
        </div>
    </div>
{% endblock %}

