<h2 class="clearfix relative line-34">Информация о доступах к серверам
    <a data-toggle="modal" data-target="#add-interface-popup" class="btn btn-success pull-right" href="#">
        <i class="fa fa-plus"></i>&nbsp;Добавить информацию о доступе
    </a>
</h2>
<hr>

<div class="js-interface-container">
    {{ interfaces|safe }}
</div>
<p>Разместите здесь доступ в административную панель или к FTP серверу сайта.</p>

<div class="modal fade js-add-interface" id="add-interface-popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" style="z-index: 100000">
    <div class="modal-dialog">
        <div class="modal-content green-popup">
            <form enctype="multipart/form-data" class="js-add-interface-form" method="POST" action="/add_interface/">
                <div class="modal-header">
                    <h2 class="modal-title" id="myModalLabel">Добавить интерфейс нам</h2>
                    <a class="fa fa-remove" data-dismiss="modal"></a>

                </div>
                <div class="modal-body clearfix">
                    <input type="hidden" name="pid" value="{{ project.id }}" />
                    <div class="modal-body-item clearfix">
                        <div class="modal-body-item-left">Название</div>
                        <div class="modal-body-item-right">
                            <input type="text" value="" name="name" placeholder="Введите название..." class="form-control js-add-interface-input">
                        </div>
                    </div>
                    <div class="modal-body-item clearfix">
                        <div class="modal-body-item-left">Протокол</div>
                        <div class="modal-body-item-right">
                            <select class="form-control" name="protocol">
                                <option value="http">http://</option>
                                <option value="ssh">ssh://</option>
                                <option value="ftp">ftp://</option>
                                <option value="rdp">rdp://</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-body-item clearfix">
                        <div class="modal-body-item-left">Адрес</div>
                        <div class="modal-body-item-right">
                            <input type="text" value="" name="address" placeholder="Введите адрес..." class="form-control js-add-interface-input"/>
                        </div>
                    </div>
                    <div class="modal-body-item clearfix">
                        <div class="modal-body-item-left">Имя пользователя</div>
                        <div class="modal-body-item-right">
                            <input type="text" value="" name="username" placeholder="Введите имя пользователя..." class="form-control js-add-interface-input">
                        </div>
                    </div>
                    <div class="modal-body-item clearfix">
                        <div class="modal-body-item-left">Пароль</div>
                        <div class="modal-body-item-right">
                            <input type="password" value="" name="password" placeholder="Введите пароль..." class="form-control js-add-interface-input">                    </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-success js-project-submit" value="Добавить"/>
                    <button data-dismiss="modal" class="btn btn-danger" type="button">Закрыть</button>
                </div>
            </form>
        </div>
    </div>
</div>