{% load floattags compressed %}
{% compressed_js 'project_edit' %}
{% if project_edit.need_payment %}
    <form action="{{ project_edit.form.target }}"
          method="POST" name="robo">
        {{ project_edit.form.as_p }}
    </form>
    <div class="promo_payment">
        <h4><i class="fa fa-diamond"></i>Premium аккаунт Heliard</h4>

        <p align="center"><b>С Premium аккаунтом вы можете:</b></p>
        <ul>
            <li><i class="fa fa-folder"></i>Создавать и вести любое количество своих собственных проектов</li>
            <li><i class="fa fa-user-plus"></i>Приглашать людей в проекты и распределять их роли в них</li>
            <li><i class="fa fa-paper-plane"></i>Видеть и получать на почту ежедневные отчеты по своим проектам</li>
            <li><i class="fa fa-file-text-o"></i>Вести собственную Wiki по своим проектам</li>
            <li><i class="fa fa-star"></i>Определять для сотрудников ставки, бонусы и награды за потраченное время</li>
        </ul>
        <p class="price" align="center"><span>900 руб.</span> / месяц <br>
            <button class="btn btn-success btn-large" onclick="document.robo.submit()">Получить Premium</button>
        </p>
        <div class="payment-logos">
            <a class="visa" href="#"></a>
            <a class="master" href="#"></a>
            <a class="am" href="#"></a>
            <a class="jcb" href="#"></a>
            <a class="dinners" href="#"></a>
            <a class="webmoney" href="#"></a>
            <a class="yandex" href="#"></a>
            <a class="qiwi" href="#"></a>
        </div>

    </div>
{% else %}
    <div class="widget inner clearfix">
        <div class="widget-title">Добавление проекта</div><br />
        <form method="post" class="profile-edit form-horizontal" enctype="multipart/form-data">
            {% for field in project_edit.form %}
                {% if field.name == 'author' or field.name == 'tracker' or field.name == 'repository' %}
                {% else %}
                    {% if field.name == 'closed' %}
                        <div class="row show-grid">
                            <div class="col-xs-2"></div>
                            <div class="col-xs-6"><label class="control-label">{{ field }}&nbsp;<span
                                    style="top:2px;display:inline-block;position:relative;">{{ field.label_tag }}</span></label>
                            </div>
                            <div class="col-xs-4">{{ field.errors }}</div>
                        </div>
                    {% else %}
                        <div class="row show-grid">
                            <div class="col-xs-2"><label class="col-xs-2 control-label">{{ field.label_tag }}</label>
                            </div>
                            <div class="col-xs-6">{{ field }}</div>
                            <div class="col-xs-4">{{ field.errors }}</div>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <div class="row show-grid">
            </div>
            <div class="row show-grid">
                <div class="col-xs-2"></div>
                <div class="col-xs-6">
                    <input type="submit" value="Сохранить" class="btn btn-success js-submit">
                </div>
            </div>
        </form>
    </div>
    {% if project_edit.use_git %}
        {% if project_edit.is_new or not project_edit.form.repository.value %}
            <script>
                $(document).ready(function () {
                    var timerCheckFields = false;
                    $('.js-repository').click(function (ev) {
                        if (!$(this).prop('checked')) {
                            $('.js-repository-value').val('');
                            $('.js-hiddable').hide();
                        } else {
                            $('.js-hiddable').show();
                            $('.js-repository-value').val(transliterate($('#id_name').val())).focus();
                        }
                        checkFields();
                    });

                    $('#id_name').keyup(function () {
                        var projectName = $(this).val();
                        var repoName = transliterate(projectName);
                        if (in_sync) {
                            $('.js-repository-value').val(repoName);
                            unmarkRepName();
                            setCheckFieldsTimer();
                        }

                    });

                    function unmarkRepName() {
                        $('.js-repository-value').next('i').removeClass('fa-check-circle').removeClass('fa-exclamation-circle').removeClass('fa-spinner').removeClass('fa-spin').css('color', 'black');
                    }

                    function markSuccessRepName() {
                        $('.js-repository-value').next('i').addClass('fa-check-circle').removeClass('fa-exclamation-circle').removeClass('fa-spinner').removeClass('fa-spin').css('color', 'green');
                    }

                    function markErrorRepName() {
                        $('.js-repository-value').next('i').removeClass('fa-check-circle').addClass('fa-exclamation-circle').removeClass('fa-spinner').removeClass('fa-spin').css('color', 'red');
                    }

                    function enableSubmit() {
                        $('.js-submit').removeAttr('disabled');
                    }

                    function disableSubmit() {
                        $('.js-submit').attr('disabled', 'disabled');
                    }

                    function setCheckFieldsTimer() {
                        if (timerCheckFields) {
                            clearTimeout(timerCheckFields);
                        }
                        timerCheckFields = setTimeout(checkFields, 700);
                    }

                    function checkFields() {
                        var projectName = $('#id_name').val();
                        var isRepo = $('.js-repository').prop('checked'),
                            $repoVal = $('.js-repository-value');
                        if (!isRepo) {
                            $repoVal.val('');
                            enableSubmit();
                            unmarkRepName();
                            return;
                        }
                        if (in_sync) {
                            var repoName = transliterate($('.js-repository-value').val()) || transliterate(projectName);
                        }
                        else {
                            var repoName = transliterate($('.js-repository-value').val());
                        }
                        $repoVal.val(repoName)
                                .next('i').addClass('fa-spinner').addClass('fa-spin');

                        $.post('/project/edit/check_repository_name', {'repoName': repoName }, function (response) {
                            if (response == "OK") {
                                markSuccessRepName();
                                enableSubmit();
                            }
                            else if (response == "ERROR") {
                                markErrorRepName();
                                disableSubmit();
                            }
                            else {
                                $('.js-repository-value').val(response);
                                markSuccessRepName();
                                enableSubmit();
                            }
                        });
                    }

                    disableSubmit();

                    $('#id_name').change(function () {
                        unmarkRepName();
                    }).blur(checkFields);

                    var in_sync = true;
                    $('.js-repository-value').focus(function () {
                        if ($(this).val() == transliterate($('#id_name').val())) {
                            in_sync = true;
                        } else {
                            in_sync = false;
                        }
                    }).keyup(function () {
                        setCheckFieldsTimer();
                        if ($(this).val() == transliterate($('#id_name').val())) {
                            in_sync = true;
                        } else {
                            in_sync = false;
                        }
                    }).blur(function (ev) {
                        checkFields();
                    });
                    checkFields();
                });
            </script>
        {% endif %}
    {% endif %}
{% endif %}