{% load floattags compressed %}
{% compressed_js 'project_edit' %}
<div class="widget inner clearfix">
    <div class="widget-title"><h2>Добавление проекта</h2></div><br />
    <form method="post" class="profile-edit form-horizontal" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in project_edit.form %}
            {% if field.name == 'author' or field.name == 'tracker' or field.name == 'repository' %}
            {% else %}
                {% if field.name == 'closed' %}
                    <div class="row show-grid">
                        <div class="col-xs-2"></div>
                        <div class="col-xs-6"><label class="control-label">{{ field }}&nbsp;<span
                                style="top:2px;display:inline-block;position:relative;">{{ field.label_tag }}</span></label>
                        </div>
                        <div class="col-xs-4">{{ field.errors }}</div>
                    </div>
                {% else %}
                    <div class="row show-grid">
                        <div class="col-xs-2"><label class="col-xs-2 control-label">{{ field.label_tag }}</label>
                        </div>
                        <div class="col-xs-6">{{ field }}</div>
                        <div class="col-xs-4">{{ field.errors }}</div>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
        <div class="row show-grid">
        </div>
        <div class="row show-grid">
            <div class="col-xs-2"></div>
            <div class="col-xs-6">
                <input type="submit" value="Сохранить" class="btn btn-success js-submit">
            </div>
        </div>
    </form>
</div>