<div class="task js-task-wrapper task-wrapper-kanban" rel="{{ id }}">
    <div class="task-card js-task-card js_task_responsibles message-info">
        <div class="task-status {{ status }} js-task-status" rel="{{ status }}"></div>
        <div class="name">
            <a href="{{ url }}" onclick="window.location.href='{{ url }}'; return false;" class="js-task-name">
                {{ name }}
            </a>
        </div>
        <div class="executor js-task-executor dropdown" rel="{{ executor_id }}">
            <a data-toggle="dropdown" class="js-select_resp">
                <div class="avatar_container js-avatar-container"
                     rel='{{ executor }}'>
                    <i class="fa fa-share"></i>
                </div>
            </a>
        </div>
        <div class="properties-icon">
            <a class="btn_manage dropdown-toggle js-task_menu">
                <span class="fa fa-gear" title="Действия" style="font-size: 20px"></span>
            </a>
        </div>
    </div>
</div>