{% load jsonify %}
{% if kanban.error %}
    <div class="kanban">
        <div class="widget inner">
            <div class="project-row js-project-row">
                <div class="project-header js-project-header">
                    <div class="widget-title clearfix">
                        Необходимо выбрать проект
                    </div>
                </div>
            </div>
        </div>
    </div>
{% else %}
    {% block stylesheets %}
        <link rel="stylesheet" href="/static/css/external/chosen.css"/>
        <style>
            {% for status in kanban.statuses %}
            .kanban .project-row .tasks-{{ status.code }},
            .kanban .project-row-headers .tasks-{{ status.code }}{
                display: inline-block;
                float: left;
                width: 31%;
                height: 100%;
                margin: 0 1%;
                left: {% multiply forloop.counter0 kanban.status_width %}%;
            }
            {% endfor %}
            .kanban .project-row .tasks-revision,
             .kanban .project-row-headers .tasks-revision {
                width: 32%;
             }
             .kanban .project-row .tasks-column.tasks-ready{
                margin-left: 2%;
                margin-right: 0;
             }
        </style>
    {% endblock %}
    {% block scripts %}
        <script src="/static/js/libs/jquery-ui.custom.min.js"></script>
        <script src="/static/js/libs/chosen.jquery.min.js"></script>
        <script src="/static/js/pm/kanban.js"></script>
    {% endblock %}

<div class="widget inner">
    <div id="project_3" class="project-row js-project-row">
        <div class="project-header js-project-header" style="">
            <div class="widget-title clearfix">
                Heliant.dev
            </div>

            <style>
                .widget-body-column-wrapper {margin: 0 -1%;}
                .widget-body-column {float: left; width: 31.33%; margin: 0 1%;}
                @media (max-width:838px) {
                    .widget-body-column {float: none; width: 98%; margin: 0 1% 20px;}
                }
                .widget-body-column-title {
                    color: #fff;
                    font-size: 14px;
                    font-weight: bold;
                    padding-bottom: 8px;
                    padding-top: 8px;
                    text-align: center;
                }
                .widget-body-column.ready .widget-body-column-title {
                    background: none repeat scroll 0 0 #e9fde9;
                    border-bottom: 2px solid #47a447;
                    /*border-bottom: 2px solid #d3f5d3;*/
                    color: #47a447;
                }
                .widget-body-column.revision .widget-body-column-title {
                    background: none repeat scroll 0 0 #ffe8fe;
                    border-bottom: 2px solid #ac05a6;
                    /*border-bottom: 2px solid #f1daf0;*/
                    color: #ac05a6;
                }
                .widget-body-column.approved .widget-body-column-title {
                    background: none repeat scroll 0 0 #f2f2f2;
                    border-bottom: 2px solid #999;
                    /*border-bottom: 2px solid #ddd;*/
                    color: #999;
                }

                .task-card {
                    display: block;
                    min-height: 75px;
                    overflow: hidden;
                    position:relative;
                    padding: 5px 0;
                    margin:15px 0 0;
                    background: #f4f4f4;
                    box-shadow:1px 2px 1px rgba(1, 1, 1, 0.15);
                    -moz-box-shadow:1px 2px 1px rgba(1, 1, 1, 0.15);
                    -webkit-box-shadow:1px 2px 1px rgba(1, 1, 1, 0.15);
                }
                .task-card .message-info {padding: 10px 60px 0 20px; line-height: 30px;}
                .task-card .name {
                    border-top: 1px solid rgba(1, 1, 1, 0.08);
                    font-size: 14px;
                    line-height: 24px;
                    margin-left: 20px;
                    margin-top: 8px;
                    overflow: hidden;
                    padding: 6px 0 10px;
                    margin-right: 20px;
                }
                .widget-body-column.approved .task-card {border-left:2px solid #999999;}
                .widget-body-column.revision .task-card {border-left:2px solid #ac05a6;}
                .widget-body-column.ready .task-card {border-left:2px solid #47a447;}

                .task-card .name a {color: #333;}
                .task-card .name a:hover {color:#47a447;}

                .task-card .executor {
                    float: left;
                    margin-right: 10px;
                    width: 30px;
                }


                .task-card .properties-icon {
                    position: absolute;
                    right: 15px;
                    top: 15px;
                    color:#aaa;
                }

                .task-card .properties-icon:hover {
                    color: #999;
                    cursor: pointer;
                }

                .task-card .properties-icon:active {
                    color: white;
                    cursor: default;
                }
                .task-status {
                    width: 2px;
                    position:absolute;
                    height:100px;
                    top:0px;
                    left:0px;
                    background: #ffa500;
                    padding: 0;
                    margin: 0;
                }
                .task-status.revision {background:#ac05a6;}
                .task-status.ready {background:#47a447;}
                .task-status.not_approved {background:#999;}
                .task-status.overdue {background:#c00f00;}
            </style>

            <div class="widget-body widget-body-column-wrapper clearfix">

                <select class="js-user_source" multiple
                        style="width:100%" data-placeholder="Выберите пользователей">
                    {% for user in project.user_source %}
                    <option value="{{ user.id }}">{{ user.get_full_name }}</option>
                    {% endfor %}
                </select>

                <div class="widget-body-column approved">
                    <div class="widget-body-column-title">Не подтверждена</div>
                    <div class="task-card">
                        <div class="message-info">
                            <div rel="14" class="executor js-task-executor dropdown">
                                <a class="js-select_resp" data-toggle="dropdown">
                                    <div rel="" class="avatar_container js-avatar-container"><div style="width:30px; height:30px"><code style="background-color: transparent;padding: 0;"><svg viewBox="0 0 90 90"><title>UT</title><rect style="fill: #eedc82" height="90" width="90" y="0" x="0" ry="4" rx="4"/><g style="font-weight: bold; font-size: 67px;"><defs><mask id="textMask1451090"><text y="72" x="6" style="fill:white;">UT</text></mask><filter height="140%" width="140%" y="-20%" x="-20%" id="innerShadow1451090"><feGaussianBlur result="blur" stdDeviation="3" in="SourceGraphic"/><feOffset dy="2.5" dx="2.5" in="blur"/></filter></defs><g mask="url(#textMask1451090)"><rect style="fill:black" height="90" width="90" y="0" x="0"/><text y="72" x="6" style="fill: #eedc82; filter: url(#innerShadow1451090)">UT</text></g></g></svg></code></div></div>
                                </a>
                            </div>
                            <div class="message-info-time-name-wrapper">
                                <a class="message-info-name" href="/user_detail/?id=1">Маслов Егор</a>
                            </div>
                        </div>
                        <div class="name">
                            <a class="js-task-name" onclick="window.location.href='/task_detail/?number=2&amp;project=5'; return false;" href="/task_detail/?number=2&amp;project=5">
                                Нажми на "сохранить фильтр" несколько раз - это первый косяк, а потом попробуй поудалять фильтры - это второй
                            </a>
                        </div>
                        <div class="properties-icon">
                            <a class="btn_manage dropdown-toggle js-task_menu">
                                <span style="font-size: 20px" title="Действия" class="fa fa-gear"></span>
                            </a>
                        </div>
                    </div>
                    <div class="task-card">
                        <div class="message-info">
                            <div rel="14" class="executor js-task-executor dropdown">
                                <a class="js-select_resp" data-toggle="dropdown">
                                    <div rel="" class="avatar_container js-avatar-container"><div style="width:30px; height:30px"><code style="background-color: transparent;padding: 0;"><svg viewBox="0 0 90 90"><title>UT</title><rect style="fill: #eedc82" height="90" width="90" y="0" x="0" ry="4" rx="4"/><g style="font-weight: bold; font-size: 67px;"><defs><mask id="textMask1451090"><text y="72" x="6" style="fill:white;">UT</text></mask><filter height="140%" width="140%" y="-20%" x="-20%" id="innerShadow1451090"><feGaussianBlur result="blur" stdDeviation="3" in="SourceGraphic"/><feOffset dy="2.5" dx="2.5" in="blur"/></filter></defs><g mask="url(#textMask1451090)"><rect style="fill:black" height="90" width="90" y="0" x="0"/><text y="72" x="6" style="fill: #eedc82; filter: url(#innerShadow1451090)">UT</text></g></g></svg></code></div></div>
                                </a>
                            </div>
                            <div class="message-info-time-name-wrapper">
                                <a class="message-info-name" href="/user_detail/?id=1">Маслов Егор</a>
                            </div>
                        </div>
                        <div class="name">
                            <a class="js-task-name" onclick="window.location.href='/task_detail/?number=2&amp;project=5'; return false;" href="/task_detail/?number=2&amp;project=5">
                                Поправить скрипт перетягивания задач
                            </a>
                        </div>
                        <div class="properties-icon">
                            <a class="btn_manage dropdown-toggle js-task_menu">
                                <span style="font-size: 20px" title="Действия" class="fa fa-gear"></span>
                            </a>
                        </div>
                    </div>

                </div><!---->


                <div class="widget-body-column revision">
                    <div class="widget-body-column-title">На доработку</div>
                    <div class="task-card">
                        <div class="message-info">
                            <div rel="14" class="executor js-task-executor dropdown">
                                <a class="js-select_resp" data-toggle="dropdown">
                                    <div rel="" class="avatar_container js-avatar-container"><div style="width:30px; height:30px"><code style="background-color: transparent;padding: 0;"><svg viewBox="0 0 90 90"><title>UT</title><rect style="fill: #eedc82" height="90" width="90" y="0" x="0" ry="4" rx="4"/><g style="font-weight: bold; font-size: 67px;"><defs><mask id="textMask1451090"><text y="72" x="6" style="fill:white;">UT</text></mask><filter height="140%" width="140%" y="-20%" x="-20%" id="innerShadow1451090"><feGaussianBlur result="blur" stdDeviation="3" in="SourceGraphic"/><feOffset dy="2.5" dx="2.5" in="blur"/></filter></defs><g mask="url(#textMask1451090)"><rect style="fill:black" height="90" width="90" y="0" x="0"/><text y="72" x="6" style="fill: #eedc82; filter: url(#innerShadow1451090)">UT</text></g></g></svg></code></div></div>
                                </a>
                            </div>
                            <div class="message-info-time-name-wrapper">
                                <a class="message-info-name" href="/user_detail/?id=1">Маслов Егор</a>
                            </div>
                        </div>
                        <div class="name">
                            <a class="js-task-name" onclick="window.location.href='/task_detail/?number=2&amp;project=5'; return false;" href="/task_detail/?number=2&amp;project=5">
                                Выстроить виджеты "Задачи" и "Лента событий" по горизонтали
                            </a>
                        </div>
                        <div class="properties-icon">
                            <a class="btn_manage dropdown-toggle js-task_menu">
                                <span style="font-size: 20px" title="Действия" class="fa fa-gear"></span>
                            </a>
                        </div>
                    </div>
                    <div class="task-card">
                        <div class="message-info">
                            <div rel="14" class="executor js-task-executor dropdown">
                                <a class="js-select_resp" data-toggle="dropdown">
                                    <div rel="" class="avatar_container js-avatar-container"><div style="width:30px; height:30px"><code style="background-color: transparent;padding: 0;"><svg viewBox="0 0 90 90"><title>UT</title><rect style="fill: #eedc82" height="90" width="90" y="0" x="0" ry="4" rx="4"/><g style="font-weight: bold; font-size: 67px;"><defs><mask id="textMask1451090"><text y="72" x="6" style="fill:white;">UT</text></mask><filter height="140%" width="140%" y="-20%" x="-20%" id="innerShadow1451090"><feGaussianBlur result="blur" stdDeviation="3" in="SourceGraphic"/><feOffset dy="2.5" dx="2.5" in="blur"/></filter></defs><g mask="url(#textMask1451090)"><rect style="fill:black" height="90" width="90" y="0" x="0"/><text y="72" x="6" style="fill: #eedc82; filter: url(#innerShadow1451090)">UT</text></g></g></svg></code></div></div>
                                </a>
                            </div>
                            <div class="message-info-time-name-wrapper">
                                <a class="message-info-name" href="/user_detail/?id=1">Маслов Егор</a>
                            </div>
                        </div>
                        <div class="name">
                            <a class="js-task-name" onclick="window.location.href='/task_detail/?number=2&amp;project=5'; return false;" href="/task_detail/?number=2&amp;project=5">
                                Сделать дизайн карточек как тут примерно
                            </a>
                        </div>
                        <div class="properties-icon">
                            <a class="btn_manage dropdown-toggle js-task_menu">
                                <span style="font-size: 20px" title="Действия" class="fa fa-gear"></span>
                            </a>
                        </div>
                    </div>

                </div><!--widget-body-column-->


                <div class="widget-body-column ready">
                    <div class="widget-body-column-title">На проверку</div>
                    <div class="task-card">
                        <div class="message-info">
                            <div rel="14" class="executor js-task-executor dropdown">
                                <a class="js-select_resp" data-toggle="dropdown">
                                    <div rel="" class="avatar_container js-avatar-container"><div style="width:30px; height:30px"><code style="background-color: transparent;padding: 0;"><svg viewBox="0 0 90 90"><title>UT</title><rect style="fill: #eedc82" height="90" width="90" y="0" x="0" ry="4" rx="4"/><g style="font-weight: bold; font-size: 67px;"><defs><mask id="textMask1451090"><text y="72" x="6" style="fill:white;">UT</text></mask><filter height="140%" width="140%" y="-20%" x="-20%" id="innerShadow1451090"><feGaussianBlur result="blur" stdDeviation="3" in="SourceGraphic"/><feOffset dy="2.5" dx="2.5" in="blur"/></filter></defs><g mask="url(#textMask1451090)"><rect style="fill:black" height="90" width="90" y="0" x="0"/><text y="72" x="6" style="fill: #eedc82; filter: url(#innerShadow1451090)">UT</text></g></g></svg></code></div></div>
                                </a>
                            </div>
                            <div class="message-info-time-name-wrapper">
                                <a class="message-info-name" href="/user_detail/?id=1">Маслов Егор</a>
                            </div>
                        </div>
                        <div class="name">
                            <a class="js-task-name" onclick="window.location.href='/task_detail/?number=2&amp;project=5'; return false;" href="/task_detail/?number=2&amp;project=5">
                                На детальной странице критичных задач шапку задачи как-то подсветить и показать что критичная
                            </a>
                        </div>
                        <div class="properties-icon">
                            <a class="btn_manage dropdown-toggle js-task_menu">
                                <span style="font-size: 20px" title="Действия" class="fa fa-gear"></span>
                            </a>
                        </div>
                    </div>
                    <div class="task-card">
                        <div class="message-info">
                            <div rel="14" class="executor js-task-executor dropdown">
                                <a class="js-select_resp" data-toggle="dropdown">
                                    <div rel="" class="avatar_container js-avatar-container"><div style="width:30px; height:30px"><code style="background-color: transparent;padding: 0;"><svg viewBox="0 0 90 90"><title>UT</title><rect style="fill: #eedc82" height="90" width="90" y="0" x="0" ry="4" rx="4"/><g style="font-weight: bold; font-size: 67px;"><defs><mask id="textMask1451090"><text y="72" x="6" style="fill:white;">UT</text></mask><filter height="140%" width="140%" y="-20%" x="-20%" id="innerShadow1451090"><feGaussianBlur result="blur" stdDeviation="3" in="SourceGraphic"/><feOffset dy="2.5" dx="2.5" in="blur"/></filter></defs><g mask="url(#textMask1451090)"><rect style="fill:black" height="90" width="90" y="0" x="0"/><text y="72" x="6" style="fill: #eedc82; filter: url(#innerShadow1451090)">UT</text></g></g></svg></code></div></div>
                                </a>
                            </div>
                            <div class="message-info-time-name-wrapper">
                                <a class="message-info-name" href="/user_detail/?id=1">Маслов Егор</a>
                            </div>
                        </div>
                        <div class="name">
                            <a class="js-task-name" onclick="window.location.href='/task_detail/?number=2&amp;project=5'; return false;" href="/task_detail/?number=2&amp;project=5">
                                Длинные списки ответственных
                            </a>
                        </div>
                        <div class="properties-icon">
                            <a class="btn_manage dropdown-toggle js-task_menu">
                                <span style="font-size: 20px" title="Действия" class="fa fa-gear"></span>
                            </a>
                        </div>
                    </div>

                </div><!--widget-body-column-->
            </div>

        </div>

    </div>
</div>

    <div class="kanban">
        {% for project in kanban.projects_data %}
        <div class="widget inner">
             <div class="project-row js-project-row" id="project_{{ project.project.id }}">
                <div class="project-header js-project-header">
                    <div class="widget-title clearfix">
                        {{ project.project.name }}
                    </div>
                    <div>
                        <select class="js-user_source" multiple
                                style="width:100%" data-placeholder="Выберите пользователей">
                        {% for user in project.user_source %}
                            <option value="{{ user.id }}">{{ user.get_full_name }}</option>
                        {% endfor %}
                        </select>
        
                    </div>
        
                    <div class="project-row-headers">
                        {% for status in kanban.statuses %}
                            <div class="tasks-header tasks-{{ status.code }}">{{ status.name }}</div>
                        {% endfor %}
                        <div class="clearfix"></div>
                    </div>
                </div>
            <div class="tasks-wrapper js-tasks-wrapper" rel="{{ project.project.id }}">
                    {% for status in kanban.statuses %}
                        <div class="tasks-column task-droppable js-tasks-column js-task-droppable tasks-{{ status.code }} js-tasks-{{ status.code }}" rel="{{ status.code }}"></div>
                    {% endfor %}
                    {% for task_data in project.tasks %}
                        {% show_micro_task task_data.task %}
                    {% endfor %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        {% endfor %}
    </div>


    <script>
    (function( $ ) {
        $.JSONstorage = function(key, value) {
            var STORAGE_PREFIX = 'hl_kb_'
            if (typeof value === "undefined") {
                val = window.localStorage.getItem(STORAGE_PREFIX + key);
                if (val == null) {
                    return [];
                }
                try {
                    val = JSON.parse(val);
                    return val;
                }
                catch(e) {
                    return [];
                }
            }
            else {
                window.localStorage.setItem(STORAGE_PREFIX + key, JSON.stringify(value));
                return value;
            }
        }
    })(jQuery);
    var taskRespSummary = {};
    {% for project in kanban.projects_data %}
        {% for task_data in project.tasks %}
            taskRespSummary['{{task_data.task.id}}'] = {{ task_data.responsibleList|jsonify|safe }};
        {% endfor %}
    {% endfor %}
        $(document).ready(function(){
            // filtering tasks

            var kanbanTaskViewClass;
            kanbanTaskViewClass = window.taskViewClass.extend({
                showResponsibleArrow : function(userList){
                    userList.find('.add-user-popup-top-arrow').hide();
                },
                responsibleSuccess: function(){
                    if(this.model.get('resp')) {
                        var resp = this.model.get('resp')[0];
                        this.model.set('responsible', resp.id);
                        this.model.set('avatar', JSON.stringify(resp.avatar));
                        if(this.model.get('status') !== this.options.task.status) {
                            this.options.task.setStatus(this.model.get('status'));
                        }else {
                            this.options.task.completeMove();        
                            this.options.task.update();
                        }
                    }else {
                        this.options.task.failMove();
                    }
                    
                },
                responsibleFailure: function(){
                    this.options.task.failMove();
                },
                responsibleMenuPosition: function(userList) {
                    var mLeft = userList.width() / -2;
                    var mTop = userList.height() / -2;
                    userList.css({
                        'position' : 'fixed',
                        'top': '50%',
                        'left': '50%',
                        'margin-left': mLeft + 'px',
                        'margin-top': mTop + 'px'
                    })
                },
                render: function() {
                    this.$el.find('.js-task-name').html(this.model.get('name'));
                    // todo remove hardcode and replace with statuses from db
                    this.$el.find('.js-task-status').attr('rel',this.model.get('status')).removeClass('not_approved revision ready').addClass(this.model.get('status'));
                    this.$el.find('.js-task-executor').attr('rel',this.model.get('responsible'));
                    var avatar = this.$el.find('.js-avatar-container');
                    avatar.attr('rel',this.model.get('avatar'));
                    $.updateAvatar(avatar, { size: 30 });
                }
            });
            var kanbans = $('.js-tasks-wrapper').on('kanban:taskadd', function(widget, task){
                var executor = task.el.find('.executor').attr('rel');
                var status = task.el.find('.js-task-status').attr('rel');
                if(!status) {
                    task.el.find('.js-task-status').addClass('not_approved').attr('rel', 'not_approved');
                    status = 'not_approved';
                }
                var id = task.el.attr('rel');
                var taskName = task.el.find('.js-task-name').text();
                var model = new taskClass({
                        id: id,
                        responsible: executor,
                        status: status,
                        avatar: "",
                        name: taskName
                    });
                var view = new kanbanTaskViewClass({
                    model: model,
                    el: task.el,
                    task: task
                });

                $.extend(task, {
                    status: model.get('status'),
                    model: model,
                    responsible: model.get('responsible'),
                    storage: $.JSONstorage,
                    view: view,
                    update: function(){
                        this.status = this.model.get('status');
                        this.responsible = this.model.get('responsible');
                        this.id = this.model.get('id');
                    },
                    render: function(){
                        this.view.render();
                        if (this.el.hasClass('filtered')) {
                            this.el.hide('fast');
                        }else if(!this.el.hasClass('invalid')) {
                            this.el.show('fast');
                        }
                    }
                });
            }).on('kanban:ondrop', function(event, data){
                var task = data.task;
                var drop = data.drop;
                if(task.status === drop.status) {
                    task.completeMove();
                    //no need to render or update
                    return false;
                }
                if(task.status === 'not_approved' && drop.status === 'ready') {
                    task.failMove();
                    return false;
                }
                if(task.status === 'not_approved' && !task.responsible && drop.status === 'revision') {
                    task.view.showResponsibleMenu();
                    return false;
                }
                task.completeMove();
                task.view.render();

            }).on('kanban:onstatuschange', function(event, task){
                task.model.set('status', task.status);
                taskManager.SetTaskProperty(task.id, 'status', task.status, function(){
                    task.render();
                })
            }).kanban();
            $('.js-user_source').on("chosen:ready", function(){
                var id = $(this).parents('.js-project-row').attr('id');
                $(this).css('z-index', 999);
                $(this).parents('.js-project-header').css('z-index', 999);
                var val = $.JSONstorage('filter_' + id);
                $(this).val(val).trigger("chosen:updated");
            }).chosen({
                no_results_text: "Пользователь не найден",
                width: "100%"
            }).change(function(event){
                var $row = $(this).parents('.js-project-row'); 
                var id = $row.attr('id');
                var val = $.JSONstorage('filter_' + id,$(this).val());
                $row.find('.js-task-wrapper').each(function(index, el){
                    var $el = $(el);
                    var executor = $el.find('.js-task-executor').attr('rel');
                    if(val && $.inArray(executor, val) === -1) {
                        $el.addClass('filtered');
                    }else{
                        $el.removeClass('filtered');
                    }
                });
                $row.find('.js-tasks-wrapper').kanban('update');
            }).trigger("change");
             $(".js-task_menu").click(function(){
                var taskEL = $(this).parents('.js-task-wrapper');
                var task = $(this).parents('.js-tasks-wrapper').kanban('getTask', taskEL);
                if(!task) { return false; }
                if ($('#myModalLabel').length > 0) {
                    return false;
                }
                $.get('/task_edit/?modal=1&id=' + task.id, function(response){
                    if(response !== 'error') {
                        $('body').prepend(response);
                        $('#myModalLabel').html('Изменение задачи');
                        $('#save_button').removeAttr('onclick').click(function(e){
                            e.stopPropagation();
                            var form = $(this).parents('form[name="task_form"]');
                            var data = form.serializeArray();
                            var url = form.attr('action');
                            var id = form.attr('rel');
                            $.post(url, data, function(){
                                $('#modal').modal('hide');
                            });
                            return false;
                        });
                    }
                });
            });

            baseConnector.addListener('fs.task.update',function(data){
                if (data && data.id){
                    taskEl = $('.js-task-wrapper[rel="' + data.id + '"]');
                    task = taskEl.parents('.js-tasks-wrapper').kanban('getTask', taskEl);
                    if (data.closed) {
                        taskEl.addClass('invalid').hide();
                        task.render();
                    }
                    if (data.status) {
                        task.model.set('status', data.status);
                        task.setStatus(data.status);
                    }
                    if (data.resp) {
                        task.model.set('responsible', resp.id);
                        task.model.set('avatar', JSON.stringify(resp.avatar));

                    }
                    task.update();
                    task.render();
                }
            });
        })
    </script>
{% endif %}