{% load jsonify compressed %}
{% if kanban.error %}
    <div class="kanban">
        <div class="widget inner">
            <div class="project-row js-project-row">
                <div class="project-header js-project-header">
                    <div class="widget-title clearfix">
                        Необходимо выбрать проект
                    </div>
                </div>
            </div>
        </div>
    </div>
{% elif not kanban.projects_data %}
    <div class="kanban">
        <div class="widget inner">
            <div class="project-header js-project-header">
            <div class="project-header js-project-header">
                <div class="widget-title clearfix">
                    {% if kanban.current_project %}
                        {{ kanban.current_project }}
                    {% else %}
                        Все проекты
                    {% endif %}
                </div>
            </div>
            <p style="width: 100%; text-align: center;">У вас пока нет ни одной задачи</p>
        </div>
    </div>
{% else %}
    {% block stylesheets %}
        <link rel="stylesheet" href="/static/css/external/chosen.css"/>
    {% endblock %}
    {% block scripts %}
        {% compressed_js 'kanban' %}
    {% endblock %}
    <div class="kanban">
        {% for project in kanban.projects_data %}
            <style type="text/css">
                .tasks-column, .tasks-header {
                    width: {{ project.status_width }}%;
                }

                .kanban .project-row .tasks-revision,
                .kanban .project-row-headers .tasks-revision {
                    width: {{ project.status_width }}%;
                }

                .kanban .project-row .tasks-column.tasks-ready {
                    margin-right: 0;
                }
            </style>
            <div class="widget inner">
                <div class="project-row js-project-row" id="project_{{ project.id }}" data-project="{{ project.id }}">
                    <div class="project-header js-project-header">
                        <div class="widget-title clearfix">
                            {{ project.name }}
                            <div style="float: right;"><a href="/project/{{ project.id }}/#additional_settings" style="color: white;text-decoration: underline;">Настроить
                                столбцы</a></div>
                        </div>
                        <div>
                            <select class="js-user_source" multiple
                                    style="width:100%" data-placeholder="Выберите пользователей">
                                {% for user in project.user_source %}
                                    <option value="{{ user.id }}">{{ user.get_full_name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="project-row-headers">
                            <table width="100%">
                                <tr>
                                    {% for status in project.columns %}
                                        <td class="tasks-header tasks-{{ status.code }}">
                                            <div style="width: 100%">{{ status.name }}</div>
                                        </td>
                                    {% endfor %}
                                </tr>
                            </table>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="tasks-wrapper js-tasks-wrapper" rel="{{ project.id }}">
                        <table width="100%">
                            <tr>
                                {% for status in project.columns %}
                                    <td class="tasks-column task-droppable js-tasks-column js-task-droppable tasks-{{ status.code }} js-tasks-{{ status.code }}"
                                        rel="{{ status.code }}" data-prop="{{ status.prop }}" data-project="{{ project.id }}">

                                    </td>
                                {% endfor %}
                            </tr>
                        </table>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        {% endfor %}
    </div>
    <script type="text/javascript">
        (function ($) {
            $.JSONstorage = function (key, value) {
                var STORAGE_PREFIX = 'hl_kb_';
                if (typeof value === "undefined") {
                    val = window.localStorage.getItem(STORAGE_PREFIX + key);
                    if (val == null) {
                        return [];
                    }
                    try {
                        val = JSON.parse(val);
                        return val;
                    }
                    catch (e) {
                        return [];
                    }
                }
                else {
                    window.localStorage.setItem(STORAGE_PREFIX + key, JSON.stringify(value));
                    return value;
                }
            }
        })(jQuery);
        var taskRespSummary = {};
        {% for project in kanban.projects_data %}
            {% for task_data in project.tasks %}
                taskRespSummary['{{task_data.task.id}}'] = {{ task_data.responsibleList|jsonify|safe }};
            {% endfor %}
        {% endfor %}

        $(function () {

        });
    </script>
{% endif %}
<div>
<div class="js-task-wrapper-template" style="display: none">
    <div class="task-card js-task-card message-info task-status js-task-status task-name_status">
        <div class="name">
            <a href="#TASK_URL#" class="js-task-name">
                #TASK_NAME#
            </a><b class="red-text">#DEADLINE#</b><br />
            <div class="task-info-time task_play-wrap" style="white-space: nowrap;">
                <span class="btn-group dropdown">
                    <a class="task_play-wrap_btn dropdown-toggle js-task_play play" rel="#TASK_ID#"><span class="fa fa-play-circle"></span></a>

                    <div class="how-much-time dropdown-menu pull-right">
                        <h5>Сколько времени по вашему займет задача?</h5>
                        <div class="col-wrapper">
                            <div class="col-10">
                                <select class="form-control on-desktop"><option>12 часов</option></select>
                                <input type="time" value="00:00:00" class="on-mobile form-control" autofocus="autofocus">
                            </div>
                        </div>
                        <div class="col-wrapper">
                            <div class="col-5">
                                <a class="pause_comment_success btn btn-success width-100">Отправить</a>
                            </div>
                            <div class="col-5">
                                <a class="pause_comment_cancel btn btn-danger width-100">Отменить</a>
                            </div>
                        </div>
                    </div>

                    <div class="pause_dialog dropdown-menu pull-right">
                        <h5>Что сделано?</h5>
                        <textarea class="form-control" name="comment"></textarea>
                        <label class="checkbox">
                            <input type="checkbox" name="solution" value="Y" />В базу знаний
                        </label>
                        <a class="pause_comment_success btn btn-success">Ок</a>
                        <a class="pause_comment_cancel btn btn-danger">Отменить таймер</a>
                    </div>&nbsp;&nbsp;
                </span>
            	<span class="dropdown task-card-time">
            		<a href="#" class="link-with-popup task-time js-time" data-toggle="dropdown" >00:00:00</a>&nbsp;<span class="task-plantime"></span>
                </span>
            </div><!--task-info-time-->
        </div>
        <div class="executor js-task-executor dropdown" rel="">
            <a data-toggle="dropdown" class="js-select_resp js-avatar-container avatar_container" data-size="50">
            </a>
        </div>
        <div class="properties-icon js-options_popup">

            <a class="btn_manage dropdown-toggle js-task_menu">
                <span class="fa fa-gear" title="Действия" style="font-size: 20px"></span>
            </a>
            <a class="btn_manage task_manage_btn-done js-task_done">
                    <span class="fa fa-check" title="Закрыть задачу" style="font-size: 22px"></span>
                </a>
        </div>
    </div>
</div>
</div>
<script>
    window.taskHtml = $('<div></div>').append(
            $('<div></div>').addClass('task task-wrapper-kanban').append($('.js-task-wrapper-template').html())
    ).html();
</script>
<style>
    .task {
        padding: 0;
        margin: 5px 0;
        background-color: #f2f2f2;
    }

    .task-info-time {
        margin-top: 5px;
        display: block;
        vertical-align: bottom;
    }

    .task-card-time {
        margin-top: 1px;
        display: inline-block;
    }

    .task-card .btn-group {
        display: block;
        float: left;
    }

    .task-card .btn-group .fa {
        color: #47a447;
    }
    .task-card .pause_dialog a.btn, .pause_dialog a.btn:hover {
        color: white;
    }
    .task-card-time .dropdown-menu {
        padding: 5px;
    }
</style>