{% load jsonify thumbnail arraytags compressed %}
{% compressed_js 'fileup' %}
{% compressed_js 'task_detail' %}
{% if task_detail.error %}
            <div class="popup" >
{#                <strong>Oh snap!</strong>#}
                {{ task_detail.error|safe }}
            </div>
        {% endif %}
<div class="widget inner Task_Detail" id="task_detail" >
    <div class="widget-title clearfix" style="border: 0;">
        <div class="widget-title-info clearfix">
            <div class="widget-title-info-left">
                <ul class="widget-title-info-left-ul clearfix">
                    <li class="active"><a href="/">Список задач</a></li>
                    {% if not request.GET.frame_mode %}
                    {% if task_detail.task.parentTask %}
                    {% with task_detail.task.parentTask as parent %}
                    <li class="active"><a href="{{ parent.url }}">{{ parent.name }}</a></li>
                    {% endwith %}
                    {% endif %}
                    {% endif %}

                    <li><i class="fa fa-folder-open" aria-hidden="true"></i>&nbsp;&nbsp;Задача №{{ task_detail.task.number }}</li>
                    <li><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;&nbsp;Создана: {{ task_detail.task.dateCreate }}</li>
                    <li><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;Автор: <a href="/user_detail/?id={{ task_detail.task.author.id }}">{{ task_detail.task.author.last_name }} {{ task_detail.task.author.first_name }}</a></li>
                </ul>

            </div>
            <div class="widget-title-info-right task-manage">
                        {% if task_detail.subtasks|length == 0 %}
                        <a href="javascript:void(0);" title="Подтвердить задачу" style="display: none" class="js-task_approve  fa fa-check-circle {% if task_detail.task.closed %}closed{% endif %}"></a>
                        <a href="javascript:void(0);" title="Закрыть задачу" class="js-task_done  fa fa-{% if task_detail.task.canClose %}close{% else %}check{% endif %} {% if task_detail.task.closed %}closed{% endif %}"></a>
                        {% endif %}

                    <span class="dropdown pull-right close-task-wrapper">
                        <a href="javascript:void(0);" class="js-task_play task_play{% if task_detail.subtasks|length %} disabled{% endif %}"><span class="fa {% if task_detail.startedTimerExist %}fa-pause{% else %}fa-play-circle{% if task_detail.subtasks|length %} disabled{% endif %}{% endif %}"></span></a>
                        <div class="dropdown-menu pull-right pause_dialog">
                            <h3>Введите комментарий</h3>
                            <textarea name="comment" class="form-control"></textarea>
                            <label class="checkbox">
                                <input type="checkbox" name="solution" disabled="disabled" value="Y"> В базу знаний
                            </label>
                            <a class="btn btn-success pause_comment_success" >Ок</a>
                            <a class="btn btn-danger pause_comment_cancel" >Отменить таймер</a>
                        </div>
                    </span>

                    <span class="dropdown pull-right js-options_popup">
                        <a data-toggle="dropdown" href="javascript:void(0);" class="fa fa-cog js-task_menu"></a>
                    </span>

            </div>
        </div>
        <span class="{{ task_detail.lamp }}">Вы ответили</span>{{ task_detail.task.name }}


    </div><!--widget-title-->

    <div class="widget-title-bottom-info clearfix color-bg {{ task_detail.task.color }}">
            <ul class="widget-title-info-left-ul clearfix">
                <li>{% if task_detail.task.planTime %}
                    Плановое время: <b>{{ task_detail.task.planTime }}</b> ч.
                    {% endif %}
                </li>
                <li>Затраченное время: <b id="js-td_time"></b></li>
                    {% if task_detail.task.resp %}
                    <li>
                    Ответственный: <strong>{{ task_detail.task.resp.last_name }} {{ task_detail.task.resp.first_name }} </strong>
                    </li>
                    {% endif %}

                    {% if task_detail.task.observersList %}
                     <li>
                    Наблюдатели: <strong>{% for resp in task_detail.task.observersList %}{{ resp.last_name }} {{ resp.first_name }}{% if not forloop.last %}, {% endif %}{% endfor %}</strong>
                    </li>
                    {% endif %}
            </ul>
    </div>

    {# ---- TASK BODY #}
    <div class="widget-body">
        <div class="task-details-text">{{ task_detail.task.text_formatted|safe }}</div>
        {% if task_detail.files %}
                {% for file in task_detail.files %}
                    {% if file.is_picture %}
                    <div class="task-details-pictures">
                        <a class="fnc" href="{{ file.url }}" target="_blank"><img class="img-polaroid" width="130" src="{{ file.url }}" /></a>
                    </div>
                    {% endif %}
                {% endfor %}

                {% for file in task_detail.files %}
                    {% if not file.is_picture %}
                    <div class="task-details-files">
                        <a class="item-list" href="{{ file.url }}"><span class="icon-download-alt icon-{{ file.ext }}" href="{{ file.url }}" ></span> {{ file.name }}</a><br />
                    </div>
                {% endif %}
                {% endfor %}

        {% endif %}

        <h6 class="js-todo-title {% if not task_detail.task.todo and not task_detail.task.bug %} hidden{% endif %}">Нужно сделать:</h6>
        <div class="clearfix js-todo-container to-do-list{% if not task_detail.task.todo and not task_detail.task.bug %} hidden{% endif %}">

            <span class="js-todo-list todo-list">
            {% if task_detail.task.todo %}
                {% for todo in task_detail.task.todo %}
                <button data-placement="top" data-toggle="popover" data-container="body" class="js-todo-checkbox checkbox-todo" rel="{{ todo.id }}" type="button" data-original-title="" title="">
                    {% if todo.checked %}<i class="fa fa-check-square-o"></i>{% else %}<i class="fa fa-square-o"></i>{% endif %}
                    {{ todo.text }}
                </button>
                {% endfor %}
            {% endif %}
            </span>
            <span class="js-bug-list bug-list">
                {% if task_detail.task.bug %}
                    {% for bug in task_detail.task.bug %}
                        <button data-placement="top" data-toggle="popover"
                                data-container="body" class="js-bug-checkbox checkbox-bug" rel="{{ bug.id }}" type="button"
                                data-original-title="" title="">
                            {% if bug.checked %}<i class="fa fa-check-square-o"></i>{% else %}
                                <i class="fa fa-square-o"></i>{% endif %}
                            {{ bug.text }}
                        </button>
                    {% endfor %}
                {% endif %}
            </span>
        </div>

        {% if task_detail.solutions %}
         <p><a href="#" class="similar_solutions" data-toggle="modal" data-target="#similar-solutions" >Доступные решения похожих задач</a></p>
        {% endif %}

        {% if not task_detail.task.parentTask %}
            <div class="sub-tasks js-sub-tasks box-shadow-0">
                <div class="task-wrapper">
                    <div class="tasks-title clearfix">
                        <!--<a class="js-sub-tasks-button sub-tasks-button">Добавить подзадачу</a>-->
                        {% if task_detail.hiddenSubTasksExist %}
                        <a class="js-ShowClosedSubtasks green-bg button button-mini sub-tasks-button">Показать закрытые подзадачи</a>
                        {% endif %}
                    </div>
                    <div class="subtask">

                        {# ---- ДОБАВИТЬ ПОДЗАДАЧУ #}
                        <div class="add-task-input js-addTaskInput">
                            <input class="input-block-level form-control" data-parent="{{ task.id }}" type="text" placeholder="Добавить подзадачу...">
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        <a href="#" class="js-show-all" style="display: none;">Показать предыдущие сообщения</a>
        <div class="messages js-commentsContainer"></div>

        {# ---- УПРАВЛЕНИЕ ЗАДАЧЕЙ #}
        <div class="task_add-message">
            <form class="newMessage form-horizontal" action="/task_handler" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <h4>Добавить сообщение</h4>
                <hr>
                <select class="js-recipient combobox" onchange="if ($(this).val()) {$('.js-change_resp').removeAttr('disabled');}else{$('.js-change_resp').attr('disabled','disabled');}" name="to">
                    <option value="">Кому</option>
                    {% for resp_user in task_detail.users %}
                        <option value="{{ resp_user.id }}">{{ resp_user.last_name }} {{ resp_user.first_name }}</option>
                    {% endfor %}
                </select>
                <style>
                    .need-time-hours {
                        margin-left: 5px;
                        margin-right: 5px;
                        position: relative;
                        top: -2px;
                        width: 60px;
                        height: 30px;
                        display: inline-block;
                        height:34px;
                        padding:6px 12px;
                        font-size:14px;
                        line-height:1.428571429;
                        color:#555;
                        vertical-align:middle;
                        background-color:#fff;
                        border:1px solid #ccc;
                        border-radius:4px;
                        -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
                        box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
                        -webkit-transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                        transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
                    }

                    .need-time-hours:focus {
                        border-color:#66afe9;
                        outline:0;
                        -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,0.6);
                        box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,0.6);
                    }
                </style>
                <div class="left clearfix">
                    <label class="left_check"><input class="js-personal" type="checkbox" name="hidden" value="Y" /> Лично</label>
                    <label class="left_check">
                        <input class="js-need-time" type="checkbox" name="need-time" value="Y" /> Нужно еще время
                        <span class="js-need-time-hours" style="display: none;">
                            <input type="number" maxlength="2" name="need-time-hours" class="need-time-hours" /> ч.
                        </span>
                    </label>
                    <label class="left_check"><input type="checkbox" name="solution" value="Y" class="js-solution-set" /> Добавить в вики <a href="#" data-toggle="tooltip" title="Комментарий будет отображаться в похожих по тексту задачах для помощи исполнителям.">?</a></label>
                    <a href="#" title="Нарисовать рисунок" class="new-message-icon js-addPic" onclick="return false"><i class="fa fa-picture-o"></i></a>
                    <a title="Прикрепить файл" class="new-message-icon" onclick="$('.qq-upload-button input').trigger('click');return false;"><i class="fa fa-paperclip"></i></a>
                </div>
                <input type="hidden" name="task_id" value="{{ task_detail.task.id }}" />
                <div class="form-group">
                    <div class="col-xs-12">
                        <textarea name="task_message" rows="5" class="form-control" placeholder="Вы можете вставить изображение или скриншот из буфера прямо в это поле и произвести на нем отметки."></textarea>
                    </div>
                </div>

                <div class="task-file-upload"></div>
                <div class="uploaded_file clearfix">
                </div>

                <div class="task_add-message_message-detail ">
                    {% if task_detail.task.status.code != 'not_approved' %}
                    <input class="radioded" type="radio" id="checked" checked="checked" name="status" value="">
                    <label for="checked">не изменять</label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input class="radioded" type="radio" id="ready" name="status" value="ready">
                    <label for="ready">на проверку</label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input class="radioded" type="radio" id="revision" name="status" value="revision">
                    <label for="revision">на доработку</label>
                    {% endif %}
                </div>

                <div class="row-fluid show-grid">
                    <button class="btn btn-success sendTaskMessage" type="button">Отправить (Ctrl+Enter)</button>
                    {% if not task_detail.task.closed and False %}
                    <input type="hidden" name="close" value="" />
                    <button class="btn btn-danger btn-close sendTaskMessage" type="button">Отправить и закрыть</button>
                    {% endif %}
                    <input type="hidden" name="responsible_change" value="" />
                    <button class="btn btn-warning js-change_resp sendTaskMessage" onClick="$('[name=responsible_change]').val('Y');" disabled type="button">Отправить и сменить ответственного</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% if task_detail.solutions %}
<div class="modal fade" id="similar-solutions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="myModalLabel">База знаний по похожим задачам</h2>
    </div>
    <div class="modal-body">
        <div class="js-solutions">
            {% for solution in task_detail.solutions %}
                {% if solution %}
                <div class="similar-solution message">
                    <div class="message-content">
                        <h2>{{ solution.task.name }}</h2>
                        <div class="text">{{ solution.text }}</div>
                        <div class="author">{{ solution.author.last_name }} {{ solution.author.name }}</div>
                        <div class="date">{{ solution.dateCreate }}</div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div> 
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
    </div>
</div>
</div>
</div>
{% endif %}
<script type="text/javascript" class="temp_scripts">
    var taskDetail = {
        'id':{{ task_detail.task.id }},
        'text':{{ task_detail.task.text|jsonify|safe }},
        'title':{{ task_detail.task.title|jsonify|safe }},
        'startedTimerExist':{{ task_detail.startedTimerExist|jsonify }},
        'startedTimerUserId':'{{ task_detail.task.startedTimerUserId }}',
        'closed':{{ task_detail.task.closed|jsonify }},
        'color':{{ task_detail.task.color|jsonify|safe }},
        'critically':{{ task_detail.task.critically|jsonify }},
        'onPlanning':{{ task_detail.task.onPlanning|jsonify }},
        'status':'{{ task_detail.task.status.code }}',
        'started': {{ task_detail.task.started|jsonify }},
        'canEdit': {{ task_detail.task.canEdit|jsonify }},
        'canClose': {{ task_detail.task.canClose|jsonify }},
        'canSetPlanTime': {{ task_detail.task.canSetPlanTime|jsonify }},
        'canApprove': {{ task_detail.task.canApprove|jsonify }},
        'canRemove': {{ task_detail.task.canRemove|jsonify }},
        'canSetCritically': {{ task_detail.task.canSetCritically|jsonify }},
        'planTime': {{ task_detail.task.taskPlanTime|jsonify|safe }},
        'resp': {{ task_detail.task.taskResp|jsonify|safe }},
        'name': {{ task_detail.task.name|jsonify|safe }},
        'number': {{ task_detail.task.number|jsonify|safe }}
    };

    window.taskHtml = {{ task_detail.taskTemplate|jsonify|safe }};
    var arJSParams = {
        'taskId':{{ task_detail.task.id }},
        'messages':[]
    };

    {% for message in task_detail.messages %}
        arJSParams.messages.push({{ message.json|safe }});
    {% endfor %}
    var arTimers = {
        '{{ task_detail.task.id }}': (new PM_Timer({
                'seconds': {{ task_detail.time|jsonify|safe }},
                'container': '#js-td_time'
            }))
    }, taskRespSummary = {}, aSubTasks = [];
    {% for task in task_detail.subtasks %}
        aSubTasks.push({{ task|jsonify|safe }});
        taskRespSummary['{{ task.id }}'] = {{ task.responsibleList|jsonify|safe }}
        {% if task.time %}
            arTimers['{{ task.id }}'] = new PM_Timer({{ task.time|jsonify|safe }});
            {% if task.startedTimerExist %}
                arTimers['{{ task.id }}'].start();
            {% endif %}
        {% endif %}
    {% endfor %}
    task_detail_message_tpl = {{ task_detail.templates|jsonify|safe }};

    $(function(){
        $('.js-solution-set').change(function(){
            if($(this).prop('checked')) {
                $('.js-personal')
                        .prop('checked', false)
                        .prop('disabled', true);
            }else{
                $('.js-personal').prop('disabled', false);
            }
        });
        $('.js-task-checkbox').remove();
        $('.js-todo-checkbox').click(function(){
        });
    });
</script>
