{% load jsonify thumbnail arraytags compressed htmlemail %}
{% compressed_js 'fileup' %}
{% compressed_js 'task_detail' %}
{% compressed_css 'task_detail' %}
{% if task_detail.error %}
<div class="popup">
  {#                <strong>Oh snap!</strong>#}
  {{ task_detail.error|safe }}
</div>
{% endif %}
<script src="/static/js/jquery.fancyform.min.js"></script>
<script>
  $(function () {
    $("input:radio").transformRadio({
      base: "class" // Can be image or class, if class a span will be added
    });

    $('.js-read-more').click(function() {
        $(this).toggleClass('text-cut-button-toggle').closest('.js-read-more-block').toggleClass('fold')
        return false;
    })
  });
</script>
<style>
    .breadcrumbs-ns {
        font-size: 16px;
        list-style: none;
        margin: -15px 0 20px;
        color: #cdd1d6;
    }

    .breadcrumbs-ns li {}
    .breadcrumbs-ns li a {
        color: #a1a9b3;
    }
    .breadcrumbs-ns li a.active {
        color: #54667a;
    }


    .task-info-ul {
        color: #cdd1d6;
        margin: 15px 0 25px;
        font-size: 12px;
        list-style: none;
    }
    .task-info-ul li {
        margin-right: 35px;
        margin-bottom: 10px;;
        float: left;
        color: #a1a9b3;
    }
    .task-info-ul li a {
        color: #a1a9b3;
    }

    .light-blue-bg {
        background: #F3F6FB;
    }
    .pink-gr {
        background: #ffeeef; /* Old browsers */
        background: -moz-linear-gradient(top, #ffeeef 0%, #fef1ed 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #ffeeef 0%,#fef1ed 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #ffeeef 0%,#fef1ed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffeeef', endColorstr='#fef1ed',GradientType=0 ); /* IE6-9 */
    }

    .up-3 {padding: 25px 30px;}

    .pb-0 {padding-bottom: 0px;}

    .mb-0 {
        margin-bottom: 0px;
    }
    .mb-3 {
        margin-bottom: 30px;
    }
    .radius-5 {
      border-radius:5px;
    }

    .pink-color {color:#ff5466;}

    .requirements {
        margin: 30px 0;
    }
    .requirements-ul {
        list-style: none;
    }

    .requirements-ul li {
        margin-bottom: 20px;
    }
    .requirements-ul li:last-child {
        margin-bottom: 0px;
    }
    .requirements-ul li h6 {
        margin-bottom: 0px;
    }

    .requirements-ul li.active .requirements-item-icon {
        fill: #61bb97;
    }

    .requirements-item-icon {
        fill: #ddd;
        width: 50px;
        height: 50px;
        display: block;
        float: left;
        border: 1px solid #cdd1d6;
        border-radius: 50%;
        text-align: center;
        margin-right: 20px;
    }

    .requirements-item-icon svg {
        width: 20px !important;
        height: 20px;
        margin-top: 14px;
    }

    .task-details-text {
        margin-bottom: 30px;
        position: relative;
    }

    .task-details-text.fold {
        max-height: 50px;
        overflow: hidden;
    }

    .task-details-text.fold .task-details-text-cut {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .task-details-text-cut {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+25,1+39,1+39 */
        background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 39%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 25%,rgba(255,255,255,1) 39%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 25%,rgba(255,255,255,1) 39%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
        padding: 20px 0; text-align:center; position: relative;
        margin-top: -20px;
    }
    .task-details-text-cut:after {
        content: "";
        top:50%;
        left: 0;
        right: 0px;
        height: 1px;
        position: absolute;
        background: #eeeff1;
    }

    .task-details-text-cut-button {
        position: absolute;
        background: #eeeff1;
        display: inline-block;
        border-radius: 25px;
        padding: 5px 15px;
        margin-top: -15px;
        font-size: 12px;
        color: #a1a9b3;
        z-index: 1;
    }

    .text-cut-button-toggle {
        margin-top: 0;
    }

    .tast-details-desc {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
    }

    .tast-details-desc li {
        -ms-flex-negative: 1;
        flex-shrink: 1;
        -webkit-box-align: center !important;
        -ms-flex-align: center !important;
        align-items: center !important;
        -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
        justify-content: space-between !important;
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        border-bottom: 1px solid #e3e7ee;
        padding: 0 0 15px;
        margin: 0 0 15px;
    }

    .token-info {
        width: 36px;
        float: left;
        fill: #54667a;
        margin-right: 15px;
        margin-bottom: 70px;
    }
    .token-info svg {
        width: 36px;
    }

    .confirm-result-button {
        display: inline-block;
        border-radius: 3px;
        padding: 5px 15px;
        font-size: 12px;
        color: #54667a;
        border: 1px solid #54667a;
    }
    .confirm-result-button:hover,
    .confirm-result-button:hover,
    .confirm-result-button:active {
        color: #60bb98;
        border: 1px solid #60bb98;
    }

    .published-results {
        border-top: 1px solid #e3e7ee;
        margin: 30px -30px 0;
    }

    .published-results-ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }
    .published-results-ul-li {padding: 0 0 20px;}

    .published-results-ul-li.winner {font-weight: bold;}

    .published-results-ul-li:last-child {padding: 0px;}

    .published-results-ul-li-info {
        font-size: 12px;
        color: #a1a9b3;
        margin-bottom: 5px;
    }

    .published-results h6 {
    margin-bottom: 10px;
    }
    .published-results-ul-li-link {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-bottom: 10px;
    }

    .row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px
    }
    .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px
    }
    @media (min-width:576px) {
        .col-sm {
            -ms-flex-preferred-size: 0;
            flex-basis: 0;
            -ms-flex-positive: 1;
            flex-grow: 1;
            max-width: 100%
        }
        .col-sm-auto {
            -ms-flex: 0 0 auto;
            flex: 0 0 auto;
            width: auto;
            max-width: none
        }
        .col-sm-1 {
            -ms-flex: 0 0 8.333333%;
            flex: 0 0 8.333333%;
            max-width: 8.333333%
        }
        .col-sm-2 {
            -ms-flex: 0 0 16.666667%;
            flex: 0 0 16.666667%;
            max-width: 16.666667%
        }
        .col-sm-3 {
            -ms-flex: 0 0 25%;
            flex: 0 0 25%;
            max-width: 25%
        }
        .col-sm-4 {
            -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
            max-width: 33.333333%
        }
        .col-sm-5 {
            -ms-flex: 0 0 41.666667%;
            flex: 0 0 41.666667%;
            max-width: 41.666667%
        }
        .col-sm-6 {
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%
        }
        .col-sm-7 {
            -ms-flex: 0 0 58.333333%;
            flex: 0 0 58.333333%;
            max-width: 58.333333%
        }
        .col-sm-8 {
            -ms-flex: 0 0 66.666667%;
            flex: 0 0 66.666667%;
            max-width: 66.666667%
        }
        .col-sm-9 {
            -ms-flex: 0 0 75%;
            flex: 0 0 75%;
            max-width: 75%
        }
        .col-sm-10 {
            -ms-flex: 0 0 83.333333%;
            flex: 0 0 83.333333%;
            max-width: 83.333333%
        }
        .col-sm-11 {
            -ms-flex: 0 0 91.666667%;
            flex: 0 0 91.666667%;
            max-width: 91.666667%
        }
        .col-sm-12 {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%
        }
    }
    @media (min-width:768px) {
        .col-md {
            -ms-flex-preferred-size: 0;
            flex-basis: 0;
            -ms-flex-positive: 1;
            flex-grow: 1;
            max-width: 100%
        }
        .col-md-auto {
            -ms-flex: 0 0 auto;
            flex: 0 0 auto;
            width: auto;
            max-width: none
        }
        .col-md-1 {
            -ms-flex: 0 0 8.333333%;
            flex: 0 0 8.333333%;
            max-width: 8.333333%
        }
        .col-md-2 {
            -ms-flex: 0 0 16.666667%;
            flex: 0 0 16.666667%;
            max-width: 16.666667%
        }
        .col-md-3 {
            -ms-flex: 0 0 25%;
            flex: 0 0 25%;
            max-width: 25%
        }
        .col-md-4 {
            -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
            max-width: 33.333333%
        }
        .col-md-5 {
            -ms-flex: 0 0 41.666667%;
            flex: 0 0 41.666667%;
            max-width: 41.666667%
        }
        .col-md-6 {
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%
        }
        .col-md-7 {
            -ms-flex: 0 0 58.333333%;
            flex: 0 0 58.333333%;
            max-width: 58.333333%
        }
        .col-md-8 {
            -ms-flex: 0 0 66.666667%;
            flex: 0 0 66.666667%;
            max-width: 66.666667%
        }
        .col-md-9 {
            -ms-flex: 0 0 75%;
            flex: 0 0 75%;
            max-width: 75%
        }
        .col-md-10 {
            -ms-flex: 0 0 83.333333%;
            flex: 0 0 83.333333%;
            max-width: 83.333333%
        }
        .col-md-11 {
            -ms-flex: 0 0 91.666667%;
            flex: 0 0 91.666667%;
            max-width: 91.666667%
        }
        .col-md-12 {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%
        }
    }
    @media (min-width:992px) {
        .col-lg {
            -ms-flex-preferred-size: 0;
            flex-basis: 0;
            -ms-flex-positive: 1;
            flex-grow: 1;
            max-width: 100%
        }

        .col-lg-auto {
            -ms-flex: 0 0 auto;
            flex: 0 0 auto;
            width: auto;
            max-width: none
        }

        .col-lg-1 {
            -ms-flex: 0 0 8.333333%;
            flex: 0 0 8.333333%;
            max-width: 8.333333%
        }

        .col-lg-2 {
            -ms-flex: 0 0 16.666667%;
            flex: 0 0 16.666667%;
            max-width: 16.666667%
        }

        .col-lg-3 {
            -ms-flex: 0 0 25%;
            flex: 0 0 25%;
            max-width: 25%
        }

        .col-lg-4 {
            -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
            max-width: 33.333333%
        }

        .col-lg-5 {
            -ms-flex: 0 0 41.666667%;
            flex: 0 0 41.666667%;
            max-width: 41.666667%
        }

        .col-lg-6 {
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%
        }

        .col-lg-7 {
            -ms-flex: 0 0 58.333333%;
            flex: 0 0 58.333333%;
            max-width: 58.333333%
        }

        .col-lg-8 {
            -ms-flex: 0 0 66.666667%;
            flex: 0 0 66.666667%;
            max-width: 66.666667%
        }

        .col-lg-9 {
            -ms-flex: 0 0 75%;
            flex: 0 0 75%;
            max-width: 75%
        }

        .col-lg-10 {
            -ms-flex: 0 0 83.333333%;
            flex: 0 0 83.333333%;
            max-width: 83.333333%
        }

        .col-lg-11 {
            -ms-flex: 0 0 91.666667%;
            flex: 0 0 91.666667%;
            max-width: 91.666667%
        }

        .col-lg-12 {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%
        }
    }
</style>
<ul class="breadcrumbs-ns">
    {% if task_detail.task.project.id != 1013 %}
    <li>
        <a class="active" href="/project/{{ task_detail.task.project.id }}/public/">{{ task_detail.task.project.name }}</a> /
        <a href="/project/{{ task_detail.task.project.id }}/tasks/">Tasks</a>
    </li>
    {% endif %}
    {% if not request.GET.frame_mode %}
    {% if task_detail.task.parentTask %}
    {% with task_detail.task.parentTask as parent %}
    <li class="active"><a href="{{ parent.url }}">{{ parent.name }}</a></li>
    {% endwith %}
    {% endif %}
    {% endif %}
</ul>

<div class="widget inner Task_Detail new" id="task_detail">

    <div class="row">
        <div class="col-lg-8 col-md-12">

            <ul class="task-info-ul clearfix">


                <li><i class="fa fa-folder-open" aria-hidden="true"></i>&nbsp;&nbsp;Task #{{ task_detail.task.number }}</li>
                <li><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;&nbsp;Created: {{ task_detail.task.dateCreate }}</li>
                <li><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;Author: <a href="/user_detail/?id={{ task_detail.task.author.id }}">{{ task_detail.task.author.last_name }} {{ task_detail.task.author.first_name }}</a></li>
                {% if task_detail.task.canEdit %}
                <li>
                <span class="dropdown js-options_popup">
                  <a data-toggle="dropdown" href="javascript:void(0);" class="fa fa-cog js-task_menu"></a>
                </span>
                    <a href="/task_edit/?id={{ task_detail.task.id }}">Task Settings</a>
                </li>
                {% endif %}

            </ul>
            <h2 class="{{ task_detail.lamp }}">{{ task_detail.task.name }}</h2>

            {# ---- TASK BODY #}
            <div class="widget-body">
                {% if task_detail.task.text_formatted %}
                <div class="task-details-text fold js-read-more-block">
                    {{ task_detail.task.text_formatted|safe }}
                    {% if task_detail.files %}
                        <br />
                    {% for file in task_detail.files %}
                        {% if file.is_picture %}
                        <div class="task-details-pictures">
                            <a class="fnc" href="{{ file.url }}" target="_blank"><img class="img-polaroid" width="130" src="{{ file.url }}" /></a>
                        </div>
                        {% endif %}
                    {% endfor %}

                    {% for file in task_detail.files %}
                        {% if not file.is_picture %}
                        <div class="task-details-files">
                            <a class="item-list" href="{{ file.url }}"><span class="icon-download-alt icon-{{ file.ext }}" href="{{ file.url }}"></span> {{ file.name }}</a><br />
                        </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                    <div class="task-details-text-cut js-read-more"><a href="#" class="task-details-text-cut-button">Read More</a></div>
                </div>
                {% endif %}


                {#        <h6 class="js-todo-title {% if not task_detail.task.todo and not task_detail.task.bug %} hidden{% endif %}">Нужно сделать:</h6>#}
                {#        <div class="clearfix js-todo-container to-do-list{% if not task_detail.task.todo and not task_detail.task.bug %} hidden{% endif %}">#}
                {##}
                {#            <span class="js-todo-list todo-list">#}
                {#            {% if task_detail.task.todo %}#}
                {#                {% for todo in task_detail.task.todo %}#}
                {#                <button data-placement="top" data-toggle="popover" data-container="body" class="js-todo-checkbox checkbox-todo" rel="{{ todo.id }}" type="button" data-original-title="" title="">#}
                {#                    {% if todo.checked %}<i class="fa fa-check"></i>{% else %}<i class="fa fa-check fa-checked"></i>{% endif %}#}
                {#                    {{ todo.text }}#}
                {#                </button>#}
                {#                {% endfor %}#}
                {#            {% endif %}#}
                {#            </span>#}
                {#            <span class="js-bug-list bug-list">#}
                {#                {% if task_detail.task.bug %}#}
                {#                    {% for bug in task_detail.task.bug %}#}
                {#                        <button data-placement="top" data-toggle="popover"#}
                {#                                data-container="body" class="js-bug-checkbox checkbox-bug" rel="{{ bug.id }}" type="button"#}
                {#                                data-original-title="" title="">#}
                {#                            {% if bug.checked %}<i class="fa fa-check-square-o"></i>{% else %}#}
                {#                                <i class="fa fa-square-o"></i>{% endif %}#}
                {#                            {{ bug.text }}#}
                {#                        </button>#}
                {#                    {% endfor %}#}
                {#                {% endif %}#}
                {#            </span>#}
                {#        </div>#}
                {% if task_detail.solutions %}
                <p><a href="#" class="similar_solutions" data-toggle="modal" data-target="#similar-solutions">Доступные решения похожих задач</a></p>
                {% endif %}
                {% if task_detail.todo %}
                <div class="requirements">
                    <h3>Additional requirements</h3>
                    <ul class="requirements-ul">
                        {% for todo in task_detail.todo %}
                        <li class="requirements-ul-li{% if todo.checked %} active{% endif %} clearfix">
                            <span class="requirements-item-icon">

                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="352.62px" height="352.62px" viewBox="0 0 352.62 352.62" style="enable-background:new 0 0 352.62 352.62;"
	 xml:space="preserve">
<g>
	<path d="M337.222,22.952c-15.912-8.568-33.66,7.956-44.064,17.748c-23.867,23.256-44.063,50.184-66.708,74.664
		c-25.092,26.928-48.348,53.856-74.052,80.173c-14.688,14.688-30.6,30.6-40.392,48.96c-22.032-21.421-41.004-44.677-65.484-63.648
		c-17.748-13.464-47.124-23.256-46.512,9.18c1.224,42.229,38.556,87.517,66.096,116.28c11.628,12.24,26.928,25.092,44.676,25.704
		c21.42,1.224,43.452-24.48,56.304-38.556c22.645-24.48,41.005-52.021,61.812-77.112c26.928-33.048,54.468-65.485,80.784-99.145
		C326.206,96.392,378.226,44.983,337.222,22.952z M26.937,187.581c-0.612,0-1.224,0-2.448,0.611
		c-2.448-0.611-4.284-1.224-6.732-2.448l0,0C19.593,184.52,22.653,185.132,26.937,187.581z"/>
</g>
<g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                            </span>
                            <h6>{{ todo.author.last_name }} {{ todo.author.first_name }}</h6>
                            <p>{{ todo.text }}</p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}

                {% if request.user.is_authenticated %}
                <a name="post_comment"></a>
                <div class="task_add-message">
                    <style>
                        .message-tabs {
                            width: 100%;
                            padding: 0 0 15px;
                        }
                        .message-tab {
                            display: inline-block;
                            padding: 10px 20px 10px 0;
                        }
                        .message-tab.active {
                            cursor: default;
                            color: #444;
                            font-weight: bold;
                        }
                    </style>
                    <script>
                        $(function() {
                            $('.js-task-message-tab').click(function() {
                                if ($(this).is('.disabled')) return false;
                                $(this).addClass('active').siblings().removeClass('active');
                                $('[name="message_type"]').val($(this).data('type'));
                                $('.js-message-options').hide().filter('[data-type='+$(this).data('type')+']').show();
                                return false;
                            });

                            $('.js-confirm-result').click(function() {
                                var $tab = $('.js-task-message-tab[data-type=vote]');
                                if ($tab.is('.disabled')) {
                                    alert($tab.attr('data-original-title'));
                                    return;
                                }
                                $tab.trigger('click');
                                $('[name=task_message]').focus();
                                $('[name=winner]').val($(this).data('author'));
                                $('.js-winner').val($(this).data('authorName'));
                                return false;
                            })
                        });
                    </script>
                    <div class="message-tabs">
                        <a data-type="message" class="js-task-message-tab message-tab active" href="#">Post a message</a>
                        <a data-type="estimation" class="js-task-message-tab message-tab" href="#">Set your price</a>
                        <a data-type="result" class="js-task-message-tab message-tab" href="#"><b>Post result</b></a>
                        {% if task_detail.candidates and not task_detail.voted and task_detail.task.project.id != 1075 %}
                        <a data-type="vote" class="js-task-message-tab message-tab {% if not task_detail.donated %}disabled{% endif %}" href="#"
                        {% if not task_detail.donated %}data-toggle="tooltip" title="You should donate to this task to be able to choose a winner."{% endif %}>Select the best result</a>
                        {% endif %}
                        </div>
                    <form class="newMessage form-horizontal" action="/task_handler" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="message_type" value="message" />
                        <div style="display: inline-block;" data-type="message"
                             class="js-message-options">
                            <select class="js-recipient combobox" name="to">
                                <option value="">To:</option>
                                {% for resp_user in task_detail.users %}
                                <option value="{{ resp_user.id }}">{{ resp_user.last_name }} {{ resp_user.first_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% if task_detail.candidates %}
                        <div style="display: none;" data-type="vote"
                             class="js-message-options message-select">
                            <select class="js-winner combobox" name="winner">
                                <option value="">Winner:</option>
                                {% for resp_user in task_detail.candidates %}
                                <option value="{{ resp_user.id }}">{{ resp_user.last_name }} {{ resp_user.first_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% endif %}
                        <style>
                            a.disabled {
                                color: grey;
                            }
                            .message-select {
                                display: inline-block;
                            }
                            .need-time-hours {
                                margin-left: 5px;
                                margin-right: 5px;
                                position: relative;
                                top: -2px;
                                width: 160px;
                                height: 30px;
                                display: inline-block;
                                height: 34px;
                                padding: 6px 12px;
                                font-size: 14px;
                                line-height: 1.428571429;
                                color: #555;
                                vertical-align: middle;
                                background-color: #fff;
                                border: 1px solid #ccc;
                                border-radius: 4px;
                                -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
                                box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
                                -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                                transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
                            }

                            .need-time-hours:focus {
                                border-color: #66afe9;
                                outline: 0;
                                -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,0.6);
                                box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,0.6);
                            }
                        </style>
                        <div class="left clearfix">
                            <label class="left_check js-message-options" data-type="message" style="display: none;">
                                <input class="js-personal" type="checkbox" name="hidden" value="Y" /> Private message
                            </label>
                            {% if not task_detail.task.closed %}
                            {#                    <label class="left_check"><input class="js-allow" type="radio" name="message_type" value="allow_closing" /> Allow task closing</label>#}
                            <label class="left_check js-message-options" data-type="estimation" style="display: none;">
            <span class="js-need-time-hours" >
              <input type="number" maxlength="2" placeholder="Your estimation" name="need-time-hours" class="need-time-hours" /> $
            </span>
                            </label>
                            {% endif %}
                            {#                    <label class="left_check"><input type="checkbox" name="solution" value="Y" class="js-solution-set" /> Add to wiki <a href="#" data-toggle="tooltip" title="This comment will appear in similar tasks.">?</a></label>#}
                            <a href="#" title="Drow" class="new-message-icon js-addPic" onclick="return false"><i class="fa fa-picture-o"></i></a>
                            <a title="Attach a file" class="new-message-icon" onclick="$('.qq-upload-button input').trigger('click');return false;"><i class="fa fa-paperclip"></i></a>
                        </div>
                        <input type="hidden" name="task_id" value="{{ task_detail.task.id }}" />
                        <div class="form-group">
                            <div class="col-xs-12">
                                <textarea name="task_message" rows="5" class="form-control" placeholder="Add comment or file."></textarea>
                            </div>
                        </div>

                        <div class="task-file-upload" style="position: relative;"></div>
                        <div class="uploaded_file clearfix" style="display: none">
                        </div>


                        <div class="row-fluid show-grid task-add-btns">
                            <button class="btn btn-primary sendTaskMessage" type="button">Send (Ctrl+Enter)</button>
                            {% if not task_detail.task.closed and False %}
                            <input type="hidden" name="close" value="" />
                            <button class="btn btn-danger btn-close sendTaskMessage" type="button">Send and close task</button>
                            {% endif %}
                            {#                    <input type="hidden" name="responsible_change" value="" />#}
                            {#                    <button class="btn btn-warning js-change_resp sendTaskMessage" onClick="$('[name=responsible_change]').val('Y');" disabled type="button">Send and change responsible</button>#}
                        </div>
                    </form>
                </div>
                {% else %}
                <p style="margin-left: 10px;">
                    <a href="/login/?backurl=/task_detail/%3Fproject={{ task_detail.task.project.id }}%26number={{ task_detail.task.number }}">Sign in</a>
                    or <a href="/login/?backurl=/task_detail/%3Fproject={{ task_detail.task.project.id }}%26number={{ task_detail.task.number }}">Register</a> to see all task conversation and to be able to post/download the results.
                </p>
                {% endif %}
                <!--{#        <div class="chat-nav chat-nav-simple">#}
                {#            <div class="radio-checkbox-block">#}
                {#                <label class="checkbox-inline clearfix">#}
                {#                    <input type="radio" class="js-comments-filter-input" name="MESSAGE_TYPE" value="ALL" checked="checked"> All messages#}
                {#                </label>#}
                {#                <label class="checkbox-inline clearfix js-tab">#}
                {#                    <input type="radio" class="js-comments-filter-input" name="MESSAGE_TYPE" value="TODO" > Todo#}
                {#                    <sup class="filter-sup">#}
                {#                        <span class="green-text js-done">0</span>#}
                {#                        <span class="filter-sup-separator"></span>#}
                {#                        <span class="red-text js-exist">0</span>#}
                {#                    </sup>#}
                {#                </label>#}
                {#                <label class="checkbox-inline clearfix js-tab">#}
                {#                    <input type="radio" class="js-comments-filter-input" name="MESSAGE_TYPE" value="BUGS" > Bugs#}
                {#                    <sup class="filter-sup">#}
                {#                        <span class="green-text js-done">0</span>#}
                {#                        <span class="filter-sup-separator"></span>#}
                {#                        <span class="red-text js-exist">0</span>#}
                {#                    </sup>#}
                {#                </label>#}
                {#                <label class="checkbox-inline clearfix">#}
                {#                    <input type="radio" class="js-comments-filter-input" name="MESSAGE_TYPE" value="FILES" > Files#}
                {#                    <sup class="filter-sup"><span class="green-text js-files-exist"></span></sup>#}
                {#                </label>#}
                {#            </div>#}
                {#        </div>#}-->

                <a href="#" class="js-show-all" style="display: none;">Show previous messages</a>
                <div class="messages js-container js-commentsContainer" data-type="ALL">

                </div>
                <div class="messages js-container js-todo-list to-do-list warning-inside" style="display: none" data-type="TODO">

                </div>
                <div class="messages js-container js-bug-list to-do-list bug-list danger-inside" style="display: none" data-type="BUGS">

                </div>
                <div class="messages js-container js-file-list file-list" style="display: none" data-type="FILES">

                </div>

                {# ---- УПРАВЛЕНИЕ ЗАДАЧЕЙ #}

            </div>
        </div>
        <div class="col-lg-4 col-md-12">
{#            <div class="pink-gr up-3 mb-3 radius-5">Crowd funding company ends <b class="pink-color">in 4 days</b></div>#}

            <div class="light-blue-bg up-3 mb-3 radius-5">
                <ul class="tast-details-desc clearfix">

                    {#<li><div>Spent time:</div><div><b id="js-td_time"></b></div></li>#}

                    {% if task_detail.task.resp %}
                    <li>
                        <div>Curator:</div>
                        <div><b>{{ task_detail.task.resp.last_name }} {{ task_detail.task.resp.first_name }}</b></div>
                    </li>
                    {% endif %}


                    {% if task_detail.task.asked %}
                    <li><div>Posted prices:</div>
                        <div><b>$ {{ task_detail.asked_min|default_if_none:'0'|floatformat:"0" }}</b>{% if task_detail.asked_min != task_detail.asked_max %} ... <b>$ {{ task_detail.asked_max | floatformat:"0" }}</b>{% endif %}</div> </li>
                    {% endif %}

                    <li><div>Raised budget:</div><div><h1 class="mb-0"><b class="pink-color">$ {{ task_detail.task.donated|default_if_none:'0'|floatformat:"0" }}</b> <span style="color: grey;">*</span></h1></div></li>


                    {% if task_detail.task.currentWinner %}
                    <li>
                        <div>Winner:</div>
                        <div><b>{{ task_detail.task.currentWinner.last_name }} {{ task_detail.task.currentWinner.first_name }}</b>
                        </div>
                    </li>
                    {% endif %}
                </ul>



                {% if not task_detail.task.closed %}
                <a href="/project/{{ task_detail.task.project.id }}/donate/?t={{task_detail.task.id  }}&min={{ task_detail.avgDonate|floatformat:"0" }}"
                class="donate-button btn orange-gr">Make a deposit <img src="/static/img/investment.svg" height="18"></a>

                <div class="donate-desc">minimal donation value is  ${{ task_detail.avgDonate|floatformat:"0" }} for now</div>
                {% endif %}
                <div class="clearfix"></div>
            <div class="donation-bonus" style="padding: 30px 0 0">
            <span class="token-info"  data-toggle="tooltip" title="Project tokens give you a part of its income, forever.">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
<g id="Question-mark">
	<circle cx="31.9781132" cy="50.3625984" r="2"/>
	<path d="M31.5331993,13.3799c-6.2685986,0-10.1620865,3.8936005-10.1620865,10.1620998c0,0.5527,0.4471874,1,1,1
		c0.5526867,0,1-0.4473,1-1c0-5.1875,2.9745865-8.1620998,8.1620865-8.1620998c7.8759995,0,9.0517006,5.6718998,9.0517006,9.0527
		c0,3.2880993-2.7020988,7.0293007-6.285099,8.7012005c-4.0556889,1.8915977-3.3466873,8.5283012-3.3145008,8.8096008
		c0.0576992,0.5107002,0.4902992,0.8866997,0.9922009,0.8866997c0.0380974,0,0.0761986-0.0020027,0.1142998-0.0068016
		c0.5487976-0.0625,0.9433136-0.5577011,0.8798981-1.1064987c-0.0058975-0.0546989-0.5478973-5.5009995,2.1738014-6.7705002
		c4.3105011-2.0116997,7.4393997-6.4336014,7.4393997-10.5137005C42.5848999,17.5116997,38.4531136,13.3799,31.5331993,13.3799z"/>
	<path d="M32,0c-17.6730995,0-32,14.3268995-32,32s14.3268995,32,32,32s32-14.3269005,32-32S49.673111,0,32,0z M32,62
		c-16.542099,0-30-13.457901-30-30c0-16.5419998,13.4578991-30,30-30c16.5419998,0,30,13.4580002,30,30
		C62,48.542099,48.5419998,62,32,62z"/>
</g>
<g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg></span>
            <b style="color: #ff5466;">Extra bonus:</b>
                A developer providing <b>the best solution</b> gets <b>1%</b> of the project "{{ task_detail.task.project.name }}" project tokens.<br />
                You can also get <b>1%</b> of the project tokens for <b>co-sponsoring</b> the task.
            </div>
                {% if task_detail.results %}
                <div class="published-results up-3 pb-0">
                    <h2 style="margin-bottom: 20px;">Proposed solutions</h2>
                    <ul class="published-results-ul">
                        {% for result in task_detail.results %}
                        <li class="published-results-ul-li {% if result.author.id == task_detail.task.currentWinner.id %}winner{% endif %}">
                            <div class="published-results-ul-li-info">
                                {{ result.author.last_name }} {{ result.author.first_name }}
                                &nbsp;&nbsp;&nbsp;&#8226;&nbsp;&nbsp;&nbsp;
                                {{ result.dateCreate | date:"d.m.Y, H:i:s" }}
                            </div>
                            <div class="published-results-ul-li-link">{{ result.text | htmlemail }}</div>
                            {% if not task_detail.task.closed %}
                            <a class="js-confirm-result confirm-result-button"
                               href="#" data-author="{{ result.author.id }}"
                               data-author-name="{{ result.author.last_name }} {{ result.author.first_name }}">
                                Select
                            </a>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                {% endif %}
                <small style="color: grey; margin-top: 20px;display: block;">* in GIFT tokens, 1 GIFT = $ 0.2</small>
            </div>


            
<style>
    .bakers-wrapper {
        -ms-flex-negative: 1;
        flex-shrink: 1;
        border: 1px solid #e3e7ee;
        border-radius: 5px;
        margin: 30px 0;
    }


    .bakers-wrapper-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 15px 30px;
        margin-bottom: 0;
        background-color: transparent;
        border-bottom: 1px solid #e3e7ee;
    }


    .bakers-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        padding: 10px 0;
    }


    li.bakers-list-item {
        padding: 15px 0;
        border-bottom: 1px solid #e3e7ee;
        margin: 0 30px;
    }

    li.bakers-list-item:last-child {
        border-bottom: 0;
    }

    li.bakers-list-item.disabled a {
        color: grey;
    }

    li.bakers-list-item.disabled span {
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
    }



    .align-items-center {
        -webkit-box-align: center !important;
        -ms-flex-align: center !important;
        align-items: center !important;
    }

    .bakers-list-item-media {
        -ms-flex-negative: 1;
        flex-shrink: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        margin-right: 15px;
    }

    .ui-w-30 {
        width: 30px !important;
        height: auto;
    }

    html:not([dir=rtl]) .rounded-circle {
        border-radius: 50% !important;
    }

    .nothing-to-show {
       padding: 30px;
       text-align: center;
       font-size: 18px;
       color: #cdd1d6;
    }
</style>
            {% if task_detail.backers %}
            <div class="bakers-wrapper card mb-4">
                <h6 class="bakers-wrapper-header with-elements">
                    <span class="card-header-title">Backers</span>
                </h6>
                <ul class="bakers-list list-group-flush">
                    {% for backer in task_detail.backers %}
                    <li class="bakers-list-item">
                        <div class="bakers-list-item-media bakers-avatar align-items-center">

                            <a class="avatar avatar-sm" title="" data-toggle="tooltip" data-original-title="{{ backer.last_name }} {{ backer.first_name }}">
                                <span class="avatar-sm-spa" style="background-image:url('{% if backer.get_profile.avatarSrc %}{{ backer.get_profile.avatarSrc }}{% else %}/static/images/avatar_unknown.png{% endif %}') "></span>
                            </a>

                            <div class="media-body px-2">
                                <a href="#" class="text-dark">{{ backer.last_name }} {{ backer.first_name }}</a> <span class="bakers-list-item--donate-sum">$ {{ backer.donated|floatformat:"0" }}</span>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
                    <!--users-->

        <style type="text/css">
            .project-team-items {
                list-style: none;
                padding: 0;
                margin-bottom: 0;
            }

            .project-team-items .team-item {
                float: left;
                margin-right: 15px;
                margin-bottom: 15px;
            }


            .avatar {
                position: relative;
                display: inline-block;
                white-space: nowrap;
                vertical-align: bottom;
                border-radius: 50%;
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;
            }

            .avatar img {
                width: 100%;
                max-width: 100%;
                height: auto;
                border: 0 none;
            }

            .progress {
                height: 15px;
                overflow: hidden;
                background-color: #e4eaec;
                border-radius: .215rem;
            }

            .progress-price {
                overflow: visible;
                margin-bottom: 35px;
                margin-left: 0;
                /*background: none;*/
            }


            .progress-bar-price {
                position: absolute;
                right: 0;
                top: -26px;
                color: #54667a;
                font-size: 15px !important;
            }
            .progress-price .progress-item {
                position: absolute;
                top: 30px;
                right: -35px;
                color: #ff5466;
                font-size: 14px;
                width: 75px;
                font-weight: bold;
            }

            .progress-users {
                overflow: visible;
                margin-top: 37px;
                background: none;
            }

            .progress-users .progress-bar {
                position: relative;
                background: none;
            }

            .progress-users .avatar {
                position: absolute;
                top: -31px;
                right: -15px;
            }



            .avatar-sm {
                width: 50px;
            }

            .bakers-avatar .avatar-sm {
                margin-right: 15px;
                border: 3px solid #fff;
                width: 50px;
                border-radius: 50%;
            }

            .bakers-avatar.active .avatar-sm {
                border: 3px solid #62bb94;
            }

            .bakers-avatar .avatar-sm img {
                border-radius: 50%;
            }

            span.avatar-sm-spa {
                height: 50px;
                width: 50px;
                display: block;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                background-color: white;
            }

            .bakers-avatar span.avatar-sm-spa {
                height: 44px;
                width: 44px;
                border-radius: 50%;
            }


            .progress-xs {
                height: 7px;
                border-radius: 25px;
                margin-top: 35px;
            }

            .progress-xs .progress-bar {
                line-height: 4px;
                border-radius: 25px;
            }

            .progress-bar {
                position: relative;
                float: left;
                width: 0%;
                height: 100%;
                font-size: .858rem;
                line-height: 15px;
                color: #fff;
                text-align: center;
                background-color: #3e8ef7;
                -webkit-transition: width .6s ease;
                transition: width .6s ease;
            }

            .progress-bar-warning {
                background-color: #f5914b;
            }

            .progress-bar-info {
                background: #62bb94;
                background-image: -webkit-linear-gradient(left, #38c1d1 0%, #62bb94 100%);
                background-image: -o-linear-gradient(left, #38c1d1 0%, #62bb94 100%);
                background-image: -webkit-gradient(linear, left top, right top, from(#38c1d1), to(#62bb94));
                background-image: linear-gradient(to right, #38c1d1 0%, #62bb94 100%);
                background-repeat: repeat-x;
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF38c1d1', endColorstr='#FF62bb94', GradientType=1);
            }

            .progress-bar-success {
                background-color: #11c26d;
            }

            .progress-custom {
                margin-bottom: 25px;
            }
            .progress-custom:last-child {
                margin-bottom: 0px;
            }

            .progress-custom .progress-bar {
                padding: 2px;
                margin: 2px 0;
                border-radius: 4px;
                display: block;
                float: none;
                text-align: left;
                min-width: 80px;
            }

            .progress-custom .progress-bar-price {
                line-height: 2rem;
                font-size: 1rem;
            }

            .bakers-list-mobile {
                margin-bottom: 30px;
            }

            @media (max-width: 767px) {
                .hidden-768-down {
                    display: none;
                }
            }

            @media (min-width: 768px) {
                .hidden-768-up {
                    display: none;
                }
            }

            .float-left {
                float: left;
            }

            .avatar-name {overflow: hidden;}
            .avatar-name .avatar {
                float: left;
                width: 50px;
                margin-right: 15px;
            }
            .avatar-name .name {
                float: left;
                width: calc(100% - 130px);
                margin-top: 4px;
            }

            .name-rating {
                font-size: 11px;
                opacity: 0.8;
                text-transform: uppercase;
            }

            @media only screen and (max-width: 568px) {
                .widget-title-info {
                    margin: -15px -15px 20px;
                }
            }

            .task-details-pictures {
                display: inline-block;
            }
        </style>
        <div class="bakers-wrapper card mb-4">
            <h6 class="bakers-wrapper-header with-elements">
                <span class="card-header-title">Developers estimations</span>
            </h6>
            <ul class="bakers-list list-group-flush">
                    {% for asker in task_detail.askers %}
                <li class="bakers-list-item {% if task_detail.task.donated < asker.ask %}disabled{% endif %}">
                    <div class="bakers-list-item-media bakers-avatar align-items-center">

                        <a class="avatar avatar-sm" title="" data-toggle="tooltip" data-original-title="{{ asker.user.last_name }} {{ asker.user.first_name }}">
                            <span class="avatar-sm-spa"
                                  style="background-image:url('{% if asker.user.get_profile.avatarSrc %}{{ asker.user.get_profile.avatarSrc }}{% else %}/static/images/avatar_unknown.png{% endif %}') ">
                            </span>
                        </a>

                        <div class="media-body px-2">
                            <a href="#" class="text-dark">{{ asker.user.last_name }} {{ asker.user.first_name }}</a> <span class="bakers-list-item--user-estimation">$ {{ asker.ask|floatformat:"0" }}</span>
                        </div>
                    </div>
                </li>
                    {% empty %}
                        <li class="nothing-to-show"><h2>No estimations here</h2></li>
                    {% endfor %}
            </ul>
        </div>
        {% if request.user.is_authenticated %}
        <a href="#post_comment" onclick="$('.js-task-message-tab[data-type=estimation]').trigger('click');" class="btn btn-default">Set your price</a>&nbsp;
        <a href="#post_comment" onclick="$('.js-task-message-tab[data-type=result]').trigger('click');" class="btn btn-success">Add your result</a>
        {% endif %}
        <div class="bakers-wrapper card mb-4">

            <div class="bakers-wrapper-header with-elements" style="display: block;">
                <div>Project tokens owners <a href="#"  data-toggle="tooltip" data-original-title="The team of project owners receive 10% of each project tasks donation.">?</a></div>
                <h6 class="card-header-title" style="margin-bottom: 10px;">{{ task_detail.task.project.name }}</h6>
            </div>
            <ul class="bakers-list list-group-flush">
                {% for owner in task_detail.projectTeam %}
                    {% if owner.percent %}
                    <li class="bakers-list-item">
                        <div class="bakers-list-item-media bakers-avatar align-items-center">

                            <a class="avatar avatar-sm" title="">
                                <span class="avatar-sm-spa"
                                      style="background-image:url('{% if owner.user.get_profile.avatarSrc %}{{ owner.user.get_profile.avatarSrc }}{% else %}/static/images/avatar_unknown.png{% endif %}') ">
                                </span>
                            </a>

                            <div class="media-body px-2">
                                <a href="#" class="text-dark">{{ owner.user.last_name }} {{ owner.user.first_name }}</a> <span>{{ owner.percent }}%</span>
                            </div>
                        </div>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

            <div class="task-buttons">
                <div class="pull-left">
                    <a href="/project/{{ task_detail.task.project.id }}/public/#shares" class="btn btn-primary">
                        Get project tokens
                    </a>
                </div>
                <div class="pull-right">
                    <a href="" class="btn btn-red">Delete Task</a>
                </div>
            </div>
        <!--backers-->
    </div>
</div>

{% if task_detail.solutions %}
<div class="modal fade" id="similar-solutions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="myModalLabel">Wiki of similar tasks</h2>
      </div>
      <div class="modal-body">
        <div class="js-solutions">
          {% for solution in task_detail.solutions %}
          {% if solution %}
          <div class="similar-solution message">
            <div class="message-content">
              <h2>{{ solution.task.name }}</h2>
              <div class="text">{{ solution.text }}</div>
              <div class="author">{{ solution.author.last_name }} {{ solution.author.name }}</div>
              <div class="date">{{ solution.dateCreate }}</div>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
<script type="text/javascript" class="temp_scripts">
  var taskDetail = {
    'id':{{ task_detail.task.id }},
    'text':{{ task_detail.task.text|jsonify|safe }},
    'title':{{ task_detail.task.title|jsonify|safe }},
    'startedTimerExist':{{ task_detail.startedTimerExist|jsonify }},
    'startedTimerUserId':'{{ task_detail.task.startedTimerUserId }}',
    'closed':{{ task_detail.task.closed|jsonify }},
    'color':{{ task_detail.task.color|jsonify|safe }},
    'critically':{{ task_detail.task.critically|jsonify }},
    'onPlanning':{{ task_detail.task.onPlanning|jsonify }},
    'status':'{{ task_detail.task.status.code }}',
    'started': {{ task_detail.task.started|jsonify|safe }},
    'canEdit': {{ task_detail.task.canEdit|jsonify|safe }},
    'canClose': {{ task_detail.task.canClose|jsonify|safe }},
    'canSetReady': {{ task_detail.task.canSetReady|jsonify|safe }},
    'canSetPlanTime': {{ task_detail.task.canSetPlanTime|jsonify|safe }},
    'canApprove': {{ task_detail.task.canApprove|jsonify|safe }},
    'canRemove': {{ task_detail.task.canRemove|jsonify|safe }},
    'canSetCritically': {{ task_detail.task.canSetCritically|jsonify|safe }},
    'planTime': {{ task_detail.task.taskPlanTime|jsonify|safe }},
    'resp': {{ task_detail.task.taskResp|jsonify|safe }},
    'name': {{ task_detail.task.name|jsonify|safe }},
    'number': {{ task_detail.task.number|jsonify|safe }}
  };

  window.taskHtml = {{ task_detail.taskTemplate|jsonify|safe }};
  var arJSParams = {
    'taskId':{{ task_detail.task.id }},
    'messages':[]
  };

  {% for message in task_detail.messages %}
  arJSParams.messages.push({{ message.json|safe }});
  {% endfor %}
  var arTimers = {
    '{{ task_detail.task.id }}': (new PM_Timer({
      'seconds': {{ task_detail.time|jsonify|safe }},
      'container': '#js-td_time'
    }))
  }, taskRespSummary = {}, aSubTasks = [];
  {% for task in task_detail.subtasks %}
  aSubTasks.push({{ task|jsonify|safe }});
  taskRespSummary['{{ task.id }}'] = {{ task.responsibleList|jsonify|safe }}
  {% if task.time %}
  arTimers['{{ task.id }}'] = new PM_Timer({{ task.time|jsonify|safe }});
  {% if task.startedTimerExist %}
  arTimers['{{ task.id }}'].start();
  {% endif %}
  {% endif %}
  {% endfor %}
  task_detail_message_tpl = {{ task_detail.templates|jsonify|safe }};

  $(function(){
    $('.js-solution-set').change(function(){
      if($(this).prop('checked')) {
        $('.js-personal')
                .prop('checked', false)
                .prop('disabled', true);
      } else {
        $('.js-personal').prop('disabled', false);
      }
    });
    $('.js-task-checkbox').remove();
  });
</script>
