{% load get_settings %}
{% load thumbnail %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{% block subject %}Message!{% endblock %}</title>
</head>

<body>
<table cellspacing="0" cellpadding="0" border="0" style="width:662px">
<tbody>
<tr>
    <td height="6px" rowspan="6" colspan="6"><table cellspacing="0" cellpadding="0" border="0">
        <tbody>
        <tr>
            <td style="padding-left:1px;padding-top:1px"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td style="padding-left:1px;padding-top:1px"></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="background:#f5f6f7"></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td style="padding-left:1px;padding-top:1px"></td>
            <td></td>
            <td style="background:#f1f2f3"></td>
            <td style="background:#f1f2f3"></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td style="padding-left:1px;padding-top:1px;background:#eff0f1"></td>
            <td style="background:#ecedee"></td>
            <td style="background:#ecedee"></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td style="background:#f1f2f3"></td>
            <td style="background:#ecedee"></td>
            <td style="padding-left:1px;padding-top:1px;background:#e9ebec"></td>
            <td style="background:#e6e8e9"></td>
        </tr>
        <tr>
            <td></td>
            <td style="background:#f5f6f7"></td>
            <td style="background:#f1f2f3"></td>
            <td style="background:#ecedee"></td>
            <td style="background:#e6e8e9"></td>
            <td style="padding-left:1px;padding-top:1px;background:#e0e3e4"></td>
        </tr>
        </tbody>
    </table></td>
    <td style="background-color:#f9f9fa;padding-top:1px;min-height:0px"></td>
    <td rowspan="6" colspan="6"><table cellspacing="0" cellpadding="0" border="0">
        <tbody>
        <tr>
            <td style="padding-left:1px;padding-top:1px"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td style="background:#f5f6f7"></td>
            <td style="padding-left:1px;padding-top:1px"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td style="background:#f1f2f3"></td>
            <td style="background:#f1f2f3"></td>
            <td style="padding-left:1px;padding-top:1px"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td style="background:#ecedee"></td>
            <td style="background:#ecedee"></td>
            <td style="background:#eff0f1"></td>
            <td style="padding-left:1px;padding-top:1px"></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td style="background:#e6e8e9"></td>
            <td style="background:#e9ebec"></td>
            <td style="background:#ecedee"></td>
            <td style="background:#f1f2f3"></td>
            <td style="padding-left:1px;padding-top:1px"></td>
            <td></td>
        </tr>
        <tr>
            <td style="background:#e0e3e4"></td>
            <td style="background:#e6e8e9"></td>
            <td style="background:#ecedee"></td>
            <td style="background:#f1f2f3"></td>
            <td style="background:#f5f6f7"></td>
            <td style="padding-left:1px;padding-top:1px"></td>
        </tr>
        </tbody>
    </table></td>
</tr>
<tr>
    <td style="background-color:#f5f6f7;padding-top:1px;min-height:0px"></td>
</tr>
<tr>
    <td style="background-color:#f1f2f3;padding-top:1px;min-height:0px"></td>
</tr>
<tr>
    <td style="background-color:#ecedee;padding-top:1px;min-height:0px"></td>
</tr>
<tr>
    <td style="background-color:#e6e8e9;padding-top:1px;min-height:0px"></td>
</tr>
<tr>
    <td style="background-color:#e0e3e4;padding-top:1px;min-height:0px"></td>
</tr>
<tr>
    <td style="background-color:#f9f9fa;width:1px"></td>
    <td style="background-color:#f5f6f7;width:1px"></td>
    <td style="background-color:#f1f2f3;width:1px"></td>
    <td style="background-color:#ecedee;width:1px"></td>
    <td style="background-color:#e6e8e9;width:1px"></td>
    <td style="background-color:#e0e3e4;width:1px"></td>
    <td style="background-color:#f9f9f9;padding-bottom:15px;padding-left:50px;padding-right:50px;border:1px solid #CCCCCC"><br>
        <br>
        <br>
        <table cellspacing="0" cellpadding="0" style="width:100%">
            <tbody>
            <tr>
                <td style="text-align:left;vertical-align:top"><a target="_blank" href="{% get_settings "HTTP_ROOT_URL" %}">
                    <img border="0" src="{% get_settings "HTTP_ROOT_URL" %}/static/public/assets/img/logo-inverse.png" /></a></td>
                <td style="text-align:right;font-size:11px;font-family:Helvetica Neue, Helvetica, Arial, sans-serif; color:#3b3f4a;vertical-align:top">
                    {% block top_running_title %}{% endblock %}
                </td>
            </tr>
            </tbody>
        </table>
        <h2 style="font-size:24px; color:#dd1f00; font-weight:bold; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; padding:0px; margin:25px 0; ">
            {% block title %}Сообщение!{% endblock %}
        </h2>
        {% block content %}
        {% endblock %}
        <table width="100%" cellspacing="0" cellpadding="0" border="0" style="margin-top:15px;">
            <tbody>
            <tr>
                <td width="100%"><p style="font-size:14px;font-family: Helvetica Neue, Helvetica, Arial, sans-serif; padding-bottom:50px; color:#3b3f4a;"> OpenGift team. <br>
                    <br>
                    <a target="_blank" href="{% get_settings "HTTP_ROOT_URL" %}" style="color:#51A351;">{% get_settings "SERVER_ROOT_URL" %}</a> <br>
                    <a target="_blank" href="mailto:{% get_settings "SITE_EMAIL" %}" style="color:#51A351;">info@opengift.io</a> </p></td>
            </tr>
            </tbody>
        </table></td>
    <td style="background-color:#e0e3e4;width:1px;vertical-align:top"></td>
    <td style="background-color:#e6e8e9;width:1px;vertical-align:top"></td>
    <td style="background-color:#ecedee;width:1px;vertical-align:top"></td>
    <td style="background-color:#f1f2f3;width:1px;vertical-align:top"></td>
    <td style="background-color:#f5f6f7;width:1px;vertical-align:top"></td>
    <td style="background-color:#f9f9fa;width:1px;vertical-align:top"></td>
</tr>
<tr>
    <td rowspan="6" colspan="6"><table cellspacing="0" cellpadding="0" border="0">
        <tbody>
        <tr>
            <td></td>
            <td style="background:#f5f6f7"></td>
            <td style="background:#f1f2f3"></td>
            <td style="background:#ecedee"></td>
            <td style="background:#e6e8e9"></td>
            <td style="padding-left:1px;padding-top:1px;background:#e0e3e4"></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td style="background:#f1f2f3"></td>
            <td style="background:#ecedee"></td>
            <td style="padding-left:1px;padding-top:1px;background:#e9ebec"></td>
            <td style="background:#e6e8e9"></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td style="padding-left:1px;padding-top:1px;background:#eff0f1"></td>
            <td style="background:#ecedee"></td>
            <td style="background:#ecedee"></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td style="padding-left:1px;padding-top:1px"></td>
            <td></td>
            <td style="background:#f1f2f3"></td>
            <td style="background:#f1f2f3"></td>
        </tr>
        <tr>
            <td></td>
            <td style="padding-left:1px;padding-top:1px"></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="background:#f5f6f7"></td>
        </tr>
        <tr>
            <td style="padding-left:1px;padding-top:1px"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table></td>
    <td style="background-color:#e0e3e4;padding-top:1px;min-height:0px"></td>
    <td rowspan="6" colspan="6"><table cellspacing="0" cellpadding="0" border="0">
        <tbody>
        <tr>
            <td style="background:#e0e3e4"></td>
            <td style="background:#e6e8e9"></td>
            <td style="background:#ecedee"></td>
            <td style="background:#f1f2f3"></td>
            <td style="background:#f5f6f7"></td>
            <td style="padding-left:1px;padding-top:1px"></td>
        </tr>
        <tr>
            <td style="background:#e6e8e9"></td>
            <td style="background:#e9ebec"></td>
            <td style="background:#ecedee"></td>
            <td style="background:#f1f2f3"></td>
            <td style="padding-left:1px;padding-top:1px"></td>
            <td></td>
        </tr>
        <tr>
            <td style="background:#ecedee"></td>
            <td style="background:#ecedee"></td>
            <td style="background:#eff0f1"></td>
            <td style="padding-left:1px;padding-top:1px"></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td style="background:#f1f2f3"></td>
            <td style="background:#f1f2f3"></td>
            <td style="padding-left:1px;padding-top:1px"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td style="background:#f5f6f7"></td>
            <td style="padding-left:1px;padding-top:1px"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td style="padding-left:1px;padding-top:1px"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table></td>
</tr>
<tr>
    <td style="background-color:#e6e8e9;padding-top:1px;min-height:0px"></td>
</tr>
<tr>
    <td style="background-color:#ecedee;padding-top:1px;min-height:0px"></td>
</tr>
<tr>
    <td style="background-color:#f1f2f3;padding-top:1px;min-height:0px"></td>
</tr>
<tr>
    <td style="background-color:#f5f6f7;padding-top:1px;min-height:0px"></td>
</tr>
<tr>
    <td style="background-color:#f9f9fa;padding-top:1px;min-height:0px"></td>
</tr>
</tbody>
</table>

</body>
</html>