<!DOCTYPE html>
<html lang="en">
<head>
 
  <!--Meta-->
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="A complete solution for any business">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!--Favicon-->
  <link rel="icon" href="/static/public/assets/img/favicon/144x144.png">
  
  <!-- Title-->
  <title>Mobile Application Development with AlbaSoft</title>
  
  <!--Google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Dosis:400,500,600,700%7COpen+Sans:400,600,700" rel="stylesheet">
  
	<!--Icon fonts-->
	<link rel="stylesheet" href="/static/public/assets/vendor/strokegap/style.css">
	<link rel="stylesheet" href="/static/public/assets/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/public/assets/vendor/linearicons/style.css">
  
  <!-- Stylesheet-->
  <!--
// ////////////////////////////////////////////////
// To Reduce server request and improved page speed drastically all third-party plugin bundle in assets/css/bundle.css
// If you wanna add those manually bellow is the sequence 
// ///////////////////////////////////////////////
-->
<!--  <link rel="stylesheet" href="/static/public/assets/vendor/bootstrap/dist/css/bootstrap.min.css">  
  <link rel="stylesheet" href="/static/public/assets/vendor/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="/static/public/assets/vendor/fancybox/dist/jquery.fancybox.min.css">
  <link rel="stylesheet" href="/static/public/assets/vendor/animate.css/animate.min.css">-->
  
  <link rel="stylesheet" href="/static/public/assets/css/bundle.css">
  <link rel="stylesheet" href="/static/public/assets/css/style.css">
  
</head>

 <body id="top">
 
 
<!--[if lt IE 8]>
<p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
 <!-- END header-top-->

 <header class="header header-shadow header-shrink sticky-top bg-dark text-white" style="z-index: 100;">
  <div class="container">
    <nav class="navbar navbar-expand-lg">
     
      <a class="navbar-brand" href="">
          <img src="/static/public/alba/logo.png" alt="">
      </a>
      
			<div class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav" style="display: none;">
				<span class="lnr lnr-text-align-right nav-hamburger"></span>
				<span class="lnr lnr-cross nav-close"></span>
			</div>
      
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="list-inline-item mr-3">
                <span class="icon icon-Phone2 text-white mr-1"></span> +1 425 445 2573
            </li>
            <li class="list-inline-item mr-3">
                <span class="icon icon-Mail text-white mr-1"></span> <a href="mailto:info@albasoft.co">info@albasoft.co</a>
            </li>
            <li class="list-inline-item">
                <a href=""><i class="fa fa-telegram"></i></a> @albasoft
            </li>
        </ul>
      </div>
      
    </nav>
  </div> <!-- END container-->
</header> <!-- END header-inverse -->






<section class="u-py-md-250 u-flex-center" style="background:#ECF5FE url('/static/public/alba/main.jpg') no-repeat; background-size:cover; background-position: top center;">
  <div class="container">
    <div class="row align-items-center text-white u-h-50vh ">
      <div class="col-lg-7 mb-5 mb-lg-0">
        <h1 class="display-4 u-fw-600">
          <span class="text-dark">Your idea.</span><br />Our software.
        </h1>
        <p class="u-fs-22 u-lh-1_8 my-4">

                                    We convert your idea into <span class="small-nowrap">perfect mobile application</span>.
        </p>
        <a href="http://104.248.134.221/calculator/type.html" class="btn btn btn-rounded btn-white  u-w-170 u-mt-15">
        	Build it!
        </a>
      </div> <!-- END col-lg-7-->
      
      <div class="col-lg-5">

      </div> <!-- END col-lg-5-->
    </div> <!-- END row-->
  </div> <!-- END container-->
</section> <!-- END intro-hero-->

     
          
                             
                                       
                                                 
                                                           
<section id="features" class="u-pb-0" style="z-index: 20;">
<div class="container">
    <div class="row text-center">

     <div class="col-12">
       <h2 class="h1">
       	WHY WORKING WITH US?
       </h2>
       <div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-40 mx-auto"></div>
     </div>

      <div class="col-lg-6 col-md-6 u-mt-30">
        <div class="bg-white px-4 py-5 px-md-5 u-h-100p rounded box-shadow-v1">
          <div class="u-w-90 u-h-90 u-flex-center bg-green text-white rounded-circle m-auto">
            <span class="icon icon-Tools u-fs-42"></span>
          </div>
          <h4 class="u-fs-22 u-pt-30 u-pb-20">
            Large network of professional developers
          </h4>
        </div>
      </div> <!-- END col-lg-4 col-md-6-->

      <div class="col-lg-6 col-md-6 u-mt-30">
        <div class="bg-white px-4 py-5 px-md-5 u-h-100p rounded box-shadow-v1">
          <div class="u-w-90 u-h-90 u-flex-center bg-primary text-white rounded-circle m-auto">
            <span class="icon icon-Starship2 u-fs-42"></span>
          </div>
          <h4 class="u-fs-22 u-pt-30 u-pb-20">
            Superior price/quality ratio
          </h4>
        </div>
      </div> <!-- END col-lg-4 col-md-6-->

      <div class="col-lg-6 col-md-6 u-mt-30">
        <div class="bg-white px-4 py-5 px-md-5 u-h-100p rounded box-shadow-v1">
          <div class="u-w-90 u-h-90 u-flex-center bg-yellow text-white rounded-circle m-auto">
            <span class="icon icon-Magnet u-fs-42"></span>
          </div>
          <h4 class="u-fs-22 u-pt-30 u-pb-20">For almost any app you
            can imagine we already
            have 50% of the source
            code</h4>
        </div>
      </div> <!-- END col-lg-4 col-md-6-->

      <div class="col-lg-6 col-md-6 u-mt-30">
        <div class="bg-white px-4 py-5 px-md-5 u-h-100p rounded box-shadow-v1">
          <div class="u-w-90 u-h-90 u-flex-center bg-red text-white rounded-circle m-auto">
            <span class="icon icon-Bulb u-fs-42"></span>
          </div>
          <h4 class="u-fs-22 u-pt-30 u-pb-20">
            Building apps is our
            core expertise
          </h4>
        </div>
      </div> <!-- END col-lg-4 col-md-6-->
        <div class="col-12 u-mt-70 text-center">
     	<img src="/static/public/alba/tablet.png" alt="" style="margin-bottom: -12vh;">
     </div>
    </div> <!-- END row-->


  </div>
</section>
<section class="u-py-100" style="background: #273f5b url(/static/public/assets/img/startup/bg-1.png) no-repeat;background-position: center center;">
 	<div class="container">
        <h2 class="text-white text-center">WE ARE PROUD TO SHOW NUMBERS</h2>
 		<div class="row text-center">

 			<div class="col-lg-4 col-md-4 u-my-20 text-white">
				<h4 class="u-mb-30 u-fs-60 text-green">
					15
				</h4>
				<p class="u-fs-30">
					Years of experience
				</p>
 			</div> <!-- END col-lg-3 col-md-6-->

 			<div class="col-lg-4 col-md-4 u-my-20 text-white">
				<h4 class="u-mb-30 u-fs-60 text-green">
					1000+
				</h4>
				<p class="u-fs-30">
					Development experts community
				</p>
 			</div> <!-- END col-lg-3 col-md-6-->

 			<div class="col-lg-4 col-md-4 u-my-20 text-white">
				<h4 class="u-mb-30 u-fs-60 text-green">
					250+
				</h4>
				<p class="u-fs-30">
					Projects
				</p>
 			</div> <!-- END col-lg-3 col-md-6-->

 		</div> <!-- END row-->
        <div class="text-center">
            <a class="btn btn-white" href="#form"> Start working with us</a>
        </div>
 	</div> <!-- END container-->
 </section>
<section id="screenshot">
  <div class="container">

   <div class="row">
     <div class="col-lg-6 m-auto text-center">
       <h2 class="h1">
         CHECK OUT SOME OF OUR TEAMS'S PROJECTS
       </h2>
       <div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-40 mx-auto"></div>
     </div>
   </div> <!--END row-->

   <div class="row">
     <div class="col-12 px-0">
       <ul class="p-0" data-gallery="img-gallery" data-init="carousel"
        data-slick='{ "slidesToShow":3, "slidesToScroll":3, "infinite":false, "dots":true, "arrows":false, "dotsClass":"slick-dots text-center mt-4",
					"responsive": [
						{
						 "breakpoint":1024,
						 "settings":{
						 	"slidesToScroll":1,
							"slidesToShow": 2
						 }
						},
						{
						 "breakpoint":600,
						 "settings":{
						 "slidesToScroll":1,
							"slidesToShow": 1
						 }
						}
					]
        }'>
         <li class="mx-3 my-4">
          <a href="/static/public/alba/screenshots/1.png" class="gallery-img-item">
           	<img class="box-shadow-v1" src="/static/public/alba/screenshots/1.png" alt="">
          </a>
         </li> <li class="mx-3 my-4">
          <a href="/static/public/alba/screenshots/2.png" class="gallery-img-item">
           	<img class="box-shadow-v1" src="/static/public/alba/screenshots/2.png" alt="">
          </a>
         </li> <li class="mx-3 my-4">
          <a href="/static/public/alba/screenshots/3.png" class="gallery-img-item">
           	<img class="box-shadow-v1" src="/static/public/alba/screenshots/3.png" alt="">
          </a>
         </li> <li class="mx-3 my-4">
          <a href="/static/public/alba/screenshots/4.png" class="gallery-img-item">
           	<img class="box-shadow-v1" src="/static/public/alba/screenshots/4.png" alt="">
          </a>
         </li> <li class="mx-3 my-4">
          <a href="/static/public/alba/screenshots/5.png" class="gallery-img-item">
           	<img class="box-shadow-v1" src="/static/public/alba/screenshots/5.png" alt="">
          </a>
         </li> <li class="mx-3 my-4">
          <a href="/static/public/alba/screenshots/6.png" class="gallery-img-item">
           	<img class="box-shadow-v1" src="/static/public/alba/screenshots/6.png" alt="">
          </a>
         </li> <li class="mx-3 my-4">
          <a href="/static/public/alba/screenshots/7.png" class="gallery-img-item">
           	<img class="box-shadow-v1" src="/static/public/alba/screenshots/7.png" alt="">
          </a>
         </li>

       </ul>
     </div>
   </div> <!-- END row-->
  </div> <!-- END container-->
</section>
<section class="u-py-50" >
	<div class="container">
		<div class="row">
			<div class="col-12 d-md-flex justify-content-between text-center">
				<div class="p-3">
					<img src="/static/public/alba/clients/client_1.png" alt="">
				</div><div class="p-3">
					<img src="/static/public/alba/clients/client_2.png" alt="">
				</div><div class="p-3">
					<img src="/static/public/alba/clients/client_3.png" alt="">
				</div><div class="p-3">
					<img src="/static/public/alba/clients/client_4.png" alt="">
				</div><div class="p-3">
					<img src="/static/public/alba/clients/client_5.png" alt="">
				</div>

			</div>
		</div> <!-- END row-->
	</div> <!-- END container-->
</section>
<section id="reviews" style="background:#0081ff url(/static/public/assets/img/startup/bg-3.png) no-repeat;background-position: center center;"  >
  <div class="container">

   <div class="row">
		 <div class="col-12 text-center">
			 <h2 class="h1 text-white">
				 WHAT CLIENTS SAY ABOUT US
			 </h2>
			 <div class="u-h-4 u-w-50 bg-white rounded mt-4 u-mb-60 mx-auto"></div>
		 </div>  <!-- END col-12-->
	 </div><!--END row-->

        <div data-init="carousel"
             data-slick='{ "slidesToShow":1, "dots":true, "arrows":false, "dotsClass":"slick-dots dots-white text-center"}'
             data-slick-margin="20"
        >

		<div class="p-5 rounded bg-white text-center box-shadow-v2 my-4">
			<h4>
				Serg
			</h4>
			<p class="text-muted">
				Quest Factor Group
			</p>
			<p>
				We requested to design and implement a modern web site for our busness. ALBA’s team did awesome job. It works perfectly, with no issues at all. Thanks Guys and Best of luck in Business.
			</p>
		</div>

		<div class="p-5 rounded bg-white text-center box-shadow-v2 my-4">
			<h4>
				Maria
			</h4>
			<p class="text-muted">
				IBM Smarter Planet
			</p>
			<p>
				Accomplished impressive results, results that gave us, within IBM, important value to our work.
			</p>
		</div>

		<div class="p-5 rounded bg-white text-center box-shadow-v2 my-4">
			<h4>
				Edward
			</h4>
			<p class="text-muted">
				Disney
			</p>
			<p>
				Need to write George about AFK or Disney API, Booking, Teasting and Web developent experience. We built, use and complettly outsource to them.
			</p>
		</div>
        <div class="p-5 rounded bg-white text-center box-shadow-v2 my-4">
			<h4>
				Chen Ma
			</h4>
			<p class="text-muted">
				R4S (IoT)
			</p>
			<p>
				Always in time reliable and proffesioal testing services.
			</p>
		</div>
	 </div> <!-- END carosel-->
      <a name="form"></a>
  </div> <!-- END container-->
</section> <!-- END section-->


<section id="contact" style="background:#20283b url(/static/public/assets/img/startup/bg-4.png) no-repeat; background-position: center center;" >
	<div class="container">

		<div class="row">
			<div class="col-lg-8 mx-auto">
				<h2 class="h1 text-center text-white u-mb-30">
					Get your project estimated price.
				</h2>
				<div class="u-h-4 u-w-50 bg-white rounded u-mb-70 mx-auto"></div>
				<form action="" method="POST">
					<div class="row">
						<div class="col-md-6 u-mb-30">
							<input type="text" placeholder="Your name*">
						</div>
						<div class="col-md-6 u-mb-30">
							<input type="email" placeholder="Your email*">
						</div>
						<div class="col-md-6 u-mb-30">
							<input type="tel" placeholder="Phone number">
						</div>
						<div class="col-md-6 u-mb-30">
							<input type="tel" placeholder="Your website">
						</div>
						<div class="col-12 u-mb-30">
							<textarea rows="5" placeholder="Message"></textarea>
						</div>
					</div> <!-- END row-->
					<div class="text-center">
						<button class="btn btn-white"> Send Request</button>
					</div>
				</form>
			</div> <!-- END col-lg-8-->
		</div> <!-- END row-->
	</div> <!-- END container-->
</section>

<footer class="">
	<section class="bg-gray-v2">
		<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 ml-auto mb-5 mb-lg-0">
				<h4>Contact Info</h4>
				<div class="u-h-4 u-w-50 bg-primary rounded mt-3 u-mb-40"></div>
				<ul class="list-unstyled">
					<li class="mb-2">
						<span class="icon icon-Phone2 text-primary mr-2"></span> +1 425 445 2573
					</li>
					<li class="mb-2">
						<span class="icon icon-Mail text-primary mr-2"></span> <a href="mailto:info@albasoft.co">info@albasoft.co</a>
					</li>
					<li class="mb-2">
						<span class="icon icon-Pointer text-primary mr-2"></span> 14700 NE 95th St, Suite 210 Redmond WA 98052
					</li>
				</ul>
				<ul class="list-inline social social-rounded social-white mt-4">
					<li class="list-inline-item">
						<a href=""><i class="fa fa-telegram"></i></a>
					</li><li class="list-inline-item">
						<a href=""><i class="fa fa-facebook"></i></a>
					</li>
				</ul>
			</div>
		</div> <!-- END row-->
	</div> <!-- END container-->
	</section> <!-- END section-->

</footer>

		<div class="scroll-top bg-white box-shadow-v1" style="z-index: 30;">
			<i class="fa fa-angle-up" aria-hidden="true"></i>
		</div>
		

<!--
// ////////////////////////////////////////////////
// To Reduce server request and improved page speed drastically all third-party plugin bundle in assets/js/bundle.js
// If you wanna add those manually bellow is the sequence 
// ///////////////////////////////////////////////
-->
<!--
		<script src="/static/public/assets/vendor/jquery/dist/jquery.min.js"></script>
		<script src="/static/public/assets/vendor/popper.js/dist/popper.min.js"></script>
		<script src="/static/public/assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/static/public/assets/vendor/slick-carousel/slick/slick.min.js"></script>
		<script src="/static/public/assets/vendor/fancybox/dist/jquery.fancybox.min.js"></script>
		<script src="/static/public/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
		<script src="/static/public/assets/vendor/isotope/dist/isotope.pkgd.min.js"></script>
		<script src="/static/public/assets/vendor/parallax.js/parallax.min.js"></script>
		<script src="/static/public/assets/vendor/wow/dist/wow.min.js"></script>
		<script src="/static/public/assets/vendor/vide/dist/jquery.vide.min.js"></script>
		<script src="/static/public/assets/vendor/typed.js/lib/typed.min.js"></script>
		<script src="/static/public/assets/vendor/appear-master/dist/appear.min.js"></script>
		<script src="/static/public/assets/vendor/jquery.countdown/dist/jquery.countdown.min.js"></script>
		<script src="/static/public/assets/js/smoothscroll.js"></script>
-->

		<script src="/static/public/assets/js/bundle.js"></script>
		<script src="/static/public/assets/js/fury.js"></script>
 <style>
     .navbar-collapse {
         background: transparent !important;
     }
     @media (min-width: 768px) {
         footer {
             display: none;
         }
     }
     @media (max-width: 768px) {
         .small-nowrap {
             white-space: nowrap;
         }
     }
 </style>
  </body>	
</html>