{% extends "public/index.html" %}
{% load thumbnail get_settings compressed %}
{% block header %}
    <meta name="description" content="Donators profile on OpenGift" />
    <title>OpenGift.io - {{ user.last_name }} {{ user.first_name }}</title>
{% endblock %}
{% block content %}
<section class="o-hidden">
    <div class="user-header-blur" style="background-image: url('{{ request.user.get_profile.avatarSrc }}');"></div>
    <div class="u-pt-50 user-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-12 u-mb-30">

                        <div class="user-header bg-white box-shadow-v2 rounded">
                            <div class="list-inline social social-rounded rounded-circle share-block">
                                <a href="" class="bg-blue">
                                    <i class="fa fa-sign-out" aria-hidden="true" style="transform: rotate(-90deg);"></i>
                                </a>
                                <ul class="list-inline social social-rounded social-white">
                                    <li class="mt-2">
                                        <a href="" class="bg-gray-v2"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li class="mt-2">
                                        <a href="" class="bg-gray-v2"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li class="mt-2">
                                        <a href="" class="bg-gray-v2"><i class="fa fa-google-plus"></i></a>
                                    </li>
                                    <li class="mt-2">
                                        <a href="" class="bg-gray-v2"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="user-header-desc">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-4 user-img-wrapper u-p-35 rounded-left">

                                            <div class="user-img-wrapper-blur" style="background-image: url('{{ request.user.get_profile.avatarSrc }}');"></div>

                                            <div class="user-img-desc">
                                                {% if user.get_profile.avatarSrc %}
                                                <div class="user-img u-mb-10 rounded-circle" style="background-image: url('{{ request.user.get_profile.avatarSrc }}');">

                                                    <div class="user-profile-edit social social-rounded">
                                                        <a href="" class="bg-blue">
                                                            <i class="icon icon-Pencil"></i>
                                                        </a>
                                                    </div>
                                                    <div class="user-status">
                                                        <span class="yellow-gr text-white rounded btn-xs yellow-shadow">Opengifter</span>
                                                    </div>
                                                    <!--<img src="https://opengift.io/media/users/126.jpg" class="rounded-circle">-->
                                                </div>
                                                {% endif %}
                                                <ul class="user-socials-links list-unstyled social-rounded social-white">
                                                    {% if user.get_profile.facebook %}
                                                    <li class="mb-3 list-inline-item">
                                                        <a href="{{ user.get_profile.facebook }}" class="text-black">
                                                            <span class="u-flex-center u-w-30 u-h-30 bg-facebook text-white rounded-circle">
                                                                <i class="fa fa-facebook"></i>
                                                            </span>
                                                        </a>
                                                    </li>
                                                    {% endif %}
                                                    {% if user.get_profile.twitter %}
                                                    <li class="mb-3 list-inline-item">
                                                        <a href="{{ user.get_profile.twitter }}" class="text-black">
                                                            <span class="u-flex-center u-w-30 u-h-30 bg-twitter text-white rounded-circle">
                                                                <i class="fa fa-twitter"></i>
                                                            </span>
                                                        </a>
                                                    </li>
                                                    {% endif %}
                                                    {% if user.get_profile.linkedin %}
                                                    <li class="mb-3 list-inline-item">
                                                        <a href="{{ user.get_profile.linkedin }}" class="text-black">
                                                            <span class="u-flex-center u-w-30 u-h-30 bg-linkedin text-white rounded-circle">
                                                                <i class="fa fa-linkedin"></i>
                                                            </span>
                                                        </a>
                                                    </li>
                                                    {% endif %}
                                                </ul>


                                            </div>
                                        </div>
                                        <div class="col-md-8 u-p-35">

                                            <h2 class="u-mb-5">
                                                {{ user.first_name }} {{ user.last_name }}
                                            </h2>
                                            <div class="text-muted u-fs-15 u-mb-5 mr-2"><i class="icon icon-Crown color-primary mr-2"></i>Rating: 200</div>
                                            <div class="text-muted u-fs-15 u-mb-20 mr-2"><i class="icon icon-Time color-primary mr-2"></i>Registered: {{ user.date_joined|date:'d.m.Y' }}</div>
                                            <div class="u-mb-25">
                                                <span class="small-text-label bg-blue btn btn-xs btn-rounded text-white">IoT</span>
                                                <span class="small-text-label bg-blue btn btn-xs btn-rounded text-white">System Software</span>
                                                <span class="small-text-label bg-blue btn btn-xs btn-rounded text-white">System Utilities</span>
                                            </div>

                                            <ul class="list-unstyled rounded">
{#                                                <li class="mb-2">#}
{#                                                    <i class="fa fa-envelope text-black mr-2"></i>#}
{#                                                    <a href="mailto:support@echotheme.com" class="text-black">support@echotheme.com</a>#}
{#                                                </li>#}
                                                {% if user.get_profile.skype %}
                                                <li class="mb-2">
                                                    <i class="fa u-fs-18 fa-skype text-black mr-2"></i>
                                                    {{ user.get_profile.skype }}
                                                </li>
                                                {% endif %}
                                            </ul>

                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-12 u-mb-30 flex-centered">
                        <div class="bg-white box-shadow-v2 rounded flex-centered">
                            {% if user.get_profile.is_opengifter %}
                            <div class="u-p-35 margin-auto">
                                <div class="user-status-big">
                                    <div class="yellow-gr rounded-circle"><img src="/static/public/assets/img/crown.svg"></div>
                                </div>
                                <h1 align="center" class="nowrap">{{ user.get_profile.get_donation_sum }}</h1>
                            </div>
                            {% else %}
                            <!--Батарейка-->
                            <div class="u-pt-60 u-p-35" style="margin-left: -65px;">

                                <div class="vertical-progress-bar-wrapper">
                                    <div class="vertical-progress-bar-inner">
                                        <h6 class="vertical-progress-bar-wrapper-desc">LEVEL</h6>

                                        <div class="vertical-progress-bar" style="height: {{ percent|floatformat }}%">
                                            <div class="vertical-progress-bar-sum bg-blue btn btn-sm btn-rounded">{{ percent|floatformat }}%</div>
                                        </div>

                                        <div class="vertical-progress-bar-borders"></div>
                                        <div class="vertical-progress-bar-texts">
                                            <div class="vertical-progress-bar-item-og"><span class="yellow-gr text-white rounded btn-xs yellow-shadow">Opengifter</span></div>
                                            <div class="vertical-progress-bar-item-b"><span class="orange-gr text-white rounded btn-xs orange-shadow">Baker</span></div>
                                            <div class="vertical-progress-bar-item-d"><span class="purple-gr text-white  rounded btn-xs purple-shadow">Donator</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>


                    </div>
                </div>
            </div>
        </div>

    <div class="container user-block-detailed">
        <div class="row">
            <div class="col-12">
                <ul class="nav nav-tabs tabs-v3 text-center u-ff-dosis u-fw-600 u-fs-20 hide-on-768" role="tablist" aria-orientation="vertical">
                    <li class="nav-item u-ml-30">
                        <a class="nav-link p-3 blue-gr active" data-toggle="pill" href="#donations" role="tab" aria-controls="donations" aria-selected="true" aria-expanded="true">
                            <span class="icon icon-Bag color-primary mr-lg-3"></span>
                            Donations
                        </a>
                    </li>
                    <li class="nav-item u-ml-10">
                        <a class="nav-link p-3 green-gr" data-toggle="pill" href="#сreated-goals" role="tab" aria-controls="сreated-goals" aria-selected="false" aria-expanded="false">
                            <span class="icon icon-Plaine color-primary mr-lg-3"></span>
                            Created Goals
                        </a>
                    </li>
                    <li class="nav-item u-ml-10">
                        <a class="nav-link p-3 orange-gr" data-toggle="pill" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false" aria-expanded="false">
                            <span class="icon icon-Typing color-primary mr-lg-3"></span>
                            Reviews
                        </a>
                    </li>
                </ul>

                <ul class="nav flex-column nav-pills show-on-768 u-ff-dosis u-fw-600 u-fs-20" role="tablist" aria-orientation="vertical">
                        <a class="nav-link p-3 active" data-toggle="pill" href="#donations" role="tab" aria-controls="donations" aria-selected="true" aria-expanded="true">
                            <span class="icon icon-Bag color-primary mr-2"></span>
                            Donations
                        </a>
                        <a class="nav-link p-3" data-toggle="pill" href="#сreated-goals" role="tab" aria-controls="сreated-goals" aria-selected="false" aria-expanded="false">
                            <span class="icon icon-Plaine color-primary mr-2"></span>
                            Created Goals
                        </a>
                        <a class="nav-link p-3" data-toggle="pill" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false" aria-expanded="false">
                            <span class="icon icon-Typing color-primary mr-2"></span>
                            Reviews
                        </a>
                </ul>

            </div>
            <div class="col-12">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade active show" id="donations" role="tabpanel" aria-labelledby="donations-tab" aria-expanded="false">
                            <div class="bg-white box-shadow-v2 rounded">
                                <div class="project-list u-p-35">

                                    <h2 class="u-mb-25" align="center">Donations</h2>
                                    <div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-40 mx-auto"></div>

                                    <div class="list-group u-mb-25">
                                        <div class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="row">
                                                <div class="col-xl-1 col-lg-12 flex-centered">
                                                    <small class="text-muted margin-auto width-100">03.02.2013</small>
                                                </div>
                                                <div class="col-xl-3 col-lg-3 flex-centered">
                                                    <h4 class="margin-auto width-100"><a href="#">CMV-React</a></h4>
                                                </div>
                                                <div class="col-xl-6 col-lg-7 flex-centered">
                                                    <h6 class="margin-auto width-100">Update core CMV framework and widgets for use with Esri JavaScript API version 4.x </h6>
                                                </div>
                                                <div class="col-xl-2 col-lg-2 flex-centered">
                                                    <ul class="list-unstyled mb-0 width-100">
                                                        <li class="list-inline-item mr-3">
                                                            <img src="/static/public/assets/img/gift-ico.svg" class="svg-ico mr-1">
                                                            <span data-id="271" class="js-milestone-likes-count">100000</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="row">
                                                <div class="col-xl-1 col-lg-12 flex-centered">
                                                    <small class="text-muted margin-auto width-100">03.02.2013</small>
                                                </div>
                                                <div class="col-xl-3 col-lg-3 flex-centered">
                                                    <h4 class="margin-auto width-100"><a href="#">CMV-React</a></h4>
                                                </div>
                                                <div class="col-xl-6 col-lg-7 flex-centered">
                                                    <h6 class="margin-auto width-100">Update core CMV framework and widgets for use with Esri JavaScript API version 4.x </h6>
                                                </div>
                                                <div class="col-xl-2 col-lg-2 flex-centered">
                                                    <ul class="list-unstyled mb-0 width-100">
                                                        <li class="list-inline-item mr-3">
                                                            <img src="/static/public/assets/img/gift-ico.svg" class="svg-ico mr-1">
                                                            <span data-id="271" class="js-milestone-likes-count">100000</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p align="center"><a href="" class="btn btn-sm btn-primary">Show all</a> </p>
                                </div>
                            </div>
                    </div>
                    <div class="tab-pane fade" id="сreated-goals" role="tabpanel" aria-labelledby="сreated-goals-tab" aria-expanded="true">


                            <div class="bg-white box-shadow-v2 rounded">

                                <div class="project-list u-p-35">
                                    <h2 class="u-mb-25" align="center">Created Goals</h2>
                                    <div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-40 mx-auto"></div>
                                    <h4 class="u-mb-25" align="center">Project 1</h4>
                                    <div class="list-group u-mb-25">
                                        <div class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="row">
                                                <div class="col-md-6 flex-centered">
                                                    <h6 class="margin-auto width-100">Update core CMV framework and widgets for use with Esri JavaScript API version 4.x </h6>
                                                </div>
                                                <div class="col-md-4 flex-centered">
                                                    <div class="progress-item margin-auto width-100">
                                                        <h6 class="pull-left">
                                                            <ul class="list-unstyled mb-0">
                                                                <li class="list-inline-item mr-3">
                                                                    <img src="/static/public/assets/img/gift-ico.svg" class="svg-ico mr-1">
                                                                    <span data-id="271" class="js-milestone-likes-count">0</span>
                                                                </li>
                                                                <li class="list-inline-item"><i class="fa fa-heart text-red mr-1"></i> <span data-id="271" class="js-milestone-likes-count">0</span></li>
                                                            </ul>
                                                        </h6>
                                                        <h6 class="pull-right">90%</h6>
                                                        <div class="clearfix"></div>
                                                        <div class="progress w-100">
                                                            <div class="progress-bar green-gr" aria-valuenow="90" style="width: 90%;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 flex-centered">
                                                    <small class="text-muted margin-auto">03.02.2013</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="row">
                                                <div class="col-md-6 flex-centered">
                                                    <h6 class="margin-auto width-100">New core CMV modules and widgets using React/Redux </h6>
                                                </div>
                                                <div class="col-md-4 flex-centered">
                                                    <div class="progress-item margin-auto width-100">
                                                        <h6 class="pull-left">
                                                            <ul class="list-unstyled mb-0">
                                                                <li class="list-inline-item mr-3">
                                                                    <img src="/static/public/assets/img/gift-ico.svg" class="svg-ico mr-1">
                                                                    <span data-id="271" class="js-milestone-likes-count">0</span>
                                                                </li>
                                                                <li class="list-inline-item"><i class="fa fa-heart text-red mr-1"></i> <span data-id="271" class="js-milestone-likes-count">0</span></li>
                                                            </ul>
                                                        </h6>
                                                        <h6 class="pull-right">90%</h6>
                                                        <div class="clearfix"></div>
                                                        <div class="progress w-100">
                                                            <div class="progress-bar green-gr" aria-valuenow="90" style="width: 90%;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 flex-centered">
                                                    <small class="text-muted margin-auto">03.02.2013</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <h4 class="u-mb-25" align="center">Project 1</h4>
                                    <div class="list-group u-mb-25">
                                        <div class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="row">
                                                <div class="col-md-6 flex-centered">
                                                    <h6 class="margin-auto width-100">Update core CMV framework and widgets for use with Esri JavaScript API version 4.x </h6>
                                                </div>
                                                <div class="col-md-4 flex-centered">
                                                    <div class="progress-item margin-auto width-100">
                                                        <h6 class="pull-left">
                                                            <ul class="list-unstyled mb-0">
                                                                <li class="list-inline-item mr-3">
                                                                    <img src="/static/public/assets/img/gift-ico.svg" class="svg-ico mr-1">
                                                                    <span data-id="271" class="js-milestone-likes-count">0</span>
                                                                </li>
                                                                <li class="list-inline-item"><i class="fa fa-heart text-red mr-1"></i> <span data-id="271" class="js-milestone-likes-count">0</span></li>
                                                            </ul>
                                                        </h6>
                                                        <h6 class="pull-right">90%</h6>
                                                        <div class="clearfix"></div>
                                                        <div class="progress w-100">
                                                            <div class="progress-bar green-gr" aria-valuenow="90" style="width: 90%;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 flex-centered">
                                                    <small class="text-muted margin-auto">03.02.2013</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="row">
                                                <div class="col-md-6 flex-centered">
                                                    <h6 class="margin-auto width-100">New core CMV modules and widgets using React/Redux </h6>
                                                </div>
                                                <div class="col-md-4 flex-centered">
                                                    <div class="progress-item margin-auto width-100">
                                                        <h6 class="pull-left">
                                                            <ul class="list-unstyled mb-0">
                                                                <li class="list-inline-item mr-3">
                                                                    <img src="/static/public/assets/img/gift-ico.svg" class="svg-ico mr-1">
                                                                    <span data-id="271" class="js-milestone-likes-count">0</span>
                                                                </li>
                                                                <li class="list-inline-item"><i class="fa fa-heart text-red mr-1"></i> <span data-id="271" class="js-milestone-likes-count">0</span></li>
                                                            </ul>
                                                        </h6>
                                                        <h6 class="pull-right">90%</h6>
                                                        <div class="clearfix"></div>
                                                        <div class="progress w-100">
                                                            <div class="progress-bar green-gr" aria-valuenow="90" style="width: 90%;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 flex-centered">
                                                    <small class="text-muted margin-auto">03.02.2013</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                    </div>
                    <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab" aria-expanded="false">

                            <div class="bg-white box-shadow-v2 rounded">

                                <div class="project-list u-p-35">
                                    <h2 class="u-mb-25 " align="center">
                                        <div class="float-md-left">Reviews</div>
                                        <div class="float-md-right">Expert rating: 10000</div>
                                    </h2>
                                    <div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-40 mx-auto"></div>


                                    <div class="list-group u-mb-25">
                                        <div class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="row">
                                                <div class="col-lg-2 flex-centered">
                                                    <h4 class="margin-auto width-100"><a href="#">CMV-React</a></h4>
                                                </div>
                                                <div class="col-lg-4 flex-centered">
                                                    <h6 class="margin-auto u-lh-1_6 width-100">Update core CMV framework and widgets for use with Esri JavaScript API version 4.x </h6>
                                                </div>
                                                <div class="col-lg-4 flex-centered">
                                                    <p class="margin-auto u-fs-14 u-lh-1_8 width-100">Update core CMV framework and widgets for use with Esri JavaScript API version 4.x </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p align="center"><a href="" class="btn btn-sm btn-primary">Show all</a> </p>
                                </div>


                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
{% endblock %}