{% extends "public/index.html" %}
{% load thumbnail get_settings compressed %}
{% block content %}
    <section id="faq" class="">
        <div class="container u-pt-50">

            <div class="row">
                <div class="col-lg-6 m-auto text-center">
                    <h2 class="h1">
                        For backers
                    </h2>

                    <div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-40 mx-auto"></div>
                </div>
            </div> <!--END row-->


        </div> <!-- END container-->
    </section>
{% endblock %}