{% extends "public/index.html" %}
{% load thumbnail get_settings compressed %}
{% block content %}
    <section id="faq" class="">
        <div class="container">

            <div class="row">
                <div class="col-lg-6 m-auto text-center">
                    <h2 class="h1">
                        FAQ from investors in OpenGift
                    </h2>

                    <div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-40 mx-auto"></div>
                </div>
            </div> <!--END row-->

            <div class="row">
                <div class="col-12 mt-4">
                    <div id="accordion" role="tablist" class="bg-white box-shadow-v3">

                        <div class="accordion__faq">
                            <a class="accordion__title p-4 collapsed" data-toggle="collapse" href="#acc1"
                               aria-expanded="false">
                                <i class="fa fa-angle-down mr-3"></i>
                                What is your go-to-market strategy?
                            </a>

                            <div id="acc1" class="collapse" role="tabpanel" data-parent="#accordion" style="">
                                <div class="accordion__text">
                                    We plan to implement it in several phases. <br/><br/>
                                    In first phase we shall focus on accumulating on our platform as many good OSS
                                    projects as possible. In parallel, we’ll work closely with projects that have
                                    highest potential to become fundable by sponsors. This work may include assistance
                                    in search of potential contributors, promoters and field experts, preparing
                                    case-studies of OSS use, and direct sale of OSS to enterprises and funds. <br/><br/>
                                    The first phase to take 8-10 months; upon completion we expect to have no less than
                                    500 projects and 4-5 OpenGift champions, which raise more than $100K each.
                                    <br/><br/>
                                    Once we have enough projects and several success stories, we can switch the main
                                    direction of our activity to attracting sponsors. On initial phases we aim to offer
                                    personalized solutions to corporate sponsors and partner with organizations that
                                    have an expertise to provide similar services.<br/><br/>
                                    By the end of this phase we expect no less than 100 projects to start earning above
                                    $300K on annual basis.<br/><br/>
                                    More projects become sufficiently funded, more interesting the platform become to
                                    early investors. So on third step we will make a heavy marketing emphasize on
                                    attracting business angels and seed funds. By doing so, we effectively scale up the
                                    project: early-stage financing will help a lot of OSS to grow faster, and, as an
                                    effect, it will attract more projects and sponsors to our platform. It will also
                                    attract system participants that are not directly involved in software development:
                                    project and product managers, technical writers, marketers, etc. With their input
                                    OSS project teams will be able to provide a level of customization and service close
                                    to those of proprietary providers.
                                </div>
                            </div>
                        </div>     <!-- END accordion__faq-->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 m-auto text-center u-pt-100">
                    <h2 class="h1">
                        FAQ from developers
                    </h2>

                    <div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-40 mx-auto"></div>
                </div>
            </div> <!--END row-->

            <div class="row">
                <div class="col-12 mt-4">
                    <div id="accordion1" role="tablist" class="bg-white box-shadow-v3">

                        <div class="accordion__faq">
                            <a name="acc2"></a>
                            <a class="accordion__title p-4 collapsed" data-toggle="collapse" href="#acc2"
                               aria-expanded="false">
                                <i class="fa fa-angle-down mr-3"></i>
                                How are you different from other OSS monetization platforms?
                            </a>

                            <div id="acc2" class="collapse" role="tabpanel" data-parent="#accordion1" style="">
                                <div class="accordion__text">
                                    <h4>Key differentiators at glance:</h4><br/>
                                    <ul>
                                        <li>you know what type of products the community is likely to support</li>
                                        <li>if you build a truly interesting solution, it’s easy for backers and
                                            investors to find you
                                        </li>
                                        <li>you can find and motivate fellow contributors by offering them a share in
                                            future earnings
                                        </li>
                                        <li>you can even recruit a team to create customizable solutions for enterprise
                                            clients
                                        </li>
                                        <li>you can outsource marketing and promotion of your project (no need to pay
                                            for this now, you pay only from future earnings, no risk involved)
                                        </li>
                                        <li>backers not just give away their money – they donate to get features they
                                            need => more donations
                                        </li>
                                        <li>OpenGift has a strong back-end – you can showcase a lot of data to enhance
                                            your project’s credibility => more donations & investments.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>     <!-- END accordion__faq-->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 m-auto text-center u-pt-100">
                    <h2 class="h1">
                        Other Questions
                    </h2>

                    <div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-40 mx-auto"></div>
                </div>
            </div> <!--END row-->
            <div class="row">
                <div class="col-12 mt-4">
                    <div id="accordion2" role="tablist" class="bg-white box-shadow-v3">

                        <div class="accordion__faq">
                            <a class="accordion__title p-4 collapsed" data-toggle="collapse" href="#acc3"
                               aria-expanded="false">
                                <i class="fa fa-angle-down mr-3"></i>
                                Why blockchain?
                            </a>

                            <div id="acc3" class="collapse" role="tabpanel" data-parent="#accordion2" style="">
                                <div class="accordion__text">
                                    <ul>
                                        <li>Faster adoption. Thanks to decentralization feature you don’t need to trust your money to our platform => no risk to join</li>
                                        <li>It requires much less management => negligible costs for us => free for you</li>
                                        <li>It’s very convenient and probably the most trustable technological basis for automatic distribution of project earnings (see Smart-contract section of the WhitePaper)</li>
                                    </ul>
                                </div>
                            </div>
                        </div>     <!-- END accordion__faq-->

                        <div class="accordion__faq">
                            <a class="accordion__title p-4 collapsed" data-toggle="collapse" href="#acc4"
                               aria-expanded="false">
                                <i class="fa fa-angle-down mr-3"></i>
                                Who are you competitors?
                            </a>

                            <div id="acc4" class="collapse" role="tabpanel" data-parent="#accordion2" style="">
                                <div class="accordion__text">
They are different depending on what phase of the project development we consider.<br /><br />
At first stage we obviously be competing with other solutions for OSS monetization like Open Collective, FundRequest, дописать
Later on, at “grown-up” phase, we believe our main competitors will be traditional software development companies (especially companies that provide offshore development services). <br /><br />
It’s also important to mark several types of companies that may become our competitors under certain circumstances: <br /><br />
<ul>
                                    <li>Freelance platforms (moderate probability;  it will require a substantial changes in platforms functionality and freelance business model)</li>
<li>Providers of different types of software constructors designed to eliminate coding (coopetition model and market segmentation seem more probable)</li>
<li>Traditional crowdinvesting platforms (to some extent; most people will probably invest in both opensource and traditional companies for diversification purpose)</li>
<li>ICO platforms (likely; there is also a scenario OpenGift when become an incubator for ICO platforms)</li>
                                    </ul>
                                </div>
                            </div>
                        </div>     <!-- END accordion__faq-->
                        <div class="accordion__faq">
                            <a class="accordion__title p-4 collapsed" data-toggle="collapse" href="#acc5"
                               aria-expanded="false">
                                <i class="fa fa-angle-down mr-3"></i>
                                Hey, opensource is supposed to be free stuff! Why bother with funding at all?
                            </a>

                            <div id="acc5" class="collapse" role="tabpanel" data-parent="#accordion2" style="">
                                <div class="accordion__text">
Actually, this question has a long history of debate in opensource community. Rather than joining any side of it, we just want to provide an option. Surely, we won’t force anybody to accept payments against her/his values :)
                                </div>
                            </div>
                        </div>     <!-- END accordion__faq-->
                        <div class="accordion__faq">
                            <a class="accordion__title p-4 collapsed" data-toggle="collapse" href="#acc6"
                               aria-expanded="false">
                                <i class="fa fa-angle-down mr-3"></i>
                                What is a competitive edge of OpenSource paid development over freelance model?
                            </a>

                            <div id="acc6" class="collapse" role="tabpanel" data-parent="#accordion2" style="">
                                <div class="accordion__text">
OpenSource developers know their software well, so no need to spend extra time studying the code. <br /><br />
OpenSource project are essentially teams that work together for some time, which helps to save up time usually spent on coordination.<br /><br />
Needless to say, all these count when working on big projects that are based on OpenSource software. Hence we believe that OpenSource model is better suited for more complex projects that those typical for freelance.
                                </div>
                            </div>
                        </div>     <!-- END accordion__faq-->
                        <div class="accordion__faq">
                            <a class="accordion__title p-4 collapsed" data-toggle="collapse" href="#acc7"
                               aria-expanded="false">
                                <i class="fa fa-angle-down mr-3"></i>
                                Why would organization think of paying for opensource software?
                            </a>

                            <div id="acc7" class="collapse" role="tabpanel" data-parent="#accordion2" style="">
                                <div class="accordion__text">
They already do. What we offering is just a model, which redirects most of the funding towards people who create most of the value. See our <a href="/wp/">WP for more details</a>.
                                </div>
                            </div>
                        </div>     <!-- END accordion__faq-->
                        <div class="accordion__faq">
                            <a class="accordion__title p-4 collapsed" data-toggle="collapse" href="#acc8"
                               aria-expanded="false">
                                <i class="fa fa-angle-down mr-3"></i>
                                Donations? What’s in it for me?
                            </a>

                            <div id="acc8" class="collapse" role="tabpanel" data-parent="#accordion2" style="">
                                <div class="accordion__text">
Besides, you can help guys who already made something that you probably already use for free? That’s OK, we’ve got to confess - we also rarely donate being given only that reason : )<br /><br />
With OpenGift you’ll have some extra motivation. First, you can make a OSS project to reconsider their development plans. You may need it when you need a specific feature in software you got used to, or when you haven’t find an existing solution to your software-related problem.<br /><br />
Second, taken together all the small opensource projects help to overcome major technological barriers and solve problems that seem to be far away from IT. Our technological map make the role of each project more evident. So even if you don’t concern yourself with opensource, you may want to check the map from time to time – may be you’ll find something that you deem really important.                                </div>
                            </div>
                        </div>     <!-- END accordion__faq-->
                        <div class="accordion__faq">
                            <a class="accordion__title p-4 collapsed" data-toggle="collapse" href="#acc9"
                               aria-expanded="false">
                                <i class="fa fa-angle-down mr-3"></i>
                                Any reason to start donating now?
                            </a>

                            <div id="acc9" class="collapse" role="tabpanel" data-parent="#accordion2" style="">
                                <div class="accordion__text">
There is at least one strong reason to be early-bird on our platform.<br /><br />
If you donate to a project at early phase of development, and after that project becomes popular (we measure popularity in amount of donations), you have remarkable rise in your expert rating.<br /><br />
Users with high expert rating receive benefits we describe <a href="/backers/">here</a>.<br /><br />
Technically, all the projects that are newly registered on platform are at early stage of development since they receive little or no donations. So you if you spot some a project that is already popular outside of the platform, but just got registered on OpenGift, you may consider this as a chance to level up your expert rating.
We understand that by some it may be regarded as an unfair trick, but for now we decided to leave the “hole”.
                                </div>
                            </div>
                        </div>     <!-- END accordion__faq-->
                        <div class="accordion__faq">
                            <a class="accordion__title p-4 collapsed" data-toggle="collapse" href="#acc10"
                               aria-expanded="false">
                                <i class="fa fa-angle-down mr-3"></i>
                                Let’s suppose I donate to a project. What if it disappears soon after that?
                            </a>

                            <div id="acc10" class="collapse" role="tabpanel" data-parent="#accordion2" style="">
                                <div class="accordion__text">
                                It may happen. To protect yourself, take a closer look to a project’s profile page.
                                How many tasks has the project already finished? How large is its community?
                                How many contributors/commits it has? All those data constitutes a reputation of a project.
                                More effort a project invested in building reputation, more it has to lose when defrauding its backers.
                                </div>
                            </div>
                        </div>     <!-- END accordion__faq-->

                        <div class="accordion__faq">
                            <a class="accordion__title p-4 collapsed" data-toggle="collapse" href="#acc11"
                               aria-expanded="false">
                                <i class="fa fa-angle-down mr-3"></i>
                                How are you different from BountrySource?
                            </a>

                            <div id="acc11" class="collapse" role="tabpanel" data-parent="#accordion2" style="">
                                <div class="accordion__text">
                                Well, most of
                                    <ul>
                                        <li>BountSource is more task-centric, while we are project-centric. In BountSource developers “sell” their work (bug fixes, new features), in OpenGift projects “sell” a vision of a future in a form of roadmap, while backers can donate to make one or several goals more urgent than others.</li>
                                        <li>We plan to release a few features that will make OpenGift platform more attractive for different types of backers: a search engine to find interesting projects by problems they solve, a tech map to see how projects are related to solving global humankind problems, social incentives and elements of gamification, etc.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>     <!-- END accordion__faq-->
                    </div> <!-- END accordion-->
                </div> <!-- END col-12-->
            </div> <!-- END row-->

        </div> <!-- END container-->
    </section>
{% endblock %}