{% extends 'public/index.html' %}
{% load less %}
{% block content %}
<section>
  <div class="container">
      <br /><br />
      <h1 class="display-4 u-fw-600 u-mb-40 text-center">Register for the next weekly hackaton.</h1>
{#      <p class="u-fs-22 u-lh-1_8 my-4 text-center">You can choose to keep it or sponsor some cool open source projects.</p>#}
    <!--tabs-->

    <style>
      .nav-link.active {
        color: white !important;
      }
    </style>

    <form name="register_form" action="/hackathon_register/" method="POST">
      {% csrf_token %}

      <!--username-->
      <div class="row">
        <div class="col-lg-4 text-center mx-auto">
          <div class="input-group u-rounded-50 border u-of-hidden u-mb-30">
            <div class="input-group-addon bg-white border-0 pl-4 pr-0">
              <span class="icon icon-Mail text-primary"></span>
            </div>
            <input type="text" class="form-control border-0 p-3"
                   name="stack"
                   placeholder="Your development stack" required="required">
          </div>
        </div>
      </div>


      <!--button-->
      <div class="row">
        <div class="col-lg-4 text-center mx-auto">
          <input class="btn btn-rounded btn-green px-md-5 m-3" type="submit" value="Register" />
          <input type="hidden" name="backurl" value="{{ request.GET.backurl|default_if_none:'' }}" />
        </div>
      </div>

    </form>
  </div>

</section>
<script>$(function () { $('[name=username]').focus(); });</script>
{% endblock %}