<div class="collapse navbar-collapse js-navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/pub/">HOME</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/bounty/">Task list</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/project/list/">Projects</a>
        </li>

{#        <li class="nav-item">#}
{#            <a class="nav-link" href="/faq/">FAQ</a>#}
{#        </li>#}
        <li class="nav-item dropdown">
            <a class="nav-link js-nav-link " href="#">About us</a>
            <div class="dropdown-menu box-shadow-v2 js-nav-dropdown" aria-labelledby="navbarDropdown">


                <a class="dropdown-item u-d-block" target="_blank" href="/static/documents/presentation-opengift-en.pdf">Presentation</a>
                <a class="dropdown-item u-d-block" target="_blank" href="/static/documents/presentation-opengift-ru.pdf">Presentation (RU)</a>
                <a class="dropdown-item u-d-block" href="/ico_details/">For companies (RU)</a>
                <a class="dropdown-item u-d-block" href="/ico/#team">Team</a>
                <a class="dropdown-item u-d-block" href="/ico/#advisors">Advisory board</a>
                <a class="dropdown-item u-d-block" href="/ico/#roadmap">Our Roadmap</a>
{#							    <a class="dropdown-item u-d-block" href="/pub/#clients">Clients</a>#}
                <a class="dropdown-item u-d-block" href="/pub/#partners">Our Partners</a>
                <a class="dropdown-item u-d-block" target="_blank"
                   href="http://explorer.opengift.io">Our blockchain</a>
                <a class="dropdown-item u-d-block" target="_blank"
                   href="https://github.com/opengift-io/">Our GitHub</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link js-nav-link" href="#">Services</a>
            <div class="dropdown-menu box-shadow-v2 js-nav-dropdown" aria-labelledby="navbarDropdown">
                <a class="dropdown-item u-d-block" href="/offer/">For businesses</a>
                <a class="dropdown-item u-d-block" href="/dev/">For developers</a>
                <a class="dropdown-item u-d-block" href="/hackathon/">Weekly hackathon</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link js-nav-link"  href="#" onclick="if ($(window).width() > 768) document.location.href='/ico/';">TGE</a>
            <div class="dropdown-menu box-shadow-v2 js-nav-dropdown" aria-labelledby="navbarDropdown">
                <a class="dropdown-item u-d-block" href="/ico/">Summary</a>
                <a class="dropdown-item u-d-block" target="_blank" href="/static/documents/wp.eng.pdf?20180701">WhitePaper</a>
{#                <a class="dropdown-item u-d-block" href="/static/documents/wp.ru.pdf">WhitePaper RU</a>#}
                <a class="dropdown-item u-d-block" target="_blank" href="/static/documents/tokensale-agreement.pdf?20180701">Token Sale Agreement</a>
                <a class="dropdown-item u-d-block" target="_blank" href="/static/documents/ld.pdf?20180701">Legal Disclaimer</a>
            </div>
        </li>
        <li class="nav-item dropdown">

            <a class="nav-link" {% if not request.user.is_authenticated %}id="topsignin"{% endif %} href="/wallet/">{% if request.user.is_authenticated %}Wallet{% else %}Sign in / Sign up{% endif %}</a>
            <div class="dropdown-menu box-shadow-v2" aria-labelledby="navbarDropdown">
                <a class="dropdown-item u-d-block" href="/wallet/">Online Wallet</a>
                {% if request.user.is_authenticated %}
                    {% for p in request.user.createdProjects.all %}
                    <a class="dropdown-item u-d-block" href="/project/{{ p.id }}/edit/">{{ p.name }}</a>
                    {% endfor %}
                {% endif %}
                <a class="dropdown-item u-d-block" href="/profile/edit/">Personal Profile</a>
                {% if request.user.is_authenticated %}
                    <a class="dropdown-item u-d-block" href="/pub/?logout=yes">Logout</a>
                {% endif %}
            </div>
        </li>
    </ul>
</div>
<script>
    $(function() {
        $('.js-nav-link').click(function() {$(this).parent().find('.js-nav-dropdown').toggle();return false;});
    });
</script>