<div class="collapse navbar-collapse js-navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/pub/">MAIN</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link"  href="/ico/">ICO</a>
                            <div class="dropdown-menu box-shadow-v2" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item u-d-block" href="/ico/">Summary EN</a>
                                <a class="dropdown-item u-d-block" href="/ico_details/">Summary RU</a>
                                <a class="dropdown-item u-d-block" href="/static/documents/wp.eng.pdf">WhitePaper EN</a>
                                <a class="dropdown-item u-d-block" href="/static/documents/wp.ru.pdf">WhitePaper RU</a>
                                <a class="dropdown-item u-d-block" href="/static/documents/presentation-opengift-en.pdf">Presentation EN</a>
                                <a class="dropdown-item u-d-block" href="/static/documents/presentation-opengift-ru.pdf">Presentation RU</a>
                                <a class="dropdown-item u-d-block" href="/static/documents/ld.pdf">Legal Disclaimer</a>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/faq/">FAQ</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" target="_blank" href="/static/documents/wp.eng.pdf">About us</a>
                            <div class="dropdown-menu box-shadow-v2" aria-labelledby="navbarDropdown">
							    <a class="dropdown-item u-d-block" href="/ico/#team">Team</a>
							    <a class="dropdown-item u-d-block" href="/ico/#advisors">Advisory board</a>
							    <a class="dropdown-item u-d-block" href="/ico/#roadmap">Roadmap</a>
{#							    <a class="dropdown-item u-d-block" href="/pub/#clients">Clients</a>#}
							    <a class="dropdown-item u-d-block" href="/pub/#partners">Partners</a>
							    <a class="dropdown-item u-d-block" target="_blank"
                                   href="http://explorer.opengift.io">Blockchain</a>
                                <a class="dropdown-item u-d-block" target="_blank"
                                   href="https://github.com/opengift-io/">GitHub</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/project/list/">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/bounty/">Bounty tasks</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="/wallet/">Wallet</a>
                            <div class="dropdown-menu box-shadow-v2" aria-labelledby="navbarDropdown">
							    <a class="dropdown-item u-d-block" href="/wallet/">Online Wallet</a>
                                {% if request.user.is_authenticated %}
                                    {% for p in request.user.createdProjects.all %}
                                    <a class="dropdown-item u-d-block" href="/project/{{ p.id }}/edit/">My project</a>
                                    {% endfor %}
                                {% endif %}
							    <a class="dropdown-item u-d-block" href="/profile/edit/">Personal Profile</a>
                                {% if request.user.is_authenticated %}
                                    <a class="dropdown-item u-d-block" href="/pub/?logout=yes">Logout</a>
                                {% endif %}
                            </div>
                        </li>
                    </ul>
                </div>