{% extends "public/index.html" %}
{% load thumbnail get_settings compressed %}
{% block header %}
    <meta name="description" content="Make open source projects more popular and get bonuses for it.">
    <!-- Title-->
    <title>OpenGift.io - referral program.</title>
{% endblock %}
{% block content %}
    <section id="pricing" class="bg-gray-v1 u-pt-150">
        <div class="container u-mt-50">
            <div class="row">
                <div class="col-lg-6 m-auto text-center">
                    <h2 class="h1">
                        OpenGift referral program.
                    </h2>
                    <div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-40 mx-auto"></div>
                </div>
            </div> <!--END row-->
            <div>
                OpenGift is platform where everyone can set a direction for building open source software with donations.
                You can earn 20% of each donation you help to attract. This is what you need to do:
                <ul>
                <li><a href="/login/">Sign up</a> to opengift.io and register your wallet</li>
                <li>Find a project or projects you'd like to support <a href="/project/list/">here</a></li>
                <li>When you are on a project page press button "Get partners link"</li>
                <li>Now you have a referral link and can place it everywhere you like; now each time anybody who come to a project page via your link make a donation, your receive your share on your GIFT wallet</li>
                </ul>
            </div>
        </div> <!-- END container-->
    </section>
{% endblock %}