<div class="modal fade js-set-deadline green-popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Установить сроки</h3>
      </div>
      <div class="modal-body clearfix deadline-wrapper">
        <h5>№#TASK_NUMBER# — #TASK_NAME#</h5>
        <hr class="clearfix">
	    <div class="deadline-block">
            <h6>Крайний срок</h6>
	        <div class="deadline-input">
                <input type="text" class="js-deadlinedate form-control" maxlength="10" name="deadline_date" placeholder="ДД.ММ.ГГГГ ЧЧ:ММ"/>
		        <a class="fa fa-calendar" href="javascript:void(0);" onclick="$(this).prev().focus();"></a>
            </div>
            <a href="#" class="js-changeDeadlineDate" data-time="today">Сегодня</a>&nbsp;&nbsp;&nbsp;
            <a href="#" class="js-changeDeadlineDate" data-time="tomorrow">Завтра</a>&nbsp;&nbsp;&nbsp;
            <a href="#" class="js-changeDeadlineDate" data-time="week">Неделя</a>
	    </div>
          <div class="deadline-block">
              <h6>Напомнить</h6>
              <div class="deadline-input">
                  <input type="text" class="js-reminderdate form-control" maxlength="10" name="reminder_date" placeholder="ДД.ММ.ГГГГ ЧЧ:ММ" />
                  <a class="fa fa-calendar" href="javascript:void(0);" onclick="$(this).prev().focus();"></a>
              </div>
              <a href="#" class="js-changeReminderDate" data-time="hour">За час</a>&nbsp;&nbsp;&nbsp;
              <a href="#" class="js-changeReminderDate" data-time="day">За день</a>&nbsp;&nbsp;&nbsp;
              <a href="#" class="js-changeReminderDate" data-time="week">За неделю</a>
          </div>
        <script type="text/javascript">
          var $min_select = $('.js-deadlinedate');
          if($min_select.data('deadline')) {
            var dFinalDate = new Date($min_select.data('deadline'));
          }
          else {
            var dFinalDate;
          }

          $("input[name=deadline_date], input[name=reminder_date]").datetimepicker({
	        'onShow':function() {
		        this.setOptions({
			        minDate: ($min_select).data('min-date')
		        });
	        },
	        'onClose':function(ct, $i) {
		        if ($i.attr('name') == 'deadline_date') {
			        dFinalDate = ct
		        }
	        }
          });

          $('.js-changeDeadlineDate').click(function () {
            var dDate;
            var dThisDate = new Date();
            switch ($(this).attr('data-time')) {
              case 'today':
	            var planTime = $(this).attr('default-time');
		        if (planTime) {
			        dThisDate = new Date(dThisDate.getTime() + 1000 * 60 * 60 * planTime);
		        }
                dDate = formatDate(dThisDate);
                dFinalDate = dThisDate;
                break;
              case 'tomorrow':
                var dDateTomorrow = new Date(dThisDate.getTime() + 1000 * 60 * 60 * 24);
                dDate = formatDate(dDateTomorrow);
                dFinalDate = dDateTomorrow;
                break;
              case 'week':
                var dDateWeek = new Date(dThisDate.getTime() + 1000 * 60 * 60 * 168);
                dDate = formatDate(dDateWeek);
                dFinalDate = dDateWeek;
                break;
            }
            $("input[name=deadline_date]").val(dDate);
            return false;
          });

          $('.js-changeReminderDate').click(function () {
            var dDate;
            var dRemindDate;
            if (dFinalDate) {
              switch ($(this).attr('data-time')) {
                case 'hour':
                  dRemindDate = new Date(dFinalDate.getTime() - 1000 * 60 * 60);
                  dDate = formatDate(dRemindDate);
                  break;
                case 'day':
                  dRemindDate = new Date(dFinalDate.getTime() - 1000 * 60 * 60 * 24);
                  dDate = formatDate(dRemindDate);
                  break;
                case 'week':
                  dRemindDate = new Date(dFinalDate.getTime() - 1000 * 60 * 60 * 168);
                  dDate = formatDate(dRemindDate);
                  break;
              }
            }
            $("input[name=reminder_date]").val(dDate);
            return false;
          });
        </script>
      </div>
      <div class="modal-footer">
		<input type="submit" name="deadline" class="btn btn-success js-date" data-dismiss="modal" value="Сохранить" />
		<button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
	  </div>
    </div>
  </div>
</div>