<div class="modal fade js-set-deadline green-popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">Set the dates</h3>
            </div>
            <div class="modal-body clearfix deadline-wrapper">
                <h5>№#TASK_NUMBER# — #TASK_NAME#</h5>
                <hr class="clearfix" />
                <div class="deadline-block">
                    <h6>Deadline</h6>

                    <div class="deadline-input">
                        <input type="text" class="js-deadlinedate form-control" maxlength="10" name="deadline_date"
                               placeholder="DD.MM.YYYY HH:MI"/>
                        <a class="fa fa-calendar" href="javascript:void(0);" onclick="$(this).prev().focus();"></a>
                    </div>
                    <a href="#" class="js-changeDeadlineDate" data-time="today">Today</a>&nbsp;&nbsp;&nbsp;
                    <a href="#" class="js-changeDeadlineDate" data-time="tomorrow">Tomorrow</a>&nbsp;&nbsp;&nbsp;
                    <a href="#" class="js-changeDeadlineDate" data-time="week">Next week</a>
                </div>
                <div class="deadline-block">
                    <h6>Reminder</h6>

                    <div class="deadline-input">
                        <input type="text" class="js-reminderdate form-control" maxlength="10" name="reminder_date"
                               placeholder="DD.MM.YYYY HH:MI" />
                        <a class="fa fa-calendar" href="javascript:void(0);" onclick="$(this).prev().focus();"></a>
                    </div>
                    <a href="#" class="js-changeReminderDate" data-time="hour">Hour before</a>&nbsp;&nbsp;&nbsp;
                    <a href="#" class="js-changeReminderDate" data-time="day">Day before</a>&nbsp;&nbsp;&nbsp;
                    <a href="#" class="js-changeReminderDate" data-time="week">Week before</a>
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" name="deadline" class="btn btn-success js-save_date" data-dismiss="modal"
                       value="Save"/>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>