{% load floattags %}
{% load arraytags %}

<script type="text/javascript" src="/static/js/libs/timepicker/jquery.timepicker.js"></script>
<link rel="stylesheet" type="text/css" href="/static/js/libs/timepicker/jquery.timepicker.css" />
<script type="text/javascript" src="/static/js/libs/timepicker/base.js"></script>
<link rel="stylesheet" type="text/css" href="/static/js/libs/timepicker/base.css" />
<script type="text/javascript" src="/widgets/js/task_edit/script.js"></script>

<form name="task_form" method="POST" action="{% if task_edit.id %}/task_edit/?id={{ task_edit.id }}{% endif %}{% if request.is_ajax %}&modal=1{% endif%}" rel="{% if task_edit.id %}{{ task_edit.id }}{% endif %}">
    <table width="100%" cellpadding="0" cellspacing="0">
    	<tr>
        	<td valign="top">
				<div class="widget">
					<div class="widget-control">
{#                        <a href="#" class="w-collapse">Свернуть</a>#}
{#                        <a href="#" class="w-close">Закрыть</a>#}
                   </div>
                   <h4><span>Задача в проект: </span>{{ task_edit.project.name }}</h4>
                   <hr>

                    <div class="form-group">
                        <h5>Заголовок</h5>
                        <input class="form-control" type="text" placeholder="Введите задачу..." name="name" value="{{ task_edit.post.name }}"  />
                    </div>

                    <div class="form-group">
                        <h5>Описание</h5>
                        <textarea class="form-control" placeholder="Введите описание..." name="description" rows="5" >{{ task_edit.post.text }}</textarea>
                    </div>

                    <div class="profile-edit-filter form-group">
            {# -------- НАЗНАЧИТЬ ОТВЕТСТВЕННОГО #}
                        <div class="profile-edit-responsible row">
                            <div class="col-xs-6">
                                <select class="form-control js-select-resp" name="resp">
                                    <option value="">Назначить ответственного</option>
                                    {% for user in task_edit.users %}
                                        <option {% if task_edit.post.resp.id == user.id %}selected {% endif %}value="{{ user.id }}">{{ user.last_name }} {{ user.first_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-xs-6">
                               <span class="dropdown">
                                    <a href="javascript:void(0);" class="showPopup">Пригласить исполнителя</a>
                                    <span class="dropdown-menu pull-left" style="width: 345px;">
                                        <div class="form-group">
                                        <label>Введите E-mail
                                        <input type="text" style="width: 260px;" placeholder="Введите E-mail" class="input-block-level js-invite form-control" />
                                        </label>
                                        </div>
                                        <a href="javascript:void(0);" onclick="return addResponsible();" class="btn btn-success exit"><span>Добавить</span></a>
                                    </span>
                               </span>
                               <span class="dropdown">
                                    <a href="#" data-toggle="dropdown">Файлы</a>
                                    <span class="dropdown-menu pull-left">
                                        <label>Прикрепить файл</label>
                                        <input type="file" class="input-block-level">
                                    </span>
                                </span>
                                <span class="dropdown">
                                    <a href="#" data-toggle="dropdown">Назначить наблюдателей</a>
                                    <ul class="dropdown-menu">
                                    {% for user in task_edit.users %}
                                        <li><a href="#" class="js-select-observer" data-id="{{ user.id }}">{% if user.first_name %}{{ user.first_name }} {{ user.last_name }}{% else %}{{ user.username }}{% endif %}</a></li>
                                    {% endfor %}
                                    </ul>
                                </span>
                            </div>
                        </div><!--profile-edit-responsible-->
                        <h5>Файлы</h5>
                        <ul class="add-tags form-control">
                            {% for file in task_edit.post.files %}
                                <li><span>{{ file.name }}&nbsp;<a data-file-id="{{ file.id }}" class="js-file-remove fa fa-times"></a></span></li>
                            {% endfor %}
                        </ul>
            {# -------- ОТВЕТСТВЕННЫЕ #}
                    </div>
            {# -------- НАБЛЮДАТЕЛИ #}
                       <h5>Наблюдатели:</h5>
                       <ul class="add-tags js-observers form-control">
                           {% for observer in task_edit.post.observers %}
                               <li>
                                   <span>
                                       {% if observer.first_name %}
                                            {{ observer.first_name }} {{ observer.last_name }}
                                       {% else %}
                                            {{ observer.username }}
                                       {% endif %}
                                       <a class="js-icon-remove fa fa-times"></a>
                                   </span>
                                   <input name='observers' type='hidden' value='{{ observer.id }}'>
                               </li>
                           {% endfor %}
                       </ul>
                       
                       <hr>

            {# -------- ТЕГИ #}
                       <h5>Тэги:</h5>
                       <ul class="add-tags">
                           {% for tag in task_edit.post.tags %}
                               <li><span>{{ tag.tag }}
{#                                   &nbsp;<a class="js-icon-remove fa fa-times"></a>#}
                               </span></li>
                           {% endfor %}
                            <li><input name="additional_tags" type="text" /></li>
                       </ul><!--add-tags-->

  						<hr>

            {# -------- ПАРАМЕТРЫ #}
                       <div class="params">
                           <div class="params-item">             
                                <h5>Приоритет: <span data-name="critically">{{ task_edit.post.critically }}</span></h5>
                                <div class="progress">
                                    <a style="left:{% widthratio task_edit.post.critically|dotted_float 1 100 %}%;" class="btn btn-success"><i class="fa fa-arrows-h"></i></a>
                                </div>     
                                <div class="row-fluid">
                                    <div class="pull-left muted">Низкий</div>
                                    <div class="pull-right muted">Высокий</div>
                                </div>      
                           </div><!--params-item-->
                           <div class="params-item">             
                                <h5>Сложность: <span data-name="hardness">{{ task_edit.post.hardness }}</span></h5>
                                <div class="progress">
                                    <a style="left:{% widthratio task_edit.post.hardness|dotted_float 1 100 %}%;" class="btn btn-success"><i class="fa fa-arrows-h"></i></a>
                                </div>      
                                <div class="row-fluid">
                                    <div class="pull-left muted">Мин.</div>
                                    <div class="pull-right muted">Макс.</div>
                                </div>         
                           </div><!--params-item-->
                           <div class="params-item">          
                                <h5>Требует обсуждения: <span data-name="reconcilement">{{ task_edit.post.reconcilement }}</span></h5>
                                <div class="progress">
                                    <a style="left:{% widthratio task_edit.post.reconcilement|dotted_float 1 100 %}%;" class="btn btn-success"><i class="fa fa-arrows-h"></i></a>
                                </div>    
                                <div class="row-fluid">
                                    <div class="pull-left muted">Мин.</div>
                                    <div class="pull-right muted">Макс.</div>
                                </div>                
                           </div><!--params-item-->
                           <div class="params-item">             
                                <h5>Требует знания проекта: <span data-name="project_knowledge">{{ task_edit.post.project_knowledge }}</span></h5>
                                <div class="progress">
                                    <a style="left:{% widthratio task_edit.post.project_knowledge|dotted_float 1 100 %}%;" class="btn btn-success"><i class="fa fa-arrows-h"></i></a>
                                </div>   
                                <div class="row-fluid">
                                    <div class="pull-left muted">Мин.</div>
                                    <div class="pull-right muted">Макс.</div>
                                </div>                 
                           </div><!--params-item-->
                       </div><!--params-->
                       
                       <hr>


                <div class="row">
                    <div class="col-xs-12">
{#                        <div class="pull-left"><a class="hideFilter btn btn-info" href="#">Свернуть</a></div>#}
                        <div class="pull-right">
                            <button value="Сохранить" onclick="document.task_form.submit();" class="btn btn-large btn-success" id="save_button">
                                Сохранить
                            </button>
                        </div>
                    </div>
                </div>
                   
                    <input type="hidden" name="critically" value="{{ task_edit.post.critically|dotted_float }}" />
                    <input type="hidden" name="hardness" value="{{ task_edit.post.hardness|dotted_float }}" />
                    <input type="hidden" name="project_knowledge" value="{{ task_edit.post.project_knowledge|dotted_float }}" />
                    <input type="hidden" name="reconcilement" value="{{ task_edit.post.reconcilement|dotted_float }}" />

				</div><!--widget-->

			</td>
        	<td width="300" style="padding-left:25px;" valign="top">
            <div class="widget js-widget">
                   <h4>Планирование</h4>           
                   <hr>

                   <p><label>Плановое время, ч.: </label><input class="form-control js-planTime" name="planTime" value="{{ task_edit.post.planTime|default_if_none:'0' }}" type="text" placeholder="Плановое время"></p>
                   <p><label>Повторять каждые, ч.: </label><input class="form-control" name="repeatEvery" value="{{ task_edit.post.repeatEvery|default_if_none:'0' }}" type="text" placeholder="Повторять каждые"></p>
{#                   <p><input class="form-control" type="text" value="" placeholder="Кол-во рабочих часов" ></p>#}
{#                   <p><input class="form-control" type="text" placeholder="Дата окончанияв" ></p>#}
{#                   <p><textarea class="form-control" placeholder="Задачи рядом" ></textarea></p>#}
                {# -------- КРАЙНИЙ СРОК #}
                       <h5>Крайний срок:</h5>
                       <div class="task-edit_choose-time">
                            <input class="form-control pull-left" name="deadline" type="text" placeholder="Формат даты дд.мм.гггг" value="{% if task_edit.post.deadline %}{{ task_edit.post.deadline }}{% endif %}">
                            <a class="fa fa-calendar" href="javascript:void(0);" onclick="$(this).prev().focus();"></a>
                            <span><a href="#" class="js-changeDate" data-time="today">Сегодня</a></span>
                            <span><a href="#" class="js-changeDate" data-time="tomorrow">Завтра</a></span>
                            <span><a href="#" class="js-changeDate" data-time="week">Неделя</a></span>
                       </div><!--choose-tim-->

            </div>
{#            <div class="widget">                   #}
{#                   <h4>Дополнительные свойства</h4>           #}
{#                   <hr>#}
{##}
{#                   <p>#}
{#                       <select class="input-block-level">#}
{#                       		<option>Дата начала</option>#}
{#                       </select>#}
{#                   </p>#}
{#                   <p>#}
{#                       <select class="input-block-level">#}
{#                       		<option>Кол-во рабочих часов</option>#}
{#                       </select>#}
{#                   </p>#}
{#                   <p>#}
{#                       <select class="input-block-level">#}
{#                       		<option>Дата окончания</option>#}
{#                       </select>#}
{#                   </p>#}
{#                   <p>#}
{#                       <select class="input-block-level">#}
{#                       		<option>Дата рядом</option>#}
{#                       </select>#}
{#                   </p>#}
{##}
{#            </div>#}
            <div class="widget">                   
                   <h4>Похожие задачи</h4>           
                   <hr>  
                   <ul>
                       {% for task in task_edit.post.similarTasks %}
                        <li>&mdash; <a href="/task_detail/?id={{ task.id }}">{{ task.name }} »</a></li>
                       {% endfor %}
                    </ul>
                                   
            </div>
            <div class="widget">                   
                   <h4>Возможные ресурсы</h4>           
                   <hr>

                   <ul>
                       {% for user in task_edit.users %}
                           {% if user.id|slugify in task_edit.recommendedUsers %}
                                <li><a href="#">{{ user.first_name }} {{ user.last_name }}»</a></li>
                           {% endif %}
                       {% endfor %}
                    </ul>       
            </div>
            </td>
        </tr>
    </table>
</form>