{% extends "public/index.html" %}
{% load thumbnail get_settings compressed %}
{% block content %}
    <script type="application/javascript" src="/static/js/libs/jquery.form.js"></script>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto text-center u-p-25">
                    <h2 class="h1">
                        <a href="/project/{{ project.id }}/public/">{{ project.name }}</a>
                    </h2>

                    <div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-40 mx-auto"></div>
                    <p>
                        Please give more information for investors and donators
                    </p>
                </div>
            </div> <!-- END row-->
            <div class="row">
                <div class="col-sm-3">
                    <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" data-toggle="pill" href="#v-pills-home" role="tab"
                           aria-controls="v-pills-home" aria-selected="true" aria-expanded="false">
                            <span class="icon icon-Notebook color-primary mr-lg-3"></span>
                            General
                        </a>
                        <a class="nav-link" data-toggle="pill" href="#v-pills-profile" role="tab"
                           aria-controls="v-pills-profile" aria-selected="false" aria-expanded="false">
                            <span class="icon icon-MessageLeft color-primary mr-lg-3"></span>
                            Problem/solve</a>
                        <a class="nav-link" data-toggle="pill" href="#v-pills-messages" role="tab"
                           aria-controls="v-pills-messages" aria-selected="false" aria-expanded="false">
                            <span class="icon icon-Tools color-primary mr-lg-3"></span>
                            Integration</a>
                    </div>
                </div>
                <div class="col-sm-9">
                    <form novalidate action="" method="POST" enctype="multipart/form-data"
                          class="js-project-form">
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade  active show" id="v-pills-home" role="tabpanel"
                                 aria-labelledby="v-pills-home-tab"
                                 aria-expanded="true">
                                <div class="project-edit-form">
                                    <input type="text" name="name" value="{{ project.name }}"
                                           class="form-control u-rounded-50 p-3 u-mb-30" placeholder="Title"
                                           required="">

                                <textarea class="form-control u-rounded-15 p-3 u-mb-30" rows="6"
                                          name="description"
                                          placeholder="Project description" required=""
                                          style="margin-top: 0px; margin-bottom: 30px; height: 189px;">{{ project.description|default_if_none:'' }}</textarea>
                                    <div class="project-edit-form--files-list">
                                        <div class="clearfix">
                                        {% for file in project.files.all %}
                                            <div class="project-edit-form--files-list--file js-file-block">
                                                <span class="project-edit-form--files-list--file-img"
                                                      style="background-image: url('{{ file.src }}');"></span>

                                                <input type="hidden" name="files" value="{{ file.id }}" />
                                                <a href="#" class="project-edit-form--files-list--file-remove js-file-remove">
                                                    <i class="fa fa-remove"></i>
                                                </a>
                                            </div>
                                        {% endfor %}
                                        </div>
                                        <div class="project-edit-form--new-files js-file-new-inputs">
                                            <div class="js-file-new-block">
                                                <div class="project-edit-form--file-input btn btn-sm btn-green">
                                                    Chose file
                                                    <input name="IMAGES" type="file" accept="image/*" class="project-edit-form--file-input-input js-file-new-block-input" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                                 aria-labelledby="v-pills-profile-tab" aria-expanded="false">
                                <div class="project-edit-form">
                                    <p><b>Категории проектов</b></p>
                                    <div class="project-form--specialties-container-select-cats">

                                        <div class="project-form--specialties-container-select-cats-list">
                                            {% for s in project.industries.all %}
                                            <span class="small-text-label btn-red btn btn-xs">
                                                {{ s.name }} <a href="#" data-id="{{ s.id }}" class="js-category-remove"><i class="fa fa-remove"></i></a>
                                            </span>
                                            {% endfor %}
                                        </div>
                                        <!--<p>У вас пока что не выбрано ни одной категории</p>-->
{#                                        <button class="btn btn-outline-green btn-sm btn-rounded">Выберите категорию</button>#}
                                    </div>


                                    <div class="project-form--specialties-container clearfix" style="text-align: left;">

                                            {{ industriesList|safe }}

                                    </div>

                                    <!--<div class="project-form--specialties-container clearfix" style="text-align: left;">

                                    </div>-->
                                    <textarea class="form-control u-rounded-15 p-3 u-mb-30" rows="6"
                                          name="target_group"
                                          placeholder="Опишите в двух словах целевую аудиторию проекта" required=""
                                          style="margin-top: 0px; margin-bottom: 30px; height: 189px;">{{ project.target_group|default_if_none:'' }}</textarea>
                                    <textarea class="form-control u-rounded-15 p-3 u-mb-30" rows="6"
                                          name="problem"
                                          placeholder="Опишите основную цель проекта" required=""
                                          style="margin-top: 0px; margin-bottom: 30px; height: 189px;">{{ project.problem|default_if_none:'' }}</textarea>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                                 aria-labelledby="v-pills-messages-tab" aria-expanded="false">
                                <div class="project-edit-form">
                                    <input type="text" name="link_site" value="{{ project.link_site|default_if_none:'' }}"
                                           class="form-control u-rounded-50 p-3 u-mb-30" placeholder="Link to the site"
                                           required="">
                                    <input type="text" name="link_github" value="{{ project.link_github|default_if_none:'' }}"
                                           class="form-control u-rounded-50 p-3 u-mb-30" placeholder="Link to GitHub"
                                           required="">
                                    <input type="text" name="link_demo" value="{{ project.link_demo|default_if_none:'' }}"
                                           class="form-control u-rounded-50 p-3 u-mb-30" placeholder="Link to the Demo"
                                           required="">
                                </div>
                            </div>
                        </div>
                        <button disabled class="btn btn-rounded btn-primary u-w-170 js-submit"
                                style="position: fixed; right: 3%; bottom: 3%;z-index: 100;" type="button"><i class="fa fa-save"></i> Save
                        </button>
                    </form>
                </div>

            </div>
        </div> <!-- END container-->
    </section>
    <script>
        $(function () {
            function enableSubmit() {
                $('.js-submit').removeAttr('disabled');
            }

            function disableSubmit() {
                $('.js-submit').attr('disabled', 'disabled');
            }

            $('.js-next-btn').click(function () {

                $(this).closest('.js-form-step').find('.js-form-step-content').show();
                $(this).hide();
                if (!$('.js-form-step-content:hidden').get(0)) {
                    $('.js-submit').show();
                }
                return false;
            });

            $('.js-submit').click(function() {
                var form = new Form('.js-project-form');
                if (form.validate()) {
                    form.$form.ajaxSubmit(function() {
                        disableSubmit();
                        $('.js-file-new-block').val('').not(':eq(0)').remove().end();
                    });
                }
            });

            $('input, textarea, select').change(enableSubmit).keyup(enableSubmit);
            $('input:radio, input:checkbox').change(enableSubmit);

            $('.js-file-remove').click(function() {
                $(this).closest('.js-file-block').remove();
                enableSubmit();
                return false;
            });

            $('.js-add-file').click(function() {
                $('.js-file-new-block').clone().appendTo('.js-file-new-inputs').val('');
                return false;
            });

            $('.js-toggle-section').click(function() {
                var $subList = $(this).closest('.js-section-item').find('.js-subitems-list').eq(0);
                if ($subList.is(':visible')) {
                    $subList.slideUp();
                } else {
                    $subList.slideDown();
                }
            });
        });
    </script>
{% endblock %}
