{% extends "public/index.html" %}
{% load thumbnail get_settings compressed %}
{% block header %}
{% endblock %}
{% block content %}
    {% if not request.user.get_profile.blockchain_wallet %}
        <section class="text-center">
            <h1>You haven't any wallet</h1>
        </section>
    {% else %}
    <section class="u-py-md-250 u-flex-center">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8 mx-auto">
                    <div class="card box-shadow-v2 bg-white u-of-hidden text-center">
                        <h2 class="bg-primary m-0 py-3 text-white">Donation to "{{ project.name }}"</h2>

                        <form action="" method="POST" class="p-4 p-md-5 js-donate-form">
                            <p>Your wallet: <span
                                    class="js-wallet-code">{{ request.user.get_profile.blockchain_wallet|default_if_none:'' }}</span>
                            </p>

                            <p>Your balance: <b class="js-wallet-balance"></b> GIFT</p>


                            <div class="row align-items-center">
                                <div class="col-lg-6 js-form-group">
                                    <input type="text" name="" data-number-from="0.01" class="js-required js-target-project-sum" value=""
                                           placeholder="Sum"/>
                                    <input type="hidden" name="" class="js-required js-target-project"
                                           value="{{ project.name }}" />
                                </div>
                                <div class="col-lg-3">
                                    <select class="js-currency">
                                        <option value="gift">GIFT</option>
                                        <option value="btc">BTC</option>
                                    </select>
                                </div>
                                <div class="col-lg-3">
                                    <input type="button" value="Donate"
                                           onclick="return donate($('.js-target-project').val(), $('.js-target-project-sum').val(), $('.js-currency').val());"
                                           class="js-donate btn btn-success"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div> <!-- END col-lg-5-->
            </div> <!-- END row-->
        </div> <!-- END container-->
        <script>
            $(function () {
                getKey(function () {
                    getBalance();
                });
            });
            var getKey = function (callback) {
                $.post('/blockchain/ajax/', {'action': 'getKey'}, function (data) {
                    $('.js-wallet-code').html(data);
                    callback();
                });
                return false;
            };
            var getBalance = function () {
                $.post('/blockchain/ajax/', {'action': 'getBalance'}, function (data) {
                    data = $.parseJSON(data);
                    $('.js-wallet-balance').html(Math.round(data.Balance * 10000) / 10000);

                });
                return false;
            };

            var donate = function (project, qty, currency) {
                var form = new Form('.js-donate-form');
                if (form.validate()) {
                    $('.js-donate').attr('disabled', 'disabled');
                    $.post('/blockchain/ajax/', {'action': 'donate', 'project': project, 'qty': qty, 'currency': currency}, function (data) {
                        getBalance();
                        ERROR_REPORTER.showMessage('Thank you!', MESSAGE_TYPE_SUCCESS);
                        if (currency == 'btc') {
                            alert(data);
                        }
                    });
                    $('.js-target-project, .js-target-project-sum').val('');
                }
            }
        </script>
    </section>
    {% endif %}
{% endblock %}
