{% extends "main/base.html" %}
{% load thumbnail %}
{% block content %}
    <script type="text/javascript" src="/static/js/libs/clipboard/zclib.js"></script>
    <script type="text/javascript" src="/static/js/pm/ajax_inputs.js"></script>
    <script type="text/javascript">
        function clipboardAppend(t) {
            $(t).clipboard({
                path: '/static/js/libs/clipboard/jquery.clipboard.swf',
                copy: function () {
                    $(t).data('text', $(t).text()).text('пароль скопирован');
                    setTimeout(function () {
                        $(t).text($(t).data('text'));
                    }, 2000);
                    return $(t).data('password');
                }
            });
        }

        $(function () {
            $('a.js-copy-password').each(function () {
                clipboardAppend(this);
            });

            $('.js-interface-container').on('click', '.js-interface-remove', function () {
                var $interface = $(this).closest('.js-interface-block');
                var id = $interface.data('id');
                $interface.remove();
                $.post(
                        '/remove_interface/',
                        {
                            'id': id
                        }
                );
            });

            window.ajaxInputs();
        });
    </script>
    <link type="text/css" rel="stylesheet" href="/static/css/project.edit.css"/>
    <div class="widget">
    <h1>{{ project.name }} {% if canEdit %}
        <a class="fa fa-edit" href="/project/edit/?id={{ project.id }}" style="height: 11px;"></a>{% endif %}</h1>
    <hr/>

    <div class="media">

        {% if project.imagePath %}
            <img class="pull-left" width="100px" src="{{ project.imagePath|thumbnail:'100x100' }}"/>
        {% else %}
            <img src="/static/images/avatar_unknown.png"/>
        {% endif %}

        <div class="media-body">
            {% for roleName, role in roles.items %}
                <p>{{ roleName }}: {% for user in role.users %}<a href="/user_detail/?id={{ user.id }}">
                    {{ user.first_name }} {{ user.last_name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
                </p>
            {% endfor %}
        </div>
    </div>

    <hr/>

    <p>
        {{ project.description }}
    </p>

    <hr/>

    <div class="row-fluid clearfix project-buttons">
        <div class="pull-left">
            {% if canDelete and not project.closed %}
                <a class="btn btn-danger" href="?archive=Y">Перенести в архив</a>
            {% endif %}
            <span style="position:relative;">
{#                    <a class="btn btn-success" href="#">Пригласить пользователя</a>#}

{#                <div class="add-user-popup">#}
{#                        <div class="add-user-popup-header">#}
{#                            <input type="text" class="form-control" placeholder="Введите имя человека, на которого хотите повесить всех собак" />#}
{#                        </div>#}
{#                        <div class="add-user-popup-content">#}
{#                            <table width="100%" cellpadding="0" cellspacing="0">#}
{#                                <tr>#}
{#                                    <td width="20%" class="add-user-list-of-categories">#}
{#                                        <ul>#}
{#                                            <li><a href="#" class="active">Программисты</a></li>#}
{#                                            <li><a href="#">Менеджеры</a></li>#}
{#                                            <li><a href="#">Верстальщики</a></li>#}
{#                                        </ul>#}
{#                                    </td>#}
{#                                    <td class="add-user-list-of-users">#}
{#                                        <ul>#}
{#                                            <li class="media">#}
{#                                                  <a class="pull-left" href="#">#}
{#                                                    <img class="media-object" src="http://heliard.ru/static/upload/Avatar457.jpg" alt="..." height="40">#}
{#                                                  </a>#}
{#                                                  <div class="media-body">#}
{#                                                    <a href="#">Васютин Евгений</a>, верстальщик#}
{#                                                    <p><i class="fa fa-cogs"></i> Каталог программ; <i class="fa fa-user"></i> Каталог программ; <i class="fa fa-users"></i> Каталог программ</p>#}
{#                                                  </div>#}
{#                                            </li>#}
{#                                            <li class="media">#}
{#                                                  <a class="pull-left" href="#">#}
{#                                                    <img class="media-object" src="http://heliard.ru/static/upload/Avatar457.jpg" alt="..." height="40">#}
{#                                                  </a>#}
{#                                                  <div class="media-body">#}
{#                                                    <a href="#">Васютин Евгений</a>, верстальщик#}
{#                                                    <p><i class="fa fa-cogs"></i> Каталог программ; <i class="fa fa-user"></i> Каталог программ; <i class="fa fa-users"></i> Каталог программ</p>#}
{#                                                  </div>#}
{#                                            </li>#}
{#                                            <li class="media">#}
{#                                                  <a class="pull-left" href="#">#}
{#                                                    <img class="media-object" src="http://heliard.ru/static/upload/Avatar457.jpg" alt="..." height="40">#}
{#                                                  </a>#}
{#                                                  <div class="media-body">#}
{#                                                    <a href="#">Васютин Евгений</a>, верстальщик#}
{#                                                    <p><i class="fa fa-cogs"></i> Каталог программ; <i class="fa fa-user"></i> Каталог программ; <i class="fa fa-users"></i> Каталог программ</p>#}
{#                                                  </div>#}
{#                                            </li>#}
{#                                            <li class="media">#}
{#                                                  <a class="pull-left" href="#">#}
{#                                                    <img class="media-object" src="http://heliard.ru/static/upload/Avatar457.jpg" alt="..." height="40">#}
{#                                                  </a>#}
{#                                                  <div class="media-body">#}
{#                                                    <a href="#">Васютин Евгений</a>, верстальщик#}
{#                                                    <p><i class="fa fa-cogs"></i> Каталог программ; <i class="fa fa-user"></i> Каталог программ; <i class="fa fa-users"></i> Каталог программ</p>#}
{#                                                  </div>#}
{#                                            </li>#}
{#                                        </ul>#}
{#                                    </td>#}
{#                                </tr>#}
{#                            </table>#}
{#                        </div>#}
{#                        <div class="add-user-popup-footer my-row clearfix">#}
{#                            <div class="pull-left my-row-5">#}
{#                                <a href="#"><i class="fa fa-check-circle"></i> Выбрать всю категорию</a>#}
{#                                <a href="#"><i class="fa fa-bullhorn"></i> Пригласить нового пользователя</a>#}
{#                            </div>#}
{#                            <div class="pull-right my-row-5">#}
{#                            <form role="form">#}
{#                                <table width="100%" cellpadding="0" cellspacing="0">#}
{#                                    <tr>#}
{#                                        <td><input type="text" class="form-control" placeholder="Введите e-mail"></td>#}
{#                                        <td width="110px"><button type="submit" class="btn btn-success">Пригласить</button></td>#}
{#                                    </tr>#}
{#                                </table>#}
{#                            </form>#}
{#                            </div>#}
{#                        </div>#}
{#                  </div>#}
                </span>
        </div>
        <div class="pull-right">
            <a class="btn btn-success" href="#" onclick="$('.add-interface').toggle();return false;">Добавить
                интерфейс</a>
        </div>
    </div>

    <div class="add-interface" style="display: none">
        <form enctype="multipart/form-data" class="js-add-interface" method="POST" action="/add_interface/">
            <input type="hidden" name="pid" value="{{ project.id }}"/>

            <div class="my-row clearfix">
                <div class="my-row-3">
                    <div class="my-row-4">
                        <h6>Тип соединения</h6>
                        <select class="form-control" name="protocol">
                            <option value="http">WEB</option>
                            <option value="ssh">SSH</option>
                            <option value="ftp">FTP</option>
                            <option value="rdp">RDP</option>
                        </select>
                    </div>
                    <div class="my-row-6">
                        <h6>Адрес</h6>
                        <input type="text" value="" name="address" placeholder="Введите адрес..."
                               class="form-control"/>
                    </div>
                </div>
                <div class="my-row-3">
                    <h6>Название</h6>
                    <input type="text" value="" name="name" placeholder="Введите название..." class="form-control">
                </div>
                <div class="my-row-3">
                    <h6>Доступен</h6>
                    <label class="checkbox-inline"><input name="access_roles" checked type="checkbox" value="1">
                        Клиенты</label>
                    <label class="checkbox-inline"><input name="access_roles" checked type="checkbox" value="2">
                        Разработчики</label>
                    <label class="checkbox-inline"><input name="access_roles" checked type="checkbox" value="3">
                        Менеджеры</label>
                </div>
            </div>

            <div class="my-row clearfix">
                <div class="my-row-3">
                    <h6>Имя пользователя</h6>
                    <input type="text" value="" name="username" placeholder="Введите имя пользователя..."
                           class="form-control">
                </div>
                <div class="my-row-3">
                    <h6>Пароль</h6>
                    <input type="password" value="" name="password" placeholder="Введите пароль..."
                           class="form-control">
                </div>
                <div class="my-row-3">
                    <input type="submit" class="btn btn-success"
                           onclick="$('.js-add-interface').ajaxSubmit(function(data){var $ic = $('.js-interface-container'); $ic.append(data);clipboardAppend($ic.find('.js-copy-password').last());});return false;"
                           value="Добавить интерфейс"/>
                </div>
            </div>
        </form>
    </div>

    <hr/>
    <div class="js-interface-container">
        {{ interfaces|safe }}
    </div>
    {% if bCurUserIsAuthor %}
        <h2>Начисление бонусов (очков истории)</h2>
        {% for roleName, o in roles.items %}
            {{ roleName }} <i>{{ o.text }}</i>:
            {% for user in o.users %}
                <div class="user-role-block">
                    <a href="/user_detail/?id={{ user.id }}">{{ user.first_name }} {{ user.last_name }}</a><br/>

                    <form class="form-inline">
                        <div class="form-group">
                            <label>Форма начисления бонусов <a href="#"
                                                               title="Бонусы начисляются при закрытии задачи. Плановое время распределяется среди исполнителей поровну. За реальное время бонусы начисляются согласно таймеру.">?</a></label>
                            <select class="js-ajax-input form-control" data-action="update_payment_type"
                                    data-role="{{ user.role_id }}">
                                <option value="real_time" {% if o.role.payment_type == 'real_time' %}
                                        selected="selected"{% endif %}>
                                    За реальное время
                                </option>
                                <option value="plan_time" {% if o.role.payment_type == 'plan_time' %}
                                        selected="selected"{% endif %}>
                                    За плановое время
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Ставка</label>

                            <div class="input-group">
                                <input type="text" class="js-ajax-input form-control" data-action="update_rate"
                                       data-role="{{ user.role_id }}" value="{{ o.role.rate|default_if_none:'' }}"
                                       {% if user.rate %}placeholder="{{ user.rate }}"{% endif %} />
                                <div class="input-group-addon">SP</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>
                                Накоплено бонусов: <b>{{ user.sum }}</b>
                            </label>
                        </div>
                        <button class="button blue-button js-bonus-complete" rel="{{ user.role_id }}"
                                data-sum="{{ user.sum|default_if_none:'' }}">погасить бонусы
                        </button>
                    </form>
                </div>
            {% endfor %}
            <br/>
        {% endfor %}
        <div class="js-user-pay-win hidden">
            <form>
                <input type="hidden" class="js-input-role-id" value=""/>
                <label>Количество бонусов: <input type="text" class="js-input-user-sum" value=""/></label>
                <input type="button" class="button blue-button" onclick="sendPayment(this);return false;"
                       value="Погасить бонусы"/>
            </form>
        </div>
        <script type="text/javascript">
            function sendPayment(el) {
                var $form = $(el).closest('form'),
                        data = {'action': 'send_payment'};
                data['role'] = parseInt($form.find('.js-input-role-id').val());
                data['sum'] = parseInt($form.find('.js-input-user-sum').val());
                PM_AjaxPost(
                        document.URL,
                        data,
                        function (data) {
                            if (data['result']) document.location.reload();
                        },
                        'json'
                );
            }
            $(function () {
                $('.js-bonus-complete').click(function () {
                    $.fancybox({'content': $('.js-user-pay-win').html()});
                    $('.js-input-user-sum').val($(this).data('sum') > 0 ? $(this).data('sum') : 0);
                    $('.js-input-role-id').val($(this).attr('rel'));
                    return false;
                })
            })
        </script>
    {% endif %}
    </div><!--widget-->
{% endblock %}