{% extends "public/index.html" %}
{% block header %}
    <meta name="description" content="The most interesting Open Source projects for investment.">
        <!-- Title-->
    <title>OpenGift.io - Projects List</title>
{% endblock %}
{% block content %}
    <section>
    <script>
        $(function () {
            var search = function() {
                var val = $('.js-search').val(), $projects = $('.js-project-item');
                if (val == '') {
                    $projects.show();
                } else {
                    val = val.toLowerCase();
                    $projects.each(function() {
                        var text = $(this).find('.js-project-name').text() + ' ' + $(this).find('.js-project-desc').text();
                        text = text.toLowerCase();
                        if (text.indexOf(val) > -1) {
                            $(this).show();
                        } else {
                            $(this).hide();
                        }
                    });
                }
            };
            var searchTimeout = false;
            $('.js-search').keyup(function() {
                if (searchTimeout) clearTimeout(searchTimeout);
                searchTimeout = setTimeout(search, 300);
            });
        })
    </script>
        <div class="container u-pt-50">
            <h1 class="text-center">Projects</h1>
            <div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-40 mx-auto"></div>

            <div class="row">
                <div class="col-lg-8">
                    <div class="input-group u-rounded-4 border u-of-hidden u-mb-20">
                        <div class="input-group-addon bg-white border-0 pl-4 pr-0">
                            <span class="icon icon-Search text-primary"></span>
                        </div>
                        <input type="text" class="form-control border-0 p-3 js-search" placeholder="Type the name of project">
                    </div>
                </div>
                <div class="col-lg-4">
                    <select class="js-search-category u-mb-20">
                        <option value="">Category</option>
                        {{ spectree|safe }}
                    </select>
                </div>
            </div>
{#            <div class="mb-5 sorting-block bg-gray-v1 p-2 border rounded">#}
{#                    <ul class="list-inline mb-0">#}
{#                        <li class="list-inline-item">#}
{#                            <a class="nav-link mr-3 active" href="#">#}
{#                                по популярности<i class="lnr lnr-chevron-down u-fs-12 ml-2"></i>#}
{#                            </a>#}
{#                        </li>#}
{#                        <li class="list-inline-item">#}
{#                        <a class="nav-link mr-3" href="#">#}
{#                            по кол-ву целей<i class="lnr lnr-chevron-right u-fs-12 ml-2"></i>#}
{#                        </a>#}
{#                        </li>#}
{#                        <li class="list-inline-item">#}
{#                        <a class="nav-link mr-3" href="#">#}
{#                            по рейтингу<i class="lnr lnr-chevron-right u-fs-12 ml-2"></i>#}
{#                        </a>#}
{#                        </li>#}
{#                    </ul>#}
{#            </div>#}
            <div class="row">
                {% for project in project_list %}
                <div class="col-lg-4 col-md-6 u-mb-100 project-item-big-wrapper js-project-item">
                    <div class="project-item-wrapper relative">
                        <h4 class="d-flex u-w-100 u-h-100 {{ project.color }}-gr rounded-circle u-flex-center text-white margin-auto u-mb-50 project-item-avatar">
                            {{ project.firstLetter|capfirst }}
                        </h4>
                        <div class="p-4 py-5 border rounded box-shadow-v2--onHover project-item-inner margin-top-u-h-100 ">
                            <h4 class="u-fs-26 u-mb-10 u-mt-20">
                                <a href="/project/{{ project.id }}/public/" class="js-project-name">{{ project.name }}</a>
                            </h4>
                            <div class="clearfix u-mb-15">
                                <div class="float-left">
                                    <div class="text-muted u-fs-15 u-mb-5 mr-3"><i class="icon icon-Star color-primary mr-2"></i>Goals: {{ project.milestones.count|default_if_none:'0'|floatformat }}</div>
                                </div>
                                <div class="float-left">
                                    <div class="text-muted u-fs-15 u-mb-5 mr-3"><i class="fa fa-credit-card color-primary mr-2" aria-hidden="true"></i>Donations: {{ project.donations.count }}</div>
                                </div>
                                <div class="float-left">
                                    <div class="text-muted u-fs-15 u-mb-5 mr-2"><i class="icon icon-Users color-primary mr-2"></i>Contributors: {{ project.getUsers.count }}</div>
                                </div>
                            </div>
                            <p class="project-hidden-desc js-project-desc">
                            {{ project.description }}
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>
{% endblock %}
