{% extends "public/index.html" %}
{% load thumbnail get_settings compressed %}
{% block content %}
{% compressed_css 'project_detail' %}
    <header class="major">
        <h1>{{ project.name }}<sup style="background-color: #0D82B8"><small>AI</small></sup>&nbsp;<sup style="background-color: #0cb628"><small>PMI</small></sup></h1>
        <p>
            {{ project.description }}
        </p>
        <p>
            <a class="button fit">Демо</a> <a class="button fit">Помочь проекту</a>
        </p>
    </header>
<div class="widget">
<div class="project-info-area clearfix">

</div>
</div>
<script>
    var getProjectState = function(p, call) {
        $.post('/blockchain/ajax/', {'action':'getProjectStatus', 'pName': p}, function(data) {
            if (data == 'ok')
                call();
        });
    };
    $(function() {
        getProjectState('{{ project.name }}', function() {
            $('.js-donate-cont').append('<input type="button" class="btn btn-success" value="Donate" />');
        });
    })
</script>
{% endblock %}
