{% extends "public/index.html" %}
{% load thumbnail get_settings compressed %}
{% block content %}
    <section>
    <a href="#" class="js-stack-back">back</a>
    <div class="js-breadcrumbs">

    </div>
        <div id="bubbles"></div>
    </section>
    <script type="application/javascript" src="/static/js/libs/vis.js?v1"></script>
    <style>
        #bubbles {
            position: relative;
            width: 100%;
            height: 400px;
        }
    </style>


    <script type="application/javascript">
        $(function () {
            var nodeStack = function() {
                this.nodes = [];
            };

            nodeStack.prototype = {
                'add': function(node) {
                    this.nodes.push(node);
                },
                'back': function() {
                    if (this.nodes.length == 1) {
                        return this.nodes[0];
                    }

                    this.nodes.pop();
                    if (this.nodes.length)
                        return this.nodes[this.nodes.length-1];

                    return false;
                },
                render: function() {
                    var s = '';
                    for (var i in this.nodes) {
                        s += this.nodes[i].label + ' >';
                    }
                    return s;
                }
            };

            var aNodes = [
                {{ spectree|safe }}
            ];
            var nodes = new vis.DataSet(aNodes);
            var stack = new nodeStack();
            stack.add({
                'label': 'main',
                'subitems': aNodes
            });
            var edges = new vis.DataSet();

            var container = document.getElementById('bubbles');
            var data = {
                nodes: nodes,
                edges: edges
            };

            var options = {
                interaction: {
                    zoomView: false,
                    dragView: false,
                    hover: true
                },
                nodes: {
                    borderWidth: 0,
                    shape: "dot",
                    color: {
                        background: '#F92C55',
                        highlight: {
                            background: '#F92C55',
                            border: '#F92C55'
                        }
                    },
                    font: {
                        color: '#000'
                    },
                    scaling: {
                        customScalingFunction: function (min, max, total, value) {
                            return value / total;
                        },
                        min: 20,
                        max: 100,
                        label: {
                            enabled: true
                        }
                    }
                },
                physics: {
                    stabilization: false,
                    minVelocity: 0.01,
                    solver: "repulsion",
                    repulsion: {
                        nodeDistance: 60
                    }
                }
            };
            var network = new vis.Network(container, data, options);

            var networkCanvas = document.getElementById("bubbles").getElementsByTagName("canvas")[0];
            // Events
            network.on("click", function (e) {
                if (e.nodes.length) {
                    var node = nodes.get(e.nodes[0]);
                    if (node && node.subitems && node.subitems.length) {
                        nodes = new vis.DataSet(node.subitems);
                        network.setData({'nodes':nodes, 'edges':edges});
                        stack.add(node);
                        $('.js-breadcrumbs').html(stack.render());
                    }
                }
            });
            network.on("hoverNode", function (e) {
                if (e.node) {
                    var node = nodes.get(e.node);
                    if (node && node.subitems && node.subitems.length)
                        networkCanvas.style.cursor = 'pointer';
                }
            });
            network.on('blurNode', function (e) {
                networkCanvas.style.cursor = 'default';
            });
            setTimeout(function() {
                network.fit();
            }, 1000);

            $('.js-stack-back').click(function() {
                var node = stack.back();
                if (node) {
                    nodes = new vis.DataSet(node.subitems);
                    network.setData({'nodes':nodes, 'edges':edges});
                }
            });
        });
    </script>
{% endblock %}
