{% extends "public/index.html" %}
{% load thumbnail get_settings compressed %}
{% block content %}
{% compressed_css 'project_detail' %}
<section class="u-py-100 u-h-100vh u-flex-center" style="background:url(assets/img/seo/hero-banner.jpg) no-repeat; background-size:cover; background-position: top center;">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 u-mt-80">
        <h1 class="display-4 u-fw-600 text-white u-mb-40">
          {{ project.name }}
        </h1>
        <p class="u-fs-22 text-white u-lh-1_8 u-mb-40">
          {{ project.description }}
        </p>
        <a href="" class="btn btn btn-rounded btn-green  px-md-5">
        	Демо
        </a>
        <a href="" class="btn btn btn-rounded btn-white ml-3 px-md-5">
        	Помочь проекту
        </a>
      </div> <!-- END col-lg-6-->
      <div class="col-lg-6 u-mt-80">
      	<ul class="p-0" data-init="carousel" data-slick='{ "slidesToShow":1, "dots":true, "arrows":false, "dotsClass":"slick-dots dots-white mt-4 text-center"}'>
      		<li>
      			<img class="box-shadow-v1" src="/static/public/assets/img/seo/s-1.png" alt="">
      		</li>
      		<li>
      			<img class="box-shadow-v1" src="/static/public/assets/img/seo/s-1.png" alt="">
      		</li>
      		<li>
      			<img class="box-shadow-v1" src="/static/public/assets/img/seo/s-1.png" alt="">
      		</li>
      	</ul>
      </div> <!-- END col-lg-6-->
    </div> <!-- END row-->
  </div> <!-- END container-->
</section> <!-- END intro-hero-->
<script>
    var getProjectState = function(p, call) {
        $.post('/blockchain/ajax/', {'action':'getProjectStatus', 'pName': p}, function(data) {
            if (data == 'ok')
                call();
        });
    };
    $(function() {
        getProjectState('{{ project.name }}', function() {
            $('.js-donate').show();
        });
    })
</script>
{% endblock %}
