{% extends "public/index.html" %}
{% load thumbnail get_settings compressed %}
{% block content %}
    <!--<script type="application/javascript" src="/static/js/libs/jquery.form.js"></script>-->

    <script src="/static/public/assets/js/task_edit.js"></script>

    <section id="task_edit_form" style="z-index: 11;">
        <div class="container">
            <div class="text-center u-p-25">
                <h2 class="h1">{{ title }}</h2>

                <div class="u-h-4 u-w-50 bg-primary rounded mt-4 -u-mb-40 mx-auto"></div>
                <!--{# <p>Create task for new project</p> #}-->
            </div>

            <!-- END row-->
            <div class="row">
                <div class="col-lg-11 mx-auto">
                    <form novalidate action="/task_handler" method="POST" enctype="multipart/form-data"
                          class="js-project-form">
                        <input type="hidden" name="action" value="fastCreate"/>

                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="project-edit-form">
                                <!--project-->
                                <!--task-->
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="hidden" name="project_id"
                                       value="{{ request.GET.pid | default_if_none:'' }}"/>
                                        {% if not request.GET.pid %}
                                        <h4 class="u-py-15 text-center">Describe your project</h4>

                                        <p class="text-center">Add an existing open-source project or describe a new one. You will get 100 <a href="#" data-toggle="tooltip" title="Project tokens give you a part of its income, forever.">tokens</a> of the new project.</p>

                                        <!--task_name-->
                                        <input type="text" name="project_name" value=""
                                               class="form-control u-rounded-50 p-3 u-mb-30 js-required"
                                               placeholder="Project title" required="">

                                        <textarea class="form-control u-rounded-15 p-3 u-mb-30 js-required" rows="6"
                                                    name="project_description"
                                                    placeholder="Short project description" required=""
                                                    style="margin-top: 0px; margin-bottom: 30px; height: 189px;"></textarea>

                                        <input name="project_code" readonly class="form-control u-rounded-50 p-3 u-mb-30" placeholder="Project unique code (only letters, underlines and dots allowed)">
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-7">
                                        <h4 class="u-py-15 text-center">Add first task for community</h4>

                                        <p class="text-center">Create your first task in the project. It might be financed and developed by community. <a href="#more">More info</a>.</p>

                                        <input type="text" name="task_name" value=""
                                               class="form-control u-rounded-50 p-3 u-mb-30 js-required"
                                               placeholder="First task title" required="">

                                        <textarea class="form-control u-rounded-15 p-3 u-mb-30 js-required" rows="6"
                                                    name="task_description"
                                                    placeholder="First task short description" required=""
                                                    style="margin-top: 0px; margin-bottom: 30px; height: 189px;"></textarea>
                                        <!--form-footer-->
                                        <div class="text-center">

                                            <button disabled class="btn btn-rounded btn-primary js-submit"
                                                    type="button">
                                                <i class="fa fa-save"></i> <span class="js-button-text"> Create project and task</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-lg-5">
                                        <div class="u-mt-50 u-fs-14">
                                            <a name="more"></a>
                                            <ol>
                                            <li>If you have only an idea, create a task to make basic technical requirements. Our community will help you with it.</li>
                                            <li>If you have existing requirements and documentation, create the first task for a small prototype of needed functionality. Decompose your project onto small light-budget tasks. It can help you to get the solution faster and with better quality. Small tasks are much easier to do and to test.</li>
                                            <li>If you have an existing project, just post the first task to do. In this case, you should specify the GitHub link to your code on the project edit page.</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </section>

    <section style="display: none;" class="js-task-created">
        <div class="container">
            <h1 class="text-center">Your task is created.</h1>
            <p class="text-center">Attract the developers making a first minimal donation.</p>
            <div class="text-center u-p-25">
                <a href="#" class="js-donate-for-task btn btn-primary">Make a deposit, $</a>
                <a href="#" class="js-manage-project btn btn-secondary">Manage your project</a>
            </div>
        </div>
    </section>

    <!-- END container-->
    <style>
        .alert-tab {
            color: darkred !important;
        }

        .alert-tab {
            position: relative;
            background: #ffe5e5;
        }

        .alert-tab .fa.fa-exclamation-triangle {
            float: right;
            position: absolute;
            right: 11px;
            top: 50%;
            margin-top: -7px;
        }

        .alert-tab .color-primary {
            color: darkred !important;
        }

        .nav-vertical .nav-link {
            margin: 5px 0;
            position: relative;
            padding: 5px 40px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .nav-vertical .nav-link .icon {
            position: absolute;
            left: 10px;
            top: 50%;
            margin-top: -7px;
        }

        .nav-vertical {
            display: block;
            margin-bottom: 30px;
        }

        .nav-pills.nav-vertical .nav-link.alert-tab.active {
            background: darkred !important;
            color: #fff !important;
        }
    </style>

{% endblock %}
