{% load thumbnail %}
{% load jsonify %}
        <div class="clearfix"></div>
        <div class="js-task-discussion task-discussion">
               <!-- <h2>{{ task.name|safe }}</h2>
                <p>{{ task.text|safe }}</p>
            <hr>
            <div class="clearfix"></div>-->
            <h4 class="uppercase">Оценки</h4>
                {% for evaluation in evaluations %}
                    <div class="task-message row-fluid show-grid js-taskMessage js-op js-um" style="display: block;">
                        <div class="message warning">
                            <div class="message-content">
                                    <a class="message-info-name" href="/user_detail/?id={{ evaluation.user.id }}">{{ evaluation.user.get_full_name }}</a>
                                    <b class="message-desc-status last js-taskMessageText">оценил задачу в {{ evaluation.time|safe }}ч.</b>
                                        {% if draft.author.id == request.user.id %}
                                        <form action="/taskdraft/{{ draft.slug }}/{{ task.id }}/accept-developer" method="POST" class="inline">
                                            {% csrf_token %}
                                            <input type="hidden" value="{{ evaluation.user.id }}" name="user_id"/>
                                            <button class="btn btn-xs btn-success js-accept-developer">Выбрать исполнителем</button>
                                        </form>
                                        {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            <hr>
            <h4 class="uppercase">Обсуждение:</h4>
            <div class="js-discussion-messages">
                {% for message in simple_messages %}
                    {% include 'partials/taskdraft_task/taskdraft_task_message.html' %}
                {% endfor %}
            </div>
            <div class="task_add-message form-horizontal clearfix">
                <form action="/taskdraft/{{ draft.slug }}/{{ task.id }}?is_xhr=1" class="js-send-task-form" method="POST">
                    {% csrf_token %}
                        <p>
                            <textarea name="task_message" rows="5" class="form-control" placeholder="Напишите сообщение"></textarea>
                        </p>
                        <input type="submit" class="btn btn-success sendTaskMessage js-send-task-submit" value="Добавить сообщение"/>
                </form>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
           $('.js-accept-developer').click(function(ev){
               ev.preventDefault();
               var data = $(this).parent('form').serializeArray();
               var url = $(this).parent('form').attr('action');
               $.post(url, data, function(response){
                  if(response.error){
                      alert(response.error);
                  }else if(response.result) {
                      alert(response.result);
                      window.location.reload();
                  }
               });
               return false;
           });
           $('.js-send-task-submit').click(function(ev){
                ev.preventDefault();
                ev.stopPropagation();
                var self = this,
                    form = $(this).parents('.js-send-task-form'),
                    messages_container = form.parents('.js-task-discussion').find('.js-discussion-messages'),
                    url = form.attr('action'),
                    data = form.serializeArray();

                $.post(url, data, function(response){
                    $(messages_container).append(response);
                    form[0].reset();
                });


                return false;
           });
        });
    </script>
