{% extends 'main/base.html' %}
{% load get_settings %}
{% block title %}Системы оплаты{% endblock %}
{% block content %}
<div class="widget inner">
   <div class="widget-title clearfix"><h1 style="margin:0px;">Платежная и контактная информация</h1></div>
	<div class="widget-body">
    <p>Пополнить счет нашего сервиса возможно следующими способами</p>
    
    
    <div class="panel panel-default">
      <div class="panel-heading"><b>Кредитные и дебетовые карты</b></div>
      <div class="panel-body">
      <table class="table" style="margin:0px;">
        <thead>
        <tr>
            <td><b>Visa</b></td>
            <td><b>MasterCard</b></td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><a rel="nofollow" target="_blank" href="http://www.visa.com"><img width="63" height="30" border="0" title="Visa"
                                                                              src="/static/images/paysystems/btn_visa.png"></a></td>
            <td><a rel="nofollow" target="_blank" href="http://www.mastercard.com"><img width="52" height="30" border="0"
                                                                                    title="MasterCard"
                                                                                    src="/static/images/paysystems/btn_master.png"></a></td>
        </tr>
        </tbody>
      </table>
      </div>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading"><b>Электронные деньги</b></div>
      <div class="panel-body">
      <table class="table" style="margin:0px;">
        <thead>
        <tr>
            <td><b>WebMoney</b></td>
            <td><b>Яндекс.Деньги</b></td>
            <td><b>QIWI</b></td>
            <td><b>RBK Money</b></td>
            <td><b>TeleMoney</b></td>
            <td><b>MoneyMail</b></td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><a rel="nofollow" target="_blank" href="http://www.webmoney.ru"><img width="74" height="30" border="0"
                                                                             title="WebMoney"
                                                                             src="/static/images/paysystems/btn_webmoney.png"></a></td>
            <td><a rel="nofollow" target="_blank" href="http://money.yandex.ru"><img width="63" height="30" border="0"
                                                                             title="Яндекс.Деньги"
                                                                             src="/static/images/paysystems/btn_yandex.png"></a></td>
                                                                             <td><a rel="nofollow" target="_blank" href="http://www.qiwi.ru">
            <img width="21" height="30" border="0" title="QIWI"
                 src="/static/images/paysystems/btn_qiwi.png">
        </a></td>
                                                                             <td><a rel="nofollow" target="_blank" href="http://www.robokassa.ru"><img width="100" height="30" border="0"
                                                                              title="Robokassa"
                                                                              src="/static/images/paysystems/btn_robokassa.png"></a></td>
                                                                             <td></td>
                                                                             <td></td>
        </tr>
        </tbody>
      </table>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading"><b>Безналичные платежи на имя</b></div>
      <div class="panel-body">
          <address style="margin:0;">
            <strong>ООО Айвеббер</strong><br />
            ИНН 4025423051<br />
            Информационные услуги<br />
            <a href="mailto:{% get_settings "INFO_EMAIL" %}">{% get_settings "INFO_EMAIL" %}</a>
          </address>
      </div>
    </div>
	
        <div class="panel panel-default">
          <div class="panel-heading"><b>По всем вопросам обращайтесь</b></div>
          <div class="panel-body"><a href="mailto:{% get_settings "INFO_EMAIL" %}">{% get_settings "INFO_EMAIL" %}</a></div>
        </div>
    </div>
    
</div>
{% endblock %}