{% extends "main/base.html" %}
{% block content %}
   <form action="{{ form.target }}"
          method="POST" name="robo">
        {{ form.as_p }}
    </form>
<script src="/static/js/jquery.fancyform.min.js"></script>
        <script>
            $(function(){
                $(".promo_payment_plan input:radio").transformRadio({
                    base : "class" // Can be image or class, if class a span will be added
                });
                $('.js-radio').click(function(){
                    $('#id_OutSum').val($(this).data('price'));
                });
             });
        </script>
<div class="promo_payment_wrapper">
    <div class="promo_payment clearfix">
        <div class="promo_payment_header clearfix">
            <div class="tariff-item-wrapper tariff-item-wrapper-basic">
                <div class="tariff-item-title">Базовый</div>
                <div class="tariff-item">1 проект</div>
                <div class="tariff-item grey-bg">неограничено</div>
                <div class="tariff-item"><i class="fa fa-remove"></i></div>
                <div class="tariff-item grey-bg"><i class="fa fa-remove"></i></div>
                <div class="tariff-item">1 Gb</div>
                <div class="tariff-item grey-bg last"><span class="for-free">Бесплатно</span></div>
            </div>
            <div class="tariff-item-wrapper tariff-item-wrapper-premium">
                <div class="tariff-item-title">Премиум</div>
                <div class="tariff-item"><span class="hidden-tariff-item"><b>Проектов:</b>&nbsp;</span>неограничено</div>
                <div class="tariff-item grey-bg"><span class="hidden-tariff-item"><b>Исполнителей:</b>&nbsp;</span>неограничено</div>
                <div class="tariff-item"><span class="hidden-tariff-item"><b>Git-репозиториев:</b>&nbsp;</span>1 на каждый проект</div>
                <div class="tariff-item grey-bg"><span class="hidden-tariff-item"><b>Shared-хостингов:</b>&nbsp;</span>1 на каждый проект</div>
                <div class="tariff-item"><span class="hidden-tariff-item"><b>Файловое хранилище:</b>&nbsp;</span>неограничено</div>
                <div class="tariff-item grey-bg last">в месяц<span class="premium">900 руб.</span></div>
            </div>
            <div class="tariff-item-wrapper tariff-item-wrapper-desc">
                <div class="tariff-item-title">&nbsp;</div>
                <div class="tariff-item">проектов</div>
                <div class="tariff-item grey-bg">исполнителей</div>
                <div class="tariff-item">git-репозиториев</div>
                <div class="tariff-item grey-bg">shared-хостингов</div>
                <div class="tariff-item">файловое хранилище </div>
            </div>
        </div>
    </div>
    <div class="promo_payment_footer_wrapper clearfix">
        <div class="promo_payment_footer">
        <div class="promo_payment_footer_left">
            <div class="promo_payment_plan clearfix">
                <div class="promo_payment_plan_item js-radio">
                    <label><input type="radio" name="radio" data-price="900">1 месяц<br><span>900 рублей</span></label>
                </div>
                <div class="promo_payment_plan_item js-radio" data-price="2300">
                    <label><input type="radio" name="radio">3 месяца<br><span>2300 рублей</span></label>
                </div>
                <div class="promo_payment_plan_item js-radio" data-price="9000">
                    <label><input type="radio" name="radio">1 год<br><span>9000 рублей</span></label>
                </div>
            </div>
        </div>
        <div class="promo_payment_footer_right"><input type="button" class="yellow button" onclick="document.robo.submit()" value="Оплатить премиум"></div>
        </div>
        <div class="clearfix"></div>
        <div class="payment-icons-wrapper">
            <ul class="payment-icons clearfix">
                <li class="mastercard"><span>mastercard</span></li>
                <li class="visa"><span>visa</span></li>
                <li class="yandex"><span>yandex</span></li>
                <li class="sms"><span>sms</span></li>
                <li class="webmoney"><span>webmoney</span></li>
                <li class="sberbank"><span>sberbank</span></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}