<div class="message">
    <div class="avatar">
        <a class="pull-left" href="#AUTHOR_URL#">#AVATAR#</a>
    </div>
    <div class="message-content">
        <div class="message-info">
            #PROJECT_LINE#
            <span class="message-info-time">#DATE_CREATE#</span>
            <a href="#AUTHOR_URL#" class="message-info-name">#AUTHOR_LAST_NAME# #AUTHOR_NAME#</a>#USER_TO_NAME#
            <small>#MODIFIED#</small>
        </div>
        <div class="message-desc clearfix">
            <div class="message-desc-left js-taskMessageText">
                    #TASK_LINE#
                    <div class="message-desc-text-p">#TEXT#</div>
                <div class="js-filesList">
                    #FILE_LIST#
                </div>
            </div>
            <div class="message-desc-right">
                    #TODO_BTN#
                    #BUG_BTN#
                    #REPLY_BTN#
            </div>
        </div>
    </div>
</div>