<div class="message">
    <div class="avatar">
        <a class="pull-left" href="#AUTHOR_URL#">#AVATAR#</a>
    </div>
    <div class="message-content">
        <div class="message-info">
            #PROJECT_LINE#
            <span class="message-info-time">#DATE_CREATE#</span>&nbsp;/
            <a href="#AUTHOR_URL#" class="message-info-name">#AUTHOR_LAST_NAME# #AUTHOR_NAME#</a>#USER_TO_NAME#
        </div>
        <div class="message-desc clearfix">
            <div class="message-desc-left">
                    #TASK_LINE#<br/>
                    #TEXT#
                <div class="js-filesList">
                    #FILE_LIST#
                </div>
            </div>
            <div class="message-desc-right">
                    #REPLY_BTN#
            </div>
        </div>
    </div>
</div>