<!--
HTML template for message
#ID#
#AUTHOR_ID#
#AVATAR_SRC#
#AUTHOR_NAME#
#AUTHOR_LAST_NAME#
#AUTHOR_USERNAME#
#DATE_CREATE#
#TEXT#
#FILE_LIST#
#USER_TO_NAME#
-->

<div class="message git-commit">
    <div class="avatar js-avatarBlock">
        <a class="pull-left" href="/user_detail/?id=1"> #AVATAR# </a>
    </div>
    <div class="message-content">
        <div class="message-info js-author-block">
            <span class="message-info-time">#DATE_CREATE# #HIDDEN_LABEL#</span>&nbsp;/
            <a href="#AUTHOR_URL#" class="message-info-name">#AUTHOR_LAST_NAME# #AUTHOR_NAME#</a>#USER_TO_NAME#
        </div>
        <div class="message-desc clearfix">
            <div class="message-desc-left js-taskMessageText">
                <div class="message-desc-message js-messageDetailText">
                    <div class="commit-message">
                        #TEXT#
                    </div>
                </div>
                <div class="message-commit-hash">
                     <a href="/commit/show?message_id=#ID#" class="js-show-commit-diff btn btn-default">Показать коммит</a>
                </div>
                <div class="js-commit-body"></div>
                <div class="js-filesList">

                </div>
            </div>
            <div class="message-desc-right">
            </div>
        </div>
    </div>
</div>