<div class="chatString media">
    <table width="100%" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
            <td valign="top" style="width:100px; vertical-align:top;">
                <div class="avatar">
                    <a href="/user_detail/?id=#AUTHOR_ID#" class="pull-left">#AVATAR#</a>
                </div>
            </td>
            <td valign="top" style="padding-left:15px; vertical-align:top;">
                <span class="chatDate">#DATE_CREATE#</span>

                <a href="#AUTHOR_URL#" style="color:#57A957;">#AUTHOR_LAST_NAME# #AUTHOR_NAME#</a>#USER_TO_NAME#
                <p class="js-taskMessageText">
                    #PROJECT_LINE#
                    #TASK_LINE#<br/>
                    #TEXT#
                </p>

                <div class="js-filesList">
                    #FILE_LIST#
                </div>
            </td>
        </tbody>
    </table>
</div>