.user-body {background: #f6f6f6; margin: 0 -20px -15px;}
.user-header {margin: -15px -20px 0;}

.user-header-info {display: none;}
.user-header-info-blocks {display: none;}

.user-header-avatar {height: 260px; width: 260px; overflow: hidden; float: left;}
.user-header-avatar img {width: 260px; min-height: 260px;}

.user-header-stat-employee {background: #5cb85c;}
.user-header-stat-employer {background: #fa8f10;}

.user-header-stat-employee,
.user-header-stat-employer {height: 260px; padding: 25px; color: #fff; float: left; width: calc(50% - 130px);}


.user-header-stat-line {margin-bottom: 30px;}
.user-header-stat-line:last-child {margin-bottom: 0px;}
.user-header-stat-line-icon {float: left; width: 15%; text-align: left;}
.user-header-stat-line-icon i {font-size: 4vw;}
.user-header-stat-line-item {float: left; width: 28.333%; white-space: nowrap;}
.user-header-stat-line-item.two-items {width: 42.5%;}
.user-header-stat-line-item-title {display: block; font-size: 0.8vw; margin-bottom: 7px; margin-top: -2px; text-transform: uppercase;}
.user-header-stat-line-item-text {display: inline-block; font-size: 2.8vw;}
.user-header-stat-line-item-text-desc {font-size: 13px; font-weight: normal;}
.user-header-stat-line-item-text-separator {font-size: 15px;}

.user-header-stat-line-progress-title {text-transform: uppercase; font-size: 11px; margin-bottom: 5px; font-weight: bold;}
.user-header-stat-line-progress-title-text {float: left;}
.user-header-stat-line-progress-title-percent {float: right;}
.user-header-stat-line-progress-bar {margin: 0px;}
.user-header-stat-line-progress-bar.progress {background: rgba(255,255,255,0.4); box-shadow: none; border: 0;}
.user-header-stat-line-progress-bar.progress .progress-bar-success {background: #ffffff; box-shadow: none; border: 0;}


.user-body-info-block-name {padding-right: 20px; position: relative;}
.user-body-info-block-edit-icon {position: absolute; top: 0px; right: 0px; font-size: 14px; color: #ccc;}
.user-body-info-block-edit-icon:hover,
.user-body-info-block-edit-icon:active,
.user-body-info-block-edit-icon:focus {color: #5cb85c;}

.user-body-info {float: left; background: #fff; width: 260px; padding: 25px 0;}

.user-body-info h2 {font-size: 18px; font-weight: bold; margin: 0 0 15px;}
.user-body-info h3 {font-size: 16px; font-weight: bold; margin: 0 0 15px;}

.user-body-desc {float: right; width: calc(100% - 260px);}

.user-body-info-block {border-bottom: 1px solid #f0f0f0; padding: 0 20px 20px; margin-bottom: 20px;}

.user-body-info-block:last-child {margin-bottom: 0px; border-bottom: 0px; padding-bottom: 0px;}

.user-body-info-block-ul {list-style: none; padding: 0px; margin: 0px;}
.user-body-info-block-ul li {list-style: none; display: block; margin-bottom: 10px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.user-body-info-block-ul li:last-child {margin-bottom: 0px;}
.user-body-info-block-ul-li-with-icon {position: relative; padding-left: 25px;}
.user-body-info-block-ul-li-with-icon i {width: 20px; font-size: 14px; position: absolute; left: 0px; top: 2px;}

.user-header-stat-line-progress-bar-2 {background: #f0f0f0; margin: 0px; padding: 0px; height: 4px;}

.user-header-stat-line-progress-bar-2 .grey {background-color: #8d9091;}
.user-header-stat-line-progress-bar-2 .green {background-color: #3dc33d;}
.user-header-stat-line-progress-bar-2 .blue {background-color: #1dabe6;}
.user-header-stat-line-progress-bar-2 .red {background-color: #f53838;}
.user-header-stat-line-progress-bar-2 .yellow {background-color: #eac53d;}
.user-header-stat-line-progress-bar-2 .purple {background-color: #c666d3;}
.user-header-stat-line-progress-bar-2 .orange {background-color: #ef9332;}



.block {display: block; width: 100%;}

.user-body-info-block-desc {
    background: #f6f6f6;
    color: #999999;
    font-size: 12px;
    margin: 20px -20px -20px;
    padding: 10px 20px;
    border-top: 1px solid #f0f0f0;
}


.user-body-info-block-balance {margin-bottom: 15px; text-transform: uppercase; font-size: 11px; font-weight: bold;}
.user-body-info-block-balance-sum {}
.user-body-info-block-balance-sum-active {font-size: 24px; color: #5cb85c; text-decoration: none; border-bottom: 2px dashed #5cb85c;}
.user-body-info-block-balance-sum-active:hover,
.user-body-info-block-balance-sum-active:active,
.user-body-info-block-balance-sum-active:focus {text-decoration: none; color: #47a447; border-bottom: 2px dashed #47a447;}
.user-body-info-block-balance-bonus {font-size: 24px; color: #ffffff; background: #5cb85c; border-radius: 5px; padding: 3px 8px; margin-left: 5px;}
.user-body-info-block-balance-bonus-plus-minus {
    font-size: 14px;
    position: relative;
    top: -4px;
}


.user-body-info-block-balance-sum .dropdown-menu {
    width: 240px;
    margin-left: -71px;
    text-transform: none;
}

.user-body-info-block-balance-sum .dropdown-menu:before {
    right: 146px;
    top: -7px;
    left: auto;
    content: "";
    position: absolute;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid rgba(0, 0, 0, 0.2);
    border-left: 7px solid transparent;
}

.user-body-info-block-balance-sum .dropdown-menu:after {
    right: 147px;
    top: -6px;
    left: auto;
    content: "";
    position: absolute;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid rgb(255, 255, 255);
    border-left: 6px solid transparent;
}

.user-body-info-block-balance-project-ul {list-style: none; padding: 0px; margin: 0px;}
.user-body-info-block-balance-project-ul-li {border-bottom: 1px solid #f1f1f1; padding: 15px;}
.user-body-info-block-balance-project-ul-li:last-child {border: 0;}

.user-body-info-block-balance-project-ul-li-title {margin-bottom: 5px;}

.user-body-info-block-balance-project-ul-li-desc-left {float: left;}
.user-body-info-block-balance-project-ul-li-desc-right {float: right;}


.user-body-info-block-balance-remove {color: #ccc;}
.user-body-info-block-balance-remove:hover {color: #ed1a15;}

.add-smthng-dropdown .dropdown-menu {
    width: 240px;
    margin-right: -10px;
    text-transform: none;
    right: 0;
    left: auto;
}

.add-smthng-dropdown .dropdown-menu:before {
    right: 8px;
    top: -7px;
    left: auto;
    content: "";
    position: absolute;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid rgba(0, 0, 0, 0.2);
    border-left: 7px solid transparent;
}

.add-smthng-dropdown .dropdown-menu:after {
    right: 9px;
    top: -6px;
    left: auto;
    content: "";
    position: absolute;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid rgb(255, 255, 255);
    border-left: 6px solid transparent;
}

.add-smthng-dropdown-input-wrapper {
    margin-bottom: 10px;
    position: relative;
    background: #f0f0f0;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    border-radius: 4px;
    border: 0;
    padding: 0px 10px;
}
.add-smthng-dropdown-input-wrapper.with-icon {
    padding: 0px 10px 0 40px;
}
.add-smthng-dropdown-input-wrapper:last-child {margin-bottom: 0px;}
.add-smthng-dropdown-input-wrapper i {
    position: absolute;
    text-align: center;
    width: 20px;
    left: 10px;
    top: 9px;
    font-size: 19px;
    color: #b9b9b9;
}
.add-smthng-dropdown-input-wrapper input {
    background: none;
    border: 0px;
    width: 100%;
    margin: 0;
    line-height: 35px;
    float: left;
    height: 35px;
}

.add-smthng-dropdown-input-wrapper i.fa-mobile {
    font-size: 22px;
    top: 7px;
}
.add-smthng-dropdown-input-wrapper i.fa-envelope {font-size: 15px;}

.user-body-desc {padding: 25px;}
.user-body-desc .tab-content {background: #fff; padding: 20px; border-radius: 5px; margin-bottom: 25px;}
.user-body-desc .tab-content:last-child {margin-bottom: 0px;}

.user-inner-tabs .nav > li.active > a {background: #fff; color: #000; border: 0px;}
.user-inner-tabs .nav > li > a {border-radius: 5px 5px 0 0; background: #eee; color: #555; border: 0px; height: 45px; font-weight: bold; line-height: 45px; padding: 0px 15px;}

.user-body-desc .statistic-graph {padding: 0;}
.user-body-desc h3 {margin-bottom: 20px;}




@media only screen and (max-width: 1280px) {
    .user-header-avatar {width: 150px;}
    .user-header-avatar img {margin-left: -55px;}
    .user-header-stat-employee,
    .user-header-stat-employer {
        width: calc(50% - 75px);
    }
    .dostizheniya-item {width: calc(33.33% - 20px)}
}


@media only screen and (max-width: 1024px) {

    .user-header-avatar {text-align: center; float: left; border-radius: 50%; height: 100px; width: 100px; margin: 20px 20px 20px 20px; }

    .user-header-avatar img {width: 100px; min-height: 100px; margin: 0px;}

    .user-header-avatar {display: none;}
    .user-header-info .user-header-avatar {display: block;}

    .user-header-info {border-bottom: 1px solid #f0f0f0; display: block;}

    .user-body-info {display: none;}
    .user-body-desc {float: none; width: 100%; padding: 20px;}

    .user-header-name {float: left; width: calc(100% - 160px); margin: 20px 20px 20px 0;}

    .user-header-info-blocks {display: block;}
    .user-body-info-block,
    .user-body-info-block:last-child {width:50%; margin-bottom: 0px; padding-bottom: 20px; padding-top: 20px; border-bottom: 1px solid #f0f0f0;}

    .user-body-info-block:nth-child(2) {border-left: 1px solid #f0f0f0;}

    .user-header-info-blocks {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }

    .user-body-info-block {
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
    }


    .user-header-info .user-header-name .button.block {width: auto; display: inline-block; padding-left:20px; padding-right: 20px;}

    .user-header-stat-line-item {width: 33.33%;}
    .user-header-stat-line-item.two-items {width: 50%;}

    .user-header-stat-line-icon {display: none;}
    .user-header-stat-employee,
    .user-header-stat-employer {
        width: 50%;
        padding: 20px;
    }

    .user-header-stat-line-item-title {font-size: 1vw;}
    .user-header-stat-line-item-text {font-size: 3.2vw;}


    .dostizheniya-item {width: calc(50% - 20px)}


}


@media only screen and (max-width: 768px) {


    .user-body-info-block, .user-body-info-block:last-child, .user-header-info-blocks {width:100%; display: block;}

    .user-body-info-block:nth-child(2) {border-left: 0;}

    .user-header-stat-employee,
    .user-header-stat-employer {
        width: 100%;
        height: auto;
    }

    .user-header-stat-line-item-title {font-size: 1.6vw;}
    .user-header-stat-line-item-text {font-size: 3.6vw;}

    .dostizheniya-item {width: calc(100% - 20px)}
}


@media only screen and (max-width: 568px) {
    .user-header-stat-line-item-title {font-size: 2.5vw;}
    .user-header-stat-line-item-text {font-size: 5vw;}


    .user-header-avatar {float: none; margin:20px auto; border-radius: 50%; height: 100px; width: 100px;}

    .user-header-name {float: none; width: auto; margin: 20px;}


    .button {font-size: 12px; }
    h2, .h2 {font-size: 18px; line-height: 24px;}

    h3, .h3 {font-size: 16px; line-height: 20px;}

    .user-header-info .user-header-name .button.block {width: 100%; display: block;}
    .user-header-info .user-header-name .button {margin-top: 5px;}

    .dostizheniya-item-text h4, .dostizheniya-item-text p {white-space: inherit;}
    .dostizheniya-item {height: auto;}
}


    .user-body .task-title {width:35%; padding-right:120px;}
    .user-body .task-info {width:65%; padding-left: 0px;}
    .user-body .task-title,
    .user-body .task-info  {float:none; width:100%; text-align:left;}
    .user-body .task-info .title-to-hide {display:none;}
    .user-body .task-info .task-info-author {width:150px; display:block;}
    .user-body .task-info .task-info-author a {max-width: none;}

    .user-body .task_add-subtask {right:90px;}
    .user-body .task-info .task-info-time {padding:0px; margin-top: 10px;}

