{% load jsonify %}
<style>
    .about-file > div {
        display: none;
    }
</style>
<script language="JavaScript" class="tmp_script">
    var widget_file_list_file_tpl = {{ file_list.fileTemplate|jsonify|safe }};
    var widget_file_list_arFiles = [];
    {% for fileJson in file_list.files %}
        widget_file_list_arFiles.push({{ fileJson|jsonify|safe }});
    {% endfor %}
</script>
<script type="text/javascript" src="/widgets/js/file_list/script.js"></script>

    <div class="widget file_list">
        <div class="widget-control">
{#            <a href="#" class="w-collapse">Свернуть</a>#}
{#            <a href="#" class="w-close">Закрыть</a>#}
        </div>

        <h3>Файлы</h3>
        <hr>
        

		<div class="file-adding-form" style="position:relative;">
            <div class="filelist-file-upload" style="position: relative; display:block;">
    
            </div>
            <h3 class="file_upload_button">Перетащите файлы или нажмите сюда</h3>
        </div>
        
        <div class="files-wrapper">
            <div class="files-wrapper-packs">
                <ul>
                    <li class="separator">
                        <a href="#root">{{ file_list.project.name }}</a>
                        <ul>
                            {% for category in file_list.tree %}
                            <li>
                            <a class="active" href="#{{ category.id }}" data-id="{{ category.id }}"> {{ category.name }} <i title="Удалить папку" class="fa fa-times-circle js-delete_dir" data-dir_id="{{ category.id }}" ></i></a>
                            {% if category.children %}
                                            <ul>
                                                {% for child in category.children %}
                                                    <li class="open">
                                                        <div class="tree-row">
                                                            <div class="tree-image"></div>
                                                            <span class="folder">
                                                                <div style="display:inline;" class="dir_name" href="#{{ child.id }}" data-id="{{ child.id }}"> {{ child.name }}</div>
                                                                <a href="#" class="del_dir js-delete_dir" data-dir_id="{{ child.id }}" >
                                                                    <i title="Удалить папку" class="fa fa-times-circle"></i>
                                                                </a>
                                                            </span>
                                                        </div>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                            </li>
                             {% endfor %}
                             <li class="open"><a href="#tasks" data-id="tasks">Файлы в задачах</a></li>
                        </ul>
                    </li>
                </ul>
                <p class="files-wrapper-packs-buttons">
                <button class="btn btn-default" type="button" id="create_new_folder">Создать папку&nbsp&nbsp;<i class="fa fa-folder"></i></button>
                </p>
            </div><!--files-wrapper-packs-->
            <div class="files-wrapper-files">
                <div class="files-wrapper-list-navi-wrapper">
                    <div class="files-wrapper-list-navi js-breadcrumb">
                        <a href="#">{{ file_list.project.name }}</a>
                    </div>
                </div>
                <div class="files-wrapper-list box">
                    <ul class="js-file-list">
                    </ul>
                </div><!--files-wrapper-list-->
                <div class="files-wrapper-info js-fileInfo">
                        <div class="js-infoRow"><span>Формат:</span> <span class="js-file_type"></span></div>
                        <div class="js-infoRow"><span>Дата создания:</span> <span class="js-file_date_create"></span></div>
                        <div class="js-infoRow"><span>Размер:</span> <span class="js-file_size"></span></div>
                        <div class="js-infoRow"><span>Разрешение:</span> <span class="js-file_resolution"></span></div>
                        <div class="js-infoRow"><p><span>Превью:</span></p><a class="js-file_src fnc" href="#" ><img src="" class="js-file_preview_img" width="200"></a></div>
                        <div class="js-fileVersionsBlock js-infoRow">
                            <span>Версии:</span><br/>
                            <ul class="js-fileVersionsList">
    
                            </ul>
                        </div>   
                </div><!--files-wrapper-info-->
                <div class="files-wrapper-list-navi-wrapper-footer">
                    <div class="files-wrapper-list-navi-footer">                	
                        <div class="files-wrapper-list-control js-fileButtonsGrp">                            
            {#                 <button disabled="disabled" class="btn btn-warning js-replace_files" type="button">Скопировать&nbsp&nbsp;<i class="icon-share icon-white"></i></button>#}
                                <button disabled="disabled" class="btn btn-success js-replaceFiles" type="button">Перенести&nbsp&nbsp;<i class="fa fa-share"></i></button>
                                <button disabled="disabled" class="btn btn-danger js-deleteFiles" type="button">Удалить&nbsp&nbsp;<i class="fa fa-trash-o"></i></button>                            
                        </div> 
                    </div>
                </div><!--files-wrapper-list-navi-wrapper-footer-->
        	</div><!--files-wrapper-files-->
  		</div>   <!--files-wrapper-->
        
        
        
    </div>

<script src="/static/js/fileup/header.js"></script>
<script src="/static/js/fileup/util.js"></script>
<script src="/static/js/fileup/promise.js"></script>
<script src="/static/js/fileup/button.js"></script>
<script src="/static/js/fileup/ajax.requester.js"></script>
<script src="/static/js/fileup/deletefile.ajax.requester.js"></script>
<script src="/static/js/fileup/handler.base.js"></script>
<script src="/static/js/fileup/window.receive.message.js"></script>
<script src="/static/js/fileup/handler.form.js"></script>
<script src="/static/js/fileup/handler.xhr.js"></script>
<script src="/static/js/fileup/paste.js"></script>
<script src="/static/js/fileup/uploader.basic.js"></script>
<script src="/static/js/fileup/dnd.js"></script>
<script src="/static/js/fileup/uploader.js"></script>
<script src="/static/js/fileup/jquery-plugin.js"></script>