<div id="taskLine_#TASK_ID#" class="task clearfix" data-taskid="#TASK_ID#" >
	<div class="task-border clearfix ">
    	<span class="task-id js-number-link">#TASK_NUMBER#</span><!-- ===== НОМЕР ЗАДАЧИ -->
       	<span class="task-drag task-name_status"></span><!-- ===== ПЕРЕТЯГИВАТЕЛЬ -->

       <div class="task-title"><i class="js-task-bounty fa fa-star" ></i> <label for="taskid#TASK_ID#"></label>
       <a title="#LAST_MESSAGE#" class="js-name-link" href="#TASK_URL#">#TASK_NAME#</a>
       #FILE_LIST#
       <b class="red-text">#DEADLINE#</b>
       <div class="to-do-buttons js-todo"></div>
       </div><!-- ===== ИМЯ ЗАДАЧИ -->

		<div class="task-info">
        	<div class="task-info-author"><span class="title-to-hide">Executor:&nbsp;</span><span class="js_task_responsibles"><span class="dropdown"></span></span></div>
            <div class="task-info-time task_play-wrap">
            	<span class="dropdown">
            		<span class="js-reward"></span>
                </span>
            </div><!--task-info-time-->
            <div class="task-info-control clearfix">
                <span class="js-options_popup">
                    <a class="btn_manage dropdown-toggle js-task_menu">
                        <span class="fa fa-gear" title="Actions"></span>
                    </a>
                </span>
                <a class="btn_manage task_manage_btn-done js-task_done">
                    <span class="fa fa-check" title="Close"></span>
                </a>
                <a class="btn_manage task_manage_btn-done js-task_approve">
                    <span class="fa fa-check-circle" title="Approve"></span>
                </a>
			</div><!--task-info-control-->
		</div><!--task-info-->

	</div>
</div>
