<div id="taskLine_#TASK_ID#" class="task clearfix " data-taskid="#TASK_ID#" >
	<div class="task-border clearfix  ">
    	<!--<span class="task-id js-number-link">#TASK_NUMBER#</span><!-- ===== НОМЕР ЗАДАЧИ -->
       	<!--<span class="task-drag task-name_status"></span><!-- ===== ПЕРЕТЯГИВАТЕЛЬ -->
       <div class="task-title ">
           <!--<i class="js-task-bounty fa fa-star" ></i> <label for="taskid#TASK_ID#"></label>-->
           <div class="task-title-projectname">
                <a href="#TASK_PROJECT_LINK#" class="task-title-projectname-a">#TASK_PROJECT_NAME#</a>
           </div>
           <div class="task-title-name">
               <a class="js-name-link task-title-name-a" href="#TASK_URL#">#TASK_NAME#</a>
           </div>

           <div class="task-title-tags-wrapper">
                <div class="js-task-tags">
                    #TASK_TAG#
                </div>
           </div>
          


           <!--#FILE_LIST#-->
           <b class="red-text">#DEADLINE#</b>

       </div><!-- ===== ИМЯ ЗАДАЧИ -->

		<div class="task-info ">
           

                <!--
            <div class="to-do-buttons js-tod">
            </div>
            -->
            <div class="task-title-users-wrapper ">
                    <p> Developers involved </p>
                     <ul class="js-task-users">
                         #TASK_USERS#
                     </ul>
                </div>

            <div class="task-info-progress ">
            	<span class="js-reward"></span>
            </div>

            <!--
            <div class="task-info-control clearfix">
                <span class="js-options_popup">
                    <a class="btn_manage dropdown-toggle js-task_menu">
                        <span class="fa fa-gear" title="Actions"></span>
                    </a>
                </span>
                <a class="btn_manage task_manage_btn-done js-task_done">
                    <span class="fa fa-check" title="Close"></span>
                </a>
                <a class="btn_manage task_manage_btn-done js-task_approve">
                    <span class="fa fa-check-circle" title="Approve"></span>
                </a>
			</div><!--task-info-control-->


            
		</div><!--task-info-->

	</div>
</div>
