{% load floattags jsonify compressed humanize thumbnail %}
{% compressed_js 'user_detail' %}
<script>
    var global_user_id = {{ user_detail.user.id }};
    window.taskHtml = {{ user_detail.taskTemplate|jsonify|safe }};
    var USER_TIME_DATA = [
          {% for vals in user_detail.timeGraph %}{State:'{{ vals.date }}',freq:{time:{{ vals.time }}, tasks:{{ vals.tasksClosed }}, commits:{{ vals.commits }}}}{% if not forloop.last %},{% endif %}{% endfor %}
    ];
</script>
<div id="key-add" class="modal fade" role="dialog" aria-labelledby="keyAdd" aria-hidden="true">
    {% include 'keys/form.html' %}
</div>
<div class="widget inner" id="user_detail">
    <div class="widget-title clearfix userInfo">
        <div class="pull-left">
        <i class="statusImg"></i>&nbsp;&nbsp;{{ user_detail.user.last_name }} {{ user_detail.user.first_name }} {% if user_detail.profile.vocation %}<small>({{ user_detail.profile.vocation }})</small>{% endif %}
        {% if user_detail.userIsEqualCurrentUser or user_detail.current_user_is_admin  %}
            <small>/ <a href="/profile/edit/?id={{ user_detail.user.id }}">Редактировать профиль</a></small>
        {% endif %}
        </div>
    </div><!--widget-title-->

    <div class="widget-body">
        <div class="user-personal row-fluid clearfix">
            <div class="user-personal-left clearfix">
                <div class="user-avatar pull-left">
                    <span class="user-avatar-wrapper">
                        <img style="width:100px;" class="img-rounded" src="{% if user_detail.profile.avatarSrc %}{{ user_detail.profile.avatarSrc }}{% else %}/static/images/avatar_unknown.png{% endif %}" alt="{{ user_detail.user.last_name }} {{ user_detail.user.first_name }}" />
                        <span class="user-avatar-bonus">{% if user_detail.profile.rating %}{% if user_detail.profile.rating >= 0 %}+{% endif %}{{ user_detail.profile.rating }}{% else %}0{% endif %}</span>
                    </span>
                </div>

                <div class="user-info-right-from-avatar">
                    <div class="user-contacts">
                        <ul class="clearfix">
                            {% if user_detail.user.email %}<li class="mailto"><a href="mailto:{{ user_detail.user.email }}">{{ user_detail.user.email }}</a></li>{% endif %}
                            {% if user_detail.profile.icq %}<li class="user-icq">{{ user_detail.profile.icq }}</li>{% endif %}
                            {% if user_detail.profile.skype %}<li class="user-skype"><a href="skype:{{ user_detail.profile.skype }}?call">{{ user_detail.profile.skype }}</a></li>{% endif %}
                        </ul>
                    </div>
                    <div class="user-tasks-info">
                      <ul>
                        <li>Открытых задач: <b style="font-size: 14px;"> <a href="#" class="js-link-tasks">{{ user_detail.taskSumm }}</a></b></li>
                        <li>Компетентность специалиста: <b> {{ user_detail.competence }}</b></li>
                        <li>Место в рейтинге: <b> {{ user_detail.competencePlace }}</b></li>
                      </ul>
                    </div>
                    {% if user_detail.userIsEqualCurrentUser or user.is_superuser %}
                        <div class="dropdown js-specialties_search_wrapper">
                            <input type="text" name="additional_tags" data-user-id="{{ user_detail.user.id }}"
                                   placeholder="Укажите свои навыки" id="skillsDropdown"
                                   class="form-control js-save_specialty" autocomplete="off" >
                            <ul class="dropdown-menu js-search_specialties" role="dropdown"
                                aria-labelledby="skillsDropdown">
                            </ul>
                        </div>
                    {% endif %}
                    <ul class="posibilities clearfix js-specialties {% if not user_detail.specialties %}hidden{% endif %}">
                        {% if user_detail.specialties %}
                            {% for specialty in user_detail.specialties %}
                                <li><span class="tag-name">{{ specialty.name }}</span>
                                    <span class="tag-num">{% if specialty.weight %}<i class="tag-num-text">{{ specialty.weight }}</i>{% endif %}
                                        {% if user_detail.userIsEqualCurrentUser or user.is_superuser %}
                                        <i class="fa fa-times tag-num-icon js-delete_specialty" data-specialty="{{ specialty.id }}"></i>
                                        {% endif %}
                                    </span>
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div><!--user-info-right-from-avatar-->

            </div>


            <div class="statistic-list clearfix">
                <div class="statistic-list-item first-child">
                <h3>Активность</h3>
                <p>Последняя активность: <strong>{% if user_detail.profile.last_activity_date %} {{ user_detail.profile.last_activity_date }}{% else %}Нет{% endif %}</strong></p>
                <p>Всего закрыто задач: <strong>{{ user_detail.allTaskClosed|default_if_none:"0" }}</strong></p>
                <p>За последний месяц: <strong>{{ user_detail.taskLastMonth|default_if_none:"0" }}</strong></p>
                <p>Всего наработано часов:  <b>{{ user_detail.profile.sp.summ|default_if_none:'0' }}</b></p>
                <p>Всего ошибок:  <b>{{ user_detail.bugsQty|default_if_none:'0' }}</b></p>
                </div>

                {% if user_detail.profile.is_outsource %}
                <div class="statistic-list-item last-child">
                <h3>Финансы</h3>
                <p>Мин. ставка:  <span class="stavka {% if not user_detail.profile.rating %}{% elif user_detail.profile.rating < 0 %}danger{% else %}success{% endif %}">
                                    {{ user_detail.profile.sp_price }}<span class="bonus">{% if user_detail.profile.rating %}{% if user_detail.profile.rating >= 0 %}+{% endif %}{{ user_detail.profile.rating }}{% else %}0{% endif %}</span></span></p>
                <small><i>Цена часа для конкретного проекта может быть переопределена менеджером</i></small>

                <div class="sp">На счету:
                                    <span class="dropdown dropup">
                                        <b{% if user_detail.bets %} data-toggle="dropdown"{% endif %}><a href="javascript:void(0);">{{ user_detail.profile.sp.rest|default_if_none:'0'|intcomma }}</a></b>
                                        <b>баллов</b>
                                        {% if user_detail.bets %}
                                        <a href="#" class="js-show-bonuses" style="font-size: 16px;float: right;display: block;margin-top: 1px;"><i class="fa fa-chevron-right"></i></a>
                                        {% endif %}
                                    </span>
                </div>
                <div class="clear"></div>
                {% if not user_detail.userIsEqualCurrentUser %}
                <small><i>Показана информация по проектам, в которых вы являетесь менеджером</i></small>
                {% endif %}
                </div>
                {% endif %}
            </div>

            <!--<div class="user-personal-left">
                <div class="user-prizes">
                    {% if user_detail.achievements %}
                    <ul class="user-prizes-slider clearfix">
                        {% for c in user_detail.achievements %}
                            <li><img src="{{ c.achievement.smallImageUrl }}" alt="" width="64px">{{ c.achievement.name }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>-->

        </div><!--user-personal-->
        <hr>

        <div class="row-fluid clearfix user-inner-tabs" id="myTab">
            <div class="pull-left">
                <ul class="nav nav-pills js-tab-menu">
                    <li class="active"><a href="#svodka" role="tab" data-toggle="tab">Сводка</a></li>
                    <li><a href="#ychastvyet" role="tab" data-toggle="tab">Участвует в проектах</a></li>
                    <li><a href="#tekyshie_zadachi" role="tab" data-toggle="tab" class="js-current-tasks">Текущие задачи</a></li>
                    <li><a href="#dostizheniya" role="tab" data-toggle="tab">Достижения</a></li>
                    <li><a href="#activity" role="tab" data-toggle="tab">Активность</a></li>
                    {% if user_detail.use_git and user_detail.userIsEqualCurrentUser %}
                        <li><a href="#keys" role="tab" data-toggle="tab">SSH-ключи</a></li>
                    {% endif %}
                    {% if user_detail.userIsEqualCurrentUser %}
                    <li><a href="#payments" role="tab" data-toggle="tab">Движения по счету</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="pull-right">
                {% if user_detail.current_user_is_admin %}
                <form method="POST" action="" class="inline-block">
                    {% csrf_token %}
                    <input name="action" type="hidden" value="delete_user" />
                    <input type="submit" class="js-delete-user btn btn-danger" value="Удалить пользователя" /></form>&nbsp;&nbsp;
                {% endif %}
                <a href="#add-project" class="btn btn-success js-add-project" role="tab" data-toggle="tab">Добавить в проект</a>
            </div>
        </div><!--ТАБЫ-->
        <hr>

            <div class="tab-content">
                <div class="tab-pane active" id="svodka">
                    <div class="statistic-wrapper clearfix">

                          <div class="statistic-graph-wrapper">
                              {% if user_detail.bets %}
                              <div class="statistic-graph js-bonuses" style="display: none"><h3>Бонусы</h3>
                                  <div class="list-group">
                                    {% for arBet in user_detail.bets %}
                                        {% if arBet.price %}
                                        <span class="list-group-item js-pay-item">
                                            {{ arBet.project }}: 
                                            <b>{{ arBet.price }} (ставка: {{ arBet.bet }})</b>
                                            {% if user_detail.userIsEqualCurrentUser %}
                                            <a href="#" class="js-pay"
                                               style="float: right;"
                                               data-project="{{ arBet.project_id }}"
                                               data-role="{{ arBet.role_id }}"
                                               data-sum="{{ arBet.price }}">Списать</a>
                                            {% endif %}
                                            <span class="clr"></span></span>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                              </div>
                              {% endif %}
                              <div class="statistic-graph js-productivity"><h3>Продуктивность</h3>
{#                                    <div id='dashboard'></div>#}
                                  <div style="width: 100%">
                                    <canvas id="dashboard" height="150" width="600"></canvas>
                                </div>
                              </div>
                              <div class="statistic-detail js-user-legend">
                                  <p style="background-color: rgba(220,220,220,0.5);padding:10px;"><b>Затраченое время, ч</b></p>
                                  <p style="background-color: rgba(151,205,187,0.5);padding:10px;"><b>Закрытые задачи</b></p>
                                  <p style="background-color: rgba(215, 185, 180,0.5);padding:10px;"><b>Коммиты</b></p>
                              </div>
                          </div>
                    </div>
                </div><!--ВКЛАДКА "СВОДКА" - svodka-->
                <div class="tab-pane" id="ychastvyet">
                    {% for project in user_detail.user_projects %}
                        <div class="media clearfix">
                        	<a href="/project/{{ project.id }}/#participants_and_rates" class="pull-left project-thumb-link">
                            <img src="{% if project.imagePath %}{{ project.imagePath|thumbnail:"100x100" }}{% else %}/static/images/avatar_unknown.png{% endif %}" class="img-thumbnail pull-left" width="100" />
                            </a>
                            <h3>{{ project.name }}</h3>
                            <ul class="list-inline" >
                                {% if project.canEdit  or 'client' in project.roles %}
                                <li><div {% if project.canEdit %}class="checkbox"{% endif %}><label>
                                    {% if project.canEdit %}
                                    <input class="js-role-check" {% if 'client' in project.roles %}checked{% endif %} data-project="{{ project.id }}"
                                         data-user-id="{{ user_detail.user.id }}" name="client" value="1" type="checkbox">
                                    {% endif %}
                                    <span class="fa fa-users"></span>
                                    Клиент</label></div></li>
                                {% endif %}
                                {% if project.canEdit  or 'manager' in project.roles %}
                                <li><div {% if project.canEdit %}class="checkbox"{% endif %}><label>
                                    {% if project.canEdit %}
                                    <input class="js-role-check" {% if 'manager' in project.roles %}checked{% endif %} data-project="{{ project.id }}"
                                           data-user-id="{{ user_detail.user.id }}" name="manager" value="1" type="checkbox">
                                    {% endif %}
                                    <span class="fa fa-cogs"></span>
                                    Менеджер</label></div></li>
                                {% endif %}
                                {% if project.canEdit  or 'employee' in project.roles %}
                                <li><div {% if project.canEdit %}class="checkbox"{% endif %}><label>
                                    {% if project.canEdit %}
                                    <input class="js-role-check" {% if 'employee' in project.roles %}checked{% endif %} data-project="{{ project.id }}"
                                           data-user-id="{{ user_detail.user.id }}" name="employee" value="1" type="checkbox">
                                    {% endif %}
                                    <span class="fa fa-user"></span>
                                    Разработчик</label></div></li>
                                {% endif %}
                            </ul>
                        </div><!--ychastvyet-item-->
                        {% if not forloop.last %}<hr />{% endif %}
                    {% endfor %}
                </div><!--ВКЛАДКА "УЧАСТВУЕТ" ychastvyet-->
                <div class="js-tasks tab-pane" id="tekyshie_zadachi">
                    <script language="javascript">
                    var aTaskList = [], arTimers = {}, taskRespSummary = {};
                    {% for task in user_detail.task.list.tasks %}
                        aTaskList.push({{ task|jsonify|safe }});
                        taskRespSummary['{{ task.id }}'] = {{ task.responsibleList|jsonify|safe }}
                        {% if task.time %}
                            arTimers['{{ task.id }}'] = new PM_Timer({{ task.time|jsonify|safe }});
                            {% if task.startedTimerExist %}
                                arTimers['{{ task.id }}'].start();
                            {% endif %}
                        {% endif %}
                    {% empty %}
                       document.write('<div class="empty"><img src="/static/images/no-tasks.png"><br>Нет ни одной задачи</div>');
                    {% endfor %}
                    </script>
                </div>
                <div class="tab-pane" id="dostizheniya">
                    {% if user_detail.achievements %}
                    <div class="dostizheniya-item-wrapper clearfix">
                        {% for c in user_detail.achievements %}
                            <div class="dostizheniya-item">
                                    <div class="dostizheniya-item-img"><a href="#"><img width="80" src="{{ c.achievement.smallImageUrl }}" alt="{{ c.name }}" /></a></div>
                                    <div class="dostizheniya-item-text">
                                    <h4>{{ c.achievement.name }}</h4>
                                    <!--<p class="date">{{ c.achievement.date }}</p>-->
                                    <p style="white-space: nowrap;overflow: hidden;">{{ c.text|safe }}</p>
                                    {% if c.project %}<hr>
                                        <p>Проект: <b>{{ c.project.name }}</b></p>
                                    {% endif %}
                                    </div>
                            </div>
                            {% if not forloop.last %}
                        {% endif %}

                        {% endfor %}
                    </div>
                    {% else %}
                        <div class="empty"><i class="fa fa-rocket"></i><br>У пользователя нет ни одного достижения</div>
                    {% endif %}

{#                        <hr />#}

                </div><!--ВКЛАДКА "ДОСТИЖЕНИЯ"-->

                <div class="tab-pane" id="activity">
                    {% if user_detail.timers %}
                    <table class="table table-bordered table-striped">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Время</th>
                          <th>Задача</th>
                          <th>Комментарий</th>
                          <th>Добавлено</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for timer in user_detail.timers %}
                          <tr>
                              <td>{{ timer.id }}</td>
                              <td>{{ timer.time }}</td>
                              <td><a href="{{ timer.task_url }}">{{ timer.task }}</a></td>
                              <td>{{ timer.comment|safe }}</td>
                              <td>{{ timer.date }}</td>
                          </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                    {% else %}
                        <div class="empty"><i class="fa fa-bolt"></i><br>У пользователя нет ни одной активности</div>
                    {% endif %}
                    <div align="center">
                	</div>
                </div><!--ВКЛАДКА "Активность"-->
                {% if user_detail.use_git and user_detail.userIsEqualCurrentUser %}
                    <div class="tab-pane" id="keys">
                        {% if user_detail.keys %}
                        <table class="table table-bordered table-striped">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Создан</th>
                              <th>Имя</th>
                              <th>Действия</th>
                            </tr>
                          </thead>
                          <tbody>
                          {% for key in user_detail.keys %}
                              <tr>
                                  <td>{{ key.id }}</td>
                                  <td>{{ key.created_at }}</td>
                                  <td>{{ key.name }}</td>
                                  <td><a class="btn btn-alert js-deleteKey"><i class="fa fa-remove"></i>&nbsp;Удалить</a></td>
                              </tr>
                          {% endfor %}
                          </tbody>
                        </table>
                        <p align="center" class="button-link">
                            <a href="#" class="btn btn-success js-openKeyForm" data-toggle='modal' data-target="#key-add"><i class="fa fa-plus"></i>&nbsp;Добавить ключ</a>
                            &nbsp;&nbsp;&nbsp;<a href="/wiki/how-to-setup-repository#creating-keys">Как создать ключи?</a>
                        </p>
                        {% else %}
                        <div class="empty">
                            <img src="/static/images/key.png"><br><p>У вас нет ни одного ключа</p><br>
                            <p align="center" class="button-link">
                                <a href="#" class="btn btn-success js-openKeyForm" data-toggle='modal' data-target="#key-add"><i class="fa fa-plus"></i>&nbsp;Добавить ключ</a>
                                &nbsp;&nbsp;&nbsp;<a href="/wiki/how-to-setup-repository#creating-keys">Как создать ключи?</a>
                            </p>
                        </div>
                        {% endif %}
                    </div><!--ВКЛАДКА "Ключи"-->
                {% endif %}
                {% if user_detail.userIsEqualCurrentUser or user.is_superuser %}
	                <div class="tab-pane" id="payments">
	                        {% if user_detail.payments %}
	                        <table class="table table-bordered table-striped">
	                          <thead>
	                            <tr>
	                              <th>#</th>
	                              <th>Дата</th>
		                          <th>Сумма</th>
	                              <th>Проект</th>
	                              <th>Задача</th>
	                              <th>Комментарий</th>
	                            </tr>
	                          </thead>
	                          <tbody>
	                          {% for payment in user_detail.payments %}
	                              <tr>
	                                  <td>{{ forloop.revcounter}}</td>
	                                  <td>{{ payment.date }}</td>
	                                  <td>{{ payment.value }}</td>
		                              <td>{{ payment.project.name }}</td>
		                              <td><a href="{{ payment.task.url }}">{{ payment.task.name }}</a></td>
		                              <td>{{ payment.comment|default_if_none:'' }}</td>
	                              </tr>
	                          {% endfor %}
	                          </tbody>
	                        </table>
                            {% else %}
                            <div class="empty"><img src="/static/images/payments.png"> <br>Нет ни одной оплаты</div>

                        {% endif %}
	                    </div><!--ВКЛАДКА "Оплаты"-->
                {% endif %}
                <div class="tab-pane" id="add-project">
                    <h2>Добавить пользователя в проект</h2>
                    {% if user_detail.projectsForAddUser %}
                        <form name="add_to_project" method="POST" action="" role="form">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="add_to_project" />
                            <div class="form-group">
                                <label for="exampleInputEmail1">Проект</label>
                                <select name="project" class="form-control">
                                    <option>Выберите проект</option>
                                    {% for project in user_detail.projectsForAddUser %}
                                        <option value="{{ project.id }}">{{ project.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Права</label>
                                <select name="role" class="form-control">
                                    <option>Выберите роль</option>
                                    {% for role in user_detail.roles %}
                                        <option value="{{ role.id }}">{{ role.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <input type="submit" class="btn-default btn" name="" value="Добавить" />
                        </form>
                    {% else %}
                        <p>Пользователь уже состоит во всех ваших проектах</p>
                    {% endif %}
                </div> <!--ВКЛАДКА "ДОБАВИТЬ ПРОЕКТ"-->
            </div>
            <script type="text/javascript">
               {% if user_detail.use_git and user_detail.userIsEqualCurrentUser %}
                   $('.js-deleteKey').click(function(){
                        var row = $(this).parents('tr');
                        var key_name = row.find('td:eq(2)').html();
                        var key_id = row.find('td:eq(0)').html();
                        if(confirm('Вы точно хотите удалить ключ ' + key_name)){
                            $.get('/user_key_handle/remove/' + key_id, function(response){
                                if(response.errors) {
                                    alert('Не удалось удалить ключ ' + key_name);
                                    return false;
                                }
                                row.remove();
                                if(row.parents('tbody').find('tr').length == 0){
                                    row.parent('table').remove();
                                }
                                return false;
                            });
                        }
                        return false;
                   });
               {% endif %}
            </script>
    </div><!--widget-body-->
</div><!--widget-->
