{% load floattags jsonify compressed humanize thumbnail %}
{% compressed_js 'user_detail' %}
{% compressed_css 'user_detail' %}
<script>
    var global_user_id = {{ user_detail.user.id }};
    window.taskHtml = {{ user_detail.taskTemplate|jsonify|safe }};
    var USER_TIME_DATA = [
          {% for vals in user_detail.timeGraph %}{State:'{{ vals.date }}',freq:{time:{{ vals.time }}, tasks:{{ vals.tasksClosed }}, commits:{{ vals.commits }}}}{% if not forloop.last %},{% endif %}{% endfor %}
    ];
</script>
<section class="u-py-md-250 u-flex-center">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5 mx-auto">
			<div class="card box-shadow-v2 bg-white u-of-hidden text-center">
			 	<h2 class="bg-primary m-0 py-3 text-white">{{ user_detail.user.last_name }} {{ user_detail.user.first_name }}</h2>
			 	<div class="user-header-avatar">
                    {% if not project.imagePath %}
                        <a href="/profile/edit/?id={{ user_detail.user.id }}">
                    {% endif %}
                    <img src="{% if user_detail.profile.avatarSrc %}{{ user_detail.profile.avatarSrc }}{% else %}/static/images/no-photo.png{% endif %}">
                    {% if not project.imagePath %}
                        </a>
                    {% endif %}
                </div>
                <div class="">Rating: {% if user_detail.competence > 0 %}+ {% endif %}{{ user_detail.competence }}</div>
                <div class="">Donated: {{ user_detail.donated }}</div>
                <div class="">Wallet: {{ user_detail.profile.blockchain_wallet }}</div>
                <h3>Projects</h3>
                <h4>Sponsor</h4>
                {% for p in user_detail.sponsored %}
                    <p><a href="/project/{{ p.id }}/public/">{{ p.name }}</a> (${{ p.sponsored }})</p>
                {% endfor %}
                <h4>Core team</h4>
                {% for p in user_detail.core_team %}
                    <p><a href="/project/{{ p.id }}/public/">{{ p.name }}</a></p>
                {% endfor %}
			 </div>


      </div> <!-- END col-lg-5-->
    </div> <!-- END row-->
  </div> <!-- END container-->
</section>

