{% extends "public/index.html" %}
{% load less %}
{% block content %}
    <section>
            <form name="authform" action="" method="POST">
                {% csrf_token %}
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 mx-auto text-center">
                            <h2 class="h1">
                                {% if is_confirmation %}
                                    Change password
                                {% else %}
                                    Request new password
                                {% endif %}
                            </h2>
                            {% if request.GET.code %}
                                <p>Please enter new password</p>
                            {% else %}
                                <p>Please enter your email and we will send the confirmation link to you.</p>
                            {% endif %}
                            {% if message %}
                                {% ifequal message "success" %}
                                    <div class="label-success rounded u-p-10 u-mb-40 mx-auto">Your password is successfully changed!</div>
                                {% endifequal %}
                                {% ifequal message "success_code_sent" %}
                                    <div class="label-success rounded u-p-10 u-mb-40 mx-auto">We have sent the request link to your e-mail. {{ code }}</div>
                                {% endifequal %}
                                {% ifequal message "not_found" %}
                                    <div class="label-danger rounded u-p-10 u-mb-40 mx-auto">
                                        <strong>Error:</strong>&nbsp;user not found.
                                    </div>
                                {% endifequal %}
                                {% ifequal message "incorrect_captcha" %}
                                    <div class="label-danger rounded u-p-10 u-mb-40 mx-auto">Please be sure that you are not robot</div>
                                {% endifequal %}

                            {% endif %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 text-center mx-auto">
                            <div class="input-group u-rounded-50 border u-of-hidden u-mb-30">
                                <div class="input-group-addon bg-white border-0 pl-4 pr-0">
                                    <span class="icon icon-Mail text-primary"></span>
                                </div>
                                <input type="text" class="form-control border-0 p-3"
                                       name="username"
                                       value="{{ request.GET.uname }}"
                                       placeholder="E-mail" required="">
                            </div>
                            {% if is_confirmation %}
                            <div class="input-group u-rounded-50 border u-of-hidden u-mb-30">
                                <div class="input-group-addon bg-white border-0 pl-4 pr-0">
                                    <span class="icon icon-ClosedLock text-primary"></span>
                                </div>
                                <input type="password" class="form-control border-0 p-3"
                                       name="password"
                                       placeholder="New password" required="">
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 text-center mx-auto">
                            <div class="g-recaptcha" style="display: inline-block;padding-left: 25px;" data-sitekey="6LdiPUIUAAAAAPF5izr5ffAZToMug8oaLz0zZ1AC"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 text-center mx-auto">
                            <input class="btn btn-rounded btn-outline-green px-md-5 m-3" type="submit"
                                   value="{% if is_confirmation %}Change password{% else %}Send confirmation link{% endif %}"/>
                            <input type="hidden" name="backurl" value="{{ request.GET.backurl|default_if_none:'' }}"/>
                            <input type="hidden" name="code" value="{{ request.GET.code|default_if_none:'' }}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 text-center mx-auto">
                            <p class=""><a href="/login/{% if request.GET.backurl %}?backurl={{ request.GET.backurl|default_if_none:'' }}{% endif %}">Sigh in / Register</a></p>
                        </div>
                    </div>
                </div>
            </form>
        </section>
{% endblock %}