<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Система поиска и контроля лучших удаленных специалистов веб-разработки и дизайна.">
    <meta name="keywords" content="гантт, работа, учет, фриланс, гелиард, гельярд, хельярд, heliard, хелиард">
    <meta name="author" content="Gvammer">

    <title>Heliard - лучшие специалисты для разработки и дизайна сайтов.</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/promo/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/promo/css/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=PT+Serif:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100&subset=latin,cyrillic' rel='stylesheet' type='text/css'>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top"><img src="/static/promo/img/logo.png"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">Услуги</a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">Этапы работы</a>
                </li>
                <li class="hide-on-1024">
                    <a class="page-scroll" href="#testdrive">Тест-драйв</a>
                </li>
                <li>
                    <a class="page-scroll" href="#team">Команда</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Контакты</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
    <div class="color-overlay"></div>
    <video poster="/static/promo/img/video_bg.jpg" autoplay muted loop class="video">
        <!-- <source type="video/mp4" src="http://www.skypeassets.com/content/dam/scom/images/newhome/homepage-v3.mp4"></source>-->
        <source type="video/mp4" src="/static/promo/img/video.mp4"></source>
        <source type="video/ogg" src="/static/promo/img/video.webm"></source>
        <source type="video/webm" src="/static/promo/img/video.ogv"></source>
        <em>Sorry, your browser doesn't support HTML5 video.</em>
    </video>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Умные люди в хорошие руки!</div>
            <div class="intro-heading">Найдите разработчика в два клика!</div>
            <form class="form-inline register">
                <div class="form-group form-group-lg">
                    <input type="email" name="email" id="subscriber-email" class="form-control js-email" placeholder="Введите E-mail" required data-validation-required-message="Введите E-mail">
                </div>
                <button class="btn btn-xl js-register" type="submit" id="subscribe-button">Поехали!</button>
            </form>
            <br><p class="font-20">Уже есть аккаунт? <a href="/login/">Авторизуйтесь!</a></p>
        </div>
    </div>
</header>

<!-- Services Section -->
<section id="services" class="services bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">УСЛУГИ <span class="text-green">РАЗРАБОТЧИКОВ</span></h2>
                <h3 class="section-subheading">К вашим услугам более 100 проверенных разработчиков различных специализаций. <br>Вы можете подключать к своим проектам как одного, так и нескольких исполнителей одновременно.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-2">
                    <span class="fa-stack fa-4x">
                        <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                        <i class="fa icon-bitrix fa-stack-1x label-bitrix-color"></i>
                        
                    </span>
                <h4 class="service-heading">Bitrix<sup class="label-bitrix label">8</sup></h4>
                <!--<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>-->
            </div>
            <div class="col-md-2">
                    <span class="fa-stack fa-4x">
                        <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                        <i class="fa icon-php fa-stack-1x label-php-color"></i>
                    </span>
                <h4 class="service-heading">PHP<sup class="label-php label">12</sup></h4>
                <!--<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>-->
            </div>
            <div class="col-md-2">
                    <span class="fa-stack fa-4x">
                        <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                        <i class="fa icon-python fa-stack-1x label-python-color"></i>
                    </span>
                <h4 class="service-heading">Python<sup class="label-python label">4</sup></h4>
                <!-- <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>-->
            </div>
            <div class="col-md-2">
                    <span class="fa-stack fa-4x">
                        <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                        <i class="fa icon-css fa-stack-1x label-css-color"></i>
                    </span>
                <h4 class="service-heading">CSS<sup class="label-css label">20</sup></h4>
                <!--<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>-->
            </div>
            <div class="col-md-2">
                    <span class="fa-stack fa-4x">
                        <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                        <i class="fa icon-html fa-stack-1x label-html-color"></i>
                    </span>
                <h4 class="service-heading">HTML5<sup class="label-html label">16</sup></h4>
                <!--<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>-->
            </div>
            <div class="col-md-2">
                    <span class="fa-stack fa-4x">
                        <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                        <i class="fa icon-js fa-stack-1x label-js-color"></i>
                    </span>
                <h4 class="service-heading">JS<sup class="label-js label">13</sup></h4>
                <!--<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>-->
            </div>
        </div>
    </div>
</section>

<section style="background: transparent url(/static/promo/img/development.jpg) no-repeat fixed 50% 0px / cover ;" data-background="/static/promo/img/development.jpg" class="section index parallax-bg">
    <p class="action-text text-white">Творчество наших разработчиков регулируется набором регламентов</p>
    <p align="center"><a class="btn btn-success btn-lg" href="#reglament" data-toggle="modal">Пример регламента</a></p>
</section>

<!-- About Section -->
<section id="about" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Процесс <span class="text-green">работы</span></h2>
                <h3 class="section-subheading">Процесс поиска и подбора исполнителя занимает не больше минуты и состоит из пары простых шагов..</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image label-bitrix">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading label-bitrix-color">Шаг 1</h4>
                                <h4 class="subheading">Создание задачи</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Удобный инструмент создания задач позволяет быстро описать в удобном формате список необходимых работ и следить за их исполнением в режиме реального времени.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image label-python">
                            <span class="fa fa-paper-plane"></span>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading label-python-color">Шаг 2</h4>
                                <h4 class="subheading">Рассылка приглашений</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Heliard автоматически подберет исполнителей для ваших задач. Наш обучаемый алгоритм ищет среди исполнителей только тех, кто лучше всего справиться с вашими задачами и готов начать работать в ближайшее время.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image label-html">
                            <span class="glyphicon glyphicon-user"></span>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading label-html-color">Шаг 3</h4>
                                <h4 class="subheading">Выбор исполнителя</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Вы можете выбрать из предложенных вам исполнителей одного или нескольких после обсуждения заданий. Выбранные исполнители будут добавлены в ваш проект и в дальнейшем могут работать с вами постоянно.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image label-js">
                            <span class="glyphicon glyphicon-ok"></span>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading label-js-color">Шаг 4</h4>
                                <h4 class="subheading">Закрытие задачи</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Вы сами решаете, когда задача выполнена в полном объеме. В процессе работы вы можете обсуждать с исполнителем все детали в отдельной ветке обсуждения, туда же вы можете скидывать необходимые файлы или скриншоты.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image label-css">
                            <h4>Сложно?
                                <br>Надеемся, что не очень!</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section id="testdrive" class="bg-light-green hide-on-1024">
<div class="container">
<div class="row">
    <div class="col-lg-12 text-center">
        <h2 class="section-heading text-white">Небольшой тест-драйв</h2>
        <h3 class="section-subheading text-white">Моментально реагируйте на изменения в задачах, <br>создавайте проекты быстрее, удобнее, из любой точки!</h3>
    </div>
</div>
<div class="row">



<div class="slide demo-browser-app js-demo-browser-block">

<!-- BROWSER -->
<div class="demo-browser ">
    <header class="browser-header">
        <span class="demo-browser-buttons demo-browser-close"></span>
        <span class="demo-browser-buttons demo-browser-minimize"></span>
        <span class="demo-browser-buttons demo-browser-maximize"></span>
        <span class="demo-browser-addressbar"></span>

        <div class="clear"></div>
    </header>

    <div class="demo-browser-body">

        <!-- SOCIAL PAGE -->
        <div class="demo-social-page">
            <header></header>

            <!-- STREAM -->
            <div class="demo-social-stream">

                <div class="clearfix task-create-wrapper js-taskinput-block">
                    <div class="big-input">
                        <input type="text" placeholder="Что нужно сделать?"
                               class="js-task-input input-block-level task-create form-control">

                        <ul class="choose-user js-user-list" style="display: none" id="TL_responsible_list">
                            <li><a rel="Синичкин Александр" href="javascript:void(0);" > Синичкин Александр </a></li>
                            <li><a rel="Кироненко Алексей" href="javascript:void(0);" > Кироненко Алексей </a></li>
                            <li><a rel="Смирнов Артем" href="javascript:void(0);" > Смирнов Артем </a></li>
                            <li><a rel="Сергеев Иван" href="javascript:void(0);" > Сергеев Иван </a></li>
                            <li><a rel="Кудрявцева Виктория" href="javascript:void(0);" > Кудрявцева Виктория </a></li>
                        </ul>
                    </div>

                    <div class="file-upload">
                        <button type="submit" class="btn btn-success task-create js-task-create">Создать</button>
                    </div>
                </div>

                <div class="chat">
                    <h4>Лента событий</h4>
                    <hr>
                    <div class="message for_current_user">
                        <div class="avatar"><a class="pull-left" href="#"><img width="90px"
                                                                               src="/media/users/458.jpg"
                                                                               class="media-object img-thumbnail"></a>
                        </div>
                        <div class="message-content">
                            <div class="message-info"><a href="#" class="message-info-title">Kvestovik</a> <span
                                    class="message-info-time">05.08.2015 14:30</span> <a href="#"
                                                                                         class="message-info-name">Иванов
                                Сергей</a> для <b>Васютин Евгений</b></div>
                            <div class="message-desc clearfix">
                                <div class="message-desc-left"><a class="message-desc-text"><strong>На главной странице
                                    под сертификатом должна быть полоска со способами оплаты</strong></a>

                                    <div class="message-desc-text-p">Тестовая версия сайта<br>
                                        проверять тут<br>
                                        <a href="#">http://dev-kvesty.ru</a></div>
                                </div>
                                <div class="message-desc-right"><a class="to-do-button" href="#">To Do</a> <a
                                        class="bug-button" href="#">Bug</a> <a class="link">Ответить</a></div>
                            </div>
                        </div>
                    </div>

                    <div class="message info">
                        <div class="message-content"><a href="#" class="message-info-title">LV FINANCE</a> <span
                                class="message-info-time">05.08.2015 14:29</span> <a href="#" class="message-info-name">Иванов
                            Сергей</a> <b class="message-desc-status">Задача закрыта</b><a href="#"
                                                                                           class="message-desc-text"><strong>Создать
                            страницу "информация о клиенте" в стиле лв </strong></a></div>
                    </div>

                    <div class="message bug-message">
                        <div class="avatar"><a class="pull-left" href="#"><img width="90px"
                                                                               src="/media/users/458.jpg"
                                                                               class="media-object img-thumbnail"></a>
                        </div>
                        <div class="message-content">
                            <div class="message-info"><a href="#" class="message-info-title">Heliard</a> <span
                                    class="message-info-time">05.08.2015 14:27</span> <a href="#"
                                                                                         class="message-info-name">Иванов
                                Сергей</a> для <b>Синичкин Александр</b></div>
                            <div class="message-desc clearfix">
                                <div class="message-desc-left"><a href="#" class="message-desc-text"><strong>Сделать
                                    выгрузку текущих бонусов в статистике по проекту в эксель</strong></a>

                                    <div class="message-desc-text-p">фильтр дат не влияет в данный момент на эксель.
                                        даже если выбрать статистику за полгода эксель делается за последний месяц
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="message warning">
                        <div class="message-content"><a href="#" class="message-info-title">Heliard</a> <span
                                class="message-info-time">05.08.2015 14:27</span> <a href="#" class="message-info-name">Иванов
                            Сергей</a> <b class="message-desc-status">Статус изменен на "В работе"</b><a href="#"
                                                                                                         class="message-desc-text"><strong>Сделать
                            выгрузку текущих бонусов в статистике по проекту в эксель</strong></a></div>
                    </div>

                    <div class="message">
                        <div class="avatar"><a class="pull-left" href="#"><img width="90px"
                                                                               src="/media/users/OZ7P8tMHa7A.jpg"
                                                                               class="media-object img-thumbnail"></a>
                        </div>
                        <div class="message-content">
                            <div class="message-info"><a href="#" class="message-info-title">LV FINANCE</a> <span
                                    class="message-info-time">05.08.2015 12:51</span> <a href="#"
                                                                                         class="message-info-name">Васютин
                                Евгений</a> для <b>Иванов Сергей</b></div>
                            <div class="message-desc clearfix">
                                <div class="message-desc-left"><a href="#" class="message-desc-text"><strong>Создать
                                    страницу "информация о клиенте" в стиле лвфинанс </strong></a>

                                    <div class="message-desc-text-p">ничего не понял, поясни нормально пожалуйста</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="message success">
                        <div class="message-content"><a href="#" class="message-info-title">Kvestovik</a> <span
                                class="message-info-time">05.08.2015 12:15</span> <a href="#" class="message-info-name">Васютин
                            Евгений</a> <b class="message-desc-status">Статус изменен на "На проверку"</b><a
                                class="message-desc-text"><strong>На главной странице под сертификатом должна быть
                            полоска со способами оплаты</strong></a></div>
                    </div>

                    <div class="message">
                        <div class="avatar"><a class="pull-left" href="#"><img width="90px"
                                                                               src="/media/users/OZ7P8tMHa7A.jpg"
                                                                               class="media-object img-thumbnail"></a>
                        </div>
                        <div class="message-content">
                            <div class="message-info"><a href="#85" class="message-info-title">Exconst.ru</a> <span
                                    class="message-info-time">04.08.2015 18:33</span> <a href="#"
                                                                                         class="message-info-name">Васютин
                                Евгений</a> для <b>Иванов Сергей</b></div>
                            <div class="message-desc clearfix">
                                <div class="message-desc-left"><a href="#" class="message-desc-text"><strong>Дизайн и
                                    верстка простого лендинга</strong></a>

                                    <div class="message-desc-text-p">в архиве 2 файла - страница с сайта со вставкой +
                                        отдельно вставка, которую нужно вставлять внутрь
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
            <!--demo-social-stream-->


        </div>
    </div>
</div>

<!-- MOBILE -->
<div class="demo-mobile ">
    <a class="demo-mobile-home-button" href="#"></a>
    <a class="demo-mobile-top-button" href="#"></a>
    <span class="demo-mobile-camera"></span>
    <span class="demo-mobile-speaker"></span>
    <span class="demo-mobile-sound"></span>
    <span class="demo-mobile-sound demo-mobile-sound-up"></span>
    <span class="demo-mobile-sound demo-mobile-sound-down"></span>

    <div class="demo-mobile-body">

        <!-- SOCIAL PAGE -->
        <div class="demo-social-page">
            <!-- HEADER -->
            <header class="demo-mobile-header"></header>

            <!-- STREAM -->
            <div class="demo-social-stream">

                <div class="clearfix task-create-wrapper js-taskinput-block">
                    <div class="big-input">
                        <input type="text" placeholder="Что нужно сделать?"
                               class="input-block-level task-create form-control js-task-input">

                        <ul class="choose-user js-user-list" style="display: none">
                            <li><a rel="Синичкин Александр" href="#"> Синичкин Александр </a></li>
                            <li><a rel="Кироненко Алексей" href="#"> Кироненко Алексей </a></li>
                            <li><a rel="Смирнов Артем" href="#"> Смирнов Артем </a></li>
                            <li><a rel="Рустамов Ахрик" href="#"> Рустамов Ахрик </a></li>
                            <li><a rel="Кудрявцева Виктория" href="#"> Кудрявцева Виктория </a></li>
                        </ul>
                    </div>

                    <div class="file-upload">
                        <button type="submit" class="btn btn-success task-create js-task-create"><span
                                class="fa fa-plus"></span>
                        </button>
                    </div>
                </div>

                <div class="chat">
                    <h4>Лента событий</h4>
                    <hr>
                    <div class="message for_current_user">
                        <div class="avatar clearfix">
                            <a class="pull-left" href="#"><img width="90px" src="/media/users/458.jpg"
                                                               class="media-object img-thumbnail"></a>
                            <a href="#" class="message-info-title">Kvestovik</a><br> <span class="message-info-time">05.08.2015 14:30</span>
                        </div>
                        <div class="message-wrapper clearfix">
                            <div class="message-info"><a href="#" class="message-info-name">Иванов Сергей</a> для <b>Васютин
                                Евгений</b></div>
                            <div class="message-desc clearfix">
                                <div class="message-desc-left"><a class="message-desc-text"><strong>На главной странице
                                    под сертификатом должна быть полоска со способами оплаты</strong></a>

                                    <div class="message-desc-text-p">пуш в dev_server<br>
                                        проверять тут<br>
                                        <a href="#">http://dev-kvesty.ru</a></div>
                                </div>
                                <div class="message-desc-right"><a class="to-do-button" href="#">To Do</a> <a
                                        class="bug-button" href="#">Bug</a> <a class="link">Ответить</a></div>
                            </div>
                        </div>
                    </div>

                    <div class="message info">
                        <div class="message-content"><a href="#" class="message-info-title">LV FINANCE</a> <span
                                class="message-info-time">05.08.2015 14:29</span> <a href="#" class="message-info-name">Иванов
                            Сергей</a> <b class="message-desc-status">Задача закрыта</b><a href="#"
                                                                                           class="message-desc-text"><strong>Создать
                            страницу "информация о клиенте" в стиле лвфинанс </strong></a></div>
                    </div>

                    <div class="message bug-message">
                        <div class="avatar clearfix">
                            <a class="pull-left" href="#">
                                <img width="90px" src="/media/users/458.jpg"
                                     class="media-object img-thumbnail"></a>
                            <a href="#" class="message-info-title">Heliard</a> <br><span class="message-info-time">05.08.2015 14:27</span>

                        </div>
                        <div class="message-wrapper clearfix">
                            <div class="message-info"><a href="#" class="message-info-name">Иванов Сергей</a> для <b>Синичкин
                                Александр</b></div>
                            <div class="message-desc clearfix">
                                <div class="message-desc-left"><a href="#" class="message-desc-text"><strong>Сделать
                                    выгрузку текущих бонусов в статистике по проекту в эксель</strong></a>

                                    <div class="message-desc-text-p">фильтр дат не влияет в данный момент на эксель.
                                        даже если выбрать статистику за полгода эксель делается за последний месяц
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="message warning">
                        <div class="message-content"><a href="#" class="message-info-title">Heliard</a> <span
                                class="message-info-time">05.08.2015 14:27</span> <a href="#" class="message-info-name">Иванов
                            Сергей</a> <b class="message-desc-status">Статус изменен на "В работе"</b><a href="#"
                                                                                                         class="message-desc-text"><strong>Сделать
                            выгрузку текущих бонусов в статистике по проекту в эксель</strong></a></div>
                    </div>

                    <div class="message">
                        <div class="avatar clearfix">
                            <a class="pull-left" href="#"><img width="90px"
                                                               src="/media/users/OZ7P8tMHa7A.jpg"
                                                               class="media-object img-thumbnail"></a>
                            <a href="#" class="message-info-title">LV FINANCE</a> <br><span class="message-info-time">05.08.2015 12:51</span>
                        </div>
                        <div class="message-wrapper clearfix">
                            <div class="message-info"><a href="#" class="message-info-name">Васютин Евгений</a> для <b>Иванов
                                Сергей</b></div>

                            <div class="message-desc clearfix">
                                <div class="message-desc-left"><a href="#" class="message-desc-text"><strong>Создать
                                    страницу "информация о клиенте" в стиле лвфинанс </strong></a>

                                    <div class="message-desc-text-p">ниче не понял, поясни нормально пожалуйста</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="message success">
                        <div class="message-content"><a href="#" class="message-info-title">Kvestovik</a> <span
                                class="message-info-time">05.08.2015 12:15</span> <a href="#" class="message-info-name">Васютин
                            Евгений</a> <b class="message-desc-status">Статус изменен на "На проверку"</b><a
                                class="message-desc-text"><strong>На главной странице под сертификатом должна быть
                            полоска со способами оплаты</strong></a></div>
                    </div>

                    <div class="message">
                        <div class="avatar clearfix">
                            <a class="pull-left" href="#"><img width="90px"
                                                               src="/media/users/OZ7P8tMHa7A.jpg"
                                                               class="media-object img-thumbnail"></a>
                            <a href="#85" class="message-info-title">Exconst.ru</a><br> <span class="message-info-time">04.08.2015 18:33</span>
                        </div>
                        <div class="message-wrapper clearfix">
                            <div class="message-info"><a href="#" class="message-info-name">Васютин Евгений</a> для <b>Иванов
                                Сергей</b></div>
                            <div class="message-desc clearfix">
                                <div class="message-desc-left"><a href="#" class="message-desc-text"><strong>Дизайн и
                                    верстка простого лендинга</strong></a>

                                    <div class="message-desc-text-p">в архиве 2 файла - страница с сайта со вставкой +
                                        отдельно вставка, которую нужно вставлять внутрь &lt;div id="content"&gt;<br>
                                        + папка с картинками<br>
                                        в самих файлах находятся стили, которые надо перенести, а также шрифт, который
                                        нужно подключать в header<br>
                                        <br>
                                        Если дашь доступы, попробую сам все на сайт перенести
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!--demo-social-stream-->

        </div>
    </div>
</div>
</div>


</div>
</div>
</section>


<!-- Team Section -->
<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Наша <span class="text-green">команда</span></h2>
                <h3 class="section-subheading text-muted">В команде Heliard нет случайных людей. <br>Прежде чем попасть к нам, все специалисты проходят собеседования и ряд тестов. <br>Поэтому вы можете быть уверены, в том, что работа будет выполнена добросовестно и качественно! </h3>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="https://heliard.ru/media/users/126_1.jpg" class="img-responsive img-circle" alt="">
                    <h4>Васютин Евгений</h4>
                    <p class="text-muted">дизайнер</p>
                    <!--<ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>-->
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="https://heliard.ru/media/users/IMG_20141117_181511.jpg" class="img-responsive img-circle" alt="">
                    <h4>Малышева Анна</h4>
                    <p class="text-muted">менеджер</p>
                    <!--<ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>-->
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="https://heliard.ru/media/users/IMG-20140420-WA0002.jpg" class="img-responsive img-circle" alt="">
                    <h4>Смирнов Артем</h4>
                    <p class="text-muted">PHP-разработчик</p>
                    <!--<ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>-->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <hr>
                <p><br></p>
                <p class="large text-muted">Хотите присоединиться к команде Heliard? <br> Тогда присылайте нам свои резюме на <a href="mailto:info@heliard.ru">info@heliard.ru</a> и мы обязательно свяжемся с вами!</p>
            </div>
        </div>
    </div>
</section>

<!-- Clients Aside -->
<aside class="clients">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img src="/static/promo/img/logos/getcash.png" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img src="/static/promo/img/logos/program.png" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img src="/static/promo/img/logos/goldex.png" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img src="/static/promo/img/logos/kvestovik.png" class="img-responsive img-centered" alt="">
                </a>
            </div>

        </div>
    </div>
</aside>

<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Если <span class="text-green">остались</span> вопросы..</h2>
                <h3 class="section-subheading text-white">Мы всегда на связи со своими клиентами. <br>Поэтому вы можете обращаться к нам в любое время и за любой просьбой. Будем рады помочь!</h3><br><br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Введите имя *" id="name" required data-validation-required-message="Введите имя">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Введите E-mail *" id="email" required data-validation-required-message="Введите E-mail">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control" placeholder="Ваш номер *" id="phone" required data-validation-required-message="Введите номер телефона">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Ваше сообщение *" id="message" required data-validation-required-message="Ваше сообщение"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button type="submit" class="btn btn-xl">Отправить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">© 2014-2015 Heliard</span>

            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a target="_blank" href="#"><i class="fa fa-instagram"></i></a>
                    </li>
                    <li><a target="_blank" href="http://vk.com/heliard"><i class="fa fa-vk"></i></a>
                    </li>
                    <li><a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="#aboutproject" class="portfolio-link" data-toggle="modal">О проекте</a></li>
                    <li><a href="mailto:info@heliard.ru">info@heliard.ru</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!--** ПОПАП РЕГЛАМЕНТ **-->
<div class="portfolio-modal modal fade" id="reglament" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Регламент</h2>
                        <p>Dreams is a free PSD web template built by Dreams is a modern one page web template designed for almost any purpose. It’s a beautiful template that’s designed with the Bootstrap framework in mind.</p>
                        <p>Dreams is a free PSD web template built by Dreams is a modern one page web template designed for almost any purpose. It’s a beautiful template that’s designed with the Bootstrap framework in mind.</p>
                        <p>Dreams is a free PSD web template built by Dreams is a modern one page web template designed for almost any purpose. It’s a beautiful template that’s designed with the Bootstrap framework in mind.</p>
                        <p>Dreams is a free PSD web template built by Dreams is a modern one page web template designed for almost any purpose. It’s a beautiful template that’s designed with the Bootstrap framework in mind.</p>
                        <p>Dreams is a free PSD web template built by Dreams is a modern one page web template designed for almost any purpose. It’s a beautiful template that’s designed with the Bootstrap framework in mind.</p>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--** ПОПАП О ПРОЕКТЕ **-->
<div class="portfolio-modal modal fade" id="aboutproject" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>О проекте</h2>
                        <p>Dreams is a free PSD web template built by Dreams is a modern one page web template designed for almost any purpose. It’s a beautiful template that’s designed with the Bootstrap framework in mind.</p>
                        <p>Dreams is a free PSD web template built by Dreams is a modern one page web template designed for almost any purpose. It’s a beautiful template that’s designed with the Bootstrap framework in mind.</p>
                        <p>Dreams is a free PSD web template built by Dreams is a modern one page web template designed for almost any purpose. It’s a beautiful template that’s designed with the Bootstrap framework in mind.</p>
                        <p>Dreams is a free PSD web template built by Dreams is a modern one page web template designed for almost any purpose. It’s a beautiful template that’s designed with the Bootstrap framework in mind.</p>
                        <p>Dreams is a free PSD web template built by Dreams is a modern one page web template designed for almost any purpose. It’s a beautiful template that’s designed with the Bootstrap framework in mind.</p>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- jQuery -->
<script src="/static/promo/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/static/promo/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="/static/promo/js/classie.js"></script>
<script src="/static/promo/js/cbpAnimatedHeader.js"></script>

<!-- Contact Form JavaScript -->
<script src="/static/promo/js/jqBootstrapValidation.js"></script>
<script src="/static/promo/js/contact_me.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/static/promo/js/agency.js"></script>
<script src="/static/promo/js/jquery.parallax-1.1.3.js"></script>
<script type="text/javascript" src="/static/promo/js/custom.js"></script>

<script type="text/javascript" src="/static/js/pm/timer.js"></script>
<script>
    $(function () {
        $('.js-register').click(function() {
            var $email = $(this).closest('section, header').find('.js-email');
            if (!$email.val()) {
                $email.addClass('error');
                $email.one('keyup', function () {
                    $(this).removeClass('error');
                });
            } else {
                if (window.yaCounter26252781) window.yaCounter26252781.reachGoal('register');
                $.post(
                    '/register/',
                    {
                        'email': $email.val()
                    },
                    function (data) {
                        if (data == 'OK') {
                            document.location.reload();
                        } else {
                            $('body').append('<div class="popup popup-alert"><h3 class="title">Спасибо за регистрацию!</h3><button type="button" class="close js-popupClose"><span aria-hidden="true">×</span><span class="sr-only">Закрыть</span></button><div class="img"><i class="icon-lock"></i></div><!--ul class="list"><li><i class="icon-checked"></i>Пункт 1</li><li><i class="icon-checked"></i>Пункт 2</li><li><i class="icon-checked"></i>Пункт 3</li></ul--><div class="content">' + data + '</div></div>');
                            $('.js-popupClose').click(function () {
                                $(this).parent().fadeOut(200, function () {
                                    $(this).remove();
                                })
                            });
                            $email.val('');
                        }
                    }
                );
            }

            return false;
        });
    });
</script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter26252781 = new Ya.Metrika({
                    id:26252781,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true,
                    trackHash:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>

<noscript><div><img src="https://mc.yandex.ru/watch/26252781" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

</body>

</html>
