<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Heliard - сообщество профессионалов</title>
    <description>Помощь в разработке сайтов и web-приложений</description>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0" />
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700italic,700,400italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href="/static/css/reset.css" rel="stylesheet" />
    <link href="/static/css/external/bootstrap3.min.css" rel="stylesheet" />
    <link href="/static/css/promo.css" rel="stylesheet" />    
{#	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>#}
    <script type="text/javascript" src="/static/js/libs/jquery.js"></script>
    <script type="text/javascript" src="/static/js/slider/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="/static/js/slider/scripts.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0//static/css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/ico/favicon.ico" />
    <style>
        .hidden-step {opacity: 0;}
        .services-icon {cursor: pointer;}
    </style>
    <script type="text/javascript">
        (function($){
            $(function(){
                $('.check-out, .check-in').click(function(){
                    $('.check-in').removeClass('check-in').addClass('check-out');
                    $(this).addClass('check-in').removeClass('check-out');
                    return false;
                });

                var bTouch = true;
                $('.services-icon .hidden-step').mouseover(
                        function(){
                            bTouch = false;
                            $(this).animate({opacity:1}, 400);
                        }
                ).mouseout(
                        function(){
                            $(this).stop().css({'opacity': 0});
                        }
                ).click(
                        function(){
                            $(this).css('opacity', ($(this).css('opacity')==0?1:0));
                            if (!bTouch) {
                                document.location.hash = '#form';
                            }
                        }
                );

                $('.js-register').click(function(){
                    var $email = $(this).closest('.header-button, section').find('.js-email');
                    if (!$email.val()) {
                        $email.addClass('error');
                        $email.one('keyup', function(){
                            $(this).removeClass('error');
                        });
                    } else {
                        if (window.yaCounter26252781) window.yaCounter26252781.reachGoal('register');
                        $.post(
                            '/register/',
                            {
                                'email': $email.val()
                            },
                            function(data) {
                                alert(data);
                                $email.val('');
                            }
                        );
                    }

                    return false;
                });

                $('.js-phone-invite').click(function(){
                    var $phone = $(this).closest('.header-button, section').find('.js-phone');
                    if (!$phone.val()) {
                        $phone.addClass('error');
                        $phone.one('keyup', function(){
                            $(this).removeClass('error');
                        });
                    } else {
                        if (window.yaCounter26252781) window.yaCounter26252781.reachGoal('phoneCall');
                        $.post(
                            '/phone_invite/',
                            {
                                'phone': $phone.val()
                            },
                            function(data) {
                                alert(data);
                                $phone.val('');
                            }
                        );
                    }

                    return false;
                });
            })
        })(jQuery);
    </script>
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <header>
    	<div class="clearfix header">
            <a href="/" class="logo"><img src="/static/images/logo-middle.png" alt="" class="img-responsive"></a>
            <a href="/login/"  class="enter-button">Войти</a>
            <h2>сообщество <span>профессионалов</span></h2>
{#            <a href="/login/"  class="enter-button">Войти</a>#}
        </div>
        
{#           <div class="header">#}
{#           <a href="/" class="logo"><img src="/static/images/logo-middle.png" alt="" class="img-responsive"><span>сообщество <font class="red">профессионалов</font></span></a>#}
{#            <a href="/login/"  class="enter-button">Войти</a>#}
{#            </div>#}
    </header>

    <div class="header-img">
        {% if referrer == '5' %}
        <h3>Виртуальная веб-студия под вашим контролем</h3>
        {% else %}
    	<h3>Первая система ведения проектов <br>с возможностью подбора и найма специалистов<br> в сфере web-разработки</h3>
        {% endif %}
        <ul class="header-desc">
        	<li>Старт работ за 5 минут</li>
            <li>Все специалисты заранее проходят многоуровневый отбор</li>
            <li>Работайте самостоятельно бесплатно или подключите наших специалистов</li>
        </ul>
        <div class="header-button clearfix">
        	<div class="header-button-left"><input type="text" placeholder="Введите свой e-mail" class="big-inputbox js-email"></div>
            <div class="header-button-right"><input type="button" value="Создать проект" class="big-button js-register"></div>
        </div>
    </div>
    <section class="services clearfix">
        <h1 style="text-align: center;font-weight: bold;">От <span style="color: #c00f00">желания</span> до результата <span style="color: #c00f00">4 шага</span></h1>
            <div class="services-icon  clearfix">
            	<span class="hidden-step"><img src="/static/images/step-2.png" class="img-responsive"></span>
                <div class="services-icon-left">
                    <span class="step">Шаг 1</span>
                    <h3><span>Опишите</span><br>задачи</h3>
                    <p>Опишите то, что вам нужно обычным доступным языком.</p>
                </div>
                <div class="services-icon-right">
                    <img src="/static/images/create-tasks-ico.png" alt="" class="img-responsive">
                </div>
            </div>
            
            <div class="services-icon clearfix">
            	<span class="hidden-step"><img src="/static/images/step-5.png" class="img-responsive"></span>
                <div class="services-icon-left">
                    <span class="step">Шаг 2</span>
                    <h3><span>Пригласите</span><br>исполнителей</h3>
                    <p>Наша система автоматически подберет специалистов нужной квалификации.</p>
                </div>
                <div class="services-icon-right">
                    <img src="/static/images/invite-ico.png" alt="" class="img-responsive">
                </div>
            </div>
            
            
            
        <div class="services-icon clearfix">
            <span class="hidden-step"><img src="/static/images/step-4.png" class="img-responsive"></span>
        	<div class="services-icon-left">
                <span class="step">Шаг 3</span>
                <h3><span>Согласуйте</span><br>сроки</h3>
                <p>Выберите среди исполнителей подходящего и обсудите оценку. Пополните счет.</p>
            </div>
            <div class="services-icon-right">
            	<img src="/static/images/timer-ico.png" alt="" class="img-responsive">
            </div>
        </div>
    	<div class="services-icon clearfix">
            <span class="hidden-step"><img src="/static/images/step-3.png" class="img-responsive"></span>
        	<div class="services-icon-left">
                <span class="step">Шаг 4</span>
                <h3><span>Принимайте</span><br>работу!</h3>
                <p>Наслаждайтесь выполненной работой по мере того, как ваши задачи будут выполняться.</p>
            </div>
            <div class="services-icon-right">
            	<img src="/static/images/handshake-ico.png" alt="" class="img-responsive">
            </div>
        </div>
    </section>
   <section class="img-block">
    <ul class="clearfix">
        	<li class="clearfix">
            	<div class="img-block-h3 clearfix">
                	<div class="img"><img src="/static/img/monitor.png" class="img-responsive"></div>
                    <h3>Автоподбор<br> <span>исполнителей</span></h3>
                </div>
                <div class="clearfix"></div>
                    <ul class="img-block-list">
                    	<li>Система автоматически подберет исполнителей, которые делали что-то похожее</li>
                        <li>В предложениях исполнителей вы увидите их опыт по данным задачам, оценку по времени и цену</li>
                    </ul>
            </li>
        	<li class="clearfix">
            	<div class="img-block-h3 clearfix">
                	<div class="img"><img src="/static/img/curriculum.png" class="img-responsive"></div>
                    <h3>Мы - <span>не фриланс</span></h3>
                </div>
                <div class="clearfix"></div>
                    <ul class="img-block-list">
                    	<li>Все исполнители проходят профессиональные собеседования</li>
                        <li>Вы в любой момент можете запросить аудит контроля качества выполненных работ у наших сотрудников</li>
                        <li>Смена специалиста происходит в 1 клик, если он вам по каким-то причинам не подошел</li>
                        <li>Вам не нужно ставить задачу дважды - новый специалист увидит весь процесс по ней прямо в системе</li>
                    </ul>
            </li>
        	<li class="clearfix">
            	<div class="img-block-h3 clearfix">
                	<div class="img"><img src="/static/img/two180.png" class="img-responsive"></div>
                    <h3>Закрываем "дыры" <br><span>в команде</span></h3>
                </div>
                <div class="clearfix"></div>
                    <ul class="img-block-list">
                    	<li>Вы можете вести проект бесплатно собственными силами, делегируя нам часть задач по мере необходимости</li>
                    </ul>
            </li>
        </ul>
    </section>
    
    <section class="for-what-wrapper">
    	<div class="for-what">
            <h1>Зачем нужна наша система</h1>
            <ul>
                <li>Если вам нужна качественная работа, но нет возможности держать команду высококвалифицированных специалистов в штате.</li>
                <li>Если вам важен не сам процесс работы, а результат.</li>
                <li>Если у вас нет времени часами обсуждать каждую задачу с сотрудником.</li>
                <li>Если вы знаете, что вам нужно от вашего сайта.</li>
            </ul>
        </div>
    </section>
    
    <section class="kinuli clearfix">
        <h1>Online-веб студия для вашего сайта</h1>
        <div class="pull-left">
        	<img src="/static/img/relaxing-sap.png" class="img-responsive">
        </div>
        <div class="pull-right">
            <ul class="services-list">
                <li>Начнем работы по задачам за <strong>5 минут</strong></li>
                <li>Критичные задачи выполняются точно в срок</li>
                <li>Вы сами управляете процессом разработки на всех уровнях</li>
                <li>Все специалисты имеют опыт работы <strong>от 3 до 15 лет</strong></li>
                <li>Цена нормочаса только в октябре <s><b>1500</b></s> <strong>990 руб.</strong></li>
            </ul>
        </div>
        <div class="clearfix"></div>
        <div class="header-button clearfix">
        	<div class="header-button-left"><input type="text" placeholder="Введите свой e-mail" class="big-inputbox js-email"></div>
            <div class="header-button-right"><input type="button" value="Создать проект" class="big-button js-register"></div>
        </div>
    </section>
    <section class="opportunities">
    	<h3>Возможности <span>сервиса</span></h3>       
        <ul class="clearfix">
        	<li>
            	<table width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td><img src="/static/img/icon-target.png"></td>
                        <td><span>Интеллектуальная система</span> автоматически подберет несколько самых компетентных специалистов для вашей задачи.</td>
                    </tr>
                </table> 
            </li>
        	<li>
            	<table width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td><img src="/static/img/icon-hierarchical.png"></td>
                        <td>Простая <span>группировка задач</span> по проектам позволит успешно развивать несколько направлений вашего бизнеса параллельно.</td>
                    </tr>
                </table> 
           </li>
        	<li>
            	<table width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td><img src="/static/img/icon-cloud.png"></td>
                        <td>Удобное <span>файловое хранилище</span> позволит получать доступ к результатам работ с любого устройства и из любого места.</td>
                    </tr>
                </table> 
            </li>
        	<li>
            	<table width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td><img src="/static/img/icon-list.png"></td>
                        <td><span>Система контрольных точек</span> проекта дает возможность привязать задачи к реальным целям во времени и контролировать их достижение.</td>
                    </tr>
                </table> 
           </li>
        	<li>
            	<table width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td><img src="/static/img/icon-plan.png"></td>
                        <td>Календарный <span>график работ</span> помогает контролировать занятость ваших сотрудников и равномерно распределять задачи между ними.</td>
                    </tr>
                </table> 
            </li>
        	<li>
            	<table width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td><img src="/static/img/icon-timer.png"></td>
                        <td>Пометив задачу как срочную вы можете быть уверены в том, что она будет сделана <span>точно в срок</span>.</td>
                    </tr>
                </table> 
           </li>
        </ul>
        <div class="header-button clearfix">
        	<div style="width: 100%;"><input type="text" placeholder="Введите свой номер телефона и мы вам перезвоним" class="big-inputbox js-phone"></div>
            <div style="width: 100%;margin-top: 10px;"><input type="button" value="Да, мне просто нужен сайт." class="big-button js-phone-invite"></div>
        </div>
    </section>
    
    <!--<section class="we-are-wrapper white">
        <h3>Автоподбор исполнителей</h3>
    	<div class="we-are leftside clearfix">
            <div class="we-are-left">
                <img src="https://cdn1.iconfinder.com/data/icons/powerful-seo-icon-set/512/dollar__.png"  class="img-responsive">
            </div>
            <div class="we-are-right">        
                <ul>
                    <li>Система автоматически подберет исполнителей, которые делали что-то похожее</li>
                    <li>В предложениях исполнителей вы увидите их опыт по данным задачам, оценку по времени и цену</li>
                </ul>
                <p><a href="#" class="big-button js-register">Создать проект</a></p>
            </div>
        </div>
    </section>
    
    <section class="we-are-wrapper grey">
        <h3>Мы - не фриланс</h3>
    	<div class="we-are rightside clearfix">
            <div class="we-are-left">
                <img src="https://cdn1.iconfinder.com/data/icons/powerful-seo-icon-set/512/dollar__.png" class="img-responsive">
            </div>
            <div class="we-are-right">        
                <ul>
                    <li>Все исполнители проходят многоуровневый отбор</li>
                    <li>Вы в любой момент можете запросить аудит контроля качества выполненных работ у наших специалистов</li>
                    <li>Смена специалиста происходит в 1 клик, если он вам по каким-то причинам не подошел</li>
                    <li>Вам не нужно ставить задачу дважды - новый специалист увидит весь процесс по ней прямо в системе</li>
                </ul>
                <p><a href="#" class="big-button js-register">Создать проект</a></p>
            </div>
        </div>
    </section>
    
    <section class="we-are-wrapper white">
        <h3>Закрываем "дыры" в команде</h3>
    	<div class="we-are leftside clearfix">
            <div class="we-are-left">
                <img src="https://cdn1.iconfinder.com/data/icons/powerful-seo-icon-set/512/conversion_2__.png" class="img-responsive">
            </div>
            <div class="we-are-right">        
                <ul>
                    <li>Вы можете вести проект бесплатно собственными силами, делегируя нам часть задач по мере необходимости</li>
                </ul>
                <p><a href="#" class="big-button js-register">Создать проект</a></p>
            </div>
        </div>
    </section>-->
    

    <section class="icons">
        <h1><span>80</span> профессиональных специалистов</h1>
        <h2><span>7 731</span> рабочих часов с начала года</h2>
    	<div class="icons-row clearfix">
            <div class="icons-item">
                <img src="/static/images/icon-html.png" class="icons-item-img img-responsive">
                <span class="icons-item-desc">Html-верстка</span>
            </div>
            <div class="icons-item">
                <img src="/static/images/icon-design.png" class="icons-item-img img-responsive">
                <span class="icons-item-desc">Дизайн сайтов</span>
            </div>
            <div class="icons-item">
                <img src="/static/images/icon-logos.png" class="icons-item-img img-responsive">
                <span class="icons-item-desc">Разработка логотипов</span>
            </div>
            <div class="icons-item">
                <img src="/static/images/icon-visitki.png" class="icons-item-img img-responsive">
                <span class="icons-item-desc">Дизайн визиток</span>
            </div>
            <div class="icons-item">
                <img src="/static/images/icon-development.png" class="icons-item-img img-responsive">
                <span class="icons-item-desc">Поддержка сайтов</span>
            </div>
         </div>
    	<div class="icons-row clearfix">
            <div class="icons-item">
                <img src="/static/images/icon-re-development.png" class="icons-item-img img-responsive">
                <span class="icons-item-desc">Модули для 1С-Битрикс</span>
            </div>
            <div class="icons-item">
                <img src="/static/images/icon-site.png" class="icons-item-img img-responsive">
                <span class="icons-item-desc">Корпоративные порталы</span>
            </div>
            <div class="icons-item">
                <img src="/static/images/icon-texts.png" class="icons-item-img img-responsive">
                <span class="icons-item-desc">Тексты для сайтов</span>
            </div>
            <div class="icons-item">
                <img src="/static/images/icon-advert.png" class="icons-item-img img-responsive">
                <span class="icons-item-desc">Рекламные кампании</span>
            </div>
            <div class="icons-item">
                <img src="/static/images/icon-seo.png" class="icons-item-img img-responsive">
                <span class="icons-item-desc">SEO-оптимизация сайта</span>
            </div>
         </div>
    </section>
    
    <a name="form"></a>
    <section class="promo-wrapper clearfix">
    	<div class="promo">
            <div class="pull-left">
                <a class="fancybox-media" href="/static/swf/video.swf" style="outline: none;">
                    <img src="/static/images/video_small.png" class="img-responsive"/>
                </a>
            </div>
{#            <div class="tariffs-descr">#}
{#                    <div class="tarrif-row title"></div>#}
{#                    <div class="tarrif-row price">Стоимость</div>#}
{#                    <div class="tarrif-row desc">Описание</div>#}
{#                    <div class="tarrif-row period">Автоподбор&nbsp;исполнителей</div>#}
{#                    <div class="tarrif-row gannt">Диаграмма гантта</div>#}
{#                    <div class="tarrif-row space">Дисковое пространство</div>#}
{#                    <div class="tarrif-row finance"><a href="#" style="color: white;text-decoration: underline;">Поддержка</a></div>#}
{#                    <div class="tarrif-row choose"></div>#}
{#            </div>#}
{#            <div class="tariffs-wrapper">#}
{#                <div class="tarrif">#}
{#                    <div class="tarrif-row title">Самостоятельный</div>#}
{#                    <div class="tarrif-row price">бесплатно</div>#}
{#                    <div class="tarrif-row desc">Управляйте вашим проектом из любого места и пользуйтесь нашими преимуществами совершенно бесплатно.</div>#}
{#                    <div class="tarrif-row gannt"><span class="check-on"></span></div>#}
{#                    <div class="tarrif-row space"><span class="check-on"></span></div>#}
{#                    <div class="tarrif-row period"><span class="check-on"></span></div>#}
{#                    <div class="tarrif-row finance"><span class="check-off"></span></div>#}
{#                    <div class="tarrif-row choose"><span class="check-in"></span></div>#}
{#                </div>#}
{#                <div class="tarrif">#}
{#                    <div class="tarrif-row title">Пакетный</div>#}
{#                    <div class="tarrif-row price">25 000 руб.</div>#}
{#                    <div class="tarrif-row desc">Наша команда опытных исполнителей быстро и качественно выполнит любые ваши задачи. </div>#}
{#                    <div class="tarrif-row gannt"><span class="check-on"></span></div>#}
{#                    <div class="tarrif-row space"><span class="check-on"></span></div>#}
{#                    <div class="tarrif-row period"><span class="check-on"></span></div>#}
{#                    <div class="tarrif-row finance"><span class="check-on"></span></div>#}
{#                    <div class="tarrif-row choose"><span class="check-out"></span></div>#}
{#                </div>#}
{#            </div>#}
            <div class="creating-form">
                <h3>Cоздание вашего проекта</h3>
                <hr class="separator">
                <p><input type="text" placeholder="Введите свой e-mail" class="big-inputbox js-email"></p>
                <hr class="separator">
                <p><input type="button" value="Попробовать" class="big-button js-register"></p>
                <img src="/static/images/choose-plan.png" class="choose-plan-img img-responsive">
            </div>
        </div>
    </section>
    
    <section class="content">
    По всем вопросам по работе сервиса пишите на info@heliard.ru
    </section>
    
    
    <footer>
    	<div class="footer clearfix">
            <div class="pull-left">
            Heliard © 2012-2014<br>Все права сохранены
            </div>
            <div class="pull-right">
            	<a href="" class="fa fa-facebook-square"></a>
                <a href="" class="fa fa-twitter"></a>
                <a href="" class="fa fa-vk"></a>
            </div>
        </div>
    
    </footer>
<!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter26252781 = new Ya.Metrika({id:26252781, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true, trackHash:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/26252781" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-12015778-3', 'auto');
ga('send', 'pageview');

</script>
<link type="text/css" rel="stylesheet" href="/static/css/external/fancybox.css" />
<script src="/static/js/libs/fancybox.js"></script>
<script>
    (function($){
        $(function(){
            $('.fancybox-media').fancybox();
        });
    })(jQuery);
</script>
<!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
(function(){ var widget_id = 'x7H0Dsw9aa';
var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);})();</script>
<!-- {/literal} END JIVOSITE CODE -->
</body>
</html>