<!doctype html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<meta name="description" content="Responsive Bootstrap App Landing Page Template">
<meta name="keywords" content="Kane, Bootstrap, Landing page, Template, App, Mobile">
<meta name="author" content="Mizanur Rahman">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">


<!-- SITE TITLE -->
<title>Heliard - система ведения командной работы</title>

<!-- =========================
      FAV AND TOUCH ICONS  
============================== -->
<link rel="icon" href="/static/promo/images/favicon.ico">
<link rel="apple-touch-icon" href="/static/promo/images/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="/static/promo/images/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="/static/promo/images/apple-touch-icon-114x114.png">

<!-- =========================
     STYLESHEETS   
============================== -->
<!-- BOOTSTRAP -->
<link rel="stylesheet" href="/static/promo/css/bootstrap.min.css">

<!-- FONT ICONS -->
<link rel="stylesheet" href="/static/promo/css/helifont.css">
<!--[if lte IE 7]><script src="lte-ie7.js"></script><![endif]-->

<!-- WEB FONTS -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300,600' rel='stylesheet' type='text/css'>

<!-- CAROUSEL AND LIGHTBOX -->
<link rel="stylesheet" href="/static/promo/css/owl.theme.css">
<link rel="stylesheet" href="/static/promo/css/owl.carousel.css">
<link rel="stylesheet" href="/static/promo/css/nivo-lightbox.css">
<link rel="stylesheet" href="/static/promo/css/nivo_themes/default/default.css">

<!-- ANIMATIONS -->
<link rel="stylesheet" href="/static/promo/css/animate.min.css">

<!-- CUSTOM STYLESHEETS -->
<link rel="stylesheet" href="/static/promo/css/styles.css">

<!-- COLORS -->
<link rel="stylesheet" href="/static/promo/css/colors/green.css"> <!-- DEFAULT COLOR/ CURRENTLY USING -->
<!-- <link rel="stylesheet" href="/static/promo/css/colors/red.css"> --> 
<!-- <link rel="stylesheet" href="/static/promo/css/colors/blue.css"> --> 
<!-- <link rel="stylesheet" href="/static/promo/css/colors/purple.css"> --> 
<!-- <link rel="stylesheet" href="/static/promo/css/colors/orange.css"> --> 
<!-- <link rel="stylesheet" href="/static/promo/css/colors/blue-munsell.css"> --> 
<!-- <link rel="stylesheet" href="/static/promo/css/colors/slate.css"> --> 
<!-- <link rel="stylesheet" href="/static/promo/css/colors/yellow.css"> -->

<!-- RESPONSIVE FIXES -->
<link rel="stylesheet" href="/static/promo/css/responsive.css">


<!--[if lt IE 9]>
			<script src="/static/promo/js/html5shiv.js"></script>
			<script src="/static/promo/js/respond.min.js"></script>
<![endif]-->

<!-- JQUERY -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>

<body>
<!-- =========================
     PRE LOADER       
============================== -->
<div class="preloader">
  <div class="status">&nbsp;</div>
</div>

<!-- =========================
     HEADER   
============================== -->
<header class="header" data-stellar-background-ratio="0" id="home">

<!-- COLOR OVER IMAGE -->
<div class="color-overlay"> <!-- To make header full screen. Use .full-screen class with color overlay. Example: <div class="color-overlay full-screen">  -->
	
	<!-- STICKY NAVIGATION -->
	<div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top sticky-navigation">
    <!--<div class="navbar-fixed-top navbar-inverse">-->
		<div class="container">
			<div class="navbar-header">
				
				<!-- LOGO ON STICKY NAV BAR -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#kane-navigation">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>

				<a class="navbar-brand" href="#"><img src="/static/promo/images/logo.png" alt=""></a>
				
			</div>
			
			<!-- NAVIGATION LINKS -->
			<div class="navbar-collapse collapse" id="kane-navigation">
				<ul class="nav navbar-nav navbar-right main-navigation">
					<li><a href="#quickstart">Цели</a></li>
					<li><a href="#aims">Преимущества</a></li>
					<li><a href="#services">Контакты</a></li>
					<!--<li><a href="#screenshot-section">5</a></li>
					<li><a href="#download">6</a></li>-->
                    <li><a href="#" class="btn btn-default">Вход</a></li>
				</ul>
			</div>
		</div> <!-- /END CONTAINER -->
	</div> <!-- /END STICKY NAVIGATION -->
	
	
	<!-- CONTAINER -->
	<div class="container">
		
				
				<!-- HEADING AND BUTTONS -->
				<div class="intro-section">
					
					<!-- WELCOM MESSAGE -->
					<h1 class="intro">Heliard - это система, позволяющая легко организовать работу команды в IT проектах</h1>
                    <h5><span class="green-text"><i class="fa fa-check"></i>&nbsp;&nbsp;Ставить цели</span> и контролировать их выполнение на основе задач</h5>
                    <h5><span class="green-text"><i class="fa fa-check"></i>&nbsp;&nbsp;Объединять людей</span> в команды для совместной работы над проектом</h5>
                    <h5><span class="green-text"><i class="fa fa-check"></i>&nbsp;&nbsp;Планировать даты</span> выполнения этапов проектов на календарном графике</h5>
                    <h5><span class="green-text"><i class="fa fa-check"></i>&nbsp;&nbsp;Управлять совместным доступом</span> к исходному коду и файлам проекта</h5>
					
					<!-- BUTTON -->
						<input type="email" name="email" id="subscriber-email"  placeholder="Введите e-mail" class="form-control input-box" />					
						<button type="submit" id="subscribe-button" class="btn btn-default standard-button">Зарегистрироваться</button>
					<!-- /END BUTTONS -->
					
				</div>
				<!-- /END HEADNING AND BUTTONS -->
				
		
	</div>
	<!-- /END CONTAINER -->
</div>
<!-- /END COLOR OVERLAY -->
</header>
<!-- /END HEADER -->

<!-- =========================
     FEATURES 
============================== -->
<section class="features" id="features">

<div class="container">
	
	<!-- SECTION HEADER -->
	<div class="section-header wow fadeIn animated" data-wow-offset="120" data-wow-duration="1.5s">
		
		<!-- SECTION TITLE -->
		<h2 class="white-text">Любой IT-проект <span class="green-text">в вашем</span> телефоне</h2>
		<div class="colored-line">
		</div>
		<div class="section-description">
			Максимальное удобство работы при доступе с любого устройства
		</div>
		<div class="colored-line">
		</div>
	</div>
	<!-- /END SECTION HEADER -->
	
	
	<div class="row">
		
		<!-- FEATURES LEFT -->
		<div class="col-md-4 col-sm-4 features-left wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">
			
			<!-- FEATURE -->
			<div class="feature">
				
				<!-- ICON -->
				<div class="icon-container">
					<div class="icon">
						<i class="icon-analyze"></i>
					</div>
				</div>
				
				<!-- FEATURE HEADING AND DESCRIPTION -->
				<div class="fetaure-details">
					<h4 class="main-color">Анализ сложности задач</h4>
					<p>Программа автоматически прогнозирует время по задаче.</p>
				</div>
				
			</div>
			<!-- /END SINGLE FEATURE -->
			
			<!-- FEATURE -->
			<div class="feature">
				
				<!-- ICON -->
				<div class="icon-container">
					<div class="icon">
						<i class="icon-cloud"></i>
					</div>
				</div>
				
				<!-- FEATURE HEADING AND DESCRIPTION -->
				<div class="fetaure-details">
					<h4 class="main-color">Учет рабочего времени</h4>
					<p>Учет можно вести как онлайн так и оффлайн</p>
				</div>
				
			</div>
			<!-- /END SINGLE FEATURE -->
			
			<!-- FEATURE -->
			<div class="feature">
				
				<!-- ICON -->
				<div class="icon-container">
					<div class="icon">
						<i class="icon-graphic"></i>
					</div>
				</div>
				
				<!-- FEATURE HEADING AND DESCRIPTION -->
				<div class="fetaure-details">
					<h4 class="main-color">Графики активности </h4>
					<p>по всем проектам и сотрудникам </p>
				</div>
				
			</div>
			<!-- /END SINGLE FEATURE -->
			
		</div>
		<!-- /END FEATURES LEFT -->
		
		<!-- PHONE IMAGE -->
		<div class="col-md-4 col-sm-4">
			<div class="phone-image wow bounceIn animated" data-wow-offset="120" data-wow-duration="1.5s">
				<img src="/static/promo/images/single-iphone.png" alt="">
			</div>
		</div>
		
		<!-- FEATURES RIGHT -->
		<div class="col-md-4 col-sm-4 features-right wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">
			
			<!-- FEATURE -->
			<div class="feature">
				
				<!-- ICON -->
				<div class="icon-container">
					<div class="icon">
						<i class="icon-wiki"></i>
					</div>
				</div>
				
				<!-- FEATURE HEADING AND DESCRIPTION -->
				<div class="fetaure-details">
					<h4 class="main-color">Cоздайте свою Wiki</h4>
					<p>Возможность создания своей вики по проектам</p>
				</div>
				
			</div>
			<!-- /END SINGLE FEATURE -->
			
			<!-- FEATURE -->
			<div class="feature">
				
				<!-- ICON -->
				<div class="icon-container">
					<div class="icon">
						<i class="icon-responsive"></i>
					</div>
				</div>
				
				<!-- FEATURE HEADING AND DESCRIPTION -->
				<div class="fetaure-details">
					<h4 class="main-color">Адаптивная верстка</h4>
					<p>Следите за своими проектами с любого устройства </p>
				</div>
				
			</div>
			
			<!-- /END SINGLE FEATURE -->
			
			<!-- FEATURE -->
			<div class="feature">
				
				<!-- ICON -->
				<div class="icon-container">
					<div class="icon">
						<i class="icon-live"></i>
					</div>
				</div>
				
				<!-- FEATURE HEADING AND DESCRIPTION -->
				<div class="fetaure-details">
					<h4 class="main-color">Живой сайт</h4>
					<p>Работает без перезагрузки страницы</p>
				</div>
				
			</div>
			<!-- /END SINGLE FEATURE -->
			
		</div>
		<!-- /END FEATURES RIGHT -->
		
	</div>
	<!-- /END ROW -->
	
</div>
<!-- /END CONTAINER -->

</section>
<!-- /END FEATURES SECTION -->


<!-- =========================
     БЫСТРЫЙ СТАРТ
============================== -->
<section id="quickstart" data-stellar-background-ratio="0" >
<div class="app-brief color-overlay">
<div class="container">	
	<div class="row">		
		<div class="col-md-6 wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">
			<div class="phone-image">
				<img src="/static/promo/images/ipad.png" alt="">
			</div>
		</div>
		
		<div class="col-md-6 left-align wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">
			<h2 class="white-text"><span class="green-text">Быстрый</span> старт</h2>
			<div class="colored-line-left"></div>
			<ul class="feature-list">
				<li><i class="icon-lock"></i> Надежный и защищенный доступ из любого места</li>
				<li><i class="icon-checked"></i> Основные действия с задачами и делами в 1 клик</li>
				<li><i class="icon-clip"></i> Легкая загрузка и хранение больших файлов</li>
				<li><i class="icon-adjust"></i> Персональные настройки каждого проекта</li>
			</ul>
			
						<input type="email" name="email" id="subscriber-email"  placeholder="Введите e-mail" class="form-control input-box" />					
						<button type="submit" id="subscribe-button" class="btn btn-default standard-button">Зарегистрироваться</button>	
						
		</div>
		
	</div><!--row-->
</div><!--container-->
</div><!--color-overlay-->
</section><!-- section -->


<!-- =========================
     ДОСТИГАЙТЕ СВОИХ ЦЕЛЕЙ
============================== -->
<section id="aims" data-stellar-background-ratio="0" >
<div class="app-brief color-overlay">
<div class="container">	
	<div class="row">
    
		<div class="col-md-6 left-align wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">
			<h2 class="white-text"><span class="red-text">Достигайте</span> целей</h2>
			<div class="colored-line-left red"></div>
			<p>
				С Heliard задачи никогда не превратятся в головную боль, потому что каждая из них ведет к какой-то цели. Вы можете оставить специалистам работу над задачами, при этом управляя проектами на более высоком уровне - уровне целей.<br/><br/>
				Heliard заранее напомнит вам о целях и поможет оптимизировать работу команды таким образом, чтобы достигнуть их в срок.
			</p>			
            <p>
						<input type="email" name="email" id="subscriber-email"  placeholder="Введите e-mail" class="form-control input-box" />					
						<button type="submit" id="subscribe-button" class="btn btn-default standard-button red-button">Зарегистрироваться</button>
                        </p>	
		</div>
		
		<div class="col-md-6 wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">
			<div class="phone-image">
				<img src="/static/promo/images/ipad2.png" alt="">
			</div>
		</div>
		
	</div><!--row-->
	</div><!--conteiner-->
</div><!--color-overlay-->
</section><!-- section -->


<!-- =========================
     ОБУЧАЕМОЕ ЯДРО
============================== -->
<section id="core" data-stellar-background-ratio="0" >
<div class="app-brief color-overlay">
<div class="container">
	<div class="row">
		<div class="col-md-6 wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">
			<div class="phone-image">
				<img src="/static/promo/images/imac.png" alt="">
			</div>
		</div>
		
		<div class="col-md-6 left-align wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">
			<h2 class="white-text"><span class="green-text">Обучаемое</span> ядро</h2>
			<div class="colored-line-left"></div>
			<p>Heliard помогает планировать цели и время. Запоминая всю активность вашей команды в проектах, он может автоматически назначить ответственного и примерно оценить время работ по задаче.<br/><br/>Система подскажет, как уложиться в сроки, определит приоритетные для каждого специлиста задачи. </p>
            <p>
						<input type="email" name="email" id="subscriber-email"  placeholder="Введите e-mail" class="form-control input-box" />					
						<button type="submit" id="subscribe-button" class="btn btn-default standard-button">Зарегистрироваться</button>	</p>	
		</div>
	</div><!--row-->
</div><!--container-->

</div><!--color-overlay-->
</section><!--section-->


<!-- =========================
     TESTIMONIALS 
============================== -->
<section class="testimonials">

<div class="color-overlay">
	
	<div class="container wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
		
		<!-- FEEDBACKS -->
		<div id="feedbacks" class="owl-carousel owl-theme">
			
			<!-- SINGLE FEEDBACK -->
			<div class="feedback">
				
				<!-- IMAGE -->
				<div class="image">
					<!-- i class=" icon_quotations"></i -->
					<img src="/static/promo/images/clients-pic/3.jpg" alt="">
				</div>
				
				<div class="message">
					Мы используем Heliard на всех своих проектах. Больше всего нам нравится простота внедрения - сотрудникам ничего не нужно объяснять, система интуитивно понятна любому пользователю.
				</div>
				
				<div class="white-line">
				</div>
				
				<!-- INFORMATION -->
				<div class="name">
					Хозов Никита
				</div>
				<div class="company-info">
					Международный Финансовый Клуб
				</div>
				
			</div>
			<!-- /END SINGLE FEEDBACK -->
			
			<!-- SINGLE FEEDBACK -->
			<div class="feedback">
				
				<!-- IMAGE -->
				<div class="image">
					<!-- i class=" icon_quotations"></i -->
					<img src="/static/promo/images/clients-pic/1.jpg" alt="">
				</div>
				
				<div class="message">
					 Heliard хорошо показал себя, когда мы разрабытывали новый 1C проект для нашей сети магазинов. Мы использовали только базовый функционал, который нашли простым и удобным. В данный момент думаем над переносом нашей системы ServiceDesk в Heliard.
				</div>
				
				<div class="white-line">
				</div>
				
				<!-- INFORMATION -->
				<div class="name">
					Дмитриев Ярослав
				</div>
				<div class="company-info">
					Тех. директор обувной сети "КАРИ"
				</div>
				
			</div>
			<!-- /END SINGLE FEEDBACK -->
			
			<!-- SINGLE FEEDBACK -->
			<div class="feedback">
				
				<!-- IMAGE -->
				<div class="image">
					<!-- i class=" icon_quotations"></i -->
					<img src="/static/promo/images/clients-pic/2.jpg" alt="">
				</div>
				
				<div class="message">
					 Мы используем все возможности Heliard в своей веб-студии. Он позволяет нескольким менеджерам вести до 6-7 проектов одновременно, снимая с них необходимость следить за мотивацией и эффективностью персонала. При помощи Heliard нам удалось значительно снизить затраты на менеджмент и контроль качества.
				</div>
				
				<div class="white-line">
				</div>
				
				<!-- INFORMATION -->
				<div class="name">
					Маслов Егор
				</div>
				<div class="company-info">
					Тех. директор, Веб-студия Heliant
				</div>
				
			</div>
			<!-- /END SINGLE FEEDBACK -->
			
		</div>
		<!-- /END FEEDBACKS -->
		
	</div>
	<!-- /END CONTAINER -->
	
</div>
<!-- /END COLOR OVERLAY -->

</section>
<!-- /END TESTIMONIALS SECTION -->


<!-- =========================
     SERVICES
============================== -->
<section class="services" id="services">

<div class="container">
	
	<!-- SECTION HEADER -->
	<div class="section-header wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
		
		<!-- SECTION TITLE -->
		<h2 class="white-text">Специально разработан для IT проектов</h2>
		
		<div class="colored-line">
		</div>
		<div class="section-description">
			Heliard отлично подходит для веб-студий и других больших и малых IT-компаний.
		</div>
		<div class="colored-line">
		</div>
		
	</div>
	<!-- /END SECTION HEADER -->
	
	<div class="row">
		
		<!-- SINGLE SERVICE -->
		<div class="col-md-4 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
			
			<!-- SERVICE ICON -->
			<div class="service-icon">
				<i class="icon-cloud2"></i>
			</div>
			
			<!-- SERVICE HEADING -->
			<h3>Доступ к данным из любой точки</h3>
			
			<!-- SERVICE DESCRIPTION -->
			<p>
				 Все ваши файлы и документы хранятся в облачных хранилищах и вы можете получить к ним доступ с любого устройства когда вам удобно. Ваши данные надежно защищены, к ним будете иметь доступ только вы и ваша команда.
			</p>
			
		</div>
		<!-- /END SINGLE SERVICE -->
		
		<!-- SINGLE SERVICE -->
		<div class="col-md-4 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
			
			<!-- SERVICE ICON -->
			<div class="service-icon">
				<i class="icon-draw"></i>
			</div>
			
			<!-- SERVICE HEADING -->
			<h3>Удобная работа с буфером обмена</h3>
			
			<!-- SERVICE DESCRIPTION -->
			<p>
				 Быстрая вставка скриншотов и и зображений, возможность моментально делать на них пометки и записи поможет тестировщикам быстрее регистрировать ошибки и планировать доработки для различных интерфейсов.
			</p>
			
		</div>
		<!-- /END SINGLE SERVICE -->
		
		<!-- SINGLE SERVICE -->
		<div class="col-md-4 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
			
			<!-- SERVICE ICON -->
			<div class="service-icon">
				<i class="icon-git"></i>
			</div>
			
			<!-- SERVICE HEADING -->
			<h3>Поддержка GIT</h3>
			
			<!-- SERVICE DESCRIPTION -->
			<p>
				 Все члены команды автоматически получают доступ к репозиторию проекта в облаке, все изменения исходного кода автоматически регистрируются в соответствующих задачах. Вы можете подключить дополнительный модуль автоматического контроля качества исходного кода для PHP, Python и других языков.
			</p>
			
		</div>
		<!-- /END SINGLE SERVICE -->
		
	</div>
	<!-- /END ROW -->
	
</div>
<!-- /END CONTAINER -->

</section>
<!-- /END FEATURES SECTION -->



<!-- =========================
     SCREENSHOTS
============================== -->
<section class="screenshots deep-dark-bg" id="screenshot-section">

<div class="container">
	
	<!-- SECTION HEADER -->
	<div class="section-header wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
		
		<!-- SECTION TITLE -->
		<h2 class="white-text">Скриншоты</h2>
		
		<div class="colored-line">
		</div>
		<div class="section-description">
			Внешний вид страниц и разделов
		</div>
		<div class="colored-line">
		</div>
		
	</div>
	<!-- /END SECTION HEADER -->
	
	<div class="row wow bounceIn animated" data-wow-offset="10" data-wow-duration="1.5s">
		
		<div id="screenshots" class="owl-carousel owl-theme">
			
			<div class="shot">
				<a href="/static/promo/images/screenshots/1.jpg" data-lightbox-gallery="screenshots-gallery"><img src="/static/promo/images/screenshots/1280-800.png" alt="Screenshot"></a>
			</div>
			
			<div class="shot">
				<a href="/static/promo/images/screenshots/3.jpg" data-lightbox-gallery="screenshots-gallery"><img src="/static/promo/images/screenshots/1280-800.png" alt="Screenshot"></a>
			</div>
			
			<div class="shot">
				<a href="/static/promo/images/screenshots/2.jpg" data-lightbox-gallery="screenshots-gallery"><img src="/static/promo/images/screenshots/1280-800.png" alt="Screenshot"></a>
			</div>
			
			<div class="shot">
				<a href="/static/promo/images/screenshots/4.jpg" data-lightbox-gallery="screenshots-gallery"><img src="/static/promo/images/screenshots/1280-800.png" alt="Screenshot"></a>
			</div>
			
			<div class="shot">
				<a href="/static/promo/images/screenshots/1.jpg" data-lightbox-gallery="screenshots-gallery"><img src="/static/promo/images/screenshots/1280-800.png" alt="Screenshot"></a>
			</div>
			
			<div class="shot">
				<a href="/static/promo/images/screenshots/3.jpg" data-lightbox-gallery="screenshots-gallery"><img src="/static/promo/images/screenshots/1280-800.png" alt="Screenshot"></a>
			</div>
			
			<div class="shot">
				<a href="/static/promo/images/screenshots/2.jpg" data-lightbox-gallery="screenshots-gallery"><img src="/static/promo/images/screenshots/1280-800.png" alt="Screenshot"></a>
			</div>
			
			<div class="shot">
				<a href="/static/promo/images/screenshots/4.jpg" data-lightbox-gallery="screenshots-gallery"><img src="/static/promo/images/screenshots/1280-800.png" alt="Screenshot"></a>
			</div>
			
		</div>
		<!-- /END SCREENSHOTS -->
		
	</div>
	<!-- /END ROW -->
	
</div>
<!-- /END CONTAINER -->

</section>
<!-- /END SCREENSHOTS SECTION -->



<!-- =========================
     DOWNLOAD NOW 
============================== -->
<section class="download" id="download">

<div class="color-overlay">

	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				
				<!-- DOWNLOAD BUTTONS AREA -->
{#				<div class="download-container">#}
{#					<h2 class=" wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">Моментальная регистрация</h2>#}
{#					#}
{#					<!-- BUTTONS -->#}
{#					<div class="buttons wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">#}
{#						#}
{#						<a href="" class="btn btn-default btn-lg standard-button"><i class="icon-app-store"></i>App Store</a>#}
{#						<a href="" class="btn btn-default btn-lg standard-button"><i class="icon-google-play"></i>Play Store</a>#}
{#						#}
{#					</div>#}
{#					<!-- /END BUTTONS -->#}
{#					#}
{#				</div>#}
				<!-- END OF DOWNLOAD BUTTONS AREA -->
				
				
				<!-- SUBSCRIPTION FORM WITH TITLE -->
				<div class="subscription-form-container">
					
					<h2 class="wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">Создать проект и выслать доступ на почту</h2>
					
					
					<!-- =====================
					     MAILCHIMP FORM STARTS 
					     ===================== -->
					
					<form class="subscription-form mailchimp form-inline wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s" role="form">
						
						<!-- SUBSCRIPTION SUCCESSFUL OR ERROR MESSAGES -->
						<h4 class="subscription-success"></h4>
						<h4 class="subscription-error"></h4>
						
						<!-- EMAIL INPUT BOX -->
						<input type="email" name="email" id="subscriber-email" placeholder="Ваш Email" class="form-control input-box" />
						
						<!-- SUBSCRIBE BUTTON -->
						<button type="submit" id="subscribe-button" class="btn btn-default standard-button">Создать проект</button>
						
					</form>
					<!-- /END MAILCHIMP FORM STARTS -->
					
					<!-- =====================
					     LOCAL TXT FORM STARTS 
					     ===================== -->
					     
					<!-- THIS FORM IS COMMENTED TO HIDE 
					
					<form class="subscription-form form-inline wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s" id="subscribe" role="form">
						
						<h4 class="subscription-success"><i class="icon_check"></i> Thank you! We will notify you soon.</h4>
						<h4 class="subscription-error">Something Wrong!</h4>
						
						<input type="email" name="email" id="subscriber-email" placeholder="Your Email" class="form-control input-box">
						
						<button type="submit" id="subscribe-button" class="btn btn-default standard-button">Subscribe</button>
						
					</form>
					
					-->
					
					<!-- / LOCAL TXT SAVING FORM END -->
					
				</div>
                <!-- END OF SUBSCRIPTION FORM WITH TITLE -->
				
			</div> 
			<!-- END COLUMN -->
			
		</div> 
		<!-- END ROW -->
		
	</div>
	<!-- /END CONTAINER -->
</div>
<!-- /END COLOR OVERLAY -->

</section>
<!-- /END DOWNLOAD SECTION -->


<!-- =========================
     FOOTER 
============================== -->
<footer>
<div class="color-overlay">
<div class="container">
	
	<div class="contact-box wow rotateIn animated" data-wow-offset="10" data-wow-duration="1.5s">
		
		<!-- CONTACT BUTTON TO EXPAND OR COLLAPSE FORM -->
		
		<a class="btn contact-button expand-form expanded"><i class="icon-send"></i></a>
		
		<!-- EXPANDED CONTACT FORM -->
		<div class="row expanded-contact-form">
	<h2>Cтать членом сообщества Heliard!</h2>
    <br> <br>
			
			<div class="col-md-8 col-md-offset-2">
				
				<!-- FORM -->
				<form class="contact-form" id="contact" role="form">
					
					<!-- IF MAIL SENT SUCCESSFULLY -->
					<h4 class="success">
						<i class="icon_check"></i> Ваше сообщение успешно отправлено!
					</h4>
					
					<!-- IF MAIL SENDING UNSUCCESSFULL -->
					<h4 class="error">
						<i class="icon_error-circle_alt"></i> E-mail адрес должен быть настоящим.
					</h4>
					
					<div class="col-md-6">
						<input class="form-control" id="name" type="text" name="name" placeholder="Ваше имя">
					</div>
					
					<div class="col-md-6">
						<input class="form-control" id="email" type="email" name="email" placeholder="Ваш Email">
					</div>
					
					<div class="col-md-12">
						<input class="form-control" id="subject" type="text" name="subject" placeholder="Тема">
						<textarea class="form-control textarea-box" id="message" rows="8" placeholder="Сообщение"></textarea>
					</div>
					
					<button class="btn btn-primary standard-button2 ladda-button" type="submit" id="submit" name="submit" data-style="expand-left">Отправить сообщение</button>
					
				</form>
				<!-- /END FORM -->
				
			</div>
			
		</div>
		<!-- /END EXPANDED CONTACT FORM -->
		
	</div>
	<!-- /END CONTACT BOX -->
	
	<hr>
	<!-- SOCIAL ICONS -->
    <div class="clearfix">
        <ul class="social-icons">
            <li><a href=""><i class="icon-facebook"></i></a></li>
            <li><a href=""><i class="icon-vkontakte"></i></a></li>
        </ul>
        
        <!-- COPYRIGHT TEXT -->
        <p class="copyright">
            ©2014 Heliard, все права защищены
        </p>
    </div>

</div>
<!-- /END CONTAINER -->
</div>
</footer>
<!-- /END FOOTER -->


<!-- =========================
     SCRIPTS 
============================== -->

<script src="/static/promo/js/bootstrap.min.js"></script>
<script src="/static/promo/js/smoothscroll.js"></script>
<script src="/static/promo/js/jquery.scrollTo.min.js"></script>
<script src="/static/promo/js/jquery.localScroll.min.js"></script>
<script src="/static/promo/js/owl.carousel.min.js"></script>
<script src="/static/promo/js/nivo-lightbox.min.js"></script>
<script src="/static/promo/js/simple-expand.min.js"></script>
<script src="/static/promo/js/wow.min.js"></script>
<script src="/static/promo/js/jquery.stellar.min.js"></script>
<script src="/static/promo/js/retina.min.js"></script>
<script src="/static/promo/js/jquery.nav.js"></script>
<script src="/static/promo/js/matchMedia.js"></script>
<script src="/static/promo/js/jquery.ajaxchimp.min.js"></script>
<script src="/static/promo/js/jquery.fitvids.js"></script>
<script src="/static/promo/js/custom.js"></script>
<script>
    $(function(){
        $('.color-overlay').css('min-height', $(window).height());
    })
</script>
</body>
</html>