{% extends extends %}
{% load less %}
{% block content %}
        <section>
            <form name="authform" action="/login/" method="POST">
                {% csrf_token %}
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 mx-auto text-center">
                            <h2 class="h1">
                                Sign In / Register
                            </h2>
                            <p>View our privacy policy and use of cookies</p>
                            {% if error %}
                            <div class="bg-primary rounded u-p-10 u-mb-40 mx-auto">
                                {% ifequal error "not_found" %}
                                    <div class="label-danger">Email or password is incorrect.</div>
                                {% endifequal %}
                                {% ifequal error "not_active" %}
                                    <div class="label-danger">User not found</div>
                                {% endifequal %}
                                {% ifequal error "incorrect_email" %}
                                    <div class="label-danger">Email is incorrect</div>
                                {% endifequal %}
                                {% ifequal error "incorrect_captcha" %}
                                    <div class="label-danger">Please be sure that you are not robot</div>
                                {% endifequal %}
                            </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 text-center mx-auto">
                            <div class="input-group u-rounded-50 border u-of-hidden u-mb-30">
                                <div class="input-group-addon bg-white border-0 pl-4 pr-0">
                                    <span class="icon icon-Mail text-primary"></span>
                                </div>
                                <input type="text" class="form-control border-0 p-3"
                                       name="username"
                                       placeholder="E-mail" required="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 text-center mx-auto">
                            <div class="input-group u-rounded-50 border u-of-hidden u-mb-30">
                                <div class="input-group-addon bg-white border-0 pl-4 pr-0">
                                    <span class="icon icon-ClosedLock text-primary"></span>
                                </div>
                                <input type="password" name="password" class="form-control border-0 p-3"
                                       placeholder="Password" required="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 text-center mx-auto">
                            <div class="g-recaptcha" style="display: inline-block;padding-left: 25px;" data-sitekey="6LdiPUIUAAAAAPF5izr5ffAZToMug8oaLz0zZ1AC"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 text-center mx-auto">
                            <input class="btn btn-rounded btn-outline-green px-md-5 m-3" type="submit" value="Sign in / Register"/>
                            <input type="hidden" name="backurl" value="{{ request.GET.backurl|default_if_none:'' }}"/>
                            <input type="hidden" name="whitelist" value="{{ request.GET.wl|default_if_none:'' }}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 text-center mx-auto">
                            <p class=""><a href="/change_password/">Forgot your password?</a></p>
                        </div>
                    </div>
                </div>
            </form>
        </section>
        <script>$(function() {$('[name=username]').focus();});</script>
{% endblock %}