/* --------------------------------------
=========================================
COLOR : GREEN 

MAIN COLOR CODE: #7eb864

DEEP COLOR CODE: #609846
=========================================
----------------------------------------- */

.color-overlay {
    background: rgba(0, 0, 0, 0.55);
}

.standard-button {
    background: #7eb864;
}

.red-button {background:#ba331b;}

.standard-button2 {
    background: #7eb864;
}

.standard-button2:hover {
    background: #609846;
}

.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary {
    background: #609846;
    border-color: inherit;
}

.colored-line,
.colored-line-left {
    background: #7eb864;
}



.colored-line.red,
.colored-line-left.red {
	background:#ba331b;
}

.main-color {
    color: #7eb864;
}

.color-bg {
	background: #7eb864;
	color: #FFFFFF;
}

.features .feature:hover .icon-container .icon {
    background: #7eb864;
    color: #ffffff;
    border: 2px solid #ffffff;
    -webkit-box-shadow: 0px 0px 0px 2px #7eb864;
            box-shadow: 0px 0px 0px 2px #7eb864;
}

.features .feature .icon-container .icon {
    border: 1px solid #7eb864;
    color: #7eb864;
}

.feature-list li i {
    color: #7eb864;
}

.services .single-service .service-icon,
.services .single-service h3 {
    color: #7eb864;
}

.screenshots .owl-theme .owl-controls .owl-page span {
    background: #7eb864;
}

footer .contact-button {
    border: 2px solid #7eb864;
    color: #7eb864;
}

footer .contact-button:hover {
    background: #7eb864;
}

footer .contact-box .expanded-contact-form .input-box:active,
footer .contact-box .expanded-contact-form .textarea-box:active,
footer .contact-box .expanded-contact-form .input-box:focus,
footer .contact-box .expanded-contact-form .textarea-box:focus {
    border: 1px solid #7eb864;
}

footer .social-icons li a:hover {
    color: #7eb864;
}